<totvs-page type="detail">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/financeiro'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/financeiro' }}: ">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
                <button class="btn btn-default" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                    <span class="glyphicon glyphicon-print"></span>
                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                </button>
            </div>
        </div>
    </totvs-page-header>

    <totvs-page-content class="itemFinanceiro">
        <totvs-page-detail>
            <section>
                <totvs-tabset>
                    <totvs-tab
                       ng-if="controller.exibeTab('boletos')"
                       heading="{{ ::'l-boletos' | i18n : [] : 'js/aluno/financeiro' }}">

                        <div ui-view="boletos"></div>
                    </totvs-tab>

                    <totvs-tab
                        ng-if="controller.exibeTab('beneficios')"
                        heading="{{ ::'l-beneficios' | i18n : [] : 'js/aluno/financeiro' }}">

                        <div ui-view="beneficios"></div>
                    </totvs-tab>

                    <totvs-tab
                        ng-if="controller.exibeTab('negociacao')"
                        heading="{{ ::'l-negociacao' | i18n : [] : 'js/aluno/financeiro' }}">

                        <div ui-view="negociacao"></div>
                    </totvs-tab>

                </totvs-tabset>
            </section>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
