<totvs-page type="list">
    <totvs-page-header class="pageHeader relatorios titulo">

        <totvs-page-header-title ng-style="{'float': 'left'}">
            {{ ::'l-titulo' | i18n : [] : 'js/aluno/relatorios' }}:&nbsp;
        </totvs-page-header-title>

        <totvs-page-header-operation>
            <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>

            <label ng-style="{'float': 'left', 'padding': '7px 0px 10px 30px'}" for="typeReport">{{ ::'l-tipos-relatorios' | i18n : [] : 'js/aluno/relatorios' }}:</label>
            <field type="combo" id="typeReport" ng-model="controller.typeSelected" class="periodo-letivo" ng-change="controller.typeChange()"
                    ng-options="relatorios.ReportTypeCode as relatorios.ReportTypeDescription for relatorios in controller.objTypeReportList">
            </field>
        </totvs-page-header-operation>

    </totvs-page-header>
    <totvs-page-content class="relatorios">
		<totvs-list-item id="objRelatorios{{objRelatorios.ReportCode}}"
						 class="tag-2"
						 ng-repeat="objRelatorios in controller.objReportList">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{objRelatorios.ReportCode}} - {{objRelatorios.ReportDescription}}"
				    class="relatorios tag legend col-xs-12 col-sm-9 col-md-9 col-lg-9">
				</totvs-list-item-title>
				<totvs-list-item-action
                    limit-primary-action="1"
                    class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				    <action
				        icon="ico-file-list"
				        ng-click="controller.viewReport(objRelatorios)">
				        {{'btn-emitirrelatorio' | i18n : [] : 'js/aluno/relatorios'}}
                    </action>
				</totvs-list-item-action>
			</totvs-list-item-header>
			<totvs-list-item-content>
                <totvs-list-item-info title="{{'l-TIPO' | i18n : [] : 'js/aluno/relatorios' }}" 
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                      value="{{objRelatorios.ReportTypeDescription}}"></totvs-list-item-info>
			</totvs-list-item-content>
		</totvs-list-item>
        <totvs-list-pagination ng-if="controller.hasNext"
                               ng-click="controller.nextPage();">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="(controller.objReportList.length == 0)" type="info" message="">
            <span class="glyphicon ico-alert-triangle" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/relatorios' }}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
