<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{::'l-aula' | i18n : [] : 'js/aluno/aulas'}} {{controller.aula.DATA | date : 'dd/MM/yyyy'}}
</totvs-modal-header>
<totvs-modal-body>
        <section>
                <totvs-list-item-info   title="{{::'l-disciplina' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        value="{{'(' + controller.aula.CODDISC + ') ' + controller.aula.NOMEDISC}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-turma' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        value="{{controller.aula.CODTURMA}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-tipo' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        value="{{controller.getDescTipoAula(controller.aula.TIPOAULA)}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-inicio' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        value="{{controller.aula.HORAINICIAL}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-termino' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        value="{{controller.aula.HORAFINAL}}">
                </totvs-list-item-info>
                <totvs-list-item-info title="{{::'l-local' | i18n : [] : 'js/aluno/aulas' }}"
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                      ng-hide="controller.aula.local == ''"
                                      value="{{controller.aula.local}}">
                </totvs-list-item-info>
                <totvs-list-item-info title="{{::'l-licao-de-casa' | i18n : [] : 'js/aluno/aulas' }}"
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                      ng-show="controller.exibeLicaoCasa"
                                      value="{{controller.aula.LICAOCASA}}">
                </totvs-list-item-info>
        </section>
        <div style="clear:both;"></div>
</totvs-modal-body>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-if="controller.permissaoPlanoAula" ng-click="controller.onclickAulasDoDia()">{{::'l-aulas-do-dia' | i18n : [] : 'js/aluno/aulas' }}</button>
    <button class="btn btn-primary" ng-click="controller.onclickMaisInfoAula()">{{::'l-mais-infomacoes-aula' | i18n : [] : 'js/aluno/aulas' }}</button>
    <button class="btn btn-primary" ng-click="controller.onclickMaisInfoDisciplina()">{{::'l-mais-infomacoes-turmadisc' | i18n : [] : 'js/aluno/aulas' }}</button>
</totvs-modal-footer>
