<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <totvs-page-header-title
                    ng-style="{'float': 'left'}"
                    title="{{::'l-aula' | i18n : [] : 'js/aluno/aulas'}} {{controller.aula.AULA}} {{::'l-em' | i18n : [] : 'js/aluno/aulas'}} {{controller.aula.DATA | date : 'dd/MM/yyyy'}}">
                </totvs-page-header-title>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content>
        <br>
        <totvs-page-detail>
            <div class="media planoAula">
                <div class="media-body">
                    <totvs-page-detail-info
                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                        title="{{::'l-disciplina' | i18n : [] : 'js/aluno/aulas'}}">
                            <a ng-click="controller.onclickMaisInfoDisciplina()" class="clickable">{{'(' + controller.aula.CODDISC + ') ' + controller.aula.NOMEDISC}}</a>
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                        title="{{::'l-turma' | i18n : [] : 'js/aluno/aulas'}}"
                        value="{{controller.aula.CODTURMA}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                        title="{{::'l-tipo' | i18n : [] : 'js/aluno/aulas'}}"
                        value="{{controller.getDescTipoAula(controller.aula.TIPOAULA)}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                        title="{{::'l-inicio' | i18n : [] : 'js/aluno/aulas'}}"
                        value="{{controller.aula.HORAINICIAL}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                        title="{{::'l-termino' | i18n : [] : 'js/aluno/aulas'}}"
                        value="{{controller.aula.HORAFINAL}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info title="{{::'l-predio' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                        ng-hide="controller.aula.PREDIO == null"
                                        value="{{controller.aula.PREDIO}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info title="{{::'l-bloco' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                        ng-hide="controller.aula.BLOCO == null"
                                        value="{{controller.aula.BLOCO}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info title="{{::'l-sala' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                        ng-hide="controller.aula.SALA == null"
                                        value="{{controller.aula.SALA}}">
                    </totvs-page-detail-info>
                </div>
            </div>
            <br>
            <section>
                <totvs-tabset>
                    <totvs-tab
                        heading="{{::'l-plano-aula' | i18n : [] : 'js/aluno/aulas'}}">
                        <div ui-view="plano-aula">
                            <br>
                            <totvs-page-detail-info-group>{{ ::'l-conteudo-previsto' | i18n : [] : 'js/aluno/aulas' }}</totvs-page-detail-info-group>
                            <totvs-page-detail-info
                                ng-hide="controller.aula.CONTEUDO == null"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span ng-bind-html="controller.aula.CONTEUDO"></span>
                            </totvs-page-detail-info>
                            <br clear="all" />
                            <br>
                            <totvs-page-alert ng-show="controller.aula.CONTEUDO == ''" type="info" message="">
                                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-conteudo-vazio' | i18n : [] : 'js/aluno/aulas' }}
                            </totvs-page-alert>
                            <totvs-page-detail-info-group>{{ ::'l-conteudo-realizado' | i18n : [] : 'js/aluno/aulas' }}</totvs-page-detail-info-group>
                            <totvs-page-detail-info
                                class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                title="{{::'l-data-realizado' | i18n : [] : 'js/aluno/aulas'}}"
                                value="{{controller.aula.DATAEFETIVA | date : 'dd/MM/yyyy'}}"
                                ng-show="controller.aula.DATAEFETIVA != null && controller.aula.DATA != controller.aula.DATAEFETIVA">
                            </totvs-page-detail-info>
                            <totvs-page-detail-info
                                ng-hide="controller.aula.CONTEUDOEFETIVO == ''"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span ng-bind-html="controller.aula.CONTEUDOEFETIVO"></span>
                            </totvs-page-detail-info>
                            <br clear="all" />
                            <br>
                            <totvs-page-alert ng-show="controller.aula.CONTEUDOEFETIVO == ''" type="info" message="">
                                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-conteudo-vazio' | i18n : [] : 'js/aluno/aulas' }}
                            </totvs-page-alert>
                        </div>
                    </totvs-tab>
                    <totvs-tab
                        heading="{{::'l-licao-de-casa' | i18n : [] : 'js/aluno/aulas'}}">
                        <div ui-view="licao-de-casa">
                            <br>
                            <totvs-page-detail-info
                                ng-hide="controller.aula.LICAOCASA == ''"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span ng-bind-html="controller.aula.LICAOCASA"></span>
                            </totvs-page-detail-info>
                            <br clear="all" />
                            <totvs-page-alert ng-show="controller.aula.LICAOCASA == ''" type="info" message="">
                                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-conteudo-vazio' | i18n : [] : 'js/aluno/aulas' }}
                            </totvs-page-alert>
                        </div>
                    </totvs-tab>
                    <totvs-tab
                        heading="{{::'l-arquivos-da-aula' | i18n : [] : 'js/aluno/aulas'}}">
                        <div ui-view="arquivos-aula">
                            <br>
                            <totvs-list-item id="arquivo{{arquivo.id}}"
                                                    class="tag-2"
                                                    ng-repeat="arquivo in controller.arquivos">
                                <totvs-list-item-header>
                                    <totvs-list-item-title
                                        title="{{arquivo.DESCRICAO}}"
                                        class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    </totvs-list-item-title>
                                    <totvs-list-item-action
                                        limit-primary-action="1"
                                        class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <action
                                            icon="glyphicon-download-alt"
                                            ng-click="controller.onclickDownload(arquivo.IDMATERIALSEC,arquivo.PATHARQUIVO)">
                                            {{'btn-download' | i18n : [] : 'js/aluno/aulas'}}
                                        </action>
                                    </totvs-list-item-action>
                                </totvs-list-item-header>
                                <totvs-list-item-content>
                                    <totvs-list-item-info
                                        title="{{'l-arquivo' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                        value="{{arquivo.ARQUIVO}}">
                                    </totvs-list-item-info>
                                    <totvs-list-item-info
                                        title="{{'l-data-expiracao' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                        value="{{arquivo.DATAEXPIRACAO | date: 'dd/MM/yyyy'}}"
                                        ng-hide="arquivo.DATAEXPIRACAO == null">
                                    </totvs-list-item-info>
                                    <totvs-list-item-info
                                        title="{{'l-tamanho' | i18n : [] : 'js/aluno/aulas' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                        value="{{arquivo.TAMANHO}} {{'l-KB' | i18n : [] : 'js/aluno/aulas' }}">
                                    </totvs-list-item-info>
                                </totvs-list-item-content>
                            </totvs-list-item>
                            <totvs-list-pagination ng-if="controller.arquivos.length < controller.arquivosCount && controller.arquivos.length"
                               ng-click="controller.search(true);">
                            </totvs-list-pagination>
                            <br clear="all" />
                            <totvs-page-alert ng-show="controller.arquivos.length === 0" type="info" message="">
                                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/aulas' }}
                            </totvs-page-alert>
                        </div>
                    </totvs-tab>
                </totvs-tabset>
            </section>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
