<totvs-page type="list">

    <totvs-page-header class="pageHeader">
        <totvs-page-header-title>
            {{ ::'l-titulo' | i18n : [] : 'js/aluno/aulas' }}
        </totvs-page-header-title>

    </totvs-page-header>
    <totvs-page-content>
        <div class="pageContent pageListagemAulas">
            <br>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group input-group pad-bottom-5px" role="group">
                    <button type="button" ng-click="controller.filtrarPlanoAulaUltimaSemana()" ng-class="{active: controller.activeBtn === 'btn-ultima-semana'}" class="btn btn-default">
                        {{::"l-esta-semana" | i18n : [] : "js/aluno/aulas" }}
                    </button>
                    <button type="button" ng-click="controller.filtrarPlanoAulaDataAtual()" ng-class="{active: controller.activeBtn === 'btn-hoje'}" class="btn btn-default">
                        {{::"l-hoje" | i18n : [] : "js/aluno/aulas" }}
                    </button>
                    <button type="button" ng-click="controller.filtrarPlanoAulaProximaSemana()" ng-class="{active: controller.activeBtn === 'btn-proxima-semana'}" class="btn btn-default">
                         {{::"l-proxima-semana" | i18n : [] : "js/aluno/aulas" }}
                    </button>
                </div>
                <div class="btn-group input-group pad-bottom-5px" role="group">
                    <totvs-field
                        totvs-date-range
                        depth="month"
                        class="date-range-margins"
                        format="{{::'l-date-format' | i18n : [] : 'js/aluno/aulas' }}"
                        t-mask-date=''
                        ng-model="controller.dataRangeFiltro"
                        culture="{{::'l-culture' | i18n : [] : 'js/aluno/aulas' }}"
                        placeholder="{{::'l-date-range-placeholder' | i18n : [] : 'js/aluno/aulas' }}"
                        ng-show="true">
                    </totvs-field>
                </div>
                <div class="btn-group input-group pad-bottom-5px" role="group">
                    <button type="button"
                        ng-click="controller.filtrarPlanoAulaPorData(controller.dataRange)"
                        ng-disabled="controller.naoPodeFiltrar()"
                        class="btn btn-default">
                        {{::"l-btn-filtrar" | i18n : [] : "js/aluno/aulas" }}
                    </button>
                </div>
            </div>
        <br>
        <span ng-hide="(controller.model.length == 0)">
            <totvs-grid grid-options="controller.gridOptionsGridPlanoAulas" grid-data="controller.model">
            </totvs-grid>
        </span>
        <totvs-page-alert ng-if="(controller.model.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-nenhum-registro-encontrado-aula' | i18n : [] : 'js/aluno/aulas' }}
        </totvs-page-alert>
        <br>
        </div>
	</totvs-page-content>
</totvs-page>

<!-- Modal Lição de Casa-->
<div class="modal fade" id="modalLicaoCasa" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModal">
                    {{::'l-licao-de-casa' | i18n : [] : 'js/aluno/aulas' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel" ng-repeat="item in controller.infoArrayLicoesCasaSelecionados">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12" ng-bind-html="item">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal Download Materiais -->
<div class="modal fade" id="modalDownloadMateriais" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelModalDownloadMateriais">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModalDownloadMateriais">
                    {{::'l-download-materiais' | i18n : [] : 'js/aluno/aulas' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel" ng-repeat="item in controller.infoArrayDownloadMateriaisSelecionados">
                    <div class="panel-body">
                        <div class="row">
                            <totvs-page-detail-info
                                class="col-lg-9 col-md-9 col-sm-9 col-xs-12"
                                title="{{ ::'l-descricao-material' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ item.Descricao }}">
                            </totvs-page-detail-info>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <a role="button" class="btn btn-default clickable ng-binding" ng-click="controller.downloadMaterial(item)"><span class="glyphicon hidden-xs glyphicon-download-alt"></span>&nbsp;&nbsp;
				                    {{::'btn-download' | i18n : [] : 'js/aluno/aulas' }}
                                </a>
                            </div>
                            <totvs-page-detail-info
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                title="{{ ::'l-nome-arquivo' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ item.Arquivo }}">
                            </totvs-page-detail-info>
                            <totvs-page-detail-info
                                class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                                title="{{ ::'l-tamanho' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ item.Tamanho }} KB">
                            </totvs-page-detail-info>
                            <totvs-page-detail-info
                                class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
                                title="{{ ::'l-publicacao' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ item.DataInclusao | date : 'dd/MM/yyyy' }}">
                            </totvs-page-detail-info>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal Justificativa Falta -->
<div class="modal fade" id="modalJustificativaFalta" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelModalmodalJustificativaFalta">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModalmodalJustificativaFalta">
                    {{::'l-justificativa-falta' | i18n : [] : 'js/aluno/aulas' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <totvs-page-detail-info
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                title="{{ ::'l-justificativa' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ controller.infoJustificativaFalta.JustificativaFalta || 'l-sem-justificativa-falta' | i18n : [] : 'js/aluno/aulas' }}">
                            </totvs-page-detail-info>
                            <br><br>
                            <totvs-page-detail-info
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                title="{{ ::'l-gerou-abono' | i18n : [] : 'js/aluno/aulas' }}:"
                                value="{{ controller.infoJustificativaFalta.AbonoFalta }}">
                            </totvs-page-detail-info>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


