<div ng-controller="eduWidgetsProxVencimentoController as controller" class="widgetVencimento">
    <totvs-widget>

      <totvs-widget-header title="{{ 'l-proximo-vencimento' | i18n : [] : 'js/widgets' }}">
      </totvs-widget-header>

        <totvs-widget-body>
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    <a ng-click="controller.goFinanceiro()" class="link-wdgt-disc" ng-if="controller.exibeLinkFinanceiro">
                        {{ ::'l-go-financeiro' | i18n : [] : 'js/widgets' }}
                    </a>
                </div>
                <div class="panel-body" ng-if="controller.hasValue">
                    <totvs-row class="wdg-prox-vencimento-row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wdg-prox-vencimento-title">
                            <span class="wdg-prox-vencimento-label">{{ 'l-vencimento' | i18n : [] : 'js/widgets' }}</span> <br />
                            {{ controller.dadosBoleto.DATAVENCIMENTO | date: 'shortDate' }}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wdg-prox-vencimento-value">
                           <span class="wdg-prox-vencimento-label">{{ 'l-valor' | i18n : [] : 'js/widgets' }}</span> <br />
                          {{ controller.dadosBoleto.VALORORIGINAL | currency: 'R$' }}
                        </div>
                    </totvs-row>

                </div>
                 <totvs-row>
                        <totvs-page-alert ng-if="!controller.hasValue" type="info" message="">
                            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-nenhuma-info-disponivel' | i18n : []
                            : 'js/widgets' }}
                        </totvs-page-alert>
                    </totvs-row>
                <div class="panel-footer" ng-if="controller.hasValue">
                    <div class="btn-group pull-right" role="group">
                        <button
                            type="button"
                            id="btnBoleto"
                            class="btn btn-default"
                            title="{{ 'l-gerar-boleto' | i18n : [] : 'js/widgets' }}"
                            ng-show="controller.exibeBtnBoleto"
                            ng-click="controller.imprimeBoleto(controller.dadosBoleto.IDBOLETO, controller.dadosBoleto.NOSSONUMERO, controller.dadosBoleto.DATAVENCIMENTO)">
                           <span class="glyphicon glyphicon-barcode"></span>&nbsp;
                           <span class="hidden-xs">{{ 'l-gerar-boleto' | i18n : [] : 'js/widgets' }}</span>
                        </button>
                        <button
                            type="button"
                            id="btnCartao"
                            class="btn btn-default"
                            title="{{ 'l-cartao' | i18n : [] : 'js/widgets' }}"
                            ng-show="controller.exibeBtnCartao"
                            ng-click="controller.exibirDadosPagCartao(controller.dadosBoleto.IDBOLETO)">
                            <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                            <span class="hidden-xs">{{ 'l-cartao' | i18n : [] : 'js/widgets' }}</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </totvs-widget-body>
    </totvs-widget>
</div>
