<tovs-page-form>

    <fieldset>

		<totvs-row>
			<field
                type="textarea"
                ng-disabled="controller.disabled"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				ng-model="controller.fichaMedica.alergia"
				label="{{ ::'l-txtarea-alergia' | i18n : [] : 'js/aluno/dados-pessoais' }}">
			</field>
		</totvs-row>

		<hr />

		<totvs-row>
			<field
                type="textarea"
                ng-disabled="controller.disabled"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				ng-model="controller.fichaMedica.remedio"
				label="{{ ::'l-txtarea-medicamentos' | i18n : [] : 'js/aluno/dados-pessoais' }}">
			</field>
		</totvs-row>

		<hr />

		<totvs-row>
			<field
                type="textarea"
                ng-disabled="controller.disabled"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				ng-model="controller.fichaMedica.socHosp"
				label="{{ ::'l-txtarea-socorro-hosp' | i18n : [] : 'js/aluno/dados-pessoais' }}">
			</field>
		</totvs-row>

		<hr />

		<totvs-row>
			<field
                type="textarea"
                ng-disabled="controller.disabled"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				ng-model="controller.fichaMedica.medico"
				label="{{ ::'l-txtarea-contato-medico' | i18n : [] : 'js/aluno/dados-pessoais' }}">
			</field>
		</totvs-row>

		<hr />

		<totvs-row>
			<field
                type="textarea"
                ng-disabled="controller.disabled"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				ng-model="controller.fichaMedica.tratamento"
				label="{{ ::'l-txtarea-tratamentos' | i18n : [] : 'js/aluno/dados-pessoais' }}">
			</field>
		</totvs-row>

		<hr />

		<totvs-row>
				<field
                    type="textarea"
                    ng-disabled="controller.disabled"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
					ng-model="controller.fichaMedica.outro"
					label="{{ ::'l-txtarea-outros' | i18n : [] : 'js/aluno/dados-pessoais' }}">
				</field>
			</totvs-row>

		<hr />

		<totvs-button
            t-click="controller.save()"
            ng-if="!controller.disabled"
			class="col-lg-3 col-md-3 col-sm-12 col-xs-12"
			t-icon="glyphicon glyphicon-floppy-save"
			t-label="{{ ::'btn-save' | i18n : [] : '' }}"
			t-tooltip="{{ ::'btn-save' | i18n : [] : '' }}">
		</totvs-button>

    </fieldset>
</totvs-page-form>
