<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/historico-eb'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <totvs-page-header-title>
            {{ ::'l-titulo' | i18n : [] : 'js/aluno/historico-eb' }}
            <div class="checkbox" ng-style="{'float': 'right'}">
                <label for="chkExpandirTodos" class="btn btn-info">
                    <input id="chkExpandirTodos" name="chkExpandirTodos" ng-style="{'display': 'none'}" type="checkbox" ng-checked="vmExpandirTodos" ng-click="controller.expandirTodos();">
                    <span id="lblExpandirTodos" class="glyphicon glyphicon-zoom-in"></span>&nbsp;
                    <span id="txtExpandirTodos">{{::'l-expandir-todos' | i18n : [] : 'js/aluno/historico-eb'}}</span>
                </label>
                <button class="btn btn-info" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                    <span class="glyphicon glyphicon-print"></span>
                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                </button>
            </div>
        </totvs-page-header-title>
    </totvs-page-header>
    <totvs-page-content>
        <totvs-page-detail>
            <div ng-repeat="curso in controller.objHistorico" >
            <totvs-group-content id="linkCurso{{curso.id}}" title="{{curso.nomeCurso}}" class="detalhesGradeCurricular">
                <div class="checkbox"
                    ng-style="{'float': 'right', 'margin-top': '-39px', 'margin-right':'10px', 'z-index':'100'}">
                    <label for="chkExpandirGrupo{{curso.id}}" class="btn btn-info">
                        <input id="chkExpandirGrupo{{curso.id}}"  name="chkExpandirGrupo" ng-style="{'display': 'none'}" type="checkbox" ng-click="controller.expandirCurso(curso);">
                        <span id="lblExpandirGrupo{{curso.id}}" class="chkExpandirGrupo glyphicon glyphicon-zoom-in"></span>&nbsp;
                        <span id="txtExpandirGrupo{{curso.id}}" ></span>
                    </label>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-repeat="serie in curso.series">
                        <div class="panel-heading" role="tab" id="heading{{serie.id}}">
                            <div class="panel-title"><small>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="{{serie.id}}" ng-click="controller.clickCollapse(serie)">
                                    <ul class="list-inline">
                                        <li>
                                            <span id="sinal{{serie.id}}" class="glyphicon glyphicon-plus"></span>
                                        </li>
                                        <li>{{ ::'l-ciclo-ano' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.nomeSerie}}
                                        </li>
                                        <li>
                                            {{ ::'l-dias-letivos' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.diasLetivos}}
                                        </li>
                                        <li>
                                            {{ ::'l-minimo-aprov' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.minaProv}}
                                        </li>
                                        <li>
                                            {{ ::'l-carga-horaria' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.cargaHoraria}}
                                        </li>
                                        <li>
                                            {{ ::'l-resultado' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.situacao}}
                                        </li>
                                        <li>
                                            {{ ::'l-ano' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.ano}}
                                        </li>
                                        <li>
                                            {{ ::'l-faltas' | i18n : [] : 'js/aluno/historico-eb' }}: {{serie.faltas}}
                                        </li>
                                    </ul>
                                </a></small>
                            </div>
                        </div>
                        <div id="{{serie.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{serie.id}}">
                            <div class="panel-body">
                                <div ng-show="serie.disciplinas.length > 0">
                                    <div id="leg{{serie.id}}"></div>
                                    <totvs-grid
                                        grid-data="serie.disciplinas"
                                        selectable="false"
                                        on-data="controller.configurarLegenda(serie, curso.LegendaParteHist)">
                                        <totvs-grid-column
                                            class="text-center gridRow"
                                            width="5%"
                                            template="controller.getImageStatus">&nbsp;
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="codDisciplinaHist"
                                            class="gridRow"
                                            width="15%">
                                            {{::'l-codigo' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="nomeDisciplina"
                                            class="gridRow"
                                            width="30%">
                                            {{::'l-disciplinas' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="cargaHoraria"
                                            class="gridRow textAlignCenter"
                                            width="10%">
                                            {{::'l-carga-horaria' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="faltas"
                                            class="gridRow textAlignCenter"
                                            width="10%">
                                            {{::'l-faltas' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="nota"
                                            class="gridRow textAlignCenter"
                                            width="15%">
                                            {{::'l-notas-conceito' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                        <totvs-grid-column
                                            field="nomeSituacao"
                                            class="gridRow textAlignLeft"
                                            width="15%">
                                            {{::'l-situacao' | i18n : [] : 'js/aluno/historico-eb' }}
                                        </totvs-grid-column>
                                    </totvs-grid>
                                </div>
                                <totvs-page-detail-info-group ng-show="serie.disciplinas.length > 0">
                                    <totvs-page-detail-info
                                        title="{{ ::'l-estabelecimento' | i18n : [] : 'js/aluno/historico-eb' }}"
                                        ng-if="serie.nomeInstituicao"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 historico-eb-field"
                                        value="{{serie.nomeInstituicao}}">
                                    </totvs-page-detail-info>
                                    <totvs-page-detail-info
                                        title="{{ ::'l-cidade' | i18n : [] : 'js/aluno/historico-eb' }}"
                                        ng-if="serie.cidade"
                                        class="col-lg-5 col-md-6 col-sm-12 col-xs-12 historico-eb-field"
                                        value="{{serie.cidade}}">
                                    </totvs-page-detail-info>
                                    <totvs-page-detail-info
                                        title="{{ ::'l-estado' | i18n : [] : 'js/aluno/historico-eb' }}"
                                        ng-if="serie.uf"
                                        class="col-lg-7 col-md-6 col-sm-12 col-xs-12 historico-eb-field"
                                        value="{{serie.uf}}">
                                    </totvs-page-detail-info>
                                    <totvs-page-detail-info
                                        title="{{ ::'l-obs' | i18n : [] : 'js/aluno/historico-eb' }}"
                                        ng-if="serie.obs"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 historico-eb-field"
                                        value="{{serie.obs}}">
                                    </totvs-page-detail-info>
                                </totvs-page-detail-info-group>
                                <totvs-page-alert ng-show="serie.disciplinas.length == 0" type="info" message="">
                                    <span class="glyphicon glyphicon-info-sign" ></span>
                                    {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/historico-eb' }}
                                </totvs-page-alert>
                            </div>
                        </div>
                    </div>
                </div>
            </totvs-group-content>
            </div>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
