<totvs-page type="detail">
    <div class="row">
        <edu-widgets-container container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/desempenho'}}" id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>
    <totvs-page-header class="pageHeader">

        <div class="row label-subtitulo col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/desempenho' }}: ">
            </totvs-page-header-title>
            <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>

            <label ng-if="controller.etapas.length > 0" ng-style="{'float': 'left', 'padding': '7px 10px 10px 15px'}" for="comboEtapa">{{ ::'l-etapa' | i18n : [] : 'js/aluno/desempenho' }}:</label>
            <field ng-if="controller.etapas.length > 0" 
                   type="combo" 
                   id="comboEtapa" 
                   ng-disabled="controller.etapaSelecionada == -1" 
                   ng-change="controller.buscaDesempenhoAluno()" 
                   ng-model="controller.etapaSelecionada" 
                   ng-style="{'width': 'auto', 'margin-top': '-5px'}" 
                   ng-options="etapa.CODETAPA as etapa.CODETAPA + ' - ' + etapa.NOMEREDUZIDO for etapa in controller.etapas">
            </field>
            <span style="float: right;" ng-show="controller.desempenho.length > 0">
                <button class="btn"
                    ng-click="controller.exportToPng()"> {{ ::'l-exportar' | i18n : [] : 'js/aluno/desempenho' }}
                </button>
            </span>
        </div>

    </totvs-page-header>
    <div ng-if="controller.desempenho.length == 0"><br><br></div>
    <totvs-page-alert ng-if="controller.desempenho.length == 0 && controller.discNotaConceitual.length == 0" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/desempenho' }}
        </totvs-page-alert>

    <totvs-page-content ng-style="(controller.desempenho.length > 0) ? { 'display':'block' } : { 'display': 'none' }">

        <totvs-chart t-type-chart="bar" 
                     t-title-position="top" 
                     t-title="{{::'l-titulo-grafico' | i18n : [] : 'js/aluno/desempenho'}}" 
                     t-height="{{controller.chartHeight}}" 
                     t-series="controller.series" 
                     t-categories="controller.categories" 
                     t-category-axis="controller.categoryAxis"
                     t-value-axis="controller.valueAxis" 
                     t-set-export="controller.setFnExport" 
                     t-on-legend-item-click="controller.onLegendItemClick">
        </totvs-chart>
    </totvs-page-content>
    <span ng-if="controller.desempenho.length > 0 && controller.discNotaConceitual.length > 0">
        <br><br>
    </span>
    <totvs-page-alert ng-if="controller.discNotaConceitual.length > 0" type="info" message="">
        <span class="glyphicon glyphicon-info-sign"></span> {{controller.textoDiscNotaConceitual}}
    </totvs-page-alert>

</totvs-page>