<style>
    .pageHeader {
        margin: 0 0 !important;
    }

</style>

<totvs-page type="list">
    <totvs-page-header class="pageHeader non-printable" style="padding: 0 !important;margin: -10px !important; margin-bottom: 0 !important;">

        <table class="table">
            <tr> 
                <td class="col-sm-8" style="border-top: 0;">
                    <totvs-page-header-title  title="{{ ::'l-titulo-matricula-basico' | i18n : [] : 'js/aluno/matricula' }}" 
                        ng-if="!controller.parametrosMatricula.TituloMatricula">
                    </totvs-page-header-title>
                    <totvs-page-header-title title="{{controller.parametrosMatricula.TituloMatricula}}" 
                        ng-if="controller.parametrosMatricula.TituloMatricula">
                    </totvs-page-header-title>
                </td>
                <td class="col-sm-4" style="border-top: 0;">
                    <div class="pull-right" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">

                        <span ng-show="controller.retornarEtapaAtual().nome === 'matriculaES.disciplinas'" style="cursor: pointer;"
                              ng-click="controller.executaTutorialMatricula()"
                              tooltip-append-to-body="appendToBody=true" 
                              tooltip-placement="top"
                              data-tooltip="{{::'l-verTutorial' | i18n : [] : 'js/aluno/matricula'}}"                                    
                              class="glyphicon glyphicon glyphicon-question-sign">
                        </span>

                        <button class="btn-wizard" role="tab" data-toggle="tab" aria-expanded="true" ng-click="controller.retrocederEtapa()" 
                        ng-show="controller.retornarEtapaAtual().ordem > 1 && controller.retornarEtapaAtual().ordem  < controller.etapas.length">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            <span ng-style="{'padding-right': '5px'}">{{ ::'l-btn-anterior' | i18n : [] : 'js/aluno/matricula' }}</span>
                        </button>

                        <button class="btn-wizard" ng-click="controller.avancarEtapa()" 
                            ng-hide="controller.retornarEtapaAtual().ordem  == controller.etapas.length" role="tab" data-toggle="tab" aria-expanded="true">
                            <span ng-style="{'padding-left': '5px'}">{{ ::'l-btn-proximo' | i18n : [] : 'js/aluno/matricula' }}</span>
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

        <div class="container-fluid wizard-title non-printable" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">
            <div class="container wizard">
                <div class="steps">
                    <div class="step"
                            ng-class="{ 'done' : etapa.realizado, 'active' : controller.retornarEtapaAtual().nome === etapa.nome, 'blocked' : controller.processoFinalizado }"
                            ng-repeat="etapa in controller.etapas"
                            ng-click="controller.redirecionar(etapa.nome)">
                        <div class="circle">
                            <span ng-show="etapa.realizado" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <span ng-show="!etapa.realizado">{{etapa.ordem}}</span>
                        </div>
                        <p>{{etapa.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>        
    </totvs-page-header>
    <totvs-page-content class="printable">

        <div class="pageHeader page-head" ng-if="controller.htmlParaImpressao">
            <div class="row">
                
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 non-show-screen" ng-bind-html="controller.htmlParaImpressao" ng-if="controller.htmlParaImpressao">

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 non-printable">
                    <ng-bind-html ng-bind-html="controller.MensagemMatriculaNaoDisponivelHTML" ng-if="!controller.parametrosMatricula.MatriculaDiscponivel">
                    </ng-bind-html>
                </div>
            </div>
        </div>
        
        <div class="edu-wizard-views non-printable" ui-view></div>
    </totvs-page-content>
</totvs-page>
<span ng-include="'js/aluno/matricula/template-etapa/etapa-modal-contrato.view.html'"></span>

