<totvs-page type="list">
        <div class="row">
            <edu-widgets-container
                                   container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/notas'}}"
                                   id-funcionalidade="controller.idFuncionalidade">
            </edu-widgets-container>
        </div>
        <totvs-page-header class="pageHeader">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/notas' }}: ">
                    </totvs-page-header-title>
                    <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
                    <button class="btn btn-default" ng-style="{'position': 'absolute', 'right': '10px'}" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                        <span class="glyphicon glyphicon-print"></span>
                        {{ ::'btn-imprimir' | i18n : [] : '' }}
                    </button>
                </div>
            </div>
        </totvs-page-header>

        <totvs-page-content class="NotasDesempenho">
            <totvs-page-detail>
                <div>

                    <totvs-tabset>
                        <totvs-tab heading="Notas por etapas" ng-if="controller.exibeTab('notas-etapas')">
                            <div ui-view="notas-etapas"></div>
                        </totvs-tab>

                        <totvs-tab heading="Avaliações" ng-if="controller.exibeTab('notas-avaliacoes')">
                            <div ui-view="avaliacoes"></div>
                        </totvs-tab>

                        <totvs-tab heading="Entregas" ng-if="controller.exibeTab('notas-entregas')">
                            <div ui-view="entregas"></div>
                        </totvs-tab>
                    </totvs-tabset>
                </div>
            </totvs-page-detail>
        </totvs-page-content>
</totvs-page>
