<totvs-page type="list">
    <div ng-controller="EduNotasEtapasListaControlller as controller">
        <totvs-page-header class="pageHeader">
            <fieldset class="row label-subtitulo">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4><label ng-style="{'float': 'left'}" for="cmbSelecaoTurmaDisciplina">{{ ::'l-disciplinas' | i18n : [] : '' }}:</label></h4>
                    <edu-selecao-turmadisciplina
                        id="cmdSelecaoTurmaDisciplina"
                        data-refresh="controller.refresh"
                        ng-model="controller.disciplina"
                        ng-change="controller.buscaNotas"
                        label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
                    </edu-selecao-turmadisciplina>
                </div>
            </fieldset>
        </totvs-page-header>
        <totvs-page-content>
            <div id="MYGRID" ng-hide="controller.notas.length == 0"></div>
            <br>
            <br>
            <totvs-page-alert ng-show="controller.notas.length == 0" type="info" message="">
                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/notas' }}
            </totvs-page-alert>
        </totvs-page-content>
    </div>
</totvs-page>
