<totvs-modal-header role="heading">
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{controller.nomeDisciplina}}
</totvs-modal-header>
<totvs-modal-body role="article" class="ModalNotasAvaliacoesDetalhes">
    <fieldset class="row label-subtitulo">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4><label ng-style="{'float': 'left'}" for="cmbSelecaoEtapa">{{ ::'l-etapas' | i18n : [] : '' }}:</label></h4>
            <edu-selecao-etapa id="cmbSelecaoEtapa"
                               tipoetapa="{{controller.tipoEtapa}}"
                               idturmadisc="controller.idTurmaDisc"
                               ng-model="controller.etapa"
                               ng-change="controller.etapaAlterada"
                               class="selecao-etapa"
                               label-item-default="{{::'l-todas-etapas' | i18n : [] : ''}}"
                               >
            </edu-selecao-etapa>
        </div>
    </fieldset>
    <totvs-divider></totvs-divider>
    <div id="divGridNotasAvaliacoesDetalhes" ng-hide="controller.notasAvaliacoesFiltradas.length == 0">
        <totvs-grid grid-data="controller.notasAvaliacoesFiltradas" resizable="true">
            <totvs-grid-column template="controller.formatarColunaEtapa" class="textAlignCenter">
                {{::'l-etapa' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
            <totvs-grid-column template="controller.formatarColunaDtProva" class="textAlignCenter">
                {{ ::'l-data-avaliacao' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
            <totvs-grid-column template="controller.formatarColunaProva">
                {{ ::'l-avaliacao' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
            <totvs-grid-column field="VALORFORMATADO" class="textAlignRight">
                {{ ::'l-valor' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
            <totvs-grid-column template="controller.formatarColunaNota" class="textAlignRight">
                {{ ::'l-nota' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
            <totvs-grid-column template="controller.formatarColunaDtDevolucao">
                {{ ::'l-data-devolucao' | i18n : [] : 'js/aluno/notas' }}
            </totvs-grid-column>
        </totvs-grid>
    </div>
    <br>
    <totvs-page-alert ng-show="controller.notasAvaliacoesFiltradas.length == 0" type="info" message="">
        <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/notas' }}
    </totvs-page-alert>
</totvs-modal-body>
<totvs-modal-footer role="complementary">
    <button class="btn btn-primary" ng-click="controller.onclickMaisInfoDisciplina()">{{ ::'l-ver-disciplina' | i18n : [] : 'js/aluno/notas' }}</button>
</totvs-modal-footer>
