<totvs-page type="list">
    <div class="row" ng-hide="controller.ocultaCompTela">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/ocorrencias'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader ocorrencias titulo">
        <totvs-page-header-title ng-style="{'float': 'left'}">
        {{ ::'l-titulo' | i18n : [] : 'js/aluno/ocorrencias' }}<span ng-if="(controller.objOcorrenciasList.length > 0)"> ({{controller.intOcorrenciasTotal}})</span>
        </totvs-page-header-title>
        <totvs-page-header-operation>
            <edu-selecao-periodoletivo ng-model="controller.periodoLetivo"
                    ng-change="controller.periodoLetivoAlterado"
                    ng-hide="controller.ocultaCompTela"></edu-selecao-periodoletivo>
            <button class="btn btn-default" ng-style="{'position': 'absolute'}" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                <span class="glyphicon ico-printer"></span>
                {{ ::'btn-imprimir' | i18n : [] : '' }}
            </button>
        </totvs-page-header-operation>
        <totvs-page-tags ng-if="controller.invisibleLegend()">
            <tag class="tag legend legenda-verde legenda-content-1 ng-binding">{{::'l-AceiteValidado' | i18n : [] : 'js/aluno/ocorrencias'}}</tag>
            <tag class="tag legend legenda-vermelho legenda-content-2 ng-binding">{{::'l-AguardandoAceite' | i18n : [] : 'js/aluno/ocorrencias'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content class="ocorrencias">
		<totvs-list-item id="objOcorrencias{{objOcorrencias.id}}"
						 class="tag-2"
						 ng-repeat="objOcorrencias in controller.objOcorrenciasList">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{objOcorrencias.DESCTIPOOCOR}}"
				    class="ocorrencias tag legend col-xs-12 col-sm-9 col-md-9 col-lg-9"
				    ng-class="{'legenda-verde legenda-content-1 ng-binding': (objOcorrencias.RESPONSAVELCIENTE == 'S' && controller.invisibleLegend()),
				        'legenda-vermelho legenda-content-2 ng-binding': (objOcorrencias.RESPONSAVELCIENTE != 'S' && controller.invisibleLegend())}">
				</totvs-list-item-title>
				<totvs-list-item-action
                    limit-primary-action="1"
                    class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				    <action
				        ng-if="controller.aguardandoAceite(objOcorrencias)"
				        icon="glyphicon-thumbs-up"
				        ng-click="controller.responsavelCiente(objOcorrencias)">
				        {{'btn-CIENTE' | i18n : [] : 'js/aluno/ocorrencias'}}
                    </action>
				</totvs-list-item-action>
			</totvs-list-item-header>
			<totvs-list-item-content>
				<totvs-list-item-info title="{{'l-DATAOCORRENCIA' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                      value="{{objOcorrencias.DATAOCORRENCIA | date: 'dd/MM/yyyy'}}"
                                      ng-if="objOcorrencias.DATAOCORRENCIA"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-DESCGRUPOOCOR' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                      value="{{objOcorrencias.DESCGRUPOOCOR}}"></totvs-list-item-info>
				<totvs-list-item-info title="{{'l-DISCIPLINA' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				    <a ng-style="{'cursor': 'pointer'}" ng-click="controller.detalhesDisciplina(objOcorrencias.IDTURMADISC)">{{objOcorrencias.DISCIPLINA}}</a>
                </totvs-list-item-info>
				<totvs-list-item-info title="{{'l-NOMEPROF' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                      value="{{objOcorrencias.NOMEPROF}}"></totvs-list-item-info>
			</totvs-list-item-content>
            <totvs-list-item-content-detail>
                <totvs-list-item-info title="{{'l-CODTURMA' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objOcorrencias.CODTURMA}}"></totvs-list-item-info>
				<totvs-list-item-info title="{{'l-ETAPA' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objOcorrencias.ETAPA}}"></totvs-list-item-info>
                <totvs-list-item-info ng-if="controller.respCienteVisible(objOcorrencias)" title="{{'l-NOMEUSUARIOCIENTE' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objOcorrencias.CODUSUARIOCIENTE}} - {{objOcorrencias.NOMEUSUARIOCIENTE}}"></totvs-list-item-info>
                <totvs-list-item-info ng-if="controller.respCienteVisible(objOcorrencias)" title="{{'l-DTRESPONSAVELCIENTE' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objOcorrencias.DTRESPONSAVELCIENTE | date: 'dd/MM/yyyy HH:mm:ss'}}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-OBSERVACOES' | i18n : [] : 'js/aluno/ocorrencias' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									  value="{{objOcorrencias.OBSERVACOES}}" ng-if="objOcorrencias.OBSERVACOES"></totvs-list-item-info>
			</totvs-list-item-content-detail>
		</totvs-list-item>
		<totvs-list-pagination ng-if="controller.intOcorrenciasTotal > controller.objOcorrenciasList.length"
                               ng-click="controller.search(true);">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="(controller.objOcorrenciasList.length == 0)" type="info" message="">
            <span class="glyphicon ico-alert-triangle" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais' }}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
