<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row label-subtitulo col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label ng-style="{'float': 'left', 'margin-top': '-4px'}" for="cmbSelecaoServico">{{'l-servicos' | i18n : [] : 'js/aluno/financeiro/beneficios' }}:</label>
                <field  type="combo"
                        ng-model="controller.servicoSelecionado"
                        ng-options="servico.codServico as servico.nome for servico in controller.listaServicos">
                </field>
        </div>

        <totvs-page-tags>
            <tag class="legenda legenda-verde legenda-content-1">{{::'l-ativo' | i18n : [] : 'js/aluno/financeiro/beneficios'}}</tag>
            <tag class="legenda legenda-vermelho legenda-content-2">{{::'l-inativo' | i18n : [] : 'js/aluno/financeiro/beneficios'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>

    <totvs-page-content>
		<totvs-list-item class="tag-2" ng-repeat="objBeneficio in controller.listaBeneficios | filter: {codServico: (controller.servicoSelecionado != -1 ? controller.servicoSelecionado : '')}">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{objBeneficio.descricao}}"
                    class="ocorrencias tag legend col-xs-12 col-sm-10 col-md-10 col-lg-10"
                    ng-class="controller.getClasseStatusBolsa(objBeneficio)">
				</totvs-list-item-title>
			</totvs-list-item-header>

			<totvs-list-item-content>
				<totvs-list-item-info title="{{'l-servico' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.servico}}">
                </totvs-list-item-info>

				<totvs-list-item-info title="{{'l-valor-desconto' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                      value="{{objBeneficio.getValorDesconto()}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-parcela-inicial' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.parcelaInicial"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.parcelaInicial}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-parcela-final' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.parcelaFinal"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.parcelaFinal}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-data-inicial' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.dataInicial"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.dataInicial | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-data-termino' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.dataFinal"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.dataFinal  | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-contrato' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.codContrato}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-data-concessao' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.dataConcessao | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-data-autorizacao' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.dataAutorizacao"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.dataAutorizacao | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-valor-maximo' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.valorMaximo"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.valorMaximo | currency}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-data-cancelamento' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.dataCancelamento"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.dataCancelamento | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>

                <totvs-list-item-info title="{{'l-motivo-cancelamento' | i18n : [] : 'js/aluno/financeiro/beneficios' }}"
                                      ng-show="objBeneficio.motivoCancelamento"
                                      class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									  value="{{objBeneficio.motivoCancelamento}}">
                </totvs-list-item-info>

                <label ng-show="objBeneficio.retroativa" class="item-field col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {{'l-bolsa-retroativa' | i18n : [] : 'js/aluno/financeiro/beneficios' }}
                </label>

</totvs-list-item-content>

		</totvs-list-item>
        <totvs-page-alert ng-if="(controller.listaBeneficios.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-not-found' | i18n : [] : '' }}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
