<totvs-page type="list">
    <totvs-page-navbar>

    </totvs-page-navbar>

    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/avaliacoes'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader titulo">
        <totvs-page-header-title ng-style="{'float': 'left'}">
          {{::'l-avaliacao-institucional' | i18n : [] : 'js/aluno/avaliacoes'}}
        </totvs-page-header-title>
        <totvs-page-header-operation>
        </totvs-page-header-operation>
    </totvs-page-header>

    <totvs-page-content>
        <div>
            <div class="subtituloAvaliacao" ng-if="controller.objetoAvaliadosLista.length > 0">
                {{::'l-avaliacao-sobre' | i18n : [] : 'js/aluno/avaliacoes'}} :
            </div>
            <div class="campoFiltro">
                <field
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    ng-change="controller.filtrarObjetoAvaliado()"
                    ng-model="controller.objetoAvaliado"
                    ng-if="controller.objetoAvaliadosLista.length > 0"
                    ng-options="objetoAvaliados.OBJETOAVALIADO as objetoAvaliados.OBJETOAVALIADO for objetoAvaliados in
                                controller.objetoAvaliadosLista">
                </field>
                </div>
        </div>
        <totvs-divider ng-if="controller.objetoAvaliadosLista.length > 0"></totvs-divider>

        <totvs-list-item id="objAvaliacaoInstitucional{{objAvaliacaoInstitucional.id}}" class="tag-2"
                        ng-repeat="objAvaliacaoInstitucional in controller.avaliacaoInstitucionalFiltradaLista
                        | orderBy: objAvaliacaoInstitucional.DESCRICAO">
            <totvs-list-item-header>
                <totvs-list-item-title
                    title="{{objAvaliacaoInstitucional.DESCRICAO}}"
                    class="col-xs-12 col-sm-9 col-md-9 col-lg-9">&nbsp;
                </totvs-list-item-title>
                <totvs-list-item-action
                    limit-primary-action="1"
                    class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <action
                        icon="glyphicon-edit"
                        ng-if="!objAvaliacaoInstitucional.length > 0"
                        ng-click="controller.redirecionarResponderAvaliacao(objAvaliacaoInstitucional)">
                        {{'l-responder' | i18n : [] : 'js/aluno/avaliacoes'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>

                 <totvs-list-item-info
                    title="{{::'l-avaliacao-sobre' | i18n : [] : 'js/aluno/avaliacoes'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.OBJETOAVALIADO"
                    value="{{objAvaliacaoInstitucional.OBJETOAVALIADO}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-nome-curso' | i18n : [] : 'js/aluno/avaliacoes' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.NOMECURSO"
                    value="{{objAvaliacaoInstitucional.NOMECURSO}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-nome-grade' | i18n : [] : 'js/aluno/avaliacoes' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.NOMEGRADE"
                    value="{{objAvaliacaoInstitucional.NOMEGRADE}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-cod-turma' | i18n : [] : 'js/aluno/avaliacoes' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.CODTURMA"
                    value="{{objAvaliacaoInstitucional.CODTURMA}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-nome-disciplina' | i18n : [] : 'js/aluno/avaliacoes' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.NOMEDISCIPLINA"
                    value="{{objAvaliacaoInstitucional.NOMEDISCIPLINA}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-nome-professor' | i18n : [] : 'js/aluno/avaliacoes' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="objAvaliacaoInstitucional.NOMEPROFESSOR"
                    value="{{objAvaliacaoInstitucional.NOMEPROFESSOR}}">
                </totvs-list-item-info>

            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-list-pagination ng-if="controller.avaliacaoInstitucionalFiltradaLista.length < controller.intAtividadesExtrasCount && controller.avaliacaoInstitucionalFiltradaLista.length"
            ng-click="controller.search(true);">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="(controller.avaliacaoInstitucionalFiltradaLista.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais'
            }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>
