<!DOCTYPE html>
<html>
<head>
    <title>TOTVS | Processo Seletivo</title>

    <!-- start: Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">

    <meta name="description" content="TOTVS Portal - TOTVS Educacional">
    <meta name="keywords" content="totvs">
    <meta name="author" content="totvs">
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- end: Meta -->

    <!-- start: Favicon and Touch Icons -->
    <link rel="shortcut icon" href="{{SrcBaseImages}}/favicon.ico" type="image/x-icon">
    <!-- end: Favicon and Touch Icons -->

    <link rel="stylesheet" href="../../../js/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../js/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" href="../../../js/libs/angular-nestable/lib/jquery.nestable.css">

    <link rel="stylesheet" href="../../../js/libs/AngularJS-Toaster/toaster.min.css">

    <link rel="stylesheet" href="../../../js/libs/angular-ui-select/dist/select.min.css">

    <link rel="stylesheet" href="../../../js/libs/telerik.kendoui/styles/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="../../../js/libs/telerik.kendoui/styles/kendo.bootstrap.min.css">

    <link rel="stylesheet" href="../../../js/libs/totvs-html-framework/assets/css/totvs-html-framework.css">

    <link rel="stylesheet" ng-href={{SrcBaseCSS}}>  
 
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5JZKG9F');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code GRADUAÇÃO -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '137918233347919');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=137918233347919&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code PÓS GRADUAÇÃO -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '163548794389159'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=163548794389159&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body ng-cloak ng-controller="GlobalAppController as controller">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JZKG9F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Component TOASTER -->
    <toaster-container toaster-options="{'time-out':3000, 'close-button': true}"></toaster-container>

    <!-- LOADING -->
    <div id="loading-screen" class="overlay" ng-if="controller.hasPendingRequests()">
        <img ng-src="{{SrcBaseImages}}/loading.gif">
        <p class="text-center text-muted">{{ ::'l-carregando' | i18n : [] : 'js/global-app' }}</p>
    </div>

    <!-- CABEÇALHO - Cabeçalho das páginas com a barra de processos seletivos e ícones de redes sociais -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="!TelaLimpa">
    <div id="cabecalho" class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao-superior" aria-expanded="false">
            <span class="sr-only">{{ ::'l-Menu' | i18n }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pointer" ng-click="controller.carregarPaginaPrincipal()"><img id="logo" ng-src="{{SrcBaseImages}}/logo-unis.png"></a>
        </div><!-- /.navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="barra-navegacao-superior">
            <div class="navbar-form navbar-left">
                <select name="cmbProcessosSeletivos" id="cmbProcessosSeletivos" class="form-control"
                        ng-model="controller.model"
                        ng-options="nomeIdPS as nomeIdPS.NOME for nomeIdPS in controller.listaProcessosSeletivos"
                        ng-change="controller.recarregaParametrosProcessoSeletivo('PROCSEL|INF1|INF2|INSC|G1|G2|G3|VO|R|RS|A|GC|CTR1|CTR2|INT')">
                </select>
            </div>
            <ul class="nav navbar-nav navbar-right icones-redes-sociais">
                <li ng-if="objParametros.NumeroWhatsApp">
                    <a class="navbar-brand" href="https://api.whatsapp.com/send?phone={{objParametros.NumeroWhatsApp}}" target="_blank">
                        <div id="texto-whatsApp">
                            <img ng-src="{{SrcBaseImages}}/whatsapp.png" style="width: 25px; height:  25px;">
                            <span style="padding-left: 10px;">{{objParametros.NumeroWhatsApp}}</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right icones-redes-sociais">
                <li ng-if="objParametros.UrlInstagram"><a class="navbar-brand" href="{{objParametros.UrlInstagram}}" target="_blank"><img ng-src="{{SrcBaseImages}}/instagram.png" style="width: 25px; height: 25px;"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right icones-redes-sociais">
                <li ng-if="objParametros.UrlTwitter"><a class="navbar-brand" href="{{objParametros.UrlTwitter}}" target="_blank"><img ng-src="{{SrcBaseImages}}/twitter.png" style="width: 25px; height: 25px;"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right icones-redes-sociais">
                <li ng-if="objParametros.UrlFacebook"><a class="navbar-brand" href="{{objParametros.UrlFacebook}}" target="_blank"><img ng-src="{{SrcBaseImages}}/facebook.png" style="width: 25px; height: 25px;"></a></li>
            </ul>
             <ul class="nav navbar-nav navbar-right icones-redes-sociais">
                <li ng-if="false"><a class="navbar-brand" target="_blank"><img ng-src="{{SrcBaseImages}}/icon_sairldpi.png" ng-click="controller.logout()" style="width: 25px; height: 25px;"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <!-- BANNER -->
    <div ng-if="!TelaLimpa">
        <totvs-carousel
            class="carousel"
            ng-style="{'padding-right':'0px', 'padding-left':'0px', 'margin-top':'0px', 'float': 'none'}"
            t-slides="controller.slides"
            t-interval="5000">
        </totvs-carousel>
   </div>
    <!-- FIM BANNER -->

    <!-- CONTENT - Todas as views são abertas aqui nessa área -->
    <div ui-view>

    </div>
    <!-- FIM CONTENT -->

    <!--link para WhatsApp-->
    <div id="whatsapp" ng-if="objParametros.NumeroWhatsApp">
        <a href="https://api.whatsapp.com/send?phone={{objParametros.NumeroWhatsApp}}" target="_blank">
            <img src="assets/img/WhatsApp_logo.png" width="50">
        </a>
    </div>

    <!-- Scripts -->

    <!-- xml to json -->
    <script src="js/xml2json.js" data-main="js/main" type="text/javascript"></script>

    <script src="../../../js/libs/jquery/dist/jquery.js"></script>
    <script src="../../../js/libs/angular/angular.js"></script>

    <script src="../../../js/libs/telerik.kendoui/js/kendo.all.min.js"></script>
    <script src="../../../js/libs/telerik.kendoui/js/cultures/kendo.culture.pt.min.js"></script>
    <script src="../../../js/libs/telerik.kendoui/js/cultures/kendo.culture.pt-BR.min.js"></script>
    <script src="../../../js/libs/telerik.kendoui/js/cultures/kendo.culture.en.min.js"></script>
    <script src="../../../js/libs/telerik.kendoui/js/cultures/kendo.culture.es.min.js"></script>

    <script src="../../../js/libs/autonumeric/autoNumeric-min.js"></script>
    <script src="../../../js/libs/lightbox2/dist/js/lightbox.min.js"></script>

    <script src="../../../js/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="../../../js/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="../../../js/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

    <!-- Script de configuração global(CONSTANTES) -->
    <script src="../../../js/totvs-app.global.config.js"></script>

    <!-- Script de configuração global(CONSTANTES) para o Edu-Portal Educacional -->
    <script src="js/edups-constantes.global.config.js"></script>

    <!-- RequireJs -->
    <script src="../../../js/libs/requirejs/require.js" data-main="js/main" type="text/javascript"></script>

</body>
</html>
