html {
  box-sizing: border-box;
  font-size: 100%;
  /*min-height: 100%;*/
}
* {
  box-sizing: inherit;
}

body {
	background: url("../img/bg.jpg") no-repeat top center fixed;
	background-size: cover;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
  color: #333;
  overflow-x:hidden;
  min-width: 320px;
}

/* manipulacao do form */
.align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

form {
	margin: -0.875rem;
}
input, select {
  background-image: none;
  border: 0;
  /*color: inherit;*/
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s;
}
input[type='submit'] {
  cursor: pointer;
}
.form {
  margin: -14px;
  margin: -0.875rem;
}
.form input[type='submit'] {
  width: 100%;
}
.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}
.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Tipografia */
h1 {
	font-weight: 300;
	font-size: 1.5em;
  text-transform: uppercase;
	color: #fff;
	/*margin: 15% auto;*/
  margin: 20px auto 40px;
	text-align: center;
  line-height: 1.7rem;
  letter-spacing:3px;
}

h2 {
	font-weight: 300;
	font-size: 1.0em;
  text-transform: uppercase;
	color: #fff;
	/*margin: 15% auto;*/
  margin: 20px auto 40px;
	text-align: center;
  line-height: 1.7rem;
  letter-spacing:3px;
}

a, .login, select {
	text-decoration: none;
	color: #9a9a9a !important;
}

a:hover {
	color: #000;
}

p.small {
	font-size: 0.9em;
	margin: 20px 0 0;
}

/* Login Label e select */
.login label,
.login input[type='text'],
.login input[type='email'],
.login input[type='password'] {
  border-radius: 0.25rem;
  padding: 14px;
  padding: 0.8rem;
}
.login input[type='submit'] {
  border-radius: 0.25rem;
  padding: 1rem;
}

.login input[type='button']{
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-transform: none !important;
}

.login label {
  background-color: #faa635;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;

  margin-bottom: 0;
}

.login select {
  background-color: #fff;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding-left: 6px;
  padding-left: 0.4rem;
  width:100%;
  max-width:90%;
  padding-right: auto;
}

.login input[type='password'],
.login input[type='email'],
.login input[type='text'] {
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='email']:focus,
.login input[type='email']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover {
  background-color: #eee;
}

.login select:focus,
.login select:hover,
.login .selection:focus,
.login .selection:hover {
  background-color: #fff;
}

.login input[type='submit'],
.login input[type='button'] {
  background-color: #0c9abe;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover,
.login input[type='button']:focus,
.login input[type='button']:hover {
  background-color: #49afc9;
  color: #faa635;
  font-weight: 500;
}


/* Layout */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.logo {
  text-align: center;
  padding-top: 10% !important;
}

.login-box {
	max-width: 340px;
	margin: 30px auto 0;
	padding: 10px 30px 45px 30px;
	border-radius: 5px;
	text-align: center;
  background-color: #08687e;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 5px 2px 5px 1px;
}

.login-box button {
	margin-top: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #49aec8;
	cursor:pointer;
	outline: none;
	min-width: 186px;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.small a {
  color: #fff !important;
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
 }
.small a:hover {
  color: #faa635 !important;
  font-size: 15px;
}

/* Animacao */
.logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.hidden-box {
    display: none;
}

#loading-screen {
    width:  100%;
    height: 100%;
}

#loading-screen img {
    width:  42px;
    height: 42px;
    position: absolute;
    top:  50%;
    left: 50%;
    margin-left: -21px;
}

#loading-screen p {
        color: white;
        position: absolute;
        top: 50%;
        margin-top: 50px;
        width: 100%;
}

.text-muted {
  color: #777;
}

.text-center {
  text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
}

.button-disabled {
    background-color: grey !important;
}


.button-disabled:focus,
.button-disabled:hover {
    color:  #fff !important;
    cursor: not-allowed;
}

.header-login {

    background-color: #08687e;
    color: white;
}

.body-login {
    background-color: #f9f9f9;
}

.botaoVoltar {
  background-color: #0c9abe;
	margin-top: 10px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.0em;
	letter-spacing: 1px;
	cursor:pointer;
	outline: none;
  min-width: 186px;  
}

.botaoVoltar:hover {
  background-color: #49afc9;
  color: white;
  font-weight: 500;
}

.diploma-box {
	max-width: 340px;
	margin: 30px auto 0;
	padding: 10px 30px 45px 30px;
	border-radius: 5px;
	text-align: center;
  background-color: #08687e;
}

.diploma-box button {
	margin-top: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #49aec8;
	cursor:pointer;
	outline: none;
	min-width: 186px;
}

.diploma-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.logoDiploma {
  text-align: center;
  padding-top: 10% !important;
}

#modalMobileDetect .modal-dialog {
  bottom: calc(100% - 282px);
  position: absolute;
  margin-left: 0px;
  margin-right: 0px;
}

#modalMobileDetect .modal-content {
  border-radius: 0;
  border: 0;
}

#modalMobileDetect .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 31px;
}

#modalMobileDetect .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}

#modalMobileDetect .modal-footer {
  padding: 0;
  border-top: 0;
}

#modalMobileDetect .btn-acessar-mobile {
  width: 100%;
  background-color: #0c9abe;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  padding: 0.5rem;
}

#modalMobileDetect .btn-acessar-mobile span {
  font-weight: normal;
  display: block;
  float: left;
  padding-top: 5px;
  padding-left: 20%;
}

#modalMobileDetect .btn-continuar-site {
  width: 100%;
  font-weight: 500;
  border-radius: 0;
  margin-left: 0;
  padding: 0.5rem;
}

#modalMobileDetect .btn-acessar-mobile object {
  padding-right: 0px;
  text-align: right;
  margin-right: 0;
}