<!-- Modal Arquivo Anexo-->
<form name="controller.anexoForm">
    <div class="modal fade" id="modalArquivo" tabindex="-1" role="dialog" aria-labelledby="modalArquivoInfoLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="controller.limparCampoFileUpload()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalArquivoInfoLabel">
                        {{'l-add-arquivo-anexo' | i18n : [] : 'js/aluno/requerimentos' }}
                    </h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <totvs-field
                                        name="campoDescricaoArquivo"
                                        totvs-input
                                        maxlength="100"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        ng-model="controller.Arquivos.Descricao"
                                        ng-required="true" label="{{ ::'l-descricao' | i18n : [] : 'js/aluno/requerimentos' }}"
                                        >
                                        <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/requerimentos' }}</validator>
                                    </totvs-field>
                                </div>
                            </div>
                            <div class="row">
                                <div id="idArquivoFileRequerimento" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <edu-upload-file
                                                     name="campoFile"
                                                     required="true"
                                                     model="controller.Arquivos.File"
                                                     label="{{ ::'l-enviar-arquivo' | i18n : [] : 'js/aluno/requerimentos' }}">
                                    </edu-upload-file>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="controller.limparCampoFileUpload()" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="controller.registrarAnexoRequerimento()" data-backdrop="false">
                        {{::'l-btn-adicionar-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}</button>
                </div>
            </div>
        </div>
    </div>
</form>