<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/requerimentos'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <totvs-page-header-title title="{{ ::'l-requerimentos' | i18n : [] : 'js/aluno/requerimentos' }}">
                </totvs-page-header-title>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content class="requerer-solicitar">
        <totvs-page-detail>
            <totvs-tabset>
                <totvs-tab active="controller.activeTabDisponiveis" heading="{{ ::'l-disponiveis' | i18n : [] : 'js/aluno/requerimentos' }}">
                    <div ui-view="disponiveis" ng-if="controller.exibeTab('requerimentos-disponiveis')"></div>
                </totvs-tab>
                <totvs-tab active="controller.activeTabSolicitados" heading="{{ ::'l-solicitados' | i18n : [] : 'js/aluno/requerimentos' }}">
                    <div ui-view="solicitados" ng-if="controller.exibeTab('requerimentos-solicitados')"></div>
                </totvs-tab>
            </totvs-tabset>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
