
<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-detalhes-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content>
        <totvs-page-detail>
            <div class="pageContent requerer-solicitar">
            <div class="media">
                <div class="media-body">
                    <form name="controller.formulario" class="form-horizontal row">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="pull-right">
                                <button id="buttonAnexo" class="btn btn-default" ng-click="controller.abrirModalUploadArquivos()" formnovalidate>
                                    <span id="spanbuttonAnexo" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                    <label>{{ :: 'l-adicionar-anexo' | i18n : [] : 'js/aluno/requerimentos' }}</label>
                                </button>

                                <button class="btn btn-default" ng-show="controller.possuiDescDetalhada" ng-click="controller.exibirDescricaoDetalhada()" formnovalidate>
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    <label>{{ :: 'l-visualizar-descricao-detalhada' | i18n : [] : 'js/aluno/requerimentos' }}</label>
                                </button>
                             </div>
                        </div>
                    </div>
                    <totvs-page-detail-info
                        class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                        title="{{ ::'l-ra' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{ controller.ra }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                        title="{{ ::'l-NOME' | i18n : [] : 'js/aluno/dados-pessoais' }}"                        
                        value="{{ controller.nomeAluno }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-tipo-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                        value="{{ controller.model.Requerimento.NOMETIPO }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-descricao-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}">
                            <span ng-bind-html="controller.model.Requerimento.DESCRICAO"></span>
                    </totvs-page-detail-info>

                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-procedimentos-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}">
                            <span ng-bind-html="controller.model.Requerimento.PROCEDIMENTOS"></span>
                    </totvs-page-detail-info>

                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-aceite-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}">
                            <span ng-bind-html="controller.model.Requerimento.ACEITE"></span>
                    </totvs-page-detail-info>
                    <!-- INICIO - Adiciona os campos de parâmetros dinâmicamente-->
                    <span id="camposDinamicosContainer">
                    </span>
                    <!-- FIM - Adiciona os campos de parâmetros dinâmicamente-->
                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-valor-servico-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                        value="{{controller.model.Requerimento.VALOR | currency}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-entrega-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                        value="{{ controller.model.NOME }}">
                        <totvs-grid grid-data="controller.model.ListaLocaisEntrega"
                                    grid="controller.grid"
                                    grid-selected-item="controller.selectedRow"
                                    on-change="controller.onChange(event)"
                                    selectable="row">
                            <totvs-grid-column
                                class="gridRow text-center"
                                width="50px"
                                template="controller.getTemplateCheckbox">&nbsp
                            </totvs-grid-column>
                            <totvs-grid-column
                                class="gridRow"
                                template="controller.getTemplateColunaGeral('DESCRICAO')">
                                {{::'l-local-entrega' | i18n : [] : 'js/aluno/requerimentos' }}
                            </totvs-grid-column>
                            <totvs-grid-column
                                class="gridRow"
                                field="DESLOCAL"
                                template="controller.getTemplateColunaGeral('DESLOCAL')">
                                {{::'l-localidade' | i18n : [] : 'js/aluno/requerimentos' }}
                            </totvs-grid-column>
                            <totvs-grid-column
                                class="gridRow text-center"
                                field="VALORFORMATADO">
                                {{::'l-taxa' | i18n : [] : 'js/aluno/requerimentos' }}
                            </totvs-grid-column>
                            <totvs-grid-column
                                class="gridRow text-center"
                                field="PRAZO">
                                {{::'l-prazo' | i18n : [] : 'js/aluno/requerimentos' }}
                            </totvs-grid-column>
                        </totvs-grid>
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        title="{{ ::'l-valor-total-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                        value="{{ controller.model.RequerimentoSolicitacao.VALORTOTAL | currency}} ">
                    </totvs-page-detail-info>
                    <field
                        name="campoObservacao"
                        type="textarea"
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        ng-model="controller.model.OBSERVACAO"
                        ng-required="controller.model.OutrasInformacoes.JUSTIFICATIVAOBRIGATORIA"
                        label="{{ ::'l-observacoes-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}">
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <div class="pull-right">
                    <button ng-click="controller.registrarRequerimento()" class="btn btn-default">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {{ ::'l-botao-registrar-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}
                    </button>
                </div>
                </form>
               </div>
            </div>
        </div>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>

<!-- Modal -->
<div class="modal fade" id="mReqInfo" tabindex="-1" role="dialog" aria-labelledby="mReqInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mReqInfoLabel">
                    {{ ::'l-detalhes-solicitacao' | i18n : [] : 'js/aluno/requerimentos' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <totvs-list-item-info
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span ng-bind-html="controller.model.Requerimento.DESCRICAODETALHADA"></span>
                                </totvs-list-item-info>
                            </div>
                        </div>
                        <br />
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div ng-include="'js/aluno/requerimentos/modal-arquivo-anexo.view.html'"></div>