<div ng-controller="EduWidgetsFrequenciaController as controller" class="widgetFrequencia">
    <totvs-widget>

        <totvs-widget-header title="{{'l-frequencia' | i18n : [] : 'js/widgets'}}">
        </totvs-widget-header>

        <totvs-widget-body>
            <totvs-row>
                <!-- Utilizar este quando atualizar a frame para 12.1.15
                    <totvs-field
                    label="{{'l-disciplina' | i18n : [] : 'js/widgets'}}"
                    totvs-combo
                    class="col-*-6"
                    ng-required="true"
                    ng-change="controller.changeDisciplina()"
                    t-options="controller.objDisciplinaList"
                    ng-model="controller.selectedDisciplina">
                    </totvs-field>
                -->
                <field
                       type="combo"
                       class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widgetField"
                       ng-model="controller.selectedDisciplina"
                       label="{{'l-disciplina' | i18n : [] : 'js/widgets'}}"
                       ng-change="controller.changeDisciplina()"
                       ng-options="objDisciplina as objDisciplina.label  for objDisciplina in controller.objDisciplinaList">
                </field>
            </totvs-row>
            <totvs-row ng-if="controller.hasFaltas">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <totvs-chart
                                 t-title="{{controller.objWidget.NOME}}"
                                 t-title-position="top"
                                 t-type-chart="donut"
                                 t-series="controller.objFaltasList"
                                 t-set-export="controller.setFnExport">
                    </totvs-chart>
                </div>
            </totvs-row>
            <br clear="all" />
            <totvs-row class="text-center">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-style="{'border-radius': 'inherit'}">
                            <span class="badge" ng-class="{'progress-bar-danger': controller.objFalta.NIVELLIMITE === 0, 'progress-bar-warning': controller.objFalta.NIVELLIMITE === 1}">{{controller.objFalta.QTDFALTAS}}</span>
                            {{'l-qtd-faltas' | i18n : [] : 'js/widgets'}}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-style="{'border-left': 'none', 'border-radius': 'inherit'}">
                            <span class="badge">{{controller.objFalta.LIMITEFALTAS}}%</span>
                            {{'l-limite-faltas' | i18n : [] : 'js/widgets'}}
                        </li>
                    </ul>
                </div>
            </totvs-row>
            <br clear="all" />
            <totvs-page-alert ng-if="!controller.hasFaltas" type="info" message="">
                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhuma-Falta-Inserida' | i18n : [] : 'js/widgets' }}
            </totvs-page-alert>
        </totvs-widget-body>

        <!--
        <totvs-widget-footer>

                <totvs-widget-footer-actions>
                <action ng-click='controller.exportToPdf()'>{{'l-exportar' | i18n : [] : 'js/widgets'}}</action>
                </totvs-widget-footer-actions>

        </totvs-widget-footer>
        -->
    </totvs-widget>
</div>
