<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title ng-show="controller.telaDisciplina" title="{{'l-titulo' | i18n : [] : 'js/aluno/arquivos/materiais'}}">
        </totvs-page-header-title>
        <div class="row" ng-if="!controller.telaDisciplina">
            <div class="label-subtitulo col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label  ng-style="{'float': 'left', 'margin-top': '-4px'}"
                        for="cmdSelecaoTurmaDisciplina">{{'l-disciplinas' | i18n : [] : '' }}: &nbsp;
                </label>
                <edu-diretiva-turma-disciplina
                    id="cmdSelecaoTurmaDisciplina"
                    ng-model="controller.disciplina"
                    ng-change="controller.filtrarMateriais"
                    data-refresh="controller.refresh"
                    ignora-disc-em-curso="controller.ignoraDiscEmCurso">
                </edu-diretiva-turma-disciplina>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content>
		<totvs-list-item id="objMaterial{{objMaterial.IDMATERIALSEC}}"
						 class="tag-2"
						 ng-repeat="objMaterial in controller.listaMateriaisExibicao">
			<totvs-list-item-header>
				<totvs-list-item-title
                    class="col-lg-10 col-md-10 col-sm-12 col-xs-12"
				    title="{{objMaterial.DESCRICAO}}">
				</totvs-list-item-title>
				<totvs-list-item-action limit-primary-action="1" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				    <action
				        icon="glyphicon glyphicon-download-alt"
				        ng-click="controller.downloadMaterial(objMaterial)">
				        {{'btn-download' | i18n : [] : 'js/aluno/arquivos/materiais'}}
                    </action>
				</totvs-list-item-action>
			</totvs-list-item-header>
			<totvs-list-item-content>
				<totvs-list-item-info   title="{{'l-data-publicacao' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									    value="{{objMaterial.DATAINCLUSAO | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{'l-disciplina' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6 obj-clicavel"
									    value="{{objMaterial.NOME}}"
                                        ng-hide="controller.telaDisciplina"
                                        ng-click="controller.exibirDetalhesDisciplina(objMaterial)">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{'l-tipo-material' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									    value="{{objMaterial.DESCRICAOTIPOMATERIAL}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="{{objMaterial.IDPLANOAULA !== -1}}"
                                        title="{{'l-aula-vinculada' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6 obj-clicavel"
									    value="{{objMaterial.DATA | date: 'dd/MM/yyyy'}}"
                                        ng-click="controller.exibirDetalhesAula(objMaterial)">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{'l-tamanho-arquivo' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
									    value="{{controller.getTamanhoAquivo(objMaterial)}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{'l-nome-arquivo' | i18n : [] : 'js/aluno/arquivos/materiais' }}"
                                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									    value="{{objMaterial.ARQUIVO}}">
                </totvs-list-item-info>
		    </totvs-list-item-content>
        </totvs-list-item>
        <totvs-page-alert ng-show="(controller.listaMateriaisDisciplina.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-not-found' | i18n : [] : '' }}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
