/***************************** FORMATAÇÃO CABEÇALHO RODAPÉ E MENU **************************************/

body {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif !important;
}

.pointer {
    cursor: pointer;
}

/*Formatação do cabeçalho das páginas*/

#cabecalho {
    background-color: #045a99;
    border-radius: 0 !important;
}

/*Formatação do rodapé das páginas*/

#rodape {
    background-color: #FFFFFF;
    border-radius: 0 !important;
    border-style: none !important;
}

/*Formatação da imagem com a logo da instituição*/

#logo {
    width: 130px;
    height: 39px;
    transform: translate(-5%, -25%) !important;
}

/* Centralização de texto */

.center {
    text-align: center !important;
    transform: translate(0%, -50%) !important;
}

/*Formatação dos botões e itens de menu*/

a.botao-menu {
    border-radius: 0 !important;
    color: #000000 !important;
}

a.botao-menu:hover {
    color: #045a99 !important;
}

a.botao-menu:link {
    color: #000000 !important;
}

.botao-menu-ativo {
    color: #045a99;
}

.botao-menu-ativo span {
    text-decoration: none !important;
    border-bottom: solid #045a99 5px;
    padding-bottom: 15px;
    color: #0C9ABE !important;
    font-weight: 700 !important;
}

button {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

ul li a:hover {
    color: #045a99 !important;
}

u {
    text-decoration: none !important;
    border-bottom: solid #045a99 5px;
    padding-bottom: 10px;
}

.item-menu {
    border-bottom: solid thin #0C9ABE !important;
    background-color: #FFF !important;
}

.divider-right {
    border-right: solid thin #0C9ABE !important;
}

/*Formatação dos ícones das redes sociais mostrados no cabeçalho das páginas*/

.icones-redes-sociais {
    transform: translate(0%, -5%) !important;
    cursor: pointer;
}

/*Formatação da área que agrupa os arquivos do processo seletivo*/

#arquivos {
    padding: 10px !important;
}

/*Formatação do título da área que agrupa os arquivos do processo seletivo*/

#titulo-arquivos {
    text-align: center;
    transform: translate(0%, -50%) !important;
}

/*Formatação da área que exibe a lista de arquivos do processo seletivo*/

#lista-arquivos {
    text-align: center;
}

/*Formatação dos ícones dos arquivos do processo seletivo*/

.icones-arquivos {
    display: block;
    margin: auto;
}

/*Formatação do texto exibido juntamente com o ícone do Whatsapp no cabeçalho das páginas*/

#texto-whatsApp {
    color: #FFF !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: small !important;
    transform: translate(0%, -10%) !important;
}

/*Posicionamento da imagem no Banner*/

.carousel-inner img {
    display: block;
    margin: 0 auto;
}

/***************************** FORMATAÇÃO DO FORMULÁRIO DE INSCRIÇÃO **************************************/

/* Troca do X para limpar campos do formulário pelo ícone da borracha */

.field-container span.glyphicon.glyphicon-remove:before {
    content: "\e221";
}

/*Formatação do botão de finalizar*/

#botao-finalizar,
#botao-voltar,
#botao-li-aceito,
#botao-cancelar {
    border-radius: 0 !important;
    padding: 10px !important;
    width: 100% !important;
}

#botao-continuar {
    border-radius: 0 !important;
    padding: 10px !important;
    width: 100% !important;
    border-color: #FFF !important;
}

#miniFormularioInscricao,
#dadosLogin,
#recuperarSenha {
    border-radius: 0 !important;
    background-color: #045a99 !important;
}

.label-mini-formulario-inscricao .field-label {
    color: #FFF !important;
}

/*Formatação do cabeçalho do grupo de informações do formulário*/

.cabecalho-grupo {
    background-color: #EEEEEE !important;
    color: #000000 !important;
    padding: 5px !important;
    width: 100% !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid !important;
    border-bottom-color: #FFFFFF !important;
    border-bottom-width: 5px !important;
    border-block-start: 50px !important;
}

.titulo-cabecalho-grupo {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 200;
    font-size: 14px;
    color: #000000;
}

.cabecalho-invalido {
    color: red !important;
}

.cabecalho-valido {
    color: green !important;
}

/*Formatação da área do container principal do grupo de informações do formulário*/

.container-grupo {
    border-style: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.half-row {
    padding: 10px !important;
    margin: auto;
}

/*Formatação da área onde estão localizados os campos do formulário*/

.campos-grupo {
    border-style: solid !important;
    border-color: #DCDCDC !important;
    border-width: thin !important;
}

/*Label dos campos com o mesmo tamanho da tela de confirmação*/
@media (max-width:992px) {
	field .field-label,totvs-field .field-label,.field .field-label {
		font-size:12px
	}
}

/***************************** FORMATAÇÃO DA TELA DE BOLETO E PAGAMENTO COM CARTÃO ************************/

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}

.visa {
    background-image: url('../img/visa.png');
}

.mastercard {
    background-image: url('../img/mastercard.png');
}

.visaelectron {
    background-image: url('../img/visaElectron.png');
}

.cc-selector-2 input:active+.drinkcard-cc,
.cc-selector input:active+.drinkcard-cc {
    opacity: .9;
}

.cc-selector-2 input:checked+.drinkcard-cc,
.cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
    -webkit-filter: grayscale(1) opacity(.9);
    -moz-filter: grayscale(1) opacity(.9);
    filter: grayscale(1) opacity(.9);
}

.drinkcard-cc:hover {
    -webkit-filter: grayscale(.5) opacity(.9);
    -moz-filter: grayscale(.5) opacity(.9);
    filter: grayscale(.5) opacity(.9);
}

/* Extras */

.cc-selector-2 input {
    margin: 5px 0 0 12px;
}

.cc-selector-2 label {
    margin-left: 7px;
}

span.cc {
    color: #6d84b4
}

/***************************** FORMATAÇÃO DA TELA DE CONFIRMAÇÃO DE INSCRIÇÃO *****************************/

.titulo {
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 12px;
    color: gray
}

.descricao {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 12px;
    color: #000;
}

.titulo-lista {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 200;
    font-size: 12px;
    color: gray
}

.descricao-lista {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 200;
    font-size: 12px;
    color: #000;
    padding: 0 !important;
    margin: 0 !important;
}

.container-grupo-confirmacao {
    border: solid thin #045a99 !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/***************************** FORMATAÇÃO DA BARRA DE SERVIÇOS DA TELA DE INSCRIÇÃO *****************************/

.barraservico {
    text-align: center;
    background-color: #EEEEEE;
}

.barraservico > div {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: small;
    width: 200px;
}

/***************************** FORMATAÇÃO DA CENTRAL DO CANDIDATO *****************************/

.link-login {
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
}

.botao-login {
    border-radius: 0 !important;
    padding: 10px !important;
    width: 100% !important;
    border-color: #FFF !important;
}

#tbStatusInscricao td {
    vertical-align: middle;
}

.legenda:before,
.legend:before {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    line-height: 15px;
}

.legenda-verde:before {
    background-color: #8CA92D;
}

.botao-central-cand-right {
    float: right;
}

.botao-branco,
.botao-central-cand {
    min-width: 150px;
}

.botao-central-cand {
    margin-right: 10px;
    margin-top: 10px;
}

.btn-central-candidato {
    height: 40px;
    margin: 2px;
    border-radius: 0;
    color: #fff;
    background-color: #045a99;
}

.chk-mostar-tudo {
    color: #FFF !important;
}

/* Formatação para deixar as imagens dos Textos do EduRichText responsíveis */

#textoAreaResultadosPS img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

#textoAreaInscricaoPS img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

#textoLogin img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

#textoAreaPublicaPS img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

#textoRecuperarSenha img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

#textoLogin img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

/* ******************** */

/**************************************************** LOGIN **************************************/

.textoEsqueciSenha {
    min-height: 520px;
    /* NÃO RETIRAR, foi necessário setar o tamanho mínimo para corrigir defeito no campo data de aniversário do esqueci minha senha*/
}

/******************************************** MODAL DE RECIBO **************************************/

#modalRecibo .btn {
    padding: 6px !important;
}

.modal-header {
    background-color: #045a99;    
}

.modal-title {
    color: #FFF;
}

/******************************************** WIZARD **************************************/

.wizard-title {
    color: #fff;
    text-align: center;
  }

  .wizard {
    position: relative;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .wizard:before {
    content: "";
    border-top: 2px solid #a3b1b3;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 40px;
    position: absolute;
    top: 20px;
    z-index: 1;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .steps .step {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

  .steps .step .circle {
    z-index: 2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    color: #a3b1b3;
    font-size: 12px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps .step p {
    margin: 5px 0 5px 0;
    text-align: center;
    color: #a3b1b3;
  }

  .wizard-title .steps .step .circle {
    background-color: #fff;
    border: 2px solid #a3b1b3;
  }

  .wizard-title .steps .step.inactive .circle {
    background-color: #a3b1b3;
    color: #fff;
    cursor: not-allowed;
  }

  .wizard-title .steps .step.done .circle {
    background-color: #00da00;
    color: #fff;
    cursor: pointer;
  }

  .wizard-title .steps .step.active .circle {
     border: 3px solid #666;
     color: #000;
     background-color: #f1ebdd;
  }

  .wizard-title .steps .step.blocked .circle {
    cursor: not-allowed;
  }

  .wizard-title .steps .step.active p {
    color: #312f2f;
    font-weight: 700;
  }

  .wizard-title .steps .step p {
    font-size: 12px;
    text-transform: uppercase;
  }

  .edu-wizard-views.ng-enter,
  .edu-wizard-views.ng-leave {
      position: absolute;
      left: 30px;
      right: 30px;
      transition: .5s all ease;
      -moz-transition: .5s all ease;
      -webkit-transition: .5s all ease;
  }

  /* enter animation */
  .edu-wizard-views.ng-enter {
      -webkit-animation: slideInRight .5s both ease;
      -moz-animation: slideInRight .5s both ease;
      animation: slideInRight .5s both ease;
  }

  /* leave animation */
  .edu-wizard-views.ng-leave {
      -webkit-animation: slideOutLeft .5s both ease;
      -moz-animation: slideOutLeft .5s both ease;
      animation: slideOutLeft .5s both ease;
  }
  
  .background-wizard {
      background-color: #f2f8fb !important;
  }  

  .title-wizard {
    padding: 10px 15px !important;
    border: none !important;
    background-color: transparent !important;
    color: #0C9ABE !important;
  }

  .title-wizard::after {
    box-shadow: none !important;
  }

.title-step-wizard {
    border: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #d9d9d9;
}

.btn-wzd {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) !important;
    line-height: 1.5;
    background-color: #0C9ABE;
    color: #FFF;    
    margin-top: 45px;
}

.nav-next:hover {
    background-color: #0C9ABE;
    color: #FFF;   
}

.nav-previous, .nav-previous:hover{
    border: #0C9ABE solid 1px;
    color: #0C9ABE;
    background-color: #FFF;
}
    .btn-wzd:focus {
        color: #FFF !important;
        background-color: #0C9ABE !important;
    }

    .btn-wzd i {
        font-size: 20px !important;
    }

    .btn-wzd span {
        font-size: 20px !important;
    }

    button.btn.btn-wzd.nav-next {
        margin-left: 10px;
    }

.grupo-title {
    border: #ECEEEE solid 1px !important;
    color: #0C9ABE !important;
    background-color: #FFF !important;
}
.grupo-title span {
    color: #0C9ABE !important;
    font-weight: 700 !important;
}

.grupo-title:hover {
    background-color: transparent !important;
    border: 1px solid #ECEEEE !important;
    color: #097b98 !important;
} 

totvs-page > div {
    background-color: #f2f8fb !important;
    height: 100% !important;
}

div[ui-view] {
    height: Calc(100% - 42px) !important;
}

.nav > li > a {
    padding: 15px 15px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.botao-menu{
    color: #0C9ABE !important;
}

.item-menu:hover{
    border-color: #097b98 !important;
    background-color: transparent !important;
    color: #097b98 !important;
}

body::-webkit-scrollbar {
    width: 10px;
    overflow: auto;
}
    body::-webkit-scrollbar-thumb {
        background-color: #0c9abe;
    }
    body::-webkit-scrollbar-thumb:hover {
        background-color: #097b98;
    }

.table > thead > tr > th {
    border-bottom: 2px solid #0C9ABE !important;
}

.mobile-btn {
    margin-top: -20px !important;
    margin-bottom: 20px !important;
}


/********************************** CSS personalizado para o UNIS***********************************/
#formularioBasico, #formLogin{
    background: url('../img/background.png');
    margin-top: -20px;
    padding-top: 20px;
    height: 100%; 
    min-height: 500px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#formularioBasico div, #formLogin div{
    margin: auto;
    float: none;
}

.btn-info {background: #01375e; border-color: #FFF;}
.btn-info:hover, .btn-info:active, .btn-info:focus{background: #022c49;border-color: #FFF;}
.label-identificacao{font-weight: 100;}

@media (min-width:768px) {.label-identificacao{ margin-left: 15px;}}
@media (max-width:768px) {.label-identificacao{ margin-left: 5px;}}

#whatsapp {
    right:5px;
    margin:0;
    padding:0;
    position:fixed;
    bottom:30px;
    /*width:163px;*/
    z-index: 1001;
