<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{::'l-titulo' | i18n : [] : 'js/aluno/periodo-matricula' }}
</totvs-modal-header>

<form name="controller.model">
    <totvs-modal-body class="modal-periodoCalendario">
        <section class="panel">

            <span ng-if="controller.model.DTINICIOMATRICULA != null &&
                         controller.model.DTFINMATRICULA != null">            
            
                <h4>{{ 'l-periodo-matricula-presencial' | i18n : [] : 'js/aluno/periodo-matricula' }}</h4>
                <hr ng-style="{'margin-top': '0', 'margin-bottom': '0'}">            
                <div class="panel-body">

                    <totvs-list-item-info title="{{ 'l-inicio-matricula-presencial' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.DTINICIOMATRICULA | date: 'dd/MM/yyyy'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-inicio-horario-presencial' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.HRINICIOMATRICULA | date: 'hh:mm'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-final-matricula-presencial' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.DTFINMATRICULA | date: 'dd/MM/yyyy'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-final-horario-presencial' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.HRFINMATRICULA | date: 'hh:mm'}}">
                    </totvs-list-item-info>

                </div>
            </span>

            <span ng-if="controller.model.DTINICIOALTERACAOPROGRAMA != null &&
                         controller.model.DTFIMALTERACAOPROGRAMA != null">

                <h4>{{ 'l-periodo-matricula-online' | i18n : [] : 'js/aluno/periodo-matricula' }}</h4>
                <hr ng-style="{'margin-top': '0', 'margin-bottom': '0'}">
            
                <div class="panel-body">
                    <totvs-list-item-info title="{{ 'l-inicio-matricula-online' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.DTINICIOALTERACAOPROGRAMA | date: 'dd/MM/yyyy'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-inicio-horario-matricula-online' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.HRINICIOALTERACAOPROGRAMA | date: 'hh:mm'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-final-matricula-online' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.DTFIMALTERACAOPROGRAMA | date: 'dd/MM/yyyy'}}">
                    </totvs-list-item-info>

                    <totvs-list-item-info title="{{ 'l-final-horario-matricula-online' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.HRFIMALTERACAOPROGRAMA | date: 'hh:mm'}}">
                    </totvs-list-item-info>

                </div>
            </span>

            <span ng-if="controller.model.DTLIMITETRANCAMENTO != null">
                <h4>{{ 'l-trancamento' | i18n : [] : 'js/aluno/periodo-matricula' }}</h4>
                <hr ng-style="{'margin-top': '0', 'margin-bottom': '0'}">

                <div class="panel-body">
                    <totvs-list-item-info title="{{ 'l-data-limite-trancamento' | i18n : [] : 'js/aluno/periodo-matricula' }}" 
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                    value="{{controller.model.DTLIMITETRANCAMENTO | date: 'dd/MM/yyyy'}}">
                    </totvs-list-item-info>
                </div>                
            </span>
          
        </section>
    </totvs-modal-body>
</form>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-click="controller.modalInstance.dismiss()">{{::'btn-fechar' | i18n : [] : 'js/aluno/periodo-matricula' }}</button>
</totvs-modal-footer>
