<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <totvs-page-header-title title="{{ controller.model.disciplinaInfo.NOME }}">
                </totvs-page-header-title>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="well pageListagemAulas-panel-situacaomattricula">{{controller.model.disciplinaInfo.DESCRICAO}}</div>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content class="dadosDisciplina">
        <totvs-page-detail>
            <div class="media">
                <div class="media-body">
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-codigo-disciplina' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.CODDISC }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-if="!controller.apresentacaoEB" title="{{ ::'l-creditos' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.NUMCREDITOS | number : 2 }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-cargahoraria-ch' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.CH | number : 2 }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-turma' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.CODTURMA }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info ng-if="controller.model.disciplinaInfo.CODSUBTURMA" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-subturma' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.CODSUBTURMA }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-tipo' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.TIPOGRADE }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-periodo' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.DESCPERIODO }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-4 col-md-4 col-sm-12 col-xs-12" title="{{ ::'l-periodo-letivo' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.textoPeriodoLetivoSelecionado }}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info class="col-lg-8 col-md-8 col-sm-12 col-xs-12" title="{{ ::'l-filial' | i18n : [] : 'js/aluno/disciplina' }}:" value="{{ controller.model.disciplinaInfo.NOMEFILIAL }}">
                    </totvs-page-detail-info>
                    <br />
                    <totvs-page-detail-info class="col-lg-12 col-md-12 col-sm-12 col-xs-12" title="{{ ::'l-professores' | i18n : [] : 'js/aluno/disciplina' }}:">
                        <span class="edu-icone-separador-a-direita" ng-if="(controller.model.professoresDiscInfo.length != 0)" ng-repeat="professor in controller.model.professoresDiscInfo">
                            <span class="edu-icone-pessoa"></span>
                            <span> {{professor.NOME}} </span>
                        </span>
                    </totvs-page-detail-info>
                </div>
            </div>
            <section>
                <totvs-tabset>
                    <totvs-tab active="controller.activeTabTCC" ng-if="controller.isTCC" heading="{{ ::'l-tcc-sigla' | i18n : [] : 'js/aluno/disciplina' }}">
                        <totvs-tabset>
                            <totvs-tab heading="{{ ::'l-tcc-informacoes' | i18n : [] : 'js/aluno/tcc' }}">
                                <div ui-view="informacoestcc"></div>
                            </totvs-tab>
                            <totvs-tab heading="{{ ::'l-tcc-acompanhamento' | i18n : [] : 'js/aluno/tcc' }}">
                                <div ui-view="acompanhamentotcc"></div>
                            </totvs-tab>
                            <totvs-tab heading="{{ ::'l-tcc-banca' | i18n : [] : 'js/aluno/tcc' }}">
                                <div ui-view="tccbanca"></div>
                            </totvs-tab>
                            <totvs-tab heading="{{ ::'l-tcc-arquivo-final' | i18n : [] : 'js/aluno/tcc' }}">
                                <div ui-view="arquivofinaltcc"></div>
                            </totvs-tab>
                        </totvs-tabset>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabAulas" ng-if="controller.exibeTab('aulas')" heading="{{ ::'l-aulas' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="aulas"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabInformacoes" ng-if="controller.exibeTab('disciplina')" heading="{{ ::'l-informacoes' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="informacoes"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabFaltas" ng-if="controller.exibeTab('faltas')" heading="{{ ::'l-faltas' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="faltas"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabAvaliacoes" ng-if="controller.exibeTab('avaliacoes')" heading="{{ ::'l-avaliacoes' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="avaliacoes"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabEntregas" ng-if="controller.exibeTab('entregas')" heading="{{ ::'l-entregas' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="entregas"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabMateriais" ng-if="controller.exibeTab('materiais')" heading="{{ ::'l-materiais' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="materiais"></div>
                    </totvs-tab>
                    <totvs-tab active="controller.activeTabOcorrencias" ng-if="controller.exibeTab('ocorrencias')" heading="{{ ::'l-ocorrencias' | i18n : [] : 'js/aluno/disciplina' }}">
                        <div ui-view="ocorrencias"></div>
                    </totvs-tab>
                </totvs-tabset>
            </section>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
