<totvs-page type="list">
    <span ng-controller="eduMovimentacaoAcademicaController as controller">
        <totvs-page-header class="pageHeader row"
        ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].TIPOINGRESSO == null &&
                 controller.InfoCurso.SHabilitacaoAluno[0].DTINGRESSO == null &&
                 controller.InfoCurso.SHabilitacaoAluno[0].CR == null &&
                 controller.InfoCurso.SHabilitacaoAluno[0].MEDIAGLOBAL == null &&
                 controller.InfoCurso.SHabilitacaoAluno[0].DTCONCLUSAOCURSO == null">
            <span class="well mov-academico .col-xs-* col-sm-* .col-md-* .col-lg-*" ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].TIPOINGRESSO == null
            ">
                <label>{{::'l-tipo-ingresso' | i18n : [] : 'js/aluno/dados-pessoais' }}</label>
                <span class="mov-conteudo">{{controller.InfoCurso.SHabilitacaoAluno[0].TIPOINGRESSO}}</span>
            </span>
            <span class="well mov-academico .col-xs-* col-sm-* .col-md-* .col-lg-*" ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].DTINGRESSO == null">
                <label>{{::'l-data-ingresso' | i18n : [] : 'js/aluno/dados-pessoais'}}</label>
                <span class="mov-conteudo">{{controller.InfoCurso.SHabilitacaoAluno[0].DTINGRESSO | date:'dd/MM/yyyy'}}</span>
            </span>

            <span class="well mov-academico .col-xs-* col-sm-* .col-md-* .col-lg-*" ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].CR == null">
                <label>{{::'l-coeficiente-rendimento' | i18n : [] : 'js/aluno/dados-pessoais'}}</label>
                <span class="mov-conteudo">{{controller.InfoCurso.SHabilitacaoAluno[0].CR}}</span>
            </span>

            <span class="well mov-academico .col-xs-* col-sm-* .col-md-* .col-lg-*" ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].MEDIAGLOBAL == null">
                <label>{{::'l-media-global' | i18n : [] : 'js/aluno/dados-pessoais'}}</label>
                <span class="mov-conteudo">{{controller.InfoCurso.SHabilitacaoAluno[0].MEDIAGLOBAL}}</span>
            </span>

            <span class="well mov-academico .col-xs-* col-sm-* .col-md-* .col-lg-*" ng-hide="controller.InfoCurso.SHabilitacaoAluno[0].DTCONCLUSAOCURSO == null">
                <label>{{::'l-conclusao-curso' | i18n : [] : 'js/aluno/dados-pessoais'}}</label>
                <span class="mov-conteudo">{{controller.InfoCurso.SHabilitacaoAluno[0].DTCONCLUSAOCURSO | date:'dd/MM/yyyy'}}</span>
            </span>
        </totvs-page-header>

        <span ng-hide="controller.ContextoEnsinoBasico">
            <br>
            <br>
            <h4>
                <b>{{ ::'l-enade' | i18n : [] : 'js/aluno/dados-pessoais' }}</b>
            </h4>
            <totvs-grid grid-data="controller.DadosEnade"
                        grid-options="controller.gridOptionsEnade">
                <totvs-grid-column width="30px" template="controller.EnadePeriodo" class="gridRow">
                    {{::'l-periodo-letivo' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </totvs-grid-column>
                <totvs-grid-column width="30px" template="controller.EnadeData" class="gridRow">
                    {{::'l-enade-data-prova' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </totvs-grid-column>
                <totvs-grid-column width="40px" template="controller.EnadeSituacaoAlunoENADE" class="gridRow">
                    {{::'l-enade-situacao-aluno' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </totvs-grid-column>
                <totvs-grid-column width="40px" class="gridRow" template="controller.EnadeSituacaoAlunoMEC">
                    {{::'l-enade-situacao-aluno-mec' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </totvs-grid-column>
                <totvs-grid-column width="30px" class="gridRow" template="controller.EnadeStatusComparecimento">
                    {{::'l-enade-status-comparecimento' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </totvs-grid-column>
            </totvs-grid>

            <br>
        </span>
        <br>
        <br>
        <h4>
            <b>{{ ::'l-movimentacao-academica' | i18n : [] : 'js/aluno/dados-pessoais' }}</b>
        </h4>
        <totvs-page-header class="pageHeader">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label ng-style="{'float': 'left'}" for="edu-selecao-periodoletivo">{{ ::'l-periodo-letivo' | i18n : [] : 'js/aluno/dados-pessoais' }}:</label>
                    <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
                </div>
            </div>
        </totvs-page-header>
        <totvs-grid grid-data="controller.MovimentacaoAcademica"
                    grid-options="controller.gridOptionsMovimentacaoAcademica">
            <totvs-grid-column width="10%" Field="DTALTERACAO" template="controller.MovimentacaoAcademicaData" class="gridRow">
                {{::'l-data-movimentacao' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column width="12%" Field="STATUSANT" template="controller.MovimentacaoAcademicaSituacaoMatriculaAnterior" class="gridRow">
                {{::'l-situacao-matricula-anterior' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column width="12%" Field="STATUS" class="gridRow" template="controller.MovimentacaoAcademicaSituacaoMatricula">
                {{::'l-situacao-matricula' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column width="12%" Field="CODTURMA" class="gridRow" template="controller.MovimentacaoAcademicaTurma">
                {{::'l-turma' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column width="35%" Field="MOTIVO" class="gridRow" template="controller.MovimentacaoAcademicaMotivo">
                {{::'l-motivo' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
        </totvs-grid>
    </div>
</totvs-page>
