<!DOCTYPE html>
<html>
<head>
    <title>Portal do Aluno</title>

    <!-- start: Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">

    <meta name="description" content="TOTVS Portal - TOTVS Educacional">
    <meta name="keywords" content="totvs">
    <meta name="author" content="totvs">
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- end: Meta -->

    <!-- start: Favicon and Touch Icons -->
    <link rel="shortcut icon" href="../../../../../../../assets/img/favicon.ico" type="image/x-icon">
    <!-- end: Favicon and Touch Icons -->
    <link rel="stylesheet" href="../../../../../../../js/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../../../js/libs/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="../../../../../../../js/libs/angular-ui-select/dist/select.min.css">

</head>

<body>
    <div ng-cloak class="align" ng-controller="eduServicoCieloController as controller">
        <div class="container">
            <!-- LOADING -->
            <div id="loading-screen" class="overlay" ng-if="pendingRequests > 0">
                <img src="../../../../../../../assets/img/loading.gif">
                <p class="text-center text-muted">{{ ::'loading' | i18n }}</p>
            </div>
        </div>
    </div>

    <script src="../../../../../../../js/libs/jquery/dist/jquery.js"></script>
    <script src="../../../../../../../js/libs/angular/angular.js"></script>
	<script src="../../../../../../../js/libs/angular-ui-select/dist/select.min.js"></script>

    <script src="../../../../../../../js/libs/angular-resource/angular-resource.js"></script>
    <script src="../../../../../../../js/libs/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="../../../../../../../js/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../../../../../../js/libs/angular-animate/angular-animate.js"></script>
    <script src="../../../../../../../js/libs/angular-scroll/angular-scroll.min.js"></script>
    <script src="../../../../../../../js/libs/angular-nestable/src/angular-nestable.js"></script>

    <script src="../../../../../../../js/libs/js-cookie/src/js.cookie.js"></script>

    <script src="../../../../../../../js/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../../../../../../js/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../../../../../../js/libs/AngularJS-Toaster/toaster.js"></script>

    <script src="../../../../../../../js/libs/angular-hotkeys/build/hotkeys.js"></script>

    <script src="../../../../../../../js/libs/ngMask/dist/ngMask.min.js"></script>
    

    <script src="../../../../../../../js/libs/telerik.kendoui/js/kendo.all.min.js"></script>
    <script src="../../../../../../../js/libs/totvs-html-framework/totvs-html-framework.min.js"></script>

    <!-- Script de configuração global(CONSTANTES) -->
    <script src="../../../../../../../js/totvs-app.global.config.js"></script>

    <!-- Script de configuração global(CONSTANTES) para o Edu-Portal Educacional -->
    <script src="../../../edu-contantes.global.config.js"></script>

    <!-- Script de Controller Login -->
    <script src="servico-cielo.controller.js"></script>
</body>
</html>
