<totvs-page type="list">
    <totvs-page-header class="pageHeader titulo">
        <totvs-page-header-title>
            {{ controller.titulo }}
        </totvs-page-header-title>
    </totvs-page-header>
    <totvs-page-content>
        <div class="pageContent pageListagemAulas portalAntigo">
            <br>
        <totvs-page-alert type="info" message="">
            <span class="glyphicon ico-alert-triangle" ></span> {{ ::'l-info-portal-antigo' | i18n : [] : 'js/setup' }}
        </totvs-page-alert>
        <totvs-list-item class="tag-6" ng-repeat="item in controller.model">
            <totvs-list-item-header>
                <totvs-list-item-info value="{{item.Name}}" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                </totvs-list-item-info>
                <totvs-list-item-action limit-primary-action="0" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <action icon="glyphicon ico-upload" ng-click="controller.redirect(item.Url)">
                        {{'l-acessar' | i18n : [] : 'js/setup'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
        </totvs-list-item>
        </div>
    </totvs-page-content>
</totvs-page>
