<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title>
        {{ ::'l-titulo' | i18n : [] : 'js/aluno/financeiro/negociacao' }} :
        </totvs-page-header-title>
    </totvs-page-header>

    <totvs-page-content>

	</totvs-page-content>
</totvs-page>
