<div ng-controller="EduWidgetsNotaAlunoXTurmaAvaliacaoController as controller" class="widgetNotas">
    <totvs-widget>
        <totvs-widget-header title="{{'l-notas-x-turma-avaliacao' | i18n : [] : 'js/widgets'}}">
        </totvs-widget-header>

        <totvs-widget-body>
            <totvs-row>
                <!-- Utilizar este quando atualizar a frame para 12.1.15
                    <totvs-field
                    label="{{'l-disciplina' | i18n : [] : 'js/widgets'}}"
                    totvs-combo
                    class="col-*-6"
                    ng-required="true"
                    ng-change="controller.changeDisciplina()"
                    t-options="controller.objDisciplinaList"
                    ng-model="controller.selectedDisciplina">
                    </totvs-field>
                -->
                <field
                       type="combo"
                       class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                       ng-model="controller.selectedDisciplina"
                       label="{{'l-disciplina' | i18n : [] : 'js/widgets'}}"
                       ng-change="controller.changeDisciplina()"
                       ng-options="objDisciplina as objDisciplina.label for objDisciplina in controller.objDisciplinaList">
                </field>

                <!-- Utilizar este quando atualizar a frame para 12.1.15
                    <totvs-field
                    label="{{'l-etapa' | i18n : [] : 'js/widgets'}}"
                    totvs-combo
                    class="col-*-6"
                    ng-required="true"
                    ng-change="controller.changeEtapa()"
                    t-options="controller.objEtapaList"
                    ng-model="controller.selectedEtapa">
                    </totvs-field>
                -->
                <field
                       type="combo"
                       class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                       ng-model="controller.selectedEtapa"
                       label="{{'l-etapa' | i18n : [] : 'js/widgets'}}"
                       ng-change="controller.changeEtapa()"
                       ng-options="objEtapa as objEtapa.label  for objEtapa in controller.objEtapaList">
                </field>
            </totvs-row>
            <totvs-row>
                <totvs-chart
                    t-title="{{controller.objWidget.NOME}}"
                    t-title-position="top"
                    t-type-chart="column"
                    t-categories="controller.objAvaliacaoList"
                    t-series="controller.objNotaList"
                    t-set-export="controller.setFnExport"
                    t-value-axis='controller.valueAxis'
                    ng-if="controller.hasNota">
                </totvs-chart>
            </totvs-row>

            <br clear="all" />

            <totvs-row>
                <totvs-page-alert style="margin-right: 20px;" ng-if="!controller.hasNota && !controller.isNotaConceitual" type="info" message="">
                    <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhuma-Nota-Inserida' | i18n : [] : 'js/widgets' }}
                </totvs-page-alert>
                <totvs-page-alert style="margin-right: 20px;" ng-if="controller.isNotaConceitual" type="info" message="">
                    <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nota-tipo-concentual' | i18n : [] : 'js/widgets' }}
                </totvs-page-alert>
            </totvs-row>

        </totvs-widget-body>

        <!--
        <totvs-widget-footer ng-if="controller.hasNota">

            <totvs-widget-footer-actions>
            <action ng-click='controller.exportToPdf()'>{{'l-exportar' | i18n : [] : 'js/widgets'}}</action>
            </totvs-widget-footer-actions>

        </totvs-widget-footer>
        -->
    </totvs-widget>
</div>
