<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{controller.avaliacao.SProvas[0].DESCRICAO}}
</totvs-modal-header>
<totvs-modal-body class="">
        <totvs-tabset>
            <totvs-tab heading="{{::'l-avaliacao' | i18n : [] : 'js/aluno/avaliacoes' }}">
                <section class="panel modal-InfoAvaliacao">
                    <div class="panel-body">
                        <div class="well panel-situacaoResultado" ng-if="controller.avaliacao.SProvas[0].situacaoResultado != null">
                            <label>{{::'l-situacaoResultado' | i18n : [] : 'js/aluno/avaliacoes' }}&nbsp;</label>
                            <span>{{controller.avaliacao.SProvas[0].situacaoResultado}}</span>
                        </div>
                        <totvs-list-item-info title="{{::'l-disciplina' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].DISCIPLINA}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-avaliacao' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].DESCRICAO}}"
                                            class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-etapa' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].DESCETAPA}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-data' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].DTPROVA | date: 'dd/MM/yyyy'}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-valor' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].VALOR | number: 2 }}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-media' | i18n : [] : 'js/aluno/avaliacoes' }}"
                                            value="{{controller.avaliacao.SProvas[0].MEDIA | number: 2 }}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-nota' | i18n : [] : 'js/aluno/avaliacoes' }}"
                            ng-if="controller.avaliacao.SProvas[0].nota != null">
                            <span ng-bind-html="controller.avaliacao.SProvas[0].nota"></span>
                        </totvs-list-item-info>
                    </div>
                </section>
            </totvs-tab>

            <totvs-tab ng-if="controller.showtabAvalDescritiva" heading="{{::'l-avaliacao-descritiva' | i18n : [] : 'js/aluno/avaliacoes' }}">
                <div ng-include="'js/aluno/avaliacoes/avaliacoes-descritiva-detail.view.html'"></div>
            </totvs-tab>
        </totvs-tabset>


        <div style="clear:both;"></div>
</totvs-modal-body>
<totvs-modal-footer>
    <button ng-click="controller.VerAula();" class="btn btn-primary" ng-hide="controller.hideVerAula">{{::'l-verAula' | i18n : [] : 'js/aluno/avaliacoes' }}</button>
    <button ng-click="controller.VerDisciplina();" class="btn btn-primary" ng-hide="controller.hideVerDisciplina">{{::'l-verDisciplina' | i18n : [] : 'js/aluno/avaliacoes' }}</button>
</totvs-modal-footer>
