<totvs-page type="list">
    <div ng-controller="eduAvaliacoesController as controller">
        <totvs-page-header class="pageHeader">
            <fieldset ng-if="!controller.ehTelaDisciplina" class="row label-subtitulo">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4><label ng-style="{'float': 'left'}" for="cmbSelecaoTurmaDisciplina">{{ ::'l-disciplinas' | i18n : [] : '' }}:</label></h4>
                    <edu-selecao-turmadisciplina
                        id="cmdSelecaoTurmaDisciplina"
                        ng-model="controller.disciplina"
                        data-refresh="controller.refresh"
                        ng-if="!controller.ehTelaDisciplina"
                        ng-change="controller.disciplinaAlterada"
                        label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
                    </edu-selecao-turmadisciplina>
                </div>
            </fieldset>
            <totvs-page-tags>
                <tag class="legenda legenda-verde legenda-content-1">{{::'l-acimaMedia' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
                <tag class="legenda legenda-vermelho legenda-content-2">{{::'l-abaixoMedia' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
                <tag class="legenda legenda-amarelo legenda-content-3">{{::'l-aguardandoNota' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
                <tag class="legenda legenda-azul legenda-content-4">{{::'l-pendente' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
                <tag class="legenda legenda-laranja legenda-content-5">{{::'l-perdida' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
                <tag ng-show="controller.possuiAvaliacaoDescritiva" class="legenda legenda-cinza legenda-content-6">{{::'l-avaliacao-descritiva' | i18n : [] : 'js/aluno/avaliacoes'}}</tag>
            </totvs-page-tags>
        </totvs-page-header>
        <br>

        <totvs-page-content class="avaliacaoInstitucional">
            <div ng-hide="controller.avaliacoesFiltradas.length === 0">
                <totvs-grid grid-options="controller.gridOptions" grid-data="controller.avaliacoesFiltradas" on-data="controller.onData(data)"
                    grid="controller.myGrid">
                </totvs-grid>
            </div>

            <totvs-page-alert ng-hide="controller.avaliacoesFiltradas.length !== 0" type="info" message="">
                <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : '' }}
            </totvs-page-alert>
        </totvs-page-content>

    </div>
</totvs-page>
