<totvs-page type="list">
	<div ng-controller="eduAvaliacoesDescritivaController as ctrl">
		<div class="alert alert-info" role="alert" ng-if="ctrl.avalDescritivaNaoExecutada">
            <div class="row">
                <div class="col-sm-1 glyphicon glyphicon-info-sign" style="font-size: 40px;"></div>
                <div class="col-sm-11">{{ ::'l-msg-aval-nao-executada' | i18n : [] : 'js/aluno/avaliacoes' }}</div>
            </div>
        </div>
        <div ng-if="!ctrl.avalDescritivaNaoExecutada">
            <totvs-page-header>
                <totvs-page-navbar>
                    <div class="page-tags">
                        <dl ng-style="{'margin-bottom':'0px'}">
                            <dt>{{ctrl.AvaliacoesDescritivas.DescricaoProva}}</dt>
                            <dd data-ng-bind-html="ctrl.legenda"></dd>
                        </dl>
                    </div>
                </totvs-page-navbar>
            </totvs-page-header>
            <totvs-page-content class="modal-scroll">
                <totvs-list-item id="avaliacao{{avaliacoes.id}}" class="tag-2" ng-repeat="questao in ctrl.AvaliacoesDescritivas.Questoes">
                    <totvs-list-item-header>
                        <totvs-list-item-title
                            title="{{questao.SequenciaQuestao}} - {{questao.DescricaoQuestao}}"
                            class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        </totvs-list-item-title>
                    </totvs-list-item-header>
                    <totvs-list-item-content>
                        <div class="media">
                            <div class="media-left">
                                <totvs-list-item-info ng-if="questao.IdImagem">
                                    <edu-img-foto
                                        src="questao.Imagem"
                                        src-original="questao.Imagem"
                                        css-class="media-object img-foto"
                                        default-src="assets/img/image-not-found.png"
                                        alt="questao.IdImagem">
                                    </edu-img-foto>
                                </totvs-list-item-info>
                            </div>
                            <div class="media-body">

                                <totvs-list-item-info
                                    ng-if="ctrl.ehQuestaoAberta(questao.TpQuestao)"
                                    ng-repeat="opcao in questao.Opcoes"
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                    value-break="true">
                                        <span class="">{{opcao.RespostaUsuario}}</span>
                                </totvs-list-item-info>

                                <totvs-list-item-info
                                    ng-if="ctrl.ehQuestaoExclusivaOuMultipla(questao.TpQuestao)"
                                    ng-repeat="opcao in questao.Opcoes"
                                    title=""
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                    value-break="true">
                                        <span ng-bind-html="ctrl.formataAlternativa(opcao.RespostaUsuario, opcao.CodOpcao,  opcao.DescricaoOpcao)"></span>
                                </totvs-list-item-info>

                            </div>
                        </div>
                    </totvs-list-item-content>
                </totvs-list-item>
            </totvs-page-content>
        </div>
	</div>
</totvs-page>
