<div class="page-form">
<form name="controller.formDadosProfissionais" class="form-horizontal row">
    <fieldset>
        <totvs-field
            totvs-input
            label="{{ ::'l-empresa' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaNome.value"
            ng-if="controller.Aluno.empresaNome.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaNome.readOnly"
            maxlength="60"
            canclean>
        </totvs-field>
        <field
            type="combo"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            label="{{ ::'l-cargo' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.codOcupacao.value"
            ng-if="controller.Aluno.codOcupacao.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.codOcupacao.readOnly"
            ng-options="cargo.CODCLIENTE as cargo.DESCRICAO for cargo in controller.listCargos | orderBy: 'DESCRICAO'">
        </field>
    </fieldset>
    <fieldset>
    <legend>{{ ::'l-endereco' | i18n : [] : 'js/aluno/dados-pessoais' }}</legend>
        <field
            label="{{ ::'l-cep' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaCep.value"
            mask="{{controller.MascarasSistema.mascaraCEP}}"
            ng-if="controller.Aluno.empresaCep.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaCep.readOnly"
            ng-blur="controller.buscarEnderecoCEP('dados-profissionais')"
            canclean>
        </field>
        <totvs-field
            totvs-input
            label="{{ ::'l-logradouro' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-8 col-md-8 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaRua.value"
            ng-if="controller.Aluno.empresaRua.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaRua.readOnly"
            maxlength="40"
            canclean>
        </totvs-field>
        <totvs-field
            totvs-input
            label="{{ ::'l-numero' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-6"
            ng-model="controller.Aluno.empresaNumero.value"
            ng-if="controller.Aluno.empresaNumero.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaNumero.readOnly"
            maxlength="10"
            canclean>
        </totvs-field>
        <totvs-field
            totvs-input
            label="{{ ::'l-complemento' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-8 col-md-8 col-sm-6 col-xs-6"
            ng-model="controller.Aluno.empresaComplemento.value"
            ng-if="controller.Aluno.empresaComplemento.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaComplemento.readOnly"
            maxlength="20"
            canclean>
        </totvs-field>
        <totvs-field
            totvs-input
            label="{{ ::'l-bairro' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaBairro.value"
            ng-if="controller.Aluno.empresaBairro.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaBairro.readOnly"
            maxlength="30"
            canclean>
        </totvs-field>
        <totvs-field
            totvs-input
            label="{{ ::'l-cidade' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaCidade.value"
            ng-if="controller.Aluno.empresaCidade.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaCidade.readOnly"
            maxlength="40"
            canclean>
        </totvs-field>
        <field
            type="combo"
            label="{{ ::'l-estado' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            ng-model="controller.Aluno.empresaUF.value"
            ng-if="controller.Aluno.empresaUF.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaUF.readOnly"
            ng-options="estado.CODETD as estado.NOME for estado in controller.listEstados">
        </field>
        <field
            label="{{ ::'l-telefone-empresa' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-3 col-md-3 col-sm-6 col-xs-6"
            ng-model="controller.Aluno.empresaTelefone.value"
            ng-if="controller.Aluno.empresaTelefone.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaTelefone.readOnly"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            canclean>
        </field>
        <totvs-field
            totvs-input
            label="{{ ::'l-horario-trabalho' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-3 col-md-3 col-sm-6 col-xs-6"
            ng-model="controller.Aluno.empresaHorario.value"
            ng-if="controller.Aluno.empresaHorario.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaHorario.readOnly"
            maxlength="50"
            canclean>
        </totvs-field>
        <totvs-divider></totvs-divider>
        <button ng-click="controller.atualizarDadosPessoais('dados-profissionais')"
                ng-if="controller.permiteAlterarDadosPessoais"
                class="btn btn-default btn-group-dp">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                {{controller.textoBotaoAtualizacao()}}</button>
    </fieldset>
</form>
</div>
