<!DOCTYPE html>
<html>

<head>
    <title>Consulta Pública de Diplomas</title>

    <!-- start: Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">

    <meta name="description" content="TOTVS Portal - TOTVS Educacional">
    <meta name="keywords" content="totvs">
    <meta name="author" content="totvs">
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- end: Meta -->

    <!-- start: Favicon and Touch Icons -->
    <link rel="shortcut icon" href="../../../assets/img/favicon.ico" type="image/x-icon">
    <!-- end: Favicon and Touch Icons -->
    <link rel="stylesheet" href="../../../../../../js/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../../js/libs/AngularJS-Toaster/toaster.min.css">

    <link rel="stylesheet" href="../../../login/assets/css/animacao.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../../../login/assets/css/style.css">
    <link rel="stylesheet" href="../../../login/assets/css/customProviders.css">
</head>

<body ng-cloak class="align" ng-controller="eduDiplomaController as controller">

    <!-- Component TOASTER -->
    <toaster-container toaster-options="{'time-out':3000, 'close-button': true}"></toaster-container>

    <!-- LOGIN FORM -->
    <div class="container" id="formPesquisa">
        <!-- LOADING -->
        <div id="loading-screen" class="overlay" ng-if="constroller.hasPendingRequests();">
            <img src="../../../assets/img/loading.gif">
            <p class="text-center text-muted">{{ ::'loading' | i18n }}</p>
        </div>
        <div class="logoDiploma">
            <img src="../../../login/assets/img/logo-responsivo.png" alt="marca">
        </div>

        <div class="diploma-box" ng-if="controller.Submitted == false && controller.listaResultado.length == 0">
            <div class="box-header">
                <h1>{{ ::'l-portal-diploma' | i18n }}</h1>
            </div>
            <form ng-if="controller.Submitted == false && controller.listaResultado.length == 0" name="eduDiplomaController.formLogin" method="POST" class="form login" ng-submit="eduDiplomaController.formLogin.$invalid && $event.preventDefault()">

                <div class="form__field">
                    <label for="CampoPesquisa">
                        <object data="../../../login/assets/img/alias.svg" width="26px" height="26px" type="image/svg+xml">
                            <img src="../../../login/assets/img/alias.png" alt="alias.svg" />
                        </object>
                        <span class="hidden">{{ ::'l-alias' | i18n }}</span>
                    </label>

                    <select id="CampoPesquisa" name="CampoPesquisa" tabindex="3" class="form__input selection" ng-change="controller.setMask()" ng-model="controller.CampoSelecionado" required>
                        <option value="{{campo.Codigo}}" ng-repeat="campo in controller.ListaCampos">{{campo.Descricao}}</option>
                    </select>
                </div>

                <div class="form__field">
                    <label for="ValorPesquisa">
                        <object data="../../../login/assets/img/user.svg" width="26px" height="26px" type="image/svg+xml"><img src="../../../login/assets/img/user.png" alt="user.svg" /></object>
                        <span class="hidden">{{ ::'l-usuario' | i18n }}</span>
                    </label>
                    <input id="ValorPesquisa" ui-mask="{{controller.Mask}}" ng-model="controller.ValorPesquisa" type="text" tabindex="1" name="ValorPesquisa" class="form__input" required>
                </div>

                <div vc-recaptcha class="form__field" key="controller.keyRecaptcha" ng-model="controller.recaptchaResponse" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>

                <div class="form__field">
                    <input type="submit" ng-click="controller.buscar()" tabindex="4" value="{{ ::'l-pesquisar' | i18n }}">
                </div>
            </form>
        </div>

        <table ng-if="controller.nenhumResultado" style="background: white;width: 100%;border: 1px solid #e2e2e2;border-radius: 0.25rem;margin-top: 15px;">
            <thead>
            <td colspan="6" style="text-align: center;background-color: #08687e;">
                <h4 style="color:white"><strong>{{::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/grade-curricular'}}</strong></h4>
            </td>
            </thead>
        </table>

        <table ng-if="controller.Submitted == true && controller.listaResultado.length > 0" style="background: white;width: 100%;border: 1px solid #e2e2e2;border-radius: 0.25rem;margin-top: 15px;">
            <thead>
            <td colspan="6" style="text-align: center;background-color: #08687e;">
                <h4 style="color:white !important;"><strong>Resultado da consulta</strong></h4>
            </td>
            </thead>
            <tbody ng-repeat="diploma in controller.listaResultado" style="margin-bottom: 5px;">
                <tr style="height: 36px;padding: 5px;">
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-nomeAluno' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:30%;padding: 5px;">
                        {{diploma.NOME}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-cpf' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:15%;padding: 5px;">
                        {{diploma.CPF}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-dataIngresso' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:15%;padding: 5px;">
                        {{diploma.DTINGRESSO | date: 'dd/MM/yyyy'}}
                    </td>
                </tr>
                <tr style="height: 36px;">
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-nomeCurso' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.NOMECURSO}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-eMECCurso' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.CODINEPCURSO}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-dataConclusao' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.DTCONCLUSAOCURSO | date: 'dd/MM/yyyy'}}
                    </td>
                </tr>
                <tr style="height: 36px;">
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-nomeExpeditora' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.NOMEEXPEDIDORA}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-eMECExpeditora' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.CODEMECEXPEDIDORA}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-dataExpedicao' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.DTEMISDIPLOMA | date: 'dd/MM/yyyy'}}
                    </td>
                </tr>
                <tr style="height: 36px;">
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-nProcessoRegistro' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.PROCESSOREGISTRO}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-numeroRegistro' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.REGISTROCONCLUSAO}}
                    </td>
                    <td style="width:13%;padding: 5px;">
                        <strong>{{::'l-dataPublicacaoDOU' | i18n : [] : 'js/aluno/diploma' }}:</strong>
                    </td>
                    <td style="width:20%;padding: 5px;">
                        {{diploma.DTEMISSAODOU  | date: 'dd/MM/yyyy'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="controller.Submitted == true && controller.listaResultado.length > 0" style="text-align: right;">
            <input type="submit" class="botaoVoltar" ng-click="controller.voltar()" value="Voltar">
        </div>
    </div>

    <script src="../../../../../../js/libs/jquery/dist/jquery.js"></script>
    <script src="../../../../../../js/libs/angular/angular.js"></script>
    <script src="../../../../../../js/libs/angular-ui-select/dist/select.min.js"></script>
    <script src="../../../../../../js/libs/angular-resource/angular-resource.js"></script>
    <script src="../../../../../../js/libs/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="../../../../../../js/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../../../../../js/libs/angular-animate/angular-animate.js"></script>
    <script src="../../../../../../js/libs/angular-scroll/angular-scroll.min.js"></script>
    <script src="../../../../../../js/libs/angular-nestable/src/angular-nestable.js"></script>
    <script src="../../../../../../js/libs/angular-ui-mask/dist/mask.min.js"></script>

    <script src="../../../../../../js/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../../../../../js/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../../../../../js/libs/AngularJS-Toaster/toaster.js"></script>

    <script src="../../../../../../js/libs/angular-hotkeys/build/hotkeys.js"></script>

    <script src="../../../../../../js/libs/ngMask/dist/ngMask.min.js"></script>

    <script src="../../../../../../js/libs/telerik.kendoui/js/kendo.all.min.js"></script>
    <script src="../../../../../../js/libs/totvs-html-framework/totvs-html-framework.min.js"></script>

    <!-- Script d../../../../../.. global(CONSTANTES) -->
    <script src="../../../../../../js/totvs-app.global.config.js"></script>

    <!-- Script de configuração global(CONSTANTES) para o Edu-Portal Educacional -->
    <script src="../../../js/edu-contantes.global.config.js"></script>

    <!-- Recaptcha Google-->
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&amp;render=explicit"></script>
    <script src="angular-recaptcha.min.js"></script>

    <!-- Script de diploma.controller -->
    <script src="diploma.controller.js"></script>
</body>

</html>
