<div class="modal fade" id="modalDisciplinasExtras" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelmodalDisciplinasExtras">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{::'l-disciplinasExtras' | i18n : [] : 'js/aluno/matricula'}}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <form class="form-inline" style="margin-left: -15px;">
                            <div class="form-group col-sm-10" style="margin-bottom: 10px;">
                                <label for="filtroDisciplina" class="field-label">
                                    {{::'l-pesquisarDisciplina' | i18n : [] : 'js/aluno/matricula'}}: 
                                </label>
                                <input type="text" class="form-control" id="filtroDisciplina" style="width:97%;">
                            </div>
                            <span class="col-sm-2" style="padding-top: 18px;">
                                <button type="button" class="btn btn-primary" ng-click="controller.pesquisaDisciplinasExtras();">
                                    <span style="padding: 3px;" class="glyphicon glyphicon-search"></span>
                                    {{::'l-pesquisar' | i18n : [] : 'js/aluno/matricula'}}
                                </button>
                            </span>
                        </form>
                        <totvs-group-content class="totvs-group-modal" id="groupDiscExtras" title="{{disciplinaExtra.CODDISC}} - {{disciplinaExtra.NOME}}"
                                             ng-if="controller.disciplinasExtras.SDISCIPLINA.length > 0" 
                                             ng-repeat="disciplinaExtra in controller.disciplinasExtras.SDISCIPLINA | orderBy: CODDISC">
                            <table class="table table-borderbottom" style="margin-bottom: 0 !important; font-size:12px;">
                                <tbody>
                                    <tr ng-if="disciplinaExtra.TURMADISC[0].CREDITOS || disciplinaExtra.TURMADISC[0].CH">
                                        <td class="col-sm-6 col-md-2"
                                            ng-if="disciplinaExtra.TURMADISC[0].CREDITOS">
                                            <strong>{{::'l-creditosAcademicos' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                        </td>
                                        <td ng-if="disciplinaExtra.TURMADISC[0].CREDITOS" 
                                            ng-class="(disciplinaExtra.TURMADISC[0].CH) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                            colspan="{{disciplinaExtra.TURMADISC[0].CH ? '0' : '3'}}">
                                            {{disciplinaExtra.TURMADISC[0].CREDITOS | number: 2 }}
                                        </td>
                                        <td class="col-sm-6 col-md-2" 
                                            ng-if="disciplinaExtra.TURMADISC[0].CH">
                                            <strong>{{::'l-ch' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                        </td>
                                        <td ng-class="(disciplinaExtra.TURMADISC[0].CREDITOS) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                            ng-if="disciplinaExtra.TURMADISC[0].CH"
                                            colspan="{{disciplinaExtra.TURMADISC[0].CREDITOS ? '0' : '3'}}">
                                            {{disciplinaExtra.TURMADISC[0].CH | number: 2 }}
                                        </td>
                                    </tr>
                                    <tr ng-if="disciplinaExtra.TURMADISC[0].CREDITOSCOB || disciplinaExtra.TURMADISC[0].TIPO">
                                        <td class="col-sm-6 col-md-2"
                                            ng-if="disciplinaExtra.TURMADISC[0].CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true">
                                            <strong>{{::'l-creditosFinanceiros' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                        </td>
                                        <td ng-class="(turmaDisciplina.CREDITOS >= 0) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                            ng-if="disciplinaExtra.TURMADISC[0].CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true" 
                                            colspan="{{disciplinaExtra.TURMADISC[0].TIPO ? '0' : '3'}}">
                                                {{disciplinaExtra.TURMADISC[0].CREDITOSCOB | number: 2}}
                                        </td>
                                        <td class="col-sm-6 col-md-2"
                                            ng-if="disciplinaExtra.TURMADISC[0].TIPO">
                                            <strong>{{::'l-tipoDisciplina' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                        </td>
                                        <td ng-class="(disciplinaExtra.TURMADISC[0].CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                            ng-if="disciplinaExtra.TURMADISC[0].TIPO" 
                                            colspan="{{(disciplinaExtra.TURMADISC[0].CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? '0' : '3'}}">
                                            {{disciplinaExtra.TURMADISC[0].TIPO}}
                                        </td>
                                    </tr>
                                    <tr ng-if="disciplinaExtra.TURMADISC[0].SITUACAOALUNODISC">
                                        <td class="col-sm-6 col-md-2">
                                            <strong>{{::'l-situacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                        </td>
                                        <td class="col-sm-6 col-md-10" colspan="3">
                                            {{controller.disciplinaSelecionadaMatricula.SITUACAOALUNODISC}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                            
                            <div class="table-responsive table-bordered table-borderbottom" 
                                 ng-repeat="turmaDisciplina in disciplinaExtra.TURMADISC"
                                 ng-style="{'background-color': '#FFFFFF','margin-bottom': '10px', 'font-size': '12px', 'border': '1px solid #d1dbdd;'}">
                                <table class="table" style="margin-bottom: 0 !important;">
                                    <thead style="background-color:rgb(241, 235, 221);">
                                        <tr>
                                            <th colspan="{{(disciplinaExtra.TURMADISC[0].ADICIONADO === true) ? '2' : '4'}}">
                                                <div class="pull-left"><strong>{{::'l-turma' | i18n : [] : 'js/aluno/matricula'}}: {{turmaDisciplina.TURMA}}</strong></div>
                                            </th>
                                            <th colspan="2" ng-if="disciplinaExtra.TURMADISC[0].ADICIONADO === true">       
                                                <div class="pull-right" style="color:#31708f;">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    <span class="text-uppercase" style="font-size: 12px;">
                                                        &nbsp;&nbsp;&nbsp;{{::'l-disciplinaAdicionada' | i18n : [] : 'js/aluno/matricula'}}
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="turmaDisciplina.SUBTURMAS.length > 0 && (controller.paramsEdu.MATRICULARSUBTURMAS != eduEnumsConsts.EduMatricularSubTurmasEnum.NaoPermitido)">
                                            <td class="col-sm-2" style="vertical-align: middle;">
                                                <strong>{{::'l-subturma' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td class="col-sm-4" colspan="3">
                                                <field type="combo" class="col-sm-12" 
                                                    data-ng-model="turmaDisciplina.CODSUBTURMA" 
                                                    ng-options="subturma.CODSUBTURMA as subturma.CODSUBTURMA for subturma in turmaDisciplina.SUBTURMAS" >
                                                </field>
                                            </td>
                                        </tr>                        
                                        <tr ng-if="turmaDisciplina.NOMETURNO || turmaDisciplina.CURSO">
                                            <td class="col-sm-2">
                                                <strong>{{::'l-turno' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td class="col-sm-4" colspan="{{turmaDisciplina.CURSO ? '0' : '3'}}">
                                                {{turmaDisciplina.NOMETURNO}}
                                            </td>
                                            <td class="col-sm-2" ng-if="turmaDisciplina.CURSO">
                                                <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td class="col-sm-4" ng-if="turmaDisciplina.CURSO">
                                                {{turmaDisciplina.CURSO}}
                                            </td>
                                        </tr>
                                        <tr ng-if="turmaDisciplina.HORARIOS.length > 0 || turmaDisciplina.PROFESSORES.length > 0">
                                            <td class="col-sm-2" style="vertical-align: middle;" ng-if="turmaDisciplina.HORARIOS.length > 0">
                                                <strong>{{::'l-horario' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td colspan="{{turmaDisciplina.PROFESSORES.length > 0 ? '0' : '3'}}" 
                                                ng-if="turmaDisciplina.HORARIOS.length > 0">
                                                <table>
                                                    <tbody>
                                                        <tr ng-if="!turmaDisciplina.CODSUBTURMA" ng-repeat="horario in turmaDisciplina.HORARIOS">
                                                            <td>{{horario.DIASEMANA}}</td>
                                                            <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                                        </tr>
                                                        <tr ng-if="turmaDisciplina.CODSUBTURMA" ng-repeat="horario in turmaDisciplina.HORARIOS | filter: { CODSUBTURMA: turmaDisciplina.CODSUBTURMA === null ? '' : turmaDisciplina.CODSUBTURMA}">
                
                                                            <td>{{horario.DIASEMANA}}</td>
                                                            <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                                        </tr>                                       
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="col-sm-2" style="vertical-align: middle;" ng-if="turmaDisciplina.PROFESSORES.length > 0">
                                                <strong>{{::'l-professor' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td colspan="{{turmaDisciplina.HORARIOS.length > 0 ? '0' : '3'}}" ng-if="turmaDisciplina.PROFESSORES.length > 0">
                                                <table>
                                                    <tbody>
                                                        <tr ng-repeat="professor in turmaDisciplina.PROFESSORES">
                                                            <td>{{professor.NOME}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <totvs-group-content title="{{::'l-detalhesDisciplina' | i18n : [] : 'js/aluno/matricula'}}" class="detalhes" style="margin: 2px 0;padding: 10px;font-size: 12px;">
                                                    <table class="table table-borderbottom" 
                                                            style="margin-bottom: 0 !important;"
                                                            ng-style="{'background-color': '#FFFFFF','margin-bottom': '10px', 'font-size': '12px'}">
                                                        <tbody>
                                                            <tr ng-if="turmaDisciplina.DESCCAMPUSTURMA || turmaDisciplina.NOMEFILIAL">
                                                                <td class="col-sm-2">
                                                                    <strong>{{::'l-filial' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="turmaDisciplina.DESCCAMPUSTURMA ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.DESCCAMPUSTURMA ? '0' : '3'}}">{{turmaDisciplina.NOMEFILIAL}}
                                                                </td>
                                                                <td class="col-sm-2" ng-if="turmaDisciplina.DESCCAMPUSTURMA">
                                                                    <strong>{{::'l-campus' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="turmaDisciplina.NOMEFILIAL ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.NOMEFILIAL ? '0' : '3'}}"
                                                                    ng-if="turmaDisciplina.DESCCAMPUSTURMA">
                                                                    {{turmaDisciplina.DESCCAMPUSTURMA}}
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="turmaDisciplina.CURSO || turmaDisciplina.NOMEGRADE">
                                                                <td class="col-sm-2" ng-if="turmaDisciplina.CURSO">
                                                                    <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="(turmaDisciplina.NOMEGRADE) ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.NOMEGRADE ? '0' : '3'}}">
                                                                    {{turmaDisciplina.CURSO}}
                                                                </td>
                                                                <td class="col-sm-2" 
                                                                    ng-if="turmaDisciplina.NOMEGRADE">
                                                                    <strong>{{::'l-matriz' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="turmaDisciplina.CURSO ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.CURSO ? '0' : '3'}}"
                                                                    ng-if="turmaDisciplina.NOMEGRADE">
                                                                    {{turmaDisciplina.NOMEGRADE}}
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL || turmaDisciplina.NOMEHABILITACAO">
                                                                <td class="col-md-2">
                                                                    <strong>{{::'l-habilitacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="(turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL) ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL ? '0' : '3'}}"
                                                                    ng-if="turmaDisciplina.NOMEHABILITACAO">
                                                                    {{turmaDisciplina.NOMEHABILITACAO}}
                                                                </td>
                                                                <td class="col-md-2" 
                                                                    ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL">
                                                                    <strong>{{::'l-datas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-class="(turmaDisciplina.NOMEHABILITACAO) ? 'col-sm-4' : 'col-sm-10'"
                                                                    ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL">
                                                                    {{turmaDisciplina.DTINICIAL | date: 'dd/MM/yyyy'}}
                                                                    <span ng-if="turmaDisciplina.DTINICIAL && turmaDisciplina.DTFINAL">{{::'l-ate' | i18n : [] : 'js/aluno/matricula'}}</span>
                                                                    {{turmaDisciplina.DTFINAL | date: 'dd/MM/yyyy'}}
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="turmaDisciplina.MAXALUNOS || turmaDisciplina.VAGASRESTANTES >= 0">
                                                                <td class="col-md-2" 
                                                                    ng-if="turmaDisciplina.MAXALUNOS" >
                                                                    <strong>{{::'l-vagas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-if="turmaDisciplina.MAXALUNOS" 
                                                                    ng-class="(turmaDisciplina.VAGASRESTANTES >= 0) ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.VAGASRESTANTES >= 0 ? '0' : '3'}}">
                                                                    {{turmaDisciplina.MAXALUNOS}}
                                                                </td>
                                                                <td class="col-md-2"
                                                                    ng-if="turmaDisciplina.VAGASRESTANTES >= 0">
                                                                    <strong>{{::'l-vagasRestantes' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                </td>
                                                                <td ng-if="turmaDisciplina.VAGASRESTANTES >= 0" 
                                                                    ng-class="(turmaDisciplina.MAXALUNOS) ? 'col-sm-4' : 'col-sm-10'"
                                                                    colspan="{{turmaDisciplina.MAXALUNOS ? '0' : '3'}}">
                                                                    {{turmaDisciplina.VAGASRESTANTES}}
                                                                </td>
                                                            </tr>                                            
                                                        </tbody>
                                                    </table>
                                                </totvs-group-content>
                                            </td>
                                        </tr>
                                        <tr ng-if="turmaDisciplina.ADICIONADO != true">
                                            <td class="col-md-12" colspan="4" style="text-align: center;" >
                                                <div>
                                                    <button type="button" style="width: 50%;" class="btn btn-primary" 
                                                        ng-click="controller.matricularDisciplina(turmaDisciplina, true);">                                                        
                                                            {{'l-adicionarDisciplina' | i18n : [] : 'js/aluno/matricula'}}                
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </totvs-group-content>
                        <div ng-if="controller.disciplinasExtras.SDISCIPLINA.length == 0">
                            <br><br><br><br>
                        </div>
                        <totvs-page-alert class="totvs-group" ng-if="controller.disciplinasExtras.SDISCIPLINA.length == 0" type="info" message="" style="margin-left: -15px;">
                            <span class="glyphicon glyphicon-info-sign"></span> {{::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/grade-curricular'}}
                        </totvs-page-alert>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-backdrop="false">
                    {{::'l-btn-fechar' | i18n : [] : 'js/aluno/matricula'}}
                </button>
            </div>            
        </div>
    </div>
</div>