<div class="modal fade" id="modalDisciplinasDoHorario" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelmodalDisciplinas">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModalDownloadMateriais">
                    {{::'l-disciplinasDoHorario' | i18n : [] : 'js/aluno/matricula'}}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">

                        <div class="form-group col-sm-12" style="margin-left: -15px;" ng-if="controller.discDisponiveisHorario[0].CODDISC">
                            <label class="field-label">
                                {{::'l-disciplinas-disponiveis-horario' | i18n : [] : 'js/aluno/matricula'}}:
                            </label>
                        </div>

                        <totvs-group-content class="totvs-group-modal" title="{{disciplinaDoHorario.CODDISC}} - {{disciplinaDoHorario.DISCIPLINA}}"
                            ng-if="controller.discDisponiveisHorario.length > 0" 
                            ng-repeat="disciplinaDoHorario in controller.discDisponiveisHorario | orderBy: CODDISC">
                                <table class="table table-borderbottom" style="margin-bottom: 0 !important; font-size:12px;">
                                    <tbody>
                                        <tr ng-if="disciplinaDoHorario.CREDITOS || disciplinaDoHorario.CH">
                                            <td class="col-sm-6 col-md-2"
                                                ng-if="disciplinaDoHorario.CREDITOS">
                                                <strong>{{::'l-creditosAcademicos' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                            </td>
                                            <td ng-if="disciplinaDoHorario.CREDITOS" 
                                                ng-class="(disciplinaDoHorario.CH) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                                colspan="{{disciplinaDoHorario.CH ? '0' : '3'}}">
                                                {{disciplinaDoHorario.CREDITOS | number: 2 }}
                                            </td>
                                            <td class="col-sm-6 col-md-2" 
                                                ng-if="disciplinaDoHorario.CH">
                                                <strong>{{::'l-ch' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                            </td>
                                            <td ng-class="(disciplinaDoHorario.CREDITOS) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                                ng-if="disciplinaDoHorario.CH"
                                                colspan="{{disciplinaDoHorario.CREDITOS ? '0' : '3'}}">
                                                {{disciplinaDoHorario.CH | number: 2 }}
                                            </td>
                                        </tr>
                                        <tr ng-if="disciplinaDoHorario.CREDITOSCOB || disciplinaDoHorario.TIPO">
                                            <td class="col-sm-6 col-md-2"
                                                ng-if="disciplinaDoHorario.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true">
                                                <strong>{{::'l-creditosFinanceiros' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                                            </td>
                                            <td ng-class="(disciplinaDoHorario.CREDITOS >= 0) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                                ng-if="disciplinaDoHorario.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true" 
                                                colspan="{{disciplinaDoHorario.TIPO ? '0' : '3'}}">
                                                    {{disciplinaDoHorario.CREDITOSCOB | number: 2}}
                                            </td>
                                            <td class="col-sm-6 col-md-2"
                                                ng-if="disciplinaDoHorario.TIPO">
                                                <strong>{{::'l-tipoDisciplina' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td ng-class="(disciplinaDoHorario.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                                                ng-if="disciplinaDoHorario.TIPO" 
                                                colspan="{{(disciplinaDoHorario.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? '0' : '3'}}">
                                                {{disciplinaDoHorario.TIPO}}
                                            </td>
                                        </tr>
                                        <tr ng-if="disciplinaDoHorario.SITUACAOALUNODISC">
                                            <td class="col-sm-6 col-md-2">
                                                <strong>{{::'l-situacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                            </td>
                                            <td class="col-sm-6 col-md-10" colspan="3">
                                                {{controller.disciplinaSelecionadaMatricula.SITUACAOALUNODISC}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                                
                                <div class="table-responsive table-bordered table-borderbottom" 
                                    ng-style="{'background-color': '#FFFFFF','margin-bottom': '10px', 'font-size': '12px', 'border': '1px solid #d1dbdd;'}">
                                    <table class="table" style="margin-bottom: 0 !important;">
                                        <thead style="background-color:rgb(241, 235, 221);">
                                            <tr>
                                                <th colspan="4">
                                                    <div class="pull-left"><strong>{{::'l-turma' | i18n : [] : 'js/aluno/matricula'}}: {{disciplinaDoHorario.TURMA}}</strong></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="disciplinaDoHorario.SUBTURMAS.length > 0 && (controller.paramsEdu.MATRICULARSUBTURMAS != eduEnumsConsts.EduMatricularSubTurmasEnum.NaoPermitido)">
                                                <td class="col-sm-2" style="vertical-align: middle;">
                                                    <strong>{{::'l-subturma' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                </td>
                                                <td class="col-sm-4" colspan="3">
                                                    <field type="combo" class="col-sm-12" 
                                                        data-ng-model="disciplinaDoHorario.CODSUBTURMA" 
                                                        ng-options="subturma.CODSUBTURMA as subturma.CODSUBTURMA for subturma in disciplinaDoHorario.SUBTURMAS" >
                                                    </field>
                                                </td>
                                            </tr>                        
                                            <tr ng-if="disciplinaDoHorario.NOMETURNO || disciplinaDoHorario.CURSO">
                                                <td class="col-sm-2">
                                                    <strong>{{::'l-turno' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                </td>
                                                <td class="col-sm-4" colspan="{{disciplinaDoHorario.CURSO ? '0' : '3'}}">
                                                    {{disciplinaDoHorario.NOMETURNO}}
                                                </td>
                                                <td class="col-sm-2" ng-if="disciplinaDoHorario.CURSO">
                                                    <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                </td>
                                                <td class="col-sm-4" ng-if="disciplinaDoHorario.CURSO">
                                                    {{disciplinaDoHorario.CURSO}}
                                                </td>
                                            </tr>
                                            <tr ng-if="disciplinaDoHorario.HORARIOS.length > 0 || disciplinaDoHorario.PROFESSORTURMADISC.length > 0">
                                                <td class="col-sm-2" style="vertical-align: middle;" ng-if="disciplinaDoHorario.HORARIOS.length > 0">
                                                    <strong>{{::'l-horario' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                </td>
                                                <td colspan="{{disciplinaDoHorario.PROFESSORTURMADISC.length > 0 ? '0' : '3'}}" 
                                                    ng-if="disciplinaDoHorario.HORARIOS.length > 0">
                                                    <table>
                                                        <tbody>
                                                            <tr ng-if="!disciplinaDoHorario.CODSUBTURMA" ng-repeat="horario in disciplinaDoHorario.HORARIOS">
                                                                <td>{{horario.DIASEMANA}}</td>
                                                                <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                                            </tr>
                                                            <tr ng-if="disciplinaDoHorario.CODSUBTURMA" ng-repeat="horario in disciplinaDoHorario.HORARIOS | filter: { CODSUBTURMA: disciplinaDoHorario.CODSUBTURMA === null ? '' : disciplinaDoHorario.CODSUBTURMA}">
                    
                                                                <td>{{horario.DIASEMANA}}</td>
                                                                <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                                            </tr>                                       
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="col-sm-2" style="vertical-align: middle;" ng-if="disciplinaDoHorario.PROFESSORTURMADISC.length > 0">
                                                    <strong>{{::'l-professor' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                </td>
                                                <td colspan="{{disciplinaDoHorario.HORARIOS.length > 0 ? '0' : '3'}}" ng-if="disciplinaDoHorario.PROFESSORTURMADISC.length > 0"
                                                    style="vertical-align: middle;">
                                                    <table>
                                                        <tbody>
                                                            <tr ng-repeat="professor in disciplinaDoHorario.PROFESSORTURMADISC">
                                                                <td>{{professor.NOMEPROFESSOR}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <totvs-group-content title="{{::'l-detalhesDisciplina' | i18n : [] : 'js/aluno/matricula'}}" class="detalhes totvs-subgroup-modal" style="margin: 2px 0;padding: 10px;font-size: 12px;">
                                                        <table class="table table-borderbottom" 
                                                                style="margin-bottom: 0 !important;"
                                                                ng-style="{'background-color': '#FFFFFF','margin-bottom': '10px', 'font-size': '12px'}">
                                                            <tbody>
                                                                <tr ng-if="disciplinaDoHorario.DESCCAMPUSTURMA || disciplinaDoHorario.NOMEFILIAL">
                                                                    <td class="col-sm-2">
                                                                        <strong>{{::'l-filial' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="disciplinaDoHorario.DESCCAMPUSTURMA ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.DESCCAMPUSTURMA ? '0' : '3'}}">{{disciplinaDoHorario.NOMEFILIAL}}
                                                                    </td>
                                                                    <td class="col-sm-2" ng-if="disciplinaDoHorario.DESCCAMPUSTURMA">
                                                                        <strong>{{::'l-campus' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="disciplinaDoHorario.NOMEFILIAL ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.NOMEFILIAL ? '0' : '3'}}"
                                                                        ng-if="disciplinaDoHorario.DESCCAMPUSTURMA">
                                                                        {{disciplinaDoHorario.DESCCAMPUSTURMA}}
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="disciplinaDoHorario.CURSO || disciplinaDoHorario.NOMEGRADE">
                                                                    <td class="col-sm-2" ng-if="disciplinaDoHorario.CURSO">
                                                                        <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="(disciplinaDoHorario.NOMEGRADE) ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.NOMEGRADE ? '0' : '3'}}">
                                                                        {{disciplinaDoHorario.CURSO}}
                                                                    </td>
                                                                    <td class="col-sm-2" 
                                                                        ng-if="disciplinaDoHorario.NOMEGRADE">
                                                                        <strong>{{::'l-matriz' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="disciplinaDoHorario.CURSO ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.CURSO ? '0' : '3'}}"
                                                                        ng-if="disciplinaDoHorario.NOMEGRADE">
                                                                        {{disciplinaDoHorario.NOMEGRADE}}
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="disciplinaDoHorario.DTINICIAL || disciplinaDoHorario.DTFINAL || disciplinaDoHorario.NOMEHABILITACAO">
                                                                    <td class="col-md-2">
                                                                        <strong>{{::'l-habilitacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="(disciplinaDoHorario.DTINICIAL || disciplinaDoHorario.DTFINAL) ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.DTINICIAL || disciplinaDoHorario.DTFINAL ? '0' : '3'}}"
                                                                        ng-if="disciplinaDoHorario.NOMEHABILITACAO">
                                                                        {{disciplinaDoHorario.NOMEHABILITACAO}}
                                                                    </td>
                                                                    <td class="col-md-2" 
                                                                        ng-if="disciplinaDoHorario.DTINICIAL || disciplinaDoHorario.DTFINAL">
                                                                        <strong>{{::'l-datas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-class="(disciplinaDoHorario.NOMEHABILITACAO) ? 'col-sm-4' : 'col-sm-10'"
                                                                        ng-if="disciplinaDoHorario.DTINICIAL || disciplinaDoHorario.DTFINAL">
                                                                        {{disciplinaDoHorario.DTINICIAL | date: 'dd/MM/yyyy'}}
                                                                        <span ng-if="disciplinaDoHorario.DTINICIAL && disciplinaDoHorario.DTFINAL">{{::'l-ate' | i18n : [] : 'js/aluno/matricula'}}</span>
                                                                        {{disciplinaDoHorario.DTFINAL | date: 'dd/MM/yyyy'}}
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="disciplinaDoHorario.MAXALUNOS || disciplinaDoHorario.VAGASRESTANTES >= 0">
                                                                    <td class="col-md-2" 
                                                                        ng-if="disciplinaDoHorario.MAXALUNOS" >
                                                                        <strong>{{::'l-vagas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-if="disciplinaDoHorario.MAXALUNOS" 
                                                                        ng-class="(disciplinaDoHorario.VAGASRESTANTES >= 0) ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.VAGASRESTANTES >= 0 ? '0' : '3'}}">
                                                                        {{disciplinaDoHorario.MAXALUNOS}}
                                                                    </td>
                                                                    <td class="col-md-2"
                                                                        ng-if="disciplinaDoHorario.VAGASRESTANTES >= 0">
                                                                        <strong>{{::'l-vagasRestantes' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                                                    </td>
                                                                    <td ng-if="disciplinaDoHorario.VAGASRESTANTES >= 0" 
                                                                        ng-class="(disciplinaDoHorario.MAXALUNOS) ? 'col-sm-4' : 'col-sm-10'"
                                                                        colspan="{{disciplinaDoHorario.MAXALUNOS ? '0' : '3'}}">
                                                                        {{disciplinaDoHorario.VAGASRESTANTES}}
                                                                    </td>
                                                                </tr>                                            
                                                            </tbody>
                                                        </table>
                                                    </totvs-group-content>
                                                </td>
                                            </tr>
                                            <tr ng-if="disciplinaDoHorario.ADICIONADO != true">
                                                <td class="col-md-12" colspan="4" style="text-align: center;" >
                                                    <div>
                                                        <button type="button" style="width: 50%;" class="btn btn-primary" 
                                                            ng-click="controller.adicionarDisciplinaDoHorario(disciplinaDoHorario);">
                                                            
                                                                {{'l-adicionarDisciplina' | i18n : [] : 'js/aluno/matricula'}}
                    
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </totvs-group-content>

                        <table class="table" ng-if="!controller.discDisponiveisHorario[0].CODDISC">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-info-sign"></span>                                        
                                    {{::'l-semDisciplinaHorario' | i18n : [] : 'js/aluno/matricula'}}
                                </td>
                            </tr>
                        </table>

                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-backdrop="false">
                    {{::'l-btn-fechar' | i18n : [] : 'js/aluno/matricula'}}
                </button>
            </div>            
        </div>
    </div>
</div>