<div class="panel panel-info-matricula" ng-if="controller.possuiDisciplinaAdicionada">
    <div class="panel-heading">
        <span class="col-sm-12">
            <strong>
                {{::'l-disciplinasMatriculadas' | i18n : [] : 'js/aluno/matricula'}}
            </strong>
        </span>
    </div>

    <div class="panel-body">

        <totvs-group-content id="discSelecionadas" class="totvs-group" title="{{periodo.PERIODO}}"
            ng-repeat="periodo in controller.disciplinasSDD | filter: {ADICIONADO: true}  | unique: 'CODPERIODO' | orderBy: CODPERIODO">
        
            <div class="table-responsive">
                <table class="table table-hover table-borderbottom tableMatricula" id="tableDisc">
                    <tbody>
                        <tr class="clickable-row" id="row-disc-{{$index}}" ng-repeat="disciplina in controller.disciplinasSDD | filter: {ADICIONADO: true } | filter: { CODPERIODO: periodo.CODPERIODO } | unique: 'CODDISC' | orderBy: 'CODDISC'">
                            <td style="cursor: pointer;" 
                                class="{{controller.retornaLarguraColunaDisciplinaAdicionada(true)}}" 
                                ng-click="controller.disciplinaSelecionada(disciplina)">
                                <div class="col-sm-12"> 
                                    {{::disciplina.CODDISC}}
                                </div>
                                <div style="font-size:9px;" ng-if="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true)">
                                    <br>
                                    {{::disciplina.TURMA}}
                                </div>
                            </td>
                            <td style="cursor: pointer;" 
                                ng-class="{{controller.retornaLarguraColunaDisciplinaAdicionada(false)}}" 
                                ng-click="controller.disciplinaSelecionada(disciplina)">
                                <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'col-xs-12' : 'col-xs-6 col-sm-8 col-md-6'">
                                    {{::disciplina.DISCIPLINA}}
                                </div>
                                <div style="font-size:9px;" ng-if="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true)">
                                    <br>
                                    {{(disciplina.SITUACAOALUNODISC) ? disciplina.SITUACAOALUNODISC : 'Disciplina adicionada'}}
                                </div>                                
                                <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'hidden-xs hidden-sm hidden-md hidden-lg hidden-xl' : 'col-xs-3 col-sm-2 col-md-3'" 
                                    ng-if="(controller.exibePainelInformacoes == false && controller.exibePainelValidacoes == false)">
                                    {{::disciplina.TURMA}}
                                </div>
                                <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'hidden-xs hidden-sm hidden-md hidden-lg hidden-xl' : 'col-xs-3 col-sm-2 col-md-3'" 
                                    ng-if="(controller.exibePainelInformacoes == false && controller.exibePainelValidacoes == false)"
                                    style="text-align: center;">
                                    {{(disciplina.SITUACAOALUNODISC) ? disciplina.SITUACAOALUNODISC : 'Disciplina adicionada'}}
                                    <span ng-if="disciplina.SITUACAOALUNODISC == null && disciplina.VAGASRESTANTES == 0 && disciplina.VAGASRESTANTESLISTAESPERA > 0" 
                                            class="label label-warning" style="display: inline-block !important;">
                                            {{::'l-listaEspera' | i18n : [] : 'js/aluno/matricula' }}
                                    </span>
                                </div>
                            </td>
                            <td class="col-xs-2 col-sm-1">
                                <div ng-if="disciplina.POSSUIERROVALIDACAO == true" class="col-sm-12">
                                    <button ng-click="controller.exibePainelErros()" type="button" class="ValidacaoMatriculaButton">
                                        <span ng-if="disciplina.POSSUIERROVALIDACAO == true" 
                                                ng-style="(disciplina.ICONEDEINFORMACAO) ? {'color': '#cdc33f'} : '' "
                                                tooltip-append-to-body="appendToBody=true" 
                                                tooltip-placement="left" 
                                                data-tooltip="{{disciplina.InfoValidacao}}" 
                                                class="glyphicon glyphicon-info-sign">
                                        </span>
                                    </button>
                                </div>
                            </td>
                            <td class="col-xs-2 col-sm-1">
                                <div class="col-sm-12">
                                    <button type="button" class="pull-right" 
                                            ng-click="controller.removerDisciplina(disciplina);"
                                            ng-if="disciplina.PERMITEEXCLUIR === true"
                                            tooltip-append-to-body="appendToBody=true" 
                                            tooltip-placement="left" 
                                            data-tooltip="{{::'l-removerDisciplina' | i18n : [] : 'js/aluno/matricula'}}"                                                 
                                            style="border: none;background-color: transparent;">
                                        <span class="glyphicon glyphicon-trash paddingMat"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </totvs-group-content>
