<div class="info-creditos">
    <ul class="list-group col-xs-{{controller.larguraGridCreditosAcademicos}}" 
        ng-if="controller.habilitacaoSelecionada.MINCREDPERIODO">
        <li class="list-group-item">
            <span class="badge">{{controller.habilitacaoSelecionada.MINCREDPERIODO}}</span>
            {{::'l-minimo-credito' | i18n : [] : 'js/aluno/matricula' }}:
        </li>
    </ul>
    <ul class="list-group list-group-item-center col-xs-{{controller.larguraGridCreditosAcademicos}}" 
        ng-if="controller.habilitacaoSelecionada.MAXCREDPERIODO">
        <li class="list-group-item">
            <span class="badge">{{controller.habilitacaoSelecionada.MAXCREDPERIODO}}</span>
            {{::'l-maximo-credito' | i18n : [] : 'js/aluno/matricula' }}:
        </li>
    </ul>
    <ul class="list-group col-xs-{{controller.larguraGridCreditosAcademicos}}">
        <li class="list-group-item" ng-if="controller.erroMinCredito == false && controller.erroMaxCredito == false">
            <span class="badge" style="background-color: #278495">
                {{controller.somaCreditos}}
            </span>
            <div class="hidden-sm hidden-sm">{{::'l-creditos-selecionados' | i18n : [] : 'js/aluno/matricula'}}:</div>
            <div class="hidden-md hidden-lg hidden-xl">{{::'l-cred-selecionados' | i18n : [] : 'js/aluno/matricula'}}:</div>
        </li>
        <li class="list-group-item" ng-click="controller.exibePainelErros()" style="background-color: #fbe2e2;"
            ng-if="controller.erroMinCredito == true || controller.erroMaxCredito == true"
            style="cursor: pointer">
            <span class="badge"
                tooltip-append-to-body="appendToBody=true" 
                style="background-color: #d36161;z-index: 998;"
                tooltip-placement="left" 
                data-tooltip="{{controller.tooltipMinMaxCreditos}}">
                {{controller.somaCreditos}}
            </span>
            {{::'l-creditos-selecionados' | i18n : [] : 'js/aluno/matricula'}}:
        </li>
    </ul>
    <ul class="list-group list-group-item-center col-xs-{{controller.larguraGridCreditosAcademicos}}"
        id="quadro-quantidade-erros"
        data-tutorial="quantidade-erros">
        <li class="list-group-item" ng-if="controller.quantidadeErrosValidacao == 0" 
            ng-click="controller.exibePainelErros()" style="cursor:pointer">
        <span class="badge">{{controller.quantidadeErrosValidacao}}</span>
            {{::'l-erros-validacao' | i18n : [] : 'js/aluno/matricula' }}:
        </li>
        <li class="list-group-item" ng-if="controller.quantidadeErrosValidacao > 0" 
            ng-click="controller.exibePainelErros()" style="background-color:#fbe2e2;cursor:pointer">
        <span class="badge"
            tooltip-append-to-body="appendToBody=true" 
            style="background-color: #d36161;z-index: 998;"
            tooltip-placement="left" 
            data-tooltip="Foram encontrados erros na sua matrícula">
            {{controller.quantidadeErrosValidacao}}
        </span>
        {{::'l-erros-validacao' | i18n : [] : 'js/aluno/matricula' }}:
    </li>
    </ul>
</div>