<div class="panel panel-info-matricula" ng-if="controller.possuiDisciplinaAdicionada">
    <div class="panel-heading" ng-click="controller.minimizaPainelResumo();" style="cursor: pointer;">
        <span class="col-sm-12">
            <strong>
                Resumo da matrícula
            </strong>
            <div class="btn-group pull-right">
                <span ng-if="controller.resumoMinimizado == true" 
                    style="cursor: pointer"
                    class="glyphicon glyphicon-resize-full icon-matricula padding-icon-matricula" 
                    tooltip-append-to-body="appendToBody=true" 
                    tooltip-placement="left"
                    data-tooltip="{{::'l-maximizar' | i18n : [] : 'js/aluno/matricula'}}">
                </span>
                <span ng-if="controller.resumoMinimizado == false" 
                    style="cursor: pointer"
                    class="glyphicon glyphicon-resize-small icon-matricula padding-icon-matricula" 
                    tooltip-append-to-body="appendToBody=true" 
                    tooltip-placement="left"
                    data-tooltip="{{::'l-minimizar' | i18n : [] : 'js/aluno/matricula'}}">
                </span>
              </div>
        </span>
    </div>
  
    <div class="panel-body" id="bodyPainelResumo">

<!-- RESUMO DE TIPO DE DISCIPLINA -->
      <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true ) ? 'col-xs-12 col-sm-6' : 'col-xs-12 col-sm-6 col-lg-4'">
          <div class="panel panel-info marginBottomZero marginLeft0Matricula">
              <div class="panel-heading painelMatricula">
                  {{::'l-disciplinas' | i18n : [] : 'js/aluno/matricula' }}
              </div>
              <div class="panel-body resumoPaddingBody">
                  <ul class="list-group marginBottomZero">
                      <li class="list-group-item">
                          <span class="badge">{{controller.totalDiscObrigatoria}}</span>
                          {{::'l-obrigatorias' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                      <li class="list-group-item">
                          <span class="badge">{{controller.totalDiscOptEletiva}}</span>
                          {{::'l-optativas-eletivas' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                      <li class="list-group-item">
                          <span class="badge">{{controller.totalDiscExtra}}</span>
                          {{::'l-extras' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                      <li class="list-group-item">
                          <span class="badge">{{controller.totalDiscEquivalente}}</span>
                          {{::'l-equivalentes' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                  </ul>
              </div>
          </div>
      </div>                

      <!-- RESUMO DE CRÉDITOS ACADEMICOS -->
      <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'col-xs-12 col-sm-6' : 'col-xs-12 col-sm-6 col-lg-4'">
          <div class="panel panel-info marginBottomZero">
              <div class="panel-heading painelMatricula">
                  {{::'l-creditos-academicos' | i18n : [] : 'js/aluno/matricula' }}
              </div>
              <div class="panel-body resumoPaddingBody">
                  <ul class="list-group marginBottomZero">
                      <li class="list-group-item" 
                      ng-style="(controller.erroMinCredito == true || controller.erroMaxCredito == true) ? {'color': '#d36160'} : ''">
                          <span class="badge" ng-style="(controller.erroMinCredito == true || controller.erroMaxCredito == true) ? {'background-color': '#d36160'} : ''">{{controller.somaCreditos}}</span>
                          {{::'l-total' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                      <li class="list-group-item" ng-if="controller.habilitacaoSelecionada.MINCREDPERIODO">
                          <span class="badge">{{controller.habilitacaoSelecionada.MINCREDPERIODO}}</span>
                          {{::'l-minimo' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                      <li class="list-group-item" ng-if="controller.habilitacaoSelecionada.MAXCREDPERIODO">
                          <span class="badge">{{controller.habilitacaoSelecionada.MAXCREDPERIODO}}</span>
                          {{::'l-maximo' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      
      <!-- RESUMO DE CRÉDITOS FINANCEIROS -->
      <div ng-if="controller.paramsEdu.PRTMATCREDITOFINANC == true" 
          ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'col-xs-12' : 'col-xs-12 col-sm-6 col-md-6 col-lg-4'">
          <div ng-class="(controller.exibePainelInformacoes == true || controller.exibePainelValidacoes == true) ? 'panel panel-info marginLeft0Matricula marginBottomZero' : 'panel panel-info marginBottomZero'">
              <div class="panel-heading painelMatricula">
                  {{::'l-creditos-financeiros' | i18n : [] : 'js/aluno/matricula' }}
              </div>
              <div class="panel-body resumoPaddingBody">
                  <ul class="list-group marginBottomZero">
                      <li class="list-group-item">
                          <span class="badge">{{controller.somaCreditosFinanceiros}}</span>
                          {{::'l-total' | i18n : [] : 'js/aluno/matricula' }}:
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>