<div id="painel-validacoes" ng-if="controller.exibePainelValidacoes" 
     class="panel panel-info-validacao-matricula" data-tutorial="painel-validacoes">
    <div class="panel-heading">
        <strong>{{::'l-painelValidacoes' | i18n : [] : 'js/aluno/matricula'}}</strong>
        <div class="btn-group pull-right">
            <span class="glyphicon glyphicon-remove icon-matricula padding-3px-icon-matricula" ng-click="controller.ocultaPainelInformacoesEValidacoes();"></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-borderbottom" style="margin-left: 0">
                <tbody>
                    <tr ng-repeat="validacaoDisciplina in controller.disciplinasSDD | filter:{'POSSUIERROVALIDACAO':true}">
                        <td style="padding-left: 25px;" class="col-md-12">
                            <div ng-if="validacaoDisciplina.POSSUICHOQUEHORARIO == true" class="row" style="color:rgb(134, 73, 73);margin-right: 0 !important;">
                                <strong>{{validacaoDisciplina.CODDISC}} - {{validacaoDisciplina.DISCIPLINA}}</strong>
                            </div>
                            <div class="row col-md-12" 
                                ng-if="validacaoDisciplina.POSSUICHOQUEHORARIO == true && validacaoDisciplina.DISCIPLINASCHOQUE.length > 0" 
                                ng-repeat="discChoque in validacaoDisciplina.DISCIPLINASCHOQUE | orderBy">                       
                                <span ng-if="validacaoDisciplina.ICONEDEINFORMACAO == true || controller.paramsEdu.PERMITECHOQUEHORARIO == true" 
                                    style="padding: 3px;color:#cdc33f;" class="glyphicon glyphicon-time">
                                </span>
                                <span ng-if="validacaoDisciplina.ICONEDEINFORMACAO == false || controller.paramsEdu.PERMITECHOQUEHORARIO == false" 
                                    style="padding: 3px;color:rgb(134, 73, 73);" class="glyphicon glyphicon-time padding-3px-icon-matricula">
                                </span>
                                {{::'l-possuiChoqueHorarioDisciplina' | i18n : [] : 'js/aluno/matricula'}} 
                                <strong style="color:rgb(134, 73, 73);">{{discChoque}}</strong>
                            </div>
                            <div class="row col-md-12"
                                ng-if="validacaoDisciplina.POSSUIERROCOREQUISITO == true && validacaoDisciplina.DISCERROCORREQUISITO.length > 0" 
                                ng-repeat="discCorequisito in validacaoDisciplina.DISCERROCORREQUISITO">
                                <span style="padding: 3px;color:rgb(134, 73, 73)" class="glyphicon glyphicon-remove"></span> O aluno não cumpriu o corequisito da disciplina <strong style="color:rgb(134, 73, 73);">{{discCorequisito}}</strong>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="controller.erroMaxCredito == true">
                        <td style="padding-left: 25px;" class="col-md-12"> 
                            <div ng-if="controller.erroMaxCredito == true" class="row" style="color:rgb(134, 73, 73);margin-right: 0 !important;">
                                <strong>{{::'l-maximoCredito' | i18n : [] : 'js/aluno/matricula'}}</strong>
                            </div>
                            <div class="row col-sm-12">
                                <span style="padding: 3px;color:rgb(134, 73, 73);" class="glyphicon glyphicon-remove-circle"></span> 
                                Excedido o número de créditos. Máximo de <strong>{{controller.habilitacaoSelecionada.MAXCREDPERIODO}}</strong> créditos.
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="controller.erroMinCredito == true">
                        <td style="padding-left: 25px;" class="col-md-12">
                            <div ng-if="controller.erroMinCredito == true" class="row" style="color:rgb(134, 73, 73);margin-right: 0 !important;">
                                <strong>{{::'l-minimoCredito' | i18n : [] : 'js/aluno/matricula'}}</strong>
                            </div>
                            <div class="row col-sm-12">
                                <span style="padding: 3px;color:rgb(134, 73, 73);" class="glyphicon glyphicon-remove-circle"></span> Número mínimo de créditos não selecionado. Mínimo de <strong>{{controller.habilitacaoSelecionada.MINCREDPERIODO}}</strong> créditos.
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="controller.quantidadeErrosValidacao == 0 && controller.erroMinCredito == false && controller.erroMaxCredito == false">
                        <td style="padding-left: 25px;" class="col-md-12">
                            <div class="row" style="color:rgb(134, 73, 73);margin-right: 0 !important;">
                                <strong>{{::'l-semErros' | i18n : [] : 'js/aluno/matricula'}}</strong>
                            </div>
                        </td>
                    </tr>                             
                </tbody>
            </table>
        </div>
    </div>
</div>