<div id="painel-informacoes-turma-disciplina" class="panel panel-info-matricula panel-info-matricula-direita" ng-if="controller.exibePainelInformacoes"
data-tutorial="informacoes-turma-disciplina">
  <div class="panel-heading">
      <strong>{{controller.disciplinaSelecionadaMatricula.CODDISC}} - {{controller.disciplinaSelecionadaMatricula.DISCIPLINA}}</strong>
      <div class="btn-group pull-right">
          <span class="glyphicon glyphicon-remove icon-matricula padding-3px-icon-matricula" ng-click="controller.ocultaPainelInformacoesEValidacoes();"></span>
      </div>
  </div>
  <div class="panel-body">
      <table class="table table-borderbottom" style="margin-bottom: 0 !important;">
          <tbody>
              <tr ng-if="controller.disciplinaSelecionadaMatricula.CREDITOS || controller.disciplinaSelecionadaMatricula.CH">
                  <td class="col-sm-6 col-md-2"
                      ng-if="controller.disciplinaSelecionadaMatricula.CREDITOS">
                      <strong>{{::'l-creditosAcademicos' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                  </td>
                  <td ng-if="controller.disciplinaSelecionadaMatricula.CREDITOS" 
                      ng-class="(controller.disciplinaSelecionadaMatricula.CH) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                      colspan="{{controller.disciplinaSelecionadaMatricula.CH ? '0' : '3'}}">
                      {{controller.disciplinaSelecionadaMatricula.CREDITOS | number: 2 }}
                  </td>
                  <td class="col-sm-6 col-md-2" 
                      ng-if="controller.disciplinaSelecionadaMatricula.CH">
                      <strong>{{::'l-ch' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                  </td>
                  <td ng-class="(controller.disciplinaSelecionadaMatricula.CREDITOS) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                      ng-if="controller.disciplinaSelecionadaMatricula.CH"
                      colspan="{{controller.disciplinaSelecionadaMatricula.CREDITOS ? '0' : '3'}}">
                      {{controller.disciplinaSelecionadaMatricula.CH | number: 2 }}
                  </td>
              </tr>
              <tr ng-if="controller.disciplinaSelecionadaMatricula.CREDITOSCOB || controller.disciplinaSelecionadaMatricula.TIPO">
                  <td class="col-sm-6 col-md-2"
                      ng-if="controller.disciplinaSelecionadaMatricula.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true">
                      <strong>{{::'l-creditosFinanceiros' | i18n : [] : 'js/aluno/matricula' }}:</strong>
                  </td>
                  <td ng-class="(turmaDisciplina.CREDITOS >= 0) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                      ng-if="controller.disciplinaSelecionadaMatricula.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true" 
                      colspan="{{controller.disciplinaSelecionadaMatricula.TIPO ? '0' : '3'}}">
                          {{controller.disciplinaSelecionadaMatricula.CREDITOSCOB | number: 2}}
                  </td>
                  <td class="col-sm-6 col-md-2"
                      ng-if="controller.disciplinaSelecionadaMatricula.TIPO">
                      <strong>{{::'l-tipoDisciplina' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                  </td>
                  <td ng-class="(controller.disciplinaSelecionadaMatricula.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? 'col-sm-6 col-md-4' : 'col-sm-6 col-md-10'"
                      ng-if="controller.disciplinaSelecionadaMatricula.TIPO" 
                      colspan="{{(controller.disciplinaSelecionadaMatricula.CREDITOSCOB && controller.paramsEdu.PRTMATCREDITOFINANC == true) ? '0' : '3'}}">
                      {{controller.disciplinaSelecionadaMatricula.TIPO}}
                  </td>
              </tr>
              <tr ng-if="controller.disciplinaSelecionadaMatricula.SITUACAOALUNODISC">
                  <td class="col-sm-6 col-md-2">
                      <strong>{{::'l-situacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                  </td>
                  <td class="col-sm-6 col-md-10" colspan="3">
                      {{controller.disciplinaSelecionadaMatricula.SITUACAOALUNODISC}}
                  </td>
              </tr>
          </tbody>
      </table>
      <br>
      <div class="table-responsive table-bordered table-borderbottom tableInfoTurmaDisciplina" 
           ng-repeat="turmaDisciplina in controller.disciplinasSDD | filter:{'CODDISC':controller.disciplinaSelecionadaMatricula.CODDISC } | orderBy: '-turmaDisciplina.ADICIONADA'">

          <table class="table" style="margin-bottom: 0 !important;">
              <thead style="background-color:rgb(241, 235, 221);">
                  <tr>
                      <th colspan="4">
                          <div class="pull-left">
                              <strong class="vertical-align-middle">
                                {{::'l-turma' | i18n : [] : 'js/aluno/matricula'}}: {{turmaDisciplina.TURMA}}
                              </strong></div>
                          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <div class="pull-left">
                              <h4>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <span ng-if="turmaDisciplina.VAGASRESTANTES == 0 && turmaDisciplina.VAGASRESTANTESLISTAESPERA > 0" 
                                          class="label label-warning" style="display: inline-block !important;">
                                          {{::'l-listaEspera' | i18n : [] : 'js/aluno/matricula' }}
                                  </span>

                                  <span ng-if="(turmaDisciplina.IDTURMADISC === controller.disciplinaSelecionadaMatricula.IDTURMADISC && 
                                               controller.disciplinaSelecionadaMatricula.ADICIONADO === true)" 
                                               class="label label-primary" 
                                               style="display: inline-block !important;background-color: #278495 !important;">
                                               {{::'l-disciplinaAdicionada' | i18n : [] : 'js/aluno/matricula' }}
                                    </span>
                              </h4>
                          </div>

                          <span class="pull-right" ng-if="(turmaDisciplina.IDTURMADISC === controller.disciplinaSelecionadaMatricula.IDTURMADISC && 
                                                          controller.disciplinaSelecionadaMatricula.ADICIONADO === true)">
                              <button type="button" ng-if="turmaDisciplina.PERMITEEXCLUIR === true" ng-click="controller.removerDisciplina(turmaDisciplina);" 
                                      style="border: none;background-color: transparent;">
                                  <span class="glyphicon glyphicon-trash paddingMat"></span>
                              </button>
                          </span>                                
                      </th>
                  </tr>
       
              </thead>
              <tbody>
                  <tr ng-if="turmaDisciplina.SUBTURMAS.length > 0 && (controller.paramsEdu.MATRICULARSUBTURMAS != eduEnumsConsts.EduMatricularSubTurmasEnum.NaoPermitido)">
                      <td class="col-sm-2" style="vertical-align: middle;">
                          <strong>{{::'l-subturma' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                      </td>
                      <td class="col-sm-4" colspan="3">
                          <field type="combo" class="col-sm-12" 
                              data-ng-model="turmaDisciplina.CODSUBTURMA" 
                              ng-options="subturma.CODSUBTURMA as subturma.CODSUBTURMA for subturma in turmaDisciplina.SUBTURMAS" >
                          </field>
                      </td>
                  </tr>                        
                  <tr ng-if="turmaDisciplina.NOMETURNO || turmaDisciplina.CURSO">
                      <td class="col-sm-2">
                          <strong>{{::'l-turno' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                      </td>
                      <td class="col-sm-4" colspan="{{turmaDisciplina.CURSO ? '0' : '3'}}">
                          {{turmaDisciplina.NOMETURNO}}
                      </td>
                      <td class="col-sm-2" ng-if="turmaDisciplina.CURSO">
                          <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                      </td>
                      <td class="col-sm-4" ng-if="turmaDisciplina.CURSO">
                          {{turmaDisciplina.CURSO}}
                      </td>
                  </tr>
                  <tr ng-if="turmaDisciplina.HORARIOS.length > 0 || turmaDisciplina.PROFESSORTURMADISC.length > 0">
                      <td class="col-sm-2" style="vertical-align: middle;" ng-if="turmaDisciplina.HORARIOS.length > 0">
                          <strong>{{::'l-horario' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                      </td>
                      <td colspan="{{turmaDisciplina.PROFESSORTURMADISC.length > 0 ? '0' : '3'}}" ng-if="turmaDisciplina.HORARIOS.length > 0">
                          <table>
                              <tbody>
                                  <tr ng-if="!turmaDisciplina.CODSUBTURMA" ng-repeat="horario in turmaDisciplina.HORARIOS">
                                      <td>{{horario.DIASEMANA}}</td>
                                      <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                  </tr>
                                  <tr ng-if="turmaDisciplina.CODSUBTURMA" ng-repeat="horario in turmaDisciplina.HORARIOS | filter: { CODSUBTURMA: turmaDisciplina.CODSUBTURMA === null ? '' : turmaDisciplina.CODSUBTURMA}">

                                      <td>{{horario.DIASEMANA}}</td>
                                      <td>{{horario.HORAINICIAL}} - {{horario.HORAFINAL}}</td>
                                  </tr>                                       
                              </tbody>
                          </table>

                      </td>
                      <td class="col-sm-2" style="vertical-align: middle;" ng-if="turmaDisciplina.PROFESSORTURMADISC.length > 0">
                          <strong>{{::'l-professor' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                      </td>
                      <td colspan="{{turmaDisciplina.HORARIOS.length > 0 ? '0' : '3'}}" ng-if="turmaDisciplina.PROFESSORTURMADISC.length > 0"
                            style="vertical-align: middle;">
                          <table>
                              <tbody>
                                  <tr ng-repeat="horario in turmaDisciplina.PROFESSORTURMADISC">
                                      <td>{{horario.NOMEPROFESSOR}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="4">
                          <totvs-group-content title="{{::'l-detalhesDisciplina' | i18n : [] : 'js/aluno/matricula'}}" class="detalhes" style="margin: 2px 0;padding: 10px;font-size: 12px;">
                              <table class="table table-borderbottom" 
                                     style="margin-bottom: 0 !important;"
                                     ng-style="{'background-color': '#FFFFFF','margin-bottom': '10px', 'font-size': '12px'}">
                                  <tbody>
                                      <tr ng-if="turmaDisciplina.DESCCAMPUSTURMA || turmaDisciplina.NOMEFILIAL">
                                          <td class="col-sm-2">
                                              <strong>{{::'l-filial' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="turmaDisciplina.DESCCAMPUSTURMA ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.DESCCAMPUSTURMA ? '0' : '3'}}">{{turmaDisciplina.NOMEFILIAL}}
                                          </td>
                                          <td class="col-sm-2" ng-if="turmaDisciplina.DESCCAMPUSTURMA">
                                              <strong>{{::'l-campus' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="turmaDisciplina.NOMEFILIAL ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.NOMEFILIAL ? '0' : '3'}}"
                                              ng-if="turmaDisciplina.DESCCAMPUSTURMA">
                                              {{turmaDisciplina.DESCCAMPUSTURMA}}
                                          </td>
                                      </tr>
                                      <tr ng-if="turmaDisciplina.CURSO || turmaDisciplina.NOMEGRADE">
                                          <td class="col-sm-2" ng-if="turmaDisciplina.CURSO">
                                              <strong>{{::'l-curso' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="(turmaDisciplina.NOMEGRADE) ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.NOMEGRADE ? '0' : '3'}}">
                                              {{turmaDisciplina.CURSO}}
                                          </td>
                                          <td class="col-sm-2" 
                                              ng-if="turmaDisciplina.NOMEGRADE">
                                              <strong>{{::'l-matriz' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="turmaDisciplina.CURSO ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.CURSO ? '0' : '3'}}"
                                              ng-if="turmaDisciplina.NOMEGRADE">
                                              {{turmaDisciplina.NOMEGRADE}}
                                          </td>
                                      </tr>
                                      <tr ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL || turmaDisciplina.NOMEHABILITACAO">
                                          <td class="col-md-2">
                                              <strong>{{::'l-habilitacao' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="(turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL) ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL ? '0' : '3'}}"
                                              ng-if="turmaDisciplina.NOMEHABILITACAO">
                                              {{turmaDisciplina.NOMEHABILITACAO}}
                                          </td>
                                          <td class="col-md-2" 
                                              ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL">
                                              <strong>{{::'l-datas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-class="(turmaDisciplina.NOMEHABILITACAO) ? 'col-sm-4' : 'col-sm-10'"
                                              ng-if="turmaDisciplina.DTINICIAL || turmaDisciplina.DTFINAL">
                                              {{turmaDisciplina.DTINICIAL | date: 'dd/MM/yyyy'}}
                                              <span ng-if="turmaDisciplina.DTINICIAL && turmaDisciplina.DTFINAL">{{::'l-ate' | i18n : [] : 'js/aluno/matricula'}}</span>
                                              {{turmaDisciplina.DTFINAL | date: 'dd/MM/yyyy'}}
                                          </td>
                                      </tr>
                                      <tr ng-if="turmaDisciplina.MAXALUNOS || turmaDisciplina.VAGASRESTANTES >= 0">
                                          <td class="col-md-2" 
                                              ng-if="turmaDisciplina.MAXALUNOS" >
                                              <strong>{{::'l-vagas' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-if="turmaDisciplina.MAXALUNOS" 
                                              ng-class="(turmaDisciplina.VAGASRESTANTES >= 0) ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.VAGASRESTANTES >= 0 ? '0' : '3'}}">
                                              {{turmaDisciplina.MAXALUNOS}}
                                          </td>
                                          <td class="col-md-2"
                                              ng-if="turmaDisciplina.VAGASRESTANTES >= 0">
                                              <strong>{{::'l-vagasRestantes' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                          </td>
                                          <td ng-if="turmaDisciplina.VAGASRESTANTES >= 0" 
                                              ng-class="(turmaDisciplina.MAXALUNOS) ? 'col-sm-4' : 'col-sm-10'"
                                              colspan="{{turmaDisciplina.MAXALUNOS ? '0' : '3'}}">
                                              {{turmaDisciplina.VAGASRESTANTES}}
                                          </td>
                                      </tr>
                                      <tr ng-if="turmaDisciplina.VAGASRESTANTESLISTAESPERA">
                                              <td class="col-md-2">
                                                  <strong>{{::'l-vagasListaEspera' | i18n : [] : 'js/aluno/matricula'}}:</strong>
                                              </td>
                                              <td ng-if="turmaDisciplina.MAXALUNOS" class="col-sm-10" colspan="3">
                                                  {{turmaDisciplina.VAGASRESTANTESLISTAESPERA}}
                                              </td>
                                          </tr>                                               
                                  </tbody>
                              </table>

                          </totvs-group-content>
                      </td>
                  </tr>
                  <tr>
                      <td class="col-md-12" colspan="4" style="text-align: center;" 
                          ng-if="!(controller.disciplinaSelecionadaMatricula.IDTURMADISC === turmaDisciplina.IDTURMADISC &&
                                    controller.disciplinaSelecionadaMatricula.ADICIONADO === true) &&
                                  (turmaDisciplina.PERMITEEXCLUIR === true) &&
                                  (turmaDisciplina.PERMITEINCLUIR === true)">
                          <div>
                              <button type="button" style="width: 50%;" class="btn btn-primary" 
                                      data-ng-click="controller.matricularDisciplina(turmaDisciplina);">
                                  
                                  <div ng-if="(controller.disciplinaSelecionadaMatricula.IDTURMADISC !== turmaDisciplina.IDTURMADISC &&
                                               controller.disciplinaSelecionadaMatricula.ADICIONADO === true)">
                                      {{'l-trocar' | i18n : [] : 'js/aluno/matricula'}}
                                  </div>

                                  <div ng-if="(controller.disciplinaSelecionadaMatricula.ADICIONADO == false || 
                                               controller.disciplinaSelecionadaMatricula.ADICIONADO == null)">
                                      {{'l-adicionarDisciplina' | i18n : [] : 'js/aluno/matricula'}}
                                  </div>

                              </button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>