<totvs-page-detail id="painel-quadro-horario" class="PainelAnimacao col-sm-12" data-tutorial="quadro-horario" style="padding-bottom: 0;">
    <div class="panel panel-info-matricula">
        <div class="panel-heading" ng-click="controller.minimizaPainelQuadroHorario();" style="cursor: pointer;">
            <strong>
                {{::'l-quadroHorario' | i18n : [] : 'js/aluno/matricula'}}
            </strong>
            <div class="btn-group pull-right">
                <span ng-if="controller.quadroHorarioMinimizado == true" 
                    class="glyphicon glyphicon-resize-full icon-matricula padding-icon-matricula" 
                    tooltip-append-to-body="appendToBody=true" 
                    tooltip-placement="left"
                    data-tooltip="{{::'l-maximizar' | i18n : [] : 'js/aluno/matricula'}}">
                </span>
                <span ng-if="controller.quadroHorarioMinimizado == false" 
                    class="glyphicon glyphicon-resize-small icon-matricula padding-icon-matricula" 
                    tooltip-append-to-body="appendToBody=true" 
                    tooltip-placement="left"
                    data-tooltip="{{::'l-minimizar' | i18n : [] : 'js/aluno/matricula'}}">
                </span>
            </div>
        </div>
        <div class="panel-body" id="bodyPainelQuadroHorario">
            <table class="table table-bordered">
                <thead>
                    <tr class="quadroHorario">
                        <td width="10%"></td>
                        <th width="{{controller.larguraColQuadroHorario}}%" ng-if="controller.possuiHorarioDomingo === true">{{::'l-domingo' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%">{{::'l-segunda' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%">{{::'l-terca' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%">{{::'l-quarta' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%">{{::'l-quinta' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%">{{::'l-sexta' | i18n : [] : 'js/aluno/matricula'}}</th>
                        <th width="{{controller.larguraColQuadroHorario}}%" ng-if="controller.possuiHorarioSabado === true">{{::'l-sabado' | i18n : [] : 'js/aluno/matricula'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="horario in controller.horariosMatriculados | unique: 'ROW'"> 
                        <td class="colunaHorario">
                            <strong>
                                {{horario.HORAINICIAL}}<br>
                                {{horario.HORAFINAL}}
                            </strong>
                        </td>                 
                        <td ng-repeat="codDia in controller.diasSemana" style="vertical-align: middle;"
                            ng-style="(controller.possuiErroValicaoHorario(horario, codDia) == true) ? {'background-color': controller.retornaCorFundoQuadroHorario(horario, codDia), 'border': '1px solid #e8c1c1', 'border-width':'3px' } : ''">

                            <div ng-if="disciplinasDoDia.HORAINICIAL >= horario.HORAINICIAL && disciplinasDoDia.HORAFINAL <= horario.HORAFINAL" 
                                ng-repeat="disciplinasDoDia in controller.horariosMatriculados | filter: {CODDIA: codDia}" style="font-size: 11px">

                                <div ng-if="disciplinasDoDia.TURMADISC.ADICIONADO === true" style="margin-bottom:7px;">
                                    <a ng-click="controller.disciplinaSelecionada(disciplinasDoDia.TURMADISC)" style="cursor: pointer;" >
                                        <strong><span style="font-size: 12px">{{disciplinasDoDia.TURMADISC.DISCIPLINA}}</span></strong><br>
                                        {{disciplinasDoDia.TURMADISC.TURMA}}
                                    </a>
                                    <span 
                                        class="glyphicon glyphicon-trash excluiDisciplina"
                                        tooltip-append-to-body="appendToBody=true" 
                                        tooltip-placement="bottom" 
                                        data-tooltip="{{::'l-removerDisciplina' | i18n : [] : 'js/aluno/matricula'}}"                                 
                                        ng-click="controller.removerDisciplina(disciplinasDoDia.TURMADISC);"
                                        ng-if="controller.possuiDiscNoHorario(horario, codDia)">
                                    </span>
                                </div>
                            </div>
                            <div ng-if="controller.possuiDiscNoHorario(horario, codDia) == false" style="text-align: center;">
                                    <span ng-click="controller.disciplinasDoHorarioModal(horario, codDia)" style="cursor: pointer;" 
                                    tooltip-append-to-body="appendToBody=true" 
                                    tooltip-placement="top"
                                    data-tooltip="{{::'l-adicionarDisciplina' | i18n : [] : 'js/aluno/matricula'}}"                                    
                                    class="glyphicon glyphicon-plus-sign paddingMat corAzulIconeMat"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</totvs-page-detail>
