<div class="panel panel-info-matricula" id='panel-sugestao-disciplinas' ng-if="controller.disciplinasSDD[0].IDTURMADISC > 0" data-tutorial="sugestao-disciplina">
    <div class="panel-heading">
        <strong>{{::'l-sugestaoDisciplina' | i18n : [] : 'js/aluno/matricula'}}</strong>
    </div>
    <div class="panel-body">
        <totvs-group-content class="totvs-group" ng-repeat="periodo in controller.disciplinasSDD | unique: 'CODPERIODO' " title="{{periodo.PERIODO}}">
            <div class="table-responsive">
                <table class="table table-hover table-borderbottom tableMatricula">
                    <tbody>
                        <tr ng-click="controller.disciplinaSelecionada(disciplina)" style="cursor: pointer;" class="clickable-row" ng-repeat="disciplina in controller.disciplinasSDD | filter: {CODPERIODO: periodo.CODPERIODO} | unique: 'CODDISC' | orderBy: 'CODDISC'" >
                            <td class="col-sm-2">
                                {{disciplina.CODDISC}}
                            </td>
                            <td class="col-sm-8">
                                {{disciplina.DISCIPLINA}}
                            </td>
                            <td class="col-sm-1">
                                <span class="glyphicon glyphicon-ok pull-right paddingMat corAzulIconeMat" 
                                    tooltip-append-to-body="appendToBody=true" 
                                    tooltip-placement="left" 
                                    data-tooltip="{{::'l-disciplinaAdicionada' | i18n : [] : 'js/aluno/matricula'}}"
                                    ng-if="disciplina.EXIBEMATRICULADO === true">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </totvs-group-content>
        <span ng-if="controller.paramsEdu.VISUALIZAROPCAOMATDISCEXTRA == true" id="add-disc-extra" class="pull-right paddingTop10Mat" data-tutorial="disciplinas-extras">
            <span class="glyphicon glyphicon-plus-sign paddingMat corAzulIconeMat"></span>
            <a ng-click="controller.disciplinasExtrasModal()" class="clickable">
                {{::'l-adicionarDisciplinaExtra' | i18n : [] : 'js/aluno/matricula'}}
            </a>
        </span>
    </div>
</div>
