<div id="slideout" class="slideout" ng-if="controller.paramsEdu.VISUALIZARSIMULACAOPAGTO && controller.renderizarSlideOut">
    <img ng-click="controller.calculaPlanoPagamento()" src="assets/img/slideout_simulacao.png" class="slideout_img" style="cursor: pointer;">
    <div id="slideout_inner" class="slideout_inner">
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-md-12">
                    <field type="combo" class="col-sm-12 comboSlideout" 
                        ng-model="controller.planoPagamentoSelecionado"
                        ng-options="plano.codPlanoPgto as plano.nomePlano for plano in controller.planosPagamentoDisponiveis"
                        ng-if="controller.paramsEdu.VISUALIZARPLANOPGTO"
                        ng-disabled="controller.permiteAlterarPlanoPagamento === false">
                    </field>
                </div>
            </div>
            <div class="row" ng-if="controller.planoPagamentoSelecionado !== ''">
                <div class="col-md-12">
                    <div class="table-responsive divTableSlideout">
                        <table class="table table-borderbottom tableSlideout" 
                            ng-repeat="planoPgto in controller.planosPagamentoDisponiveis | filter: {'codPlanoPgto': controller.planoPagamentoSelecionado} : true">
                            <thead>
                                <td>{{::'l-parcela' | i18n : [] : 'js/aluno/matricula'}}</td>
                                <td>{{::'l-valor' | i18n : [] : 'js/aluno/matricula'}}</td>
                                <td>{{::'l-dataVencimento' | i18n : [] : 'js/aluno/matricula'}}</td>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parcela in planoPgto.listParcelas">
                                    <td>{{parcela.parcela}}</td>
                                    <td>{{parcela.valorLiquido | currency}}</td>
                                    <td>{{parcela.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

