<totvs-page type="list">
    <div class="row">
        <edu-widgets-container container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/notafalta-unificada'}}" id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/notafalta-unificada' }}: ">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
            </div>
        </div>
    </totvs-page-header>

    <totvs-page-content class="faltasDesempenho" ng-hide="controller.notaFaltaUnificada.length == 0">
        <totvs-page-content>

            <div id="notaFaltaUnificadaGrid">
            </div>

        </totvs-page-content>
    </totvs-page-content>

    <br>

    <totvs-page-alert ng-show="controller.notaFaltaUnificada.length == 0" type="info" message="">
        <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/notafalta-unificada' }}
    </totvs-page-alert>    
</totvs-page>