<totvs-page type="list">

    <totvs-page-header class="pageHeader">
        <totvs-page-header-title>
            {{ ::'l-title-complemento-disciplina' | i18n : [] : 'js/aluno/disciplina' }}
        </totvs-page-header-title>
    </totvs-page-header>

    <totvs-page-content>

        <totvs-list-item id="{{complemento.tipo}}"
						 class="tag-2"
						 ng-repeat="complemento in controller.model">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{complemento.descricao}}"
				    class="ocorrencias tag legend col-xs-12 col-sm-12 col-md-12 col-lg-12">
				</totvs-list-item-title>
			</totvs-list-item-header>
            <totvs-list-item-content-detail>

                <totvs-list-item-info ng-if="item.DESCRICAO.length > 0" ng-repeat="item in complemento.complementos"
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span ng-bind-html="controller.getTrustHtml(item.DESCRICAO)"></span>
                        <totvs-divider></totvs-divider>
                </totvs-list-item-info>
                <div class="page-header" ng-if="complemento.publicacoes.length > 0">
                    <h4>{{ ::'l-publicao-vinculada' | i18n : [] : 'js/aluno/disciplina' }}</h4>
                </div>
                <totvs-list-item class="tag-4" ng-if="complemento.publicacoes.length > 0"
                     ng-repeat="publicacao in complemento.publicacoes">
                    <totvs-list-item-info
                        title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/disciplina' }}"
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        value="{{publicacao.TITULO}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info
                        title="{{ ::'l-professor' | i18n : [] : 'js/aluno/disciplina' }}"
                        class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
                        value="{{publicacao.NOMEPROF}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info
                        title="{{ ::'l-exemplares' | i18n : [] : 'js/aluno/disciplina' }}"
                        class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
                        value="{{publicacao.QTDEXEMPLARES}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info
                        title="{{ ::'l-exemplares-necessario' | i18n : [] : 'js/aluno/disciplina' }}"
                        class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
                        value="{{publicacao.QTDEXEMPLARESVINC}}">
                    </totvs-list-item-info>
                </totvs-list-item>
			</totvs-list-item-content-detail>
		</totvs-list-item>

        <totvs-page-alert ng-if="(controller.model.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-nenhum-registro-encontrado' | i18n : [] : 'js/aluno/disciplina' }}
        </totvs-page-alert>

	</totvs-page-content>
</totvs-page>



