<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title ng-style="{'float': 'left'}">
        {{ ::'l-titulo' | i18n : [] : 'js/aluno/entregas'}}<span ng-if="(controller.model.length > 0)"> ({{controller.modelLength}})</span>
        </totvs-page-header-title>
        <totvs-page-header-operation>
            <button class="btn btn-default" ng-style="{'position': 'absolute', 'right': '10px'}" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                <span class="glyphicon glyphicon-print"></span>
                {{ ::'btn-imprimir' | i18n : [] : '' }}
            </button>
        </totvs-page-header-operation>

        <fieldset class="row label-subtitulo" ng-hide="controller.ehTelaDisc">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4><label ng-style="{'float': 'left'}" for="cmbSelecaoTurmaDisciplina">{{ ::'l-disciplinas' | i18n : [] : '' }}:</label></h4>
                <edu-selecao-turmadisciplina
                    id="cmbSelecaoTurmaDisciplina"
                    ng-model="controller.disciplina"
                    data-refresh="controller.refresh"
                    ng-change="controller.disciplinaAlterada"
                    label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
                </edu-selecao-turmadisciplina>
            </div>
        </fieldset>

        <fieldset class="row label-subtitulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4><label ng-style="{'float': 'left'}" for="cmbSelecaoEtapa">{{ ::'l-etapas' | i18n : [] : '' }}:</label></h4>
                <edu-selecao-etapa id="cmbSelecaoEtapa"
                    tipoetapa="{{controller.tipoEtapa}}"
                    idturmadisc="controller.disciplina"
                    ng-model="controller.etapa"
                    ng-change="controller.etapaAlterada"
                    class="selecao-etapa"
                    label-item-default="{{::'l-todas-etapas' | i18n : [] : ''}}">
                </edu-selecao-etapa>
            </div>
        </fieldset>

        <totvs-page-tags>
            <tag class="legenda-verde legenda-content-1">{{::'l-tag-enviado' | i18n : [] : 'js/aluno/entregas'}}</tag>
            <tag class="legenda-vermelho legenda-content-2">{{::'l-tag-prazo-expirado' | i18n : [] : 'js/aluno/entregas'}}</tag>
            <tag class="legenda-amarelo legenda-content-3">{{::'l-tag-entrega-disponivel' | i18n : [] : 'js/aluno/entregas'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content>
		<totvs-list-item id="id-{{$index}}"
						 class="tag-2"
						 ng-repeat="item in controller.model | orderBy:['STATUSENTREGA','DTLIMITEENTREGAAVAL']">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{item.DESCRICAO}}"
				    class="entregas tag legend col-xs-12 col-sm-7 col-md-9 col-lg-9"
				    ng-class="controller.getLegendaTitle(item.STATUSENTREGA)">
				</totvs-list-item-title>

                <totvs-list-item-action
                    limit-primary-action="0"
                    class="col-lg-3 col-md-12 col-sm-5 col-xs-12">
                    <action
                        icon="glyphicon-floppy-open"
                        ng-click="controller.abrirModalUploadArquivos(item)"
                        ng-if="controller.verificaStatusPermiteAcao(item.STATUSENTREGA, 'post')">
                        {{controller.getLabelEnviarArquivo(item.STATUSENTREGA)}}
                    </action>
                    <action
                        icon="glyphicon-floppy-remove"
                        ng-click="controller.questionExcluirArquivo(item)"
                        ng-if="controller.verificaStatusPermiteAcao(item.STATUSENTREGA, 'delete')">
                        {{::'l-btn-excluir-file' | i18n : [] : 'js/aluno/entregas'}}
                    </action>
                    <action
                        icon="glyphicon-floppy-save"
                        ng-click="controller.baixarArquivo(item)"
                        ng-if="controller.verificaStatusPermiteAcao(item.STATUSENTREGA, 'get') &&
                               item.ARQUIVO !== null">
                        {{::'l-btn-baixar-file' | i18n : [] : 'js/aluno/entregas'}}
                    </action>
                </totvs-list-item-action>
			</totvs-list-item-header>
			<totvs-list-item-content>
				<totvs-list-item-info
                    title="{{::'l-data-limite' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.DTLIMITEENTREGAAVAL | date: 'short'}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-valor' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.VALOR | number: 2}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-ext-permitida' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="controller.extArqEntregaTrab !== null"
					value="{{controller.extArqEntregaTrab}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-tamanho-max-arq' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    ng-if="controller.tamanhoMaximoEntrega !== null"
					value="{{controller.tamanhoMaximoEntrega | number}} KB">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-disciplina' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6 obj-clicavel"
                    value="({{item.CODDISC}}) {{item.NOME}}"
                    ng-click="controller.abrirDetalhesDisciplina(item.IDTURMADISC)">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-etapa' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{item.DESCETAPA}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-arquivo' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.NOMEARQUIVO}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-protocolo-entrega' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.CONTROLEPROTOCOLO}}">
                </totvs-list-item-info>
			</totvs-list-item-content>
            <totvs-list-item-content-detail>
                <totvs-list-item-info
                    title="{{::'l-tamanho-arquivo' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.TAMANHOARQUIVO === null ? '' : item.TAMANHOARQUIVO + ' KB'}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-data-entrega' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
					value="{{item.DTENTREGA | date: 'short'}}">
                </totvs-list-item-info>
                <totvs-list-item-info
                    title="{{::'l-observacao' | i18n : [] : 'js/aluno/entregas'}}"
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
					value="{{item.OBSERVACAO}}">
                </totvs-list-item-info>
			</totvs-list-item-content-detail>
		</totvs-list-item>
		<totvs-list-pagination ng-if="controller.modelLength > controller.model.length &&
                                      controller.model.length > 0"
                               ng-click="controller.search(true);">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="(controller.model.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-nenhum-registro-encontrado' | i18n : [] : 'js/aluno/entregas'}}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>

<!-- modal envio trabalho -->
<form name="controller.anexoForm">
    <div class="modal fade" id="modalArquivo" tabindex="-1" role="dialog" aria-labelledby="modalArquivoInfoLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalArquivoInfoLabel">
                        {{::'l-add-arquivo-anexo' | i18n : [] : 'js/aluno/entregas'}}
                    </h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <edu-upload-file
                                        name="campoFile"
                                        required="true"
                                        max-file-size-kbytes="controller.tamanhoMaximoEntrega"
                                        extensions-permitted="controller.extArqEntregaTrab"
                                        model="controller.objFile.File"
                                        label="{{::'l-enviar-arquivo' | i18n : [] : 'js/aluno/entregas'}}">
                                    </edu-upload-file>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <field
                                        type="textarea"
                                        name="campoObservacaoArquivo"
                                        maxlength="500"
                                        rows="3"
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        ng-model="controller.objFile.Observacao"
                                        label="{{ ::'l-observacao' | i18n : [] : 'js/aluno/entregas'}}">
                                    </field>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="controller.enviarArquivo()" data-backdrop="false">
                        {{::'l-btn-entregar' | i18n : [] : 'js/aluno/entregas'}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
