<div ng-controller="eduWidgetsDiscEmCursoController as controller" class="widgetDisciplinas">

    <totvs-widget>

        <totvs-widget-header title="{{ 'l-disciplina-em-curso' | i18n : [] : 'js/widgets' }}">
        </totvs-widget-header>

        <a ng-click="controller.goQuadroHorario()" class="link-widget">
            {{ ::'l-go-quadro-horario' | i18n : [] : 'js/widgets' }}
        </a>

        <totvs-widget-body>

            <totvs-page type="list">

                <totvs-page-header></totvs-page-header>

                <totvs-page-content ng-style="{'max-height':''}" ng-if="controller.hasValue">
                    <totvs-list-item id="id{{disc.IDTURMADISC}}"
                                    class=""
                                    ng-repeat="disc in controller.objWidget.DadosWidget"
                                    ng-if="controller.hasValue">
                        <totvs-list-item-header>
                            <totvs-list-item-title class="col-lg-12 col-md-12 col-sm-12 col-xs-12 link-wdgt-disc">
                                <a ng-click="controller.abrirDetalhesDisciplina(disc.IDTURMADISC)">
                                    {{disc.DISCIPLINA}}
                                </a>
                            </totvs-list-item-title>
                        </totvs-list-item-header>
                        <totvs-list-item-content>
                            <totvs-list-item-info ng-repeat="horario in disc.HORARIOS"
                                                title="{{horario.DIA}}"
                                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                value="{{controller.getTemplateHorario(horario.HORAS)}}">
                            </totvs-list-item-info>
                        </totvs-list-item-content>
                    </totvs-list-item>

                    <totvs-page-alert
                        ng-if="!controller.hasValue"
                        type="info"
                        message="">
                        <span class="glyphicon glyphicon-info-sign" ></span>
                        {{ ::'l-nenhuma-info-disponivel' | i18n : [] : 'js/widgets' }}
                    </totvs-page-alert>

                </totvs-page-content>

            </totvs-page>

        </totvs-widget-body>

        <!--<totvs-widget-footer>

            <totvs-widget-footer-actions>
                <action ng-click='controller.exportToPdf()'>{{ 'l-exportar' | i18n : [] : 'js/widgets' }}</action>
            </totvs-widget-footer-actions>

        </totvs-widget-footer>-->

    </totvs-widget>

</div>


