<style>
        .pageHeader {
            margin: 0 0 !important;
        }

</style>
<span>
    <totvs-page type="list">
        <totvs-page-header class="pageHeader non-printable">
            <totvs-page-header-title  title="{{ ::'l-titulo-matricula-basico' | i18n : [] : 'js/aluno/matricula' }}" ng-if="!controller.parametrosMatricula.TituloMatricula">
            </totvs-page-header-title>
            <totvs-page-header-title title="{{ controller.parametrosMatricula.TituloMatricula }}" ng-if="controller.parametrosMatricula.TituloMatricula">
            </totvs-page-header-title>
            <div ng-style="{'float': 'right'}" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">
                <button class="btn btn-default" ng-click="controller.retrocederEtapa()" ng-show="controller.retornarEtapaAtual().ordem > 1 && controller.retornarEtapaAtual().ordem  < controller.etapas.length">
                    {{ ::'l-btn-anterior' | i18n : [] : 'js/aluno/matricula' }}
                </button>
                <button class="btn btn-primary" ng-click="controller.avancarEtapa()" ng-hide="controller.retornarEtapaAtual().ordem  == controller.etapas.length">
                    {{ ::'l-btn-proximo' | i18n : [] : 'js/aluno/matricula' }}
                </button>
            </div>
        </totvs-page-header>
        <div class="container-fluid wizard-title non-printable" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">
                <div class="container wizard">
                    <div class="steps">
                        <div class="step"
                             ng-class="{ 'done' : etapa.realizado, 'active' : controller.retornarEtapaAtual().nome === etapa.nome, 'blocked' : controller.processoFinalizado }"
                             ng-repeat="etapa in controller.etapas"
                             ng-click="controller.redirecionar(etapa.nome)">
                            <div class="circle">
                                <span ng-show="etapa.realizado" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span ng-show="!etapa.realizado">{{etapa.ordem}}</span>
                            </div>
                            <p>{{etapa.descricao}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <totvs-page-content class="printable">

            <div class="pageHeader page-head">
                    <div class="row">

                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 non-show-screen" ng-bind-html="controller.htmlParaImpressao">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 non-printable">
                            <p class="title wizard-step-title" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">
                                <h3>{{controller.retornarEtapaAtual().descricao}}</h3>
                            </p>
                            <ng-bind-html ng-bind-html="controller.MensagemMatriculaNaoDisponivelHTML" ng-if="!controller.parametrosMatricula.MatriculaDiscponivel">
                            </ng-bind-html>
                        </div>
                    </div>
            </div>
            <div class="edu-wizard-views non-printable" ui-view></div>
        </totvs-page-content>
    </totvs-page>
    <span ng-include="'js/aluno/matricula/template-etapa/etapa-modal-contrato.view.html'"></span>

