<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/atividades-extras'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/atividades-extras' }}: ">
                </totvs-page-header-title>
            </div>
        </div>
    </totvs-page-header>
    <totvs-page-content class="atividadesCurriculares">
        <totvs-page-detail>
            <div>
                <totvs-tabset>
                    <totvs-tab
                        heading="{{ ::'l-inscricao' | i18n : [] : 'js/aluno/atividades-extras' }}"
                        ng-if="controller.exibeTab('inscricao')">
                        <div ui-view="inscricao"></div>
                    </totvs-tab>

                    <totvs-tab
                        active="controller.activeTabInscritas"
                        heading="{{ ::'l-atividades-inscritas' | i18n : [] : 'js/aluno/atividades-extras' }}"
                        ng-if="controller.exibeTab('inscritas')">
                        <div ui-view="inscritas"></div>
                    </totvs-tab>
                </totvs-tabset>
            </div>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
