<!-- Modal -->
<div class="modal fade" id="modalContratoMatricula" tabindex="-1" role="dialog" aria-labelledby="labelTituloContratoModalMatricula">
    <div class="modal-dialog modal-dialog-scroll modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelTituloContratoModalMatricula">
                    {{ controller.tituloContratoFinanceiro }}
                </h4>
            </div>
            <div class="modal-body modal-body-scroll">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <button class="btn btn-default" onclick="javascript: window.print();">
                                <span class="glyphicon glyphicon-print"></span>
                                {{ ::'btn-imprimir' | i18n : [] : '' }}
                            </button>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-bind-html="controller.textoContratoFinanceiro">
                            </div>
                        </div>
                        <br />
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                    <div style="float: left; cursor: pointer" ng-hide="controller.retornarEtapaAtual().realizado">
                        <input type="checkbox" id="chkAceiteContrato" style="cursor: pointer" ng-model="controller.AceiteContrato">
                        <label for="chkAceiteContrato" style="cursor: pointer">{{::'l-aceite-contrato-matricula' | i18n : [] : 'js/aluno/matricula' }}</label>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{::'l-btn-cancelar-matricula' | i18n : [] : 'js/aluno/matricula' }}</button>
                    <button type="button" class="btn btn-primary" ng-hide="controller.retornarEtapaAtual().realizado" ng-click="controller.realizarMatricula()">{{::'l-btn-finalizar-matricula' | i18n : [] : 'js/aluno/matricula' }}</button>
            </div>
        </div>
    </div>
</div>
