<style>
.tb-pletivo tr th{
    text-align: center !important;
}
.tb-pletivo td{
    text-align: center;
    padding: 5px;
}
</style>

<div data-role="grid" class="k-grid k-widget" style="height: 100%;" ng-if="controller.parametrosMatricula.MatriculaDiscponivel">
    <div class="k-grid-header" style="padding-right: 17px;">
        <div class="k-grid-header-wrap k-auto-scrollable">
            <table role="grid" class="tb-pletivo">
                <thead role="rowgroup">
                    <tr role="row" style="height: 25px;vertical-align: middle;">
                        <th colspan="4">
                            <b>{{::'l-pldisponivel-cursodisponivel' | i18n : [] : 'js/aluno/matricula' }}</b>
                        </th>
                    </tr>
                    <tr style="height: 25px;vertical-align: middle;">
                        <th>
            							{{::'l-etapa-selecao-periodo-letivo' | i18n : [] : 'js/aluno/matricula' }}
            						</th>
                                    <th>
            							{{::'l-curso' | i18n : [] : 'js/aluno/matricula' }}
            						</th>
                                    <th>
            							{{controller.tituloColunaHabilitacaoSerie}}
            						</th>
                                    <th>
            							{{::'l-turno' | i18n : [] : 'js/aluno/matricula' }}
            						</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="k-grid-content k-auto-scrollable">
        <table role="grid" style="height: auto;" class="tb-pletivo">
            <tbody role="rowgroup">
                <form name="periodoLetivo" class="k-scheduler-content">
                    <tr class="k-alt" role="row" ng-repeat="habilitacao in controller.habilitacoesPLDisponiveis">
                        <th scope="row" style="vertical-align: middle;">
							<input type="radio"
							ng-model="controller.habilitacaoSelecionada"
							name="{{habilitacao.IDPERLET}}{{habilitacao.IDHABILITACAOFILIAL}}"
							id="{{habilitacao.IDPERLET}}{{habilitacao.IDHABILITACAOFILIAL}}"
							ng-value="habilitacao"
							ng-change="controller.HabilitacaoPLSelecionado(habilitacao)"
                                required />
							<label for="{{habilitacao.IDPERLET}}{{habilitacao.IDHABILITACAOFILIAL}}">{{habilitacao.CODPERLET}}</label>
                        </th>
                        <td>{{habilitacao.NOMECURSO}}</td>
                        <td>{{habilitacao.NOMEHABILITACAO}}</td>
                        <td>{{habilitacao.NOMETURNO}}</td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>

</div>

<br>

<span ng-repeat="grupoValidacao in controller.validacoesPLSelecionado">
	<div ng-class="{ 'alert alert-danger': grupoValidacao.bloquearMatricula==true , 'alert alert-info': grupoValidacao.bloquearMatricula==false}" role="alert">
		<h5 class="alert-heading">
			<strong>{{grupoValidacao.tituloGrupoMensagens}}</strong>
		</h5>
		<span ng-repeat="item in grupoValidacao.Mensagens">
			<p>{{item.Mensagem}}</p>
		</span>
	</div>
</span>
