<totvs-grid grid="controller.gridInstance"grid-data="controller.disciplinasHabilitacaoSelecionada" selectable="false" ng-hide="(controller.disciplinasHabilitacaoSelecionada.length != 0)">
        <totvs-grid-column class="gridRow text-center" field="CODDISC">
            {{::'l-matricula-codigo-disciplina' | i18n : [] : 'js/aluno/matricula' }}
        </totvs-grid-column>
        <totvs-grid-column class="text-center" field="DISCIPLINA">
            {{::'l-matricula-descricao-disciplina' | i18n : [] : 'js/aluno/matricula' }}
        </totvs-grid-column>
        <totvs-grid-column class="text-center" field="PERIODO">
            {{::'l-matricula-periodo-disciplina' | i18n : [] : 'js/aluno/matricula' }}
        </totvs-grid-column>
        <totvs-grid-column class="text-center" field="SITUACAOALUNODISC">
                {{::'l-matricula-situacao-disciplina' | i18n : [] : 'js/aluno/matricula' }}
        </totvs-grid-column>
        <totvs-grid-column class="text-center" field="TURMA">
                {{::'l-matricula-turma' | i18n : [] : 'js/aluno/matricula' }}
        </totvs-grid-column>
</totvs-grid>
<totvs-page-alert ng-if="(controller.disciplinasHabilitacaoSelecionada.length == 0)" type="info">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{ ::'l-nenhuma-matricula-disciplina-disponivel' | i18n : [] : 'js/aluno/matricula'}}
</totvs-page-alert>
