<!-- MODAL DE DISCIPLINAS EXTRAS -->
<span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/modal-disciplinas-extras.html'">
</span>
<!-- FIM DO MODAL DE DISCIPLINAS EXTRAS -->

<!-- MODAL DE DISCIPLINAS DO HORARIO -->
<span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/modal-disciplinas-do-horario.html'">
</span>
<!-- FIM DO MODAL DE DISCIPLINAS DO HORARIO -->


<!-- PAINEL SUPERIOR DE QUADRO DE HORARIO -->
<span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-quadro-horario.html'">
</span>
<!-- FIM DO PAINEL SUPERIOR DE QUADRO DE HORARIO -->

<!-- PAINEL DE CREDITOS SELECIONADOS -->
<span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-creditos-selecionados.html'">
</span>
<!-- PAINEL DE CREDITOS SELECIONADOS -->


<!-- INICIO DO SLIDEOUT -->
<span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/slide-simulacao-pagamento.html'">
</span>
<!-- FIM DO SLIDEOUT -->


<!-- INICIO DO PAINEL DA ESQUERDA (DISCIPLINAS MATRICULADAS E SDD)-->

<totvs-page-detail id="painelDisciplinas" ng-class="(controller.exibePainelInformacoes == true || 
                                                     controller.exibePainelValidacoes == true) ? 
                                                    'PainelAnimacao col-sm-12 col-md-5 paddingTop0Mat' : 
                                                    'PainelAnimacao col-sm-12 paddingTop0Mat'">

    <totvs-page-alert class="marginLeft14Matricula" ng-if="(controller.disciplinasSDD.CODDISC ||
                                                    controller.disciplinasMatriculadas.CODDISC)" type="info" message="">

    <span class="glyphicon glyphicon-info-sign"></span>{{::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/grade-curricular'}}</totvs-page-alert>

    <!-- PAINEL DE DISCIPLINAS ADICIONADAS -->
    <span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-disciplinas-adicionadas.html'">
    </span>
    <!-- FIM DO PAINEL DE DISCIPLINAS ADICIONADAS -->
     
    <!-- PAINEL DE SUGESTÃO DE DISCIPLINAS -->
    <span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-sugestoes-disciplinas.html'">
    </span>
    <!-- FIM DO PAINEL DE SUGESTÃO DE DISCIPLINAS -->

    <!-- PAINEL DE RESUMO DA MATRICULA -->
    <span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-resumo.html'">
    </span>
    <!-- PAINEL DE RESUMO DA MATRICULA -->    

</totvs-page-detail>

<!-- FINM DO PAINEL DA ESQUERDA -->

<!-- INICIO DO PAINEL DA DIREITA (VALIDAÇÕES E INFO DE TURMA/DISCIPLINAS) -->

<totvs-page-detail class="col-sm-12 col-md-7 paddingTop0Mat" ng-if="controller.exibePainelValidacoes || controller.exibePainelInformacoes">

    <!-- PAINEL DE VALIDAÇÕES -->

    <span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-validacoes.html'">
    </span>

    <!-- FIM DO PAINEL DE VALIDAÇÕES -->

    <!-- PAINEL DE INFORMAÇÕES DAS TURMAS/DISCIPLINAS-->
    <span ng-include="'js/aluno/matricula/template-etapa/etapa-disciplinas-es/painel-informacoes-turma-disciplina.html'">
    </span>
    <!-- FIM DO PAINEL DE INFORMAÇÕES DAS TURMAS/DISCIPLINAS -->

</totvs-page-detail>

<!-- FIM DO PAINEL DA DIREITA -->