<style>
    .item-clicavel {
        cursor: pointer;
    }
</style>
<totvs-page>
    <totvs-page-content>
        <div class="row">
            <div class="alert alert-info" role="alert">
                <h5 class="alert-heading">
                    <strong> {{controller.mensagemConfirmacaoMatricula}} </strong>
                </h5>
                <span>
                    <span ng-if="controller.comprovanteDisponivelImpressao">
                        <p>
                            {{::'l-matricula-eb-info adicionais' | i18n : [] : 'js/aluno/matricula' }}
                        </p>
                    </span>
                </span>
            </div>

            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <h3><p>
                    <a class="item-clicavel" ng-if="controller.comprovanteDisponivelImpressao" ng-click="controller.exibirModalComprovante(true)">
                        <span class="glyphicon glyphicon-download-alt fontIcon22"></span> {{::'l-btn-download-comprovante' | i18n : [] : 'js/aluno/matricula' }}
                    </a>
                </p></h3>
                <h3><p>
                    <a class="item-clicavel" ng-if="controller.contratoDisponivelImpressao" ng-click="controller.exibirModalContratoMatricula(true)">
                        <span class="glyphicon glyphicon-download-alt fontIcon22"></span> {{ controller.tituloContratoFinanceiro }}
                    </a>
                </p></h3>
            </div>
        </div>

        <div class="row" ng-if="controller.exibirOpcoesPagamento()">

            <hr>

            <p class="panel-title" style="font-size:28px">{{::'l-pagamento' | i18n : [] : 'js/aluno/matricula' }}</p><br>

            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <h3><p ng-if="controller.exibeBtnPagamentoBoleto()">
                    <a class="item-clicavel" ng-click="controller.emitirBoleto()">
                        <span class="glyphicon glyphicon-barcode fontIcon22"></span> {{::'l-boleto' | i18n : [] : 'js/aluno/matricula' }}
                    </a>
                </p></h3>
                <h3><p ng-if="controller.exibeBtnPagamentoCartao()">
                    <a class="item-clicavel" ng-click="controller.exibirDadosPagCartao()">
                        <span class="glyphicon glyphicon-credit-card fontIcon22"></span> {{::'l-cartao' | i18n : [] : 'js/aluno/matricula' }}
                    </a>
                </p></h3>
            </div>
        </div>
    </totvs-page-content>
</totvs-page>



<!-- Modal -->
<div class="modal fade" id="modalComprovanteMatricula" tabindex="-1" role="dialog" aria-labelledby="labelTituloComprovanteModalMatricula">
    <div class="modal-dialog modal-dialog-scroll modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <h4 class="modal-title" id="labelTituloComprovanteModalMatricula">
                    {{ controller.tituloComprovanteMatricula }}
                </h4>
            </div>
            <div class="modal-body modal-body-scroll">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <button class="btn btn-default" onclick="javascript: window.print();">
                                    <span class="glyphicon glyphicon-print"></span>
                                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                                </button>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-bind-html="controller.textoComprovante">
                            </div>
                        </div>
                        <br />
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{::'l-btn-fechar-matricula' | i18n : [] : 'js/aluno/matricula' }}</button>
            </div>
        </div>
    </div>
</div>