<div class="k-grid-content k-auto-scrollable">
<form name="planoPagamento" class="k-scheduler-content">
    <div>{{::'l-titulo-planos-pagamento' | i18n : [] : 'js/aluno/matricula' }}</div><br/><br/>


    <table role="grid" style="height: auto;" ng-repeat="plano in controller.planosPagamentoDisponiveis" width="70%">
        <tbody role="rowgroup">
            <tr role="row">
                <th scope="row" style="padding: 15px;">
                    <input type="radio"
                    ng-model="controller.planoPagamentoSelecionado"
                    name="{{plano.codPlanoPgto}}"
                    id="{{plano.codPlanoPgto}}"
                    ng-value="plano.codPlanoPgto"
                    ng-disabled="controller.permiteAlterarPlanoPagamento === false"
                    ng-required="controller.permiteAlterarPlanoPagamento === true" />
                    <label for="{{plano.codPlanoPgto}}">{{plano.nomePlano}} ({{plano.descricaoPlano}})</label>

                    <totvs-group-content title="{{::'l-detalhar-parcelamento' | i18n : [] : 'js/aluno/matricula' }}" class="detalhesGradeCurricular" ng-if="plano.numeroParcelas > 0">
                        <totvs-grid grid-data="plano.listParcelas" selectable="false">
                            <totvs-grid-column class="gridRow text-center" field="parcela" width="20%">
                                {{::'l-numero-parcela' | i18n : [] : 'js/aluno/matricula' }}
                            </totvs-grid-column>
                            <totvs-grid-column class="gridRow text-center" field="servico" width="20%">
                                {{::'l-servico-parcela' | i18n : [] : 'js/aluno/matricula' }}
                            </totvs-grid-column>
                            <totvs-grid-column class="text-center" field="valor" width="20%" template="controller.formataMoeda">
                                {{::'l-valor-simulado' | i18n : [] : 'js/aluno/matricula' }}
                            </totvs-grid-column>
                        </totvs-grid>
                    </totvs-group-content>
                </th>
            </tr>
        </tbody>
    </table>
</form>
</div>
