<totvs-page type="detail">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/arquivos'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/arquivos' }}:">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo"
                        ng-change="controller.periodoLetivoAlterado">
                </edu-selecao-periodoletivo>
            </div>
        </div>
    </totvs-page-header>

    <totvs-page-content class="arquivos-materiais">
        <totvs-page-detail>
            <section>
                <totvs-tabset>
                    <totvs-tab
                       ng-if="controller.exibeTab('materiais')"
                       heading="{{ ::'l-material-disciplinas' | i18n : [] : 'js/aluno/arquivos' }}">

                        <div ui-view="materiais" class="materiais"></div>
                    </totvs-tab>
                    <totvs-tab
                        ng-if="controller.exibeTab('institucionais')"
                        heading="{{ ::'l-materiais-institucionais' | i18n : [] : 'js/aluno/arquivos' }}">

                        <div ui-view="institucionais" class="institucionais"></div>
                    </totvs-tab>

                </totvs-tabset>
            </section>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
