<totvs-page type="edit">
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title title="{{ ::'l-titulo-tcc-cadastro' | i18n : [] : 'js/aluno/tcc' }}">
        </totvs-page-header-title>
    </totvs-page-header>
     <totvs-page-content>
 
        <div class="page-form">
                <form name="controller.formulario" class="form-horizontal row">
                    <fieldset>
                        <totvs-field
                            name="campoTema"
                            totvs-input
                            canclean
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.model.TEMA"
                            required
                            label="{{ ::'l-tema' | i18n : [] : 'js/aluno/tcc' }}"
                            focus>
                            <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                            
                        </totvs-field>   
                        <div class="checkbox">
                            <label ng-style="{'margin-top': '10px'}">
                                <field 
                                       type="checkbox"
                                       name="campoPublicar"
                                       class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                       ng-model="controller.model.AUTORIZAPUBLICACAO">
                                </field>
                                <span ng-style="{'margin-left': '15px'}">{{:: 'l-publicar' | i18n : [] : 'js/aluno/tcc' }}</span>
                            </label>
                        </div>
                        <hr />                     
                        <field
                            name="campoMatriculaVinculada"
                            type="combo"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.model.IDTURMADISC"
                            required
                            ng-disabled="controller.desabilitaCampo"
                            label="{{ ::'l-matricula-vinculada' | i18n : [] : 'js/aluno/tcc' }}"
                            ng-options="matVinculadas.IDTURMADISC as (matVinculadas.CODDISC  + ' - ' +
                                        matVinculadas.NOMEDISC) for matVinculadas in controller.listMatVinculadas"
                            >
                            <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                        </field>
                         <field
                            name="campoLinhaPesquisa"
                            type="combo"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.model.IDLINHAPESQUISA"
                            required
                            ng-disabled="controller.desabilitaCampo"
                            label="{{ ::'l-linha-pesquisa' | i18n : [] : 'js/aluno/tcc' }}"
                            ng-options="linhaPesquisa.IDLINHAPESQUISA as linhaPesquisa.NOME for linhaPesquisa in controller.listlinhaPesquisa"
                            >
                            <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                        </field>
                        <field
                            name="campoTipo"
                            type="combo"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"                            
                            ng-model="controller.model.IDTIPOTCC"
                            required
                            ng-disabled="controller.desabilitaCampo"
                            label="{{ ::'l-tipo' | i18n : [] : 'js/aluno/tcc' }}"
                            ng-options="tipo.IDTIPOTCC as tipo.NOME for tipo in controller.listTipo"
                            >
                            <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                        </field>
                        <totvs-divider></totvs-divider>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  ng-style="{'margin-top': '50px', 'padding-right': '32px'}">
                                <totvs-page-header-operation>
                                    <totvs-page-header-operation-action
                                                                        hide-save-new="true">
                                    </totvs-page-header-operation-action>
                                </totvs-page-header-operation>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
          
  </totvs-page-content>
</totvs-page>