<totvs-page type="list">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pageHeaderTab">
                <div class="headTab">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <h2 class="title">
                                {{ ::'l-title-tcc-disciplina' | i18n : [] : 'js/aluno/tcc' }}
                            </h2>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <button class="btn btn-default" ng-style="{'margin-top': '15px'}" ng-click="controller.imprimir()" ng-if="controller.permiteImpressao">
                                <span class="glyphicon glyphicon-print"></span>
                                {{ ::'btn-imprimir' | i18n }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <totvs-page-content>
        <totvs-list-item>
            <totvs-list-item-header>
                <totvs-list-item-title
                title="{{ controller.objTCCLista[0].TEMA ?
                        controller.objTCCLista[0].TEMA : ('l-identificador' | i18n : [] : 'js/aluno/tcc')}}"
                 class="col-xs-6 col-sm-7 col-md-9 col-lg-9">
                </totvs-list-item-title>

                <totvs-list-item-action limit-primary-action="1"
                class="col-lg-3 col-md-3 col-sm-5 col-xs-6 actions-group">

                    <action ng-if="controller.objTCCLista.length == 0"
                            icon="glyphicon glyphicon-file"
                            ng-click="controller.incluirTCC()">
                        {{'l-incluir' | i18n : [] : 'js/aluno/tcc'}}
                    </action>
                    <action
                        ng-if="controller.objTCCLista.length > 0"
                        icon="glyphicon glyphicon-edit"
                        ng-click="controller.editarTCC()">
                        {{'l-editar' | i18n : [] : 'js/aluno/tcc'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <div ng-repeat="objTCC in controller.objTCCLista">
                <totvs-list-item-info class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                    title="{{'l-tipo' | i18n : [] : 'js/aluno/tcc' }}"
                    value="{{ objTCC.NOMETIPO }}">
                </totvs-list-item-info>

                <totvs-list-item-info class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                    title="{{'l-linha-pesquisa' | i18n : [] : 'js/aluno/tcc' }}"
                    value="{{ objTCC.NOMELINHAPESQUISA }}">
                </totvs-list-item-info>

                <totvs-list-item-info class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                    title="{{'l-situacao-tcc' | i18n : [] : 'js/aluno/tcc' }}"
                    value="{{objTCC.NOMESTATUS}}">
                </totvs-list-item-info>

                <totvs-list-item-info class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                title="{{'l-autoriza-publicacao' | i18n : [] : 'js/aluno/tcc' }}">

                    <span ng-if="objTCC.AUTORIZAPUBLICACAO === 'S'">{{'l-sim' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</span>
                    <span ng-if="objTCC.AUTORIZAPUBLICACAO === 'N'">{{'l-nao' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</span>
                </totvs-list-item-info>

            </div>
        </totvs-list-item>

        <totvs-list-item>
            <totvs-list-item-header>
                <totvs-list-item-title title="{{:: 'l-orientadores' | i18n : [] : 'js/aluno/tcc'}}"
                    class="ocorrencias tag legend">
                </totvs-list-item-title>
                <totvs-list-item-action limit-primary-action="1">
                    <action icon="glyphicon glyphicon-envelope" ng-click="controller.abrirModalProfessor()" ng-if="controller.consultaPermissao()">
                        {{'l-convidar-professor' | i18n : [] : 'js/aluno/tcc'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content-detail>
                <div ng-repeat="orientador in controller.objOrientadores">
                    <totvs-list-item-info class="col-xs-6 col-sm-6 col-md-6 col-lg-6" title="{{'l-professor' | i18n : [] : 'js/aluno/tcc' }}">
                        <span>{{ orientador.NOMEPROFESSOR }}</span>
                    </totvs-list-item-info>

                    <totvs-list-item-info class="col-xs-6 col-sm-6 col-md-6 col-lg-6" title="{{'l-situacao' | i18n : [] : 'js/aluno/tcc' }}">
                        <span>{{ controller.formataSituacao(orientador) }}</span>
                    </totvs-list-item-info>

                    <totvs-list-item-info ng-if="orientador.JUSTIFICATIVA" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" title="{{'l-justificativa' | i18n : [] : 'js/aluno/tcc' }}">
                        <span>{{ orientador.JUSTIFICATIVA }}</span>
                    </totvs-list-item-info>
                    <totvs-divider ng-if="controller.objOrientadores.length > 1 && controller.objOrientadores.length - 1 !== $index">
                    </totvs-divider>
                </div>
            </totvs-list-item-content-detail>
        </totvs-list-item>

        <totvs-list-item ng-if="controller.objTCCLista[0].TCCEMGRUPO">
            <totvs-list-item-header>
                <totvs-list-item-title title="{{:: 'l-grupo-aluno' | i18n : [] : 'js/aluno/tcc' }}" class="ocorrencias tag legend">
                </totvs-list-item-title>
                <totvs-list-item-action limit-primary-action="1">

                    <action icon="glyphicon glyphicon-user" ng-click="controller.abrirModalAluno()">
                        {{'l-cadastrar-aluno' | i18n : [] : 'js/aluno/tcc'}}
                    </action>

                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content-detail ng-if="controller.objGrupoAlunos.length > 0">
                <div ng-repeat="aluno in controller.objGrupoAlunos">
                    <totvs-list-item-info class="col-xs-4 col-sm-4 col-md-6 col-lg-6" title="{{'l-nome' | i18n : [] : 'js/aluno/tcc' }}">
                        </br>
                        <span>{{ aluno.NOMEALUNO }}</span>
                    </totvs-list-item-info>
                    <totvs-list-item-info class="col-xs-4 col-sm-4 col-md-6 col-lg-6" title="{{'l-ra' | i18n : [] : 'js/aluno/tcc' }}">
                        </br>
                        <span>{{ aluno.RA }}</span>
                    </totvs-list-item-info>
                    <totvs-divider ng-if="controller.objGrupoAlunos.length > 1 && controller.objGrupoAlunos.length - 1 !== $index"></totvs-divider>
                </div>
            </totvs-list-item-content-detail>
        </totvs-list-item>
    </totvs-page-content>
</totvs-page>


<!-- Modal Orientador -->
<div class="modal fade" id="modalOrientadores" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModal">
                    {{::'l-convidar-professor' | i18n : [] : 'js/aluno/tcc' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">

                                <field name="campoProfessor" type="combo" class="col-lg-12 col-md-10 col-sm-12 col-xs-12" canclean ng-model="controller.professor" required label="{{ ::'l-professor' | i18n : [] : 'js/aluno/tcc' }}" ng-options="professor.CODPROF as professor.NOME for professor
                                                in controller.objProfessoresDisponiveis">
                                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                                </field>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="controller.convidaOrientador()" class="btn btn-default">{{::'l-btn-convidar-professor' | i18n : [] : 'js/aluno/tcc' }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Grupo de Alunos -->
<div class="modal fade" id="modalGrupoAluno" tabindex="-1" role="dialog" aria-labelledby="mInfoLabelModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mInfoLabelModal">
                    {{::'l-incluir-aluno' | i18n : [] : 'js/aluno/tcc' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <field name="campoGrupoAluno" type="combo"
                                    class="col-lg-12 col-md-10 col-sm-12 col-xs-12" canclean ng-model="controller.aluno"
                                    required label="{{ ::'l-aluno' | i18n : [] : 'js/aluno/tcc' }}"
                                    ng-options="aluno.RA as aluno.NOMEALUNO for aluno
                                             in controller.objGrupoAlunosDisponiveis">
                                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc' }}</validator>
                                </field>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="controller.incluiAlunoGrupo()" class="btn btn-default">{{::'l-incluir-aluno' | i18n : [] : 'js/aluno/tcc' }}</button>
            </div>
        </div>
    </div>
</div>
