<totvs-page-header class="pageHeader">
    <div class="row form-group label-subtitulo" ng-if="!controller.ehTelaDisciplina">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cmbSelecaoTurmaDisciplina" class="col-xs-12 col-sm-12 col-md-2 col-lg-1">{{ ::'l-disciplinas' | i18n : [] : 'js/aluno' }}:</label>
            <edu-selecao-turmadisciplina ng-model="controller.disciplina" data-refresh="controller.refresh" ng-change="controller.onChangeDisciplina" label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
            </edu-selecao-turmadisciplina>
        </div>
    </div>
    <div class="row form-group label-subtitulo" ng-if="controller.permiteFiltrarEtapa">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="cmbSelecaoEtapa" ng-class="{
                'col-xs-12': !controller.ehTelaDisciplina,
                'col-sm-12': !controller.ehTelaDisciplina,
                'col-md-2': !controller.ehTelaDisciplina,
                'col-lg-1': !controller.ehTelaDisciplina}">{{ ::'l-faltas-disciplina' | i18n : [] : 'js/aluno/faltas' }}:</label>
            <edu-selecao-etapa id="cmbSelecaoEtapa" tipoetapa="{{controller.tipoEtapa}}" idturmadisc="controller.disciplina" ng-model="controller.codEtapa" ng-change="controller.onChangeEtapa" class="selecao-etapa" label-item-default="{{::'l-todas-etapas' | i18n : [] : ''}}">
            </edu-selecao-etapa>
        </div>
    </div>
</totvs-page-header>
<div class="btn-toolbar" role="toolbar" ng-show="controller.codEtapa > 0">
    <div class="btn-group input-group" role="group">
        <button type="button" ng-click="controller.preencheGridFaltasPorAula(15)" ng-class="{active: controller.activeBtn===15}" class="btn btn-default">
      {{::"l-btn-15" | i18n : [] : "js/aluno/faltas" }}</button>
        <button type="button" ng-click="controller.preencheGridFaltasPorAula(30)" ng-class="{active: controller.activeBtn===30}" class="btn btn-default">{{::"l-btn-30" | i18n : [] : "js/aluno/faltas" }}</button>
        <button type="button" ng-click="controller.preencheGridFaltasPorAula(90)" ng-class="{active: controller.activeBtn===90}" class="btn btn-default">{{::"l-btn-90" | i18n : [] : "js/aluno/faltas" }}</button>
        <button type="button" ng-click="controller.preencheGridFaltasPorAula(180)" ng-class="{active: controller.activeBtn===180}" class="btn btn-default">{{::"l-btn-180" | i18n : [] : "js/aluno/faltas" }}</button>
        <button type="button" ng-click="controller.preencheGridFaltasPorAula(360)" ng-class="{active: controller.activeBtn===360}" class="btn btn-default">{{::"l-btn-360" | i18n : [] : "js/aluno/faltas" }}</button>
        <span class="input-group-addon width-auto">{{::"l-btn-dias" | i18n : [] : "js/aluno/faltas" }}</span>
    </div>
    <div class="btn-group input-group" role="group">
        <totvs-field totvs-date-range depth='month' class="date-range-margins" t-mask-date='' format='{{::"l-date-format" | i18n : [] : "js/aluno/faltas" }}' ng-model='controller.dataRange' culture='{{::"l-culture" | i18n : [] : "js/aluno/faltas" }}' placeholder='{{::"l-date-range-placeholder" | i18n : [] : "js/aluno/faltas" }}'
            ng-show='true'>
        </totvs-field>
    </div>
    <div class="btn-group input-group" role="group">
        <button type="button" ng-click="controller.filtrarPorData(controller.dataRange)" ng-disabled="controller.naoPodeFiltrar()" class="btn btn-default">
            {{::"l-btn-filtrar" | i18n : [] : "js/aluno/faltas" }}
        </button>
    </div>
</div>
<div ng-hide="controller.faltasPorAula.length == 0">
    <totvs-grid grid-data="controller.faltasPorAula" selectable="false" grid="controller.myGrid" grid-options="controller.gridOptions" on-data="controller.onData(data)" resizable="true" groupable="true">
    </totvs-grid>
</div>

<totvs-page-alert ng-show="controller.faltasPorAula.length == 0" type="info" message="">
    <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/faltas' }}
</totvs-page-alert>

<!-- Modal -->
<div class="modal fade" id="mFaltasInfo" tabindex="-1" role="dialog" aria-labelledby="mFaltasInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mFaltasInfoLabel">
                    {{::'l-detalhes-falta' | i18n : [] : 'js/aluno/faltas' }}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="well panel-sitmat">
                            <label>{{::'l-situacao-falta' | i18n : [] : 'js/aluno/faltas' }}</label> <br />
                            <span>{{controller.falta[0].SITUACAO}}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <totvs-list-item-info title="{{::'l-data' | i18n : [] : 'js/aluno/faltas' }}" value="{{controller.falta[0].DATAFALTA | date: 'dd/MM/yyyy'}}">
                                </totvs-list-item-info>
                                <totvs-list-item-info title="{{::'l-horario' | i18n : [] : 'js/aluno/faltas' }}" value="{{controller.falta[0].HORAINICIAL}} - {{controller.falta[0].HORAFINAL}}">
                                </totvs-list-item-info>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <totvs-list-item-info title="{{::'l-gridcol-disciplina' | i18n : [] : 'js/aluno/faltas' }}" value="{{controller.falta[0].DISCIPLINA}}" class="col-md-12 col-lg-12 col-sm-12">
                                </totvs-list-item-info>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-8">
                                <totvs-list-item-info title="{{::'l-justificativa' | i18n : [] : 'js/aluno/faltas' }}" value="{{controller.falta[0].MOTIVOPERSONALIZADO}}" class="col-md-12 col-lg-12 col-sm-12">
                                </totvs-list-item-info>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{::'l-btn-fechar' | i18n : [] : 'js/aluno/faltas' }}</button>
            </div>
        </div>
    </div>
</div>
