<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button> {{::'l-titulo-modal-upload' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}
</totvs-modal-header>

<form name="formularioUpload">
    <totvs-modal-body class="modal-UploadAcompanhamento">
        <section class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <field name="Nome" ng-maxlength="100" maxlength="100" ng-required="true" type="input" class="col-lg-12" ng-model="controller.model.NOMEARQUIVO" label="{{ ::'l-comentario-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" canclean>
                                <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}
                                </validator>
                            </field>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <!--<input ng-required="true" type="file" edu-file-model="controller.model.Arquivo" name="file" class="col-md-12 col-lg-12 col-xs-12 col-sm-12" />-->
                            <edu-upload-file name="campoArquivo" required="true" model="controller.model.Arquivo" label="{{ ::'l-enviar-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}">
                            </edu-upload-file>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </totvs-modal-body>
</form>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-disabled="formularioUpload.Nome.$error.required || formularioUpload.campoArquivo.$error.required" ng-click="controller.sendArquivo()">{{::'l-salvar' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}</button>
</totvs-modal-footer>