<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{::'l-titulo-modal-observacao' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}
</totvs-modal-header>

<form name="controller.observacaoForm">
    <totvs-modal-body class="modal-ObservacoesAcompanhamento">
        <section class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <field ng-disabled="true" name="comentarioProfessor" type="textarea" rows="7" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-10px" ng-model="controller.model.ORIENTACOESPROF"
                        label="{{ ::'l-orientacao-professor' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}">
                    </field>
                </div>

                <div class="form-group">
                    <field ng-disabled="controller.encerrado === 'S'" name="campoObservacao"  rows="7" type="textarea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-10px" ng-model="controller.model.COMENTARIOALUNO" ng-required="true" ng-model="controller.model.COMENTARIOALUNO"
                        label="{{ ::'l-observacoes-aluno' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}">
                        <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}
                        </validator>
                    </field>
                </div>

                <div class="form-group">
                    <field ng-disabled="controller.encerrado === 'S' && controller.permiteAceiteAlunoAcompanhamento === true" id="chkAceito" name="chkAceito" label="Aceite do aluno" type="checkbox" ng-model="controller.model.ACEITEALUNO" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-10px">
                    </field>
                </div>
            </div>
        </section>
    </totvs-modal-body>
</form>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-click="controller.salvaAlteracao()" ng-disabled="formularioObservacao.campoObservacao.$error.required">{{::'l-salvar' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}</button>
</totvs-modal-footer>
