<totvs-page type="list">

    <div class="pageHeaderTab headTab">
        <div ng-style="{'float': 'left'}">
            <h2 class="title"> {{ ::'l-titulo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                <span ng-if="controller.objAcompanhamentoList.length > 0">({{controller.objAcompanhamentoList.length}})</span>
            </h2>
        </div>

        <totvs-page-tags>
            <tag class="legenda legenda-verde legenda-content-1">{{::'l-em-aberto' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</tag>
            <tag class="legenda legenda-vermelho legenda-content-2">{{::'l-aceite-pendente' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</tag>
            <tag class="legenda legenda-laranja legenda-content-3">{{::'l-encerramento-pendente' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</tag>
            <tag class="legenda legenda-cinza legenda-content-4">{{::'l-encerrado' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}</tag>
        </totvs-page-tags>
    </div>

    <totvs-page-content>
        <totvs-list-item id="objAcompanhamento{{objAcompanhamento.id}}" class="tag-2" ng-repeat="objAcompanhamento in controller.objAcompanhamentoList">
            <totvs-list-item-header>
                <totvs-list-item-title class="col-xs-12 col-sm-7 col-md-9 col-lg-9" ng-class="controller.getSituacaoAcompanhamento(objAcompanhamento)" title="{{'l-data-prevista' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}: {{objAcompanhamento.DTPREVISTAACOMPANHAMENTO | date: 'dd/MM/yyyy'}}">
                </totvs-list-item-title>
                <totvs-list-item-action ng-if="(objAcompanhamento.REUNIAOENCERRADA === 'N' || objAcompanhamento.REUNIAOENCERRADA === null)" limit-primary-action="0" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <action ng-if="objAcompanhamento.PODEENVIARARQUIVO == true" ng-click="controller.onclickModalUploadArquivo(objAcompanhamento.IDACOMPANHAMENTOTCC)">
                        {{'l-enviar-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                    </action>
                    <action ng-click="controller.onclickModalObservacaoAluno(objAcompanhamento)">
                        {{'l-editar-acompanhamento' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info title="{{'l-data-efetiva' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{objAcompanhamento.DTEFETIVAACOMPANHAMENTO | date: 'dd/MM/yyyy' }}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-data-limite-entrega' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{objAcompanhamento.DTLIMITEENTREGAARQUIVO | date: 'dd/MM/yyyy' }}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-aceite-aluno' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{controller.retornaSimNao(objAcompanhamento.ACEITEALUNO)}}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-encerrado' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{controller.retornaSimNao(objAcompanhamento.REUNIAOENCERRADA)}}"></totvs-list-item-info>
            </totvs-list-item-content>

            <totvs-list-item-content-detail ng-click="controller.retornaListaArquivos(objAcompanhamento)">
                <hr/>
                <totvs-page-alert ng-class="{'margin-bottom': '0'}" ng-if="(objAcompanhamento.ListaArquivos.length === 0 && objAcompanhamento.ORIENTACOESPROF === null && objAcompanhamento.COMENTARIOALUNO === null)" type="info " message=" ">
                    <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-msg-not-found' | i18n : [] : '' }}
                </totvs-page-alert>
                <totvs-list-item-info ng-if="objAcompanhamento.ORIENTACOESPROF != null" title="{{'l-orientacao-professor' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" value="{{objAcompanhamento.ORIENTACOESPROF }}"></totvs-list-item-info>
                <totvs-list-item-info ng-if="objAcompanhamento.COMENTARIOALUNO != null" title="{{'l-comentario-aluno' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" value="{{objAcompanhamento.COMENTARIOALUNO}}"></totvs-list-item-info>
                <br>
                <span ng-if="objAcompanhamento.ListaArquivos.length > 0">
                    <legend ng-style="{'padding-left': '13px', 'margin-top': '40px', 'margin-bottom': '0'}">
                    <span class="glyphicon glyphicon-file"></span>&nbsp;{{ ::'l-arquivos' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}
                </legend>
                <totvs-list-item id="itemArquivo{{itemArquivo.id}}" ng-repeat="itemArquivo in objAcompanhamento.ListaArquivos">
                    <totvs-list-item-header>
                        <totvs-list-item-title title="{{itemArquivo.NOMEARQUIVO}}" class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
                        </totvs-list-item-title>
                        <totvs-list-item-action limit-primary-action="0" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <action icon="glyphicon-download-alt" ng-click="controller.onclickDownloadArquivo(itemArquivo.IDARQUIVO, itemArquivo.INTEGRACAOECM)">
                                {{'btn-download-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                            </action>
                            <action ng-if="controller.permiteExcluirArquivo(itemArquivo.CHAVERM, objAcompanhamento)" icon="glyphicon-download-alt" ng-click="controller.onclickExcluiArquivo(itemArquivo.IDARQUIVO, itemArquivo.INTEGRACAOECM, itemArquivo.NOMEARQUIVO)">
                                {{'btn-excluir-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                            </action>
                        </totvs-list-item-action>
                    </totvs-list-item-header>
                    <totvs-list-item-content>
                        <totvs-list-item-info title="{{ 'l-nome-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-4" value="{{controller.retornaNomeArquivo(itemArquivo)}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{ 'l-data-cadastro' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-3" value="{{itemArquivo.RECCREATEDON | date: 'dd/MM/yyyy'}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{ 'l-origem-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-3" value="{{controller.retornaOrigemArquivo(itemArquivo.CHAVERM)}}">
                        </totvs-list-item-info>

                    </totvs-list-item-content>
                </totvs-list-item>
                </span>

            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-page-alert ng-if="controller.objAcompanhamentoList.length==0" type="info " message=" ">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-msg-not-found' | i18n : [] : '' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>