<totvs-page type="list">
    <totvs-page-navbar>

    </totvs-page-navbar>
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title ng-style="{'float': 'left'}">
          {{::'l-atividades-disponiveis' | i18n : [] : 'js/aluno/atividades-extras'}}
        </totvs-page-header-title>
        <totvs-page-header-operation>
              <field
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    ng-change="controller.filtrarComponente()"
                    ng-model="controller.tipoAtividade"
                    ng-if="controller.listAtividadesDisponiveis.length > 0"
                    ng-options="atvDisponiveis.CODCOMPONENTE as controller.formataComboComponentes(atvDisponiveis)
                                for atvDisponiveis in controller.listAtividadesDisponiveis">
                </field>
        </totvs-page-header-operation>
        <totvs-page-tags>
            <tag class="legenda-verde legenda-content-1">{{::'l-em-aberto' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
            <tag class="legenda-laranja legenda-content-2">{{::'l-ultimas-vagas' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
            <tag class="legenda-amarelo legenda-content-3">{{::'l-ultimos-dias' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
            <tag class="legenda-vermelho legenda-content-4">{{::'l-vagas-esgotadas' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content>
        <totvs-list-item id="objAtividadesExtra{{objAtividadesExtra.id}}" class="tag-2"
                        ng-repeat="objAtividadesExtra in controller.objAtividadesExtrasListFiltrado
                        | orderBy: objAtividadesExtra.DESCRICAO">
            <totvs-list-item-header>
                <totvs-list-item-title
                    title="{{objAtividadesExtra.DESCRICAO}}"
                    class="ocorrencias tag legend col-xs-12 col-sm-9 col-md-9 col-lg-9"
                    ng-class="controller.legendaClass(objAtividadesExtra)">
                </totvs-list-item-title>
                <totvs-list-item-action
                    limit-primary-action="1"
                    class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <action
                        icon="glyphicon-edit"
                        ng-if="!objAtividadesExtra.VAGASESGOTADAS"
                        ng-click="controller.inscrever(objAtividadesExtra)">
                        {{'l-inscricao' | i18n : [] : 'js/aluno/atividades-extras'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info
                    title="{{'l-componente' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DESCCOMPONENTE}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-modalidade' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DESCMODALIDADE}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-inicial-insc' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTINICIALINSC | date : shortDate : 'UTC'}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-inicial' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTINICIAL | date : shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-final-insc' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTFINALINSC | date : shortDate : 'UTC'}}">
                </totvs-list-item-info>

               <totvs-list-item-info
                    title="{{'l-data-final' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTFINAL | date : shortDate : 'UTC'}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-carga-horaria' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CARGAHOR}}"
                    ng-if="objAtividadesExtra.CARGAHOR">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-creditos' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CREDITO}}"
                    ng-if="objAtividadesExtra.CREDITO">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-carga-horaria-aproveitada' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CARGAHORGRADE}}">
                </totvs-list-item-info>

             </totvs-list-item-content>

            <totvs-list-item-content-detail>

                 <totvs-list-item-info
                    title="{{'l-local-insc' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.LOCALINSCRICAO }}">
                </totvs-list-item-info>

                 <totvs-list-item-info
                    title="{{'l-num-vagas' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.VAGAS}}">
                </totvs-list-item-info>

               <totvs-list-item-info
                    title="{{'l-local-atv' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                    value="{{objAtividadesExtra.LOCAL}}">
                </totvs-list-item-info>

                 <totvs-list-item-info
                    title="{{'l-conteudo' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    ng-style="{'float':'right'}"
                    value="{{objAtividadesExtra.CONTEUDO}}">
                </totvs-list-item-info>

                 <totvs-list-item-info
                    title="{{'l-observacao' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    ng-style="{'white-space': 'normal'}"
                    value="{{objAtividadesExtra.OBSERVACAO}}">
                </totvs-list-item-info>

            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-list-pagination ng-if="controller.objAtividadesExtrasList.length < controller.intAtividadesExtrasCount && controller.objAtividadesExtrasList.length"
            ng-click="controller.search(true);">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="(controller.objAtividadesExtrasList.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais'}}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>
