<totvs-grid ng-if="controller.Aluno.filiacao.length > 0" grid-data="controller.Aluno.filiacao" grid-options="controller.gridFiliacao">
    <totvs-grid-column width="70%" Field="NOME" template="controller.gridFiliacaoNOME" class="gridRow" style="font-size:1em !important;">
    {{::'l-NOME' | i18n : [] : 'js/aluno/dados-pessoais' }}
    </totvs-grid-column>
    <totvs-grid-column width="30%" Field="TIPORELACIONAMENTO" template="controller.gridFiliacaoRELACIONAMENTO" class="gridRow" style="font-size:1em !important;">
    {{::'l-tipo-relacionamento' | i18n : [] : 'js/aluno/dados-pessoais' }}
    </totvs-grid-column>
</totvs-grid>

<totvs-page-alert ng-if="(controller.Aluno.filiacao.length == 0)" type="info" message="">
    <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais' }}
</totvs-page-alert>