<tovs-page-form>
    <fieldset>
        <field
            type="email"
            label="{{ ::'l-email-pessoal' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.email.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.email.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.email.readOnly"
            maxlength="60"
            canclean>
        </field>
        <field
            label="{{ ::'l-telefone-residencial' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.telefone1.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            ng-if="controller.Aluno.telefone1.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.telefone1.readOnly"
            canclean>
        </field>
        <field
            label="{{ ::'l-telefone-celular' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.telefone2.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            ng-if="controller.Aluno.telefone2.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.telefone2.readOnly"
            canclean>
        </field>
        <field
            label="{{ ::'l-telefone-comercial' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.telefone3.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            ng-if="controller.Aluno.telefone3.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.telefone3.readOnly"
            canclean>
        </field>
        <field
            label="{{ ::'l-telefone-fax' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.fax.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            ng-if="controller.Aluno.fax.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.fax.readOnly"
            canclean>
        </field>
        <field
            label="{{ ::'l-telefone-corporativo' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-model="controller.Aluno.empresaTelefone.value"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            mask="{{controller.MascarasSistema.mascaraTelefone}}"
            ng-if="controller.Aluno.empresaTelefone.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.empresaTelefone.readOnly"
            canclean>
        </field>
    </fieldset>
</totvs-page-form>

