<totvs-page-form>
    <fieldset>
        <field
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-model="controller.Aluno.cep.value"
            mask="{{controller.MascarasSistema.mascaraCEP}}"
            label="{{ ::'l-cep' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-if="controller.Aluno.cep.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.cep.readOnly"
            ng-blur="controller.buscarEnderecoCEP('dados-pessoais')"
            canclean>
        </field>
        <field
            ng-model="controller.Aluno.rua.value"
            label="{{ ::'l-logradouro' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-8 col-md-8 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.rua.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.rua.readOnly"
            maxlength="140"
            canclean>
        </field>
        <field
            ng-model="controller.Aluno.numero.value"
            label="{{ ::'l-numero' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            ng-if="controller.Aluno.numero.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.numero.readOnly"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            maxlength="8"
            canclean>
        </field>
        <field
            ng-model="controller.Aluno.complemento.value"
            label="{{ ::'l-complemento' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.complemento.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.complemento.readOnly"
            maxlength="45"
            canclean>
        </field>
        <field
            ng-model="controller.Aluno.bairro.value"
            label="{{ ::'l-bairro' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.bairro.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.bairro.readOnly"
            maxlength="80"
            canclean>
        </field>
        <field
            type="typeahead"
            ng-model="controller.Aluno.cidade.value"
            label="{{ ::'l-cidade' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.cidade.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.cidade.readOnly"
            typeahead="municipio.NOMEMUNICIPIO for municipio in controller.listaMunicipios | filter: $viewValue | limitTo: 15"
            autocomplete="off"
            ng-focus="controller.carregarMunicipios()"
            maxlength="32"
            canclean>
        </field>
        <field
            type="combo"
            ng-model="controller.Aluno.estado.value"
            label="{{ ::'l-estado' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.estado.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.estado.readOnly"
            ng-options="estado.CODETD as estado.NOME for estado in controller.listEstados"
            canclean>
        </field>
        <field
            type="combo"
            ng-model="controller.Aluno.pais.value"
            label="{{ ::'l-pais' | i18n : [] : 'js/aluno/dados-pessoais' }}"
            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
            ng-if="controller.Aluno.pais.visible"
            ng-disabled="!controller.permiteAlterarDadosPessoais || controller.Aluno.pais.readOnly"
            ng-options="pais.DESCRICAO as pais.DESCRICAO for pais in controller.listaPaises"
            ng-change="controller.onChangePais()"
            canclean>
        </field>
    </fieldset>
    <totvs-divider></totvs-divider>
    <totvs-list-item-header>
        <totvs-list-item-title title="">
        </totvs-list-item-title>
        <totvs-list-item-action ng-if="controller.permiteAlterarDadosPessoais">
            <action ng-click="controller.atualizarDadosPessoais('dados-pessoais')"
                    icon="glyphicon ico-check">{{controller.textoBotaoAtualizacao()}}
            </action>
        </totvs-list-item-action>
    </totvs-list-item-header>
</totvs-page-form>
