<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title
                    class="col-xs-10 col-sm-10 col-md-10 col-lg-10"
                    ng-style="{'float': 'left'}"
                    title="{{ controller.Aluno.nome }}">
                </totvs-page-header-title>
                <div class="well panel-sitmat">{{controller.Aluno.situacao}}</div>
            </div>
        </div>
    </totvs-page-header>

    <totvs-page-content class="dadosPessoais">
        <totvs-page-detail>
           <div class="media">
                <div class="media-left">
                    <edu-img-foto
                        src="controller.Aluno.foto"
                        css-class="img-thumbnail img-foto-lg-auto"
                        default-src="assets/img/avatar-lg.png"
                        alt="controller.Aluno.nome">
                  </edu-img-foto>
                </div>
                <div class="media-body">
                    <totvs-page-detail-info
                        class="col-sm-12 col-md-12 col-lg-12"
                        title="{{ ::'l-ra' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.ra}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-sm-12 col-md-12 col-lg-12"
                        title="{{ ::'l-curso' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.curso}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info ng-show="controller.ensinoBasico"
                        class="col-sm-12 col-md-12 col-lg-12"
                        title="{{ ::'l-serie' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.habilitacao}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info ng-hide="controller.ensinoBasico"
                        class="col-sm-12 col-md-12 col-lg-12"
                        title="{{ ::'l-habilitacao' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.habilitacao}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info
                        class="col-sm-12 col-md-12 col-lg-12"
                        title="{{ ::'l-turno' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.turno}}">
                    </totvs-page-detail-info>
               </div>
            </div>
            <section>
                <totvs-tabset>
                    <totvs-tab
                       ng-if="controller.exibeTab('dados-pessoais')"
                       heading="{{ ::'l-dados-pessoais' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <div ng-include="'js/aluno/dados-pessoais/dados-pessoais-identificacao.view.html'"></div>
                    </totvs-tab>

                    <totvs-tab
                        ng-if="controller.exibeTab('dados-profissionais')"
                        heading="{{ ::'l-dados-profissionais' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <div ui-view="dados-profissionais"></div>
                    </totvs-tab>

                    <totvs-tab
                        active="controller.activeTabResp"
                        ng-if="controller.exibeTab('responsaveis')"
                        heading="{{ ::'l-responsaveis' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <div ui-view="responsaveis"></div>
					</totvs-tab>

					<totvs-tab
						active="controller.activeTabFichaMed"
						ng-if="controller.exibeTab('ficha-medica')"
						heading="{{ ::'l-ficha-medica' | i18n : [] : 'js/aluno/dados-pessoais' }}">
						<div ui-view="ficha-medica"></div>
					</totvs-tab>

                    <totvs-tab
                        ng-if="controller.exibeTab('documentos')"
                        heading="{{ ::'l-documentos' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <div ui-view="documentos"></div>
                    </totvs-tab>

                    <totvs-tab
                        ng-if="controller.exibeTab('movimentacao-academica')"
                        heading="{{ ::'l-movimentacao-academica' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <div ui-view="movimentacao-academica"></div>
                    </totvs-tab>
                </totvs-tabset>
            <section>
        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
