<totvs-page-detail-info-group>{{ ::'l-identificacao' | i18n : [] : 'js/aluno/dados-pessoais' }}</totvs-page-detail-info-group>

<totvs-page-detail-info class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <totvs-list-item-info title="{{ ::'l-data-nascimento' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                            value="{{::controller.Aluno.dataNascimento | date:'dd/MM/yyyy'}}">
    </totvs-list-item-info>

    <totvs-list-item-info title="{{ ::'l-naturalidade' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                        value="{{::controller.Aluno.naturalidade}}">
    </totvs-list-item-info>

    <totvs-list-item-info title="{{ ::'l-estado-natal' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                            value="{{::controller.Aluno.estadoNatal}}">
    </totvs-list-item-info>
</totvs-page-detail-info>

<totvs-page-detail-info-group>{{ ::'l-filiacao' | i18n : [] : 'js/aluno/dados-pessoais' }}</totvs-page-detail-info-group>
    <totvs-page-detail-info class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-include="'js/aluno/dados-pessoais/dados-pessoais-filiacao.view.html'"></div>
    </totvs-page-detail-info>

<totvs-page-detail-info-group>{{ ::'l-contato' | i18n : [] : 'js/aluno/dados-pessoais' }}</totvs-page-detail-info-group>
    <totvs-page-detail-info class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-include="'js/aluno/dados-pessoais/dados-pessoais-contato.view.html'"></div>
    </totvs-page-detail-info>

<totvs-page-detail-info-group>{{ ::'l-endereco' | i18n : [] : 'js/aluno/dados-pessoais' }}</totvs-page-detail-info-group>
    <totvs-page-detail-info class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-include="'js/aluno/dados-pessoais/dados-pessoais-endereco.view.html'"></div>
    </totvs-page-detail-info>


