<div class="btn-group btn-group-justified" data-toggle="buttons" role="group" aria-label="...">
    <label class="btn btn-default active" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.SempreMostrar)">
        <input type="radio" name="tipoDisciplina" id="discTodas" autocomplete="off" value="{{controller.EduTipoDiscEnum.SempreMostrar}}" checked />
        {{::'l-todas' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
    <label class="btn btn-default" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.Obrigatorias)">
        <input type="radio" name="tipoDisciplina" id="discObrigatorias" autocomplete="off" value="{{controller.EduTipoDiscEnum.Obrigatorias}}" checked />
        {{::'l-disciplinas-obrigatorias' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
    <label class="btn btn-default" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.EletivasOptativas)" ng-if="!controller.UsaGrupoOptEletiva">
        <input type="radio" name="tipoDisciplina" id="discOptativas" autocomplete="off" value="{{controller.EduTipoDiscEnum.EletivasOptativas}}" />
        {{::'l-disciplinas-optativas' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
    <label class="btn btn-default" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.Equivalentes)">
        <input type="radio" name="tipoDisciplina" id="discEquivalentes" autocomplete="off" value="{{controller.EduTipoDiscEnum.Equivalentes}}" />
        {{::'l-disciplinas-equivalentes' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
    <label class="btn btn-default" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.AtivCurriculares)">
        <input type="radio" name="tipoDisciplina" id="ativCurriculares" autocomplete="off" value="{{controller.EduTipoDiscEnum.AtivCurriculares}}" />
        {{::'l-atividades-curriculares' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
    <label ng-if="controller.blnExibirDiscExtra" class="btn btn-default" role="group" ng-style="{'white-space': 'normal'}" ng-click="controller.aplicarFiltro(controller.EduTipoDiscEnum.Extras)">
        <input type="radio" name="tipoDisciplina" id="discExtras" autocomplete="off" value="{{controller.EduTipoDiscEnum.Extras}}" />
        {{::'l-disciplinas-extras' | i18n : [] : 'js/aluno/grade-curricular' }}
    </label>
</div>
<totvs-group-content
                     ng-repeat="objPeriodo in controller.objPeriodoList track by objPeriodo.CODPERIODO"
                     title="{{objPeriodo.NOMEPERIODO}}"
                     class="detalhesGradeCurricular gradeCurricul"
                     ng-if="controller.exibeGrupo(objPeriodo, controller.objDisciplinasList[objPeriodo.CODPERIODO])">
    <totvs-grid grid-data="controller.objDisciplinasList[objPeriodo.CODPERIODO]"
                selectable="false"
                ng-if="(controller.objDisciplinasList[objPeriodo.CODPERIODO].length > 0)">

        <totvs-grid-column
                           width="5%"
                           class="text-center"
                           template="controller.getImageStatus">
            &nbsp;
        </totvs-grid-column>

        <totvs-grid-column
                           field="PLETIVO"
                           width="10%"
                           class="">
            {{::'l-periodo-letivo' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           template="controller.getColunaCodDisc"
                           width="10%"
                           class="">
            {{::'l-cod-disciplina' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           template="controller.getColunaDisciplina"
                           width="15%"
                           class="textAlignLeft">
            {{::'l-disciplina' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           field="STATUS"
                           width="15%"
                           template="controller.getColunaStatus"
                           class="text-center">
            {{::'l-situacao' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           field="NUMCREDITOS"
                           width="10%"
                           class="text-center">
            {{::'l-creditos' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           field="CH"
                           width="10%"
                           class="text-center">
            {{::'l-carga-horaria' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>

        <totvs-grid-column
                           template="controller.getColunaConceitoNota"
                           width="10%"
                           class="text-center">
            {{::'l-nota-conceito' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>
        <totvs-grid-column
                           field="FALTAS"
                           width="10%"
                           class="text-center">
            {{::'l-faltas' | i18n : [] : 'js/aluno/grade-curricular' }}
        </totvs-grid-column>
    </totvs-grid>
    <totvs-page-alert ng-if="(controller.objDisciplinasList[objPeriodo.CODPERIODO].length === 0)" type="info" message="">
        <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/grade-curricular' }}
    </totvs-page-alert>
</totvs-group-content>

<totvs-page-alert ng-show="controller.exibirMsgNenhumPeriodo(controller.objPeriodoList)" type="info" message="">
    <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/grade-curricular' }}
</totvs-page-alert>
