<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/grade-curricular'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader titulo">
        <totvs-page-header-title>
            {{ ::'l-titulo' | i18n : [] : 'js/aluno/grade-curricular' }}
            <div class="checkbox btnExpandGrid" ng-style="{'float': 'right'}">
                <label for="chkExpandirTodos" class="btn btn-info btn-expand">
                    <input id="chkExpandirTodos" name="chkExpandirTodos" ng-style="{'display': 'none'}" type="checkbox" ng-click="controller.expandirTodos();">
                    <span id="lblExpandirTodos" class="glyphicon ico-zoom-in"></span>&nbsp;
                    <span id="txtExpandirTodos">{{::'l-expandir-todos' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                </label>
                <button class="btn btn-default" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                    <span class="glyphicon ico-printer"></span>
                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                </button>
            </div>
        </totvs-page-header-title>
    </totvs-page-header>
    <totvs-page-content id="gradeCurricular" class="gradeCurricul">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-habilitacao' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].NOMEHABILITACAO}}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-matriz-curricular' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].NOMEGRADE}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-data-ingresso' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].DTINGRESSO | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-situacao' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].NOMESTATUS}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-turno' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].NOMETURNO}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-tipo-ingresso' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].NOMETIPOINGRESSO}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-coeficiente-rendimento' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].CR | number: 2}}</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="gradeCurricularTitulo">{{::'l-media-global' | i18n : [] : 'js/aluno/grade-curricular'}}</span>
                <span class="gradeCurricularDescricao">{{controller.objGradeCurricular.SHabilitacaoAluno[0].MEDIAGLOBAL | number: 2}}</span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gradeCurricularLegenda">
            <totvs-page-tags>
                <tag class="legenda-verde legenda-content-1">{{::'l-concluida' | i18n : [] : 'js/aluno/grade-curricular'}}</tag>
                <tag class="legenda-vermelho legenda-content-2">{{::'l-pendente' | i18n : [] : 'js/aluno/grade-curricular'}}</tag>
                <tag class="legenda-amarelo legenda-content-3">{{::'l-nao-concluida' | i18n : [] : 'js/aluno/grade-curricular'}}</tag>
                <tag class="legenda-azul legenda-content-4">{{::'l-equivalente' | i18n : [] : 'js/aluno/grade-curricular'}}</tag>
            </totvs-page-tags>
        </div>

        <totvs-tabset id="gradeCurricular">

            <totvs-tab heading="{{ ::'l-todos' | i18n : [] : 'js/aluno/grade-curricular' }}" ng-click="controller.changeTab('T', 'todos')">
                <div id="todos" ng-include="'js/aluno/grade-curricular/grade-curricular-abas.view.html'"></div>
            </totvs-tab>

            <totvs-tab heading="{{ ::'l-em-curso' | i18n : [] : 'js/aluno/grade-curricular' }}" ng-click="controller.changeTab('EC', 'emCurso')">
                <div id="emCurso" ng-include="'js/aluno/grade-curricular/grade-curricular-abas.view.html'"></div>
            </totvs-tab>

            <totvs-tab heading="{{ ::'l-pendentes' | i18n : [] : 'js/aluno/grade-curricular' }}" ng-click="controller.changeTab('P', 'pendentes')">
                <div id="pendentes" ng-include="'js/aluno/grade-curricular/grade-curricular-abas.view.html'"></div>
            </totvs-tab>

            <totvs-tab heading="{{ ::'l-concluidos' | i18n : [] : 'js/aluno/grade-curricular' }}" ng-click="controller.changeTab('C', 'concluidos')">
                <div id="concluidos" ng-include="'js/aluno/grade-curricular/grade-curricular-abas.view.html'"></div>
            </totvs-tab>

        </totvs-tabset>
        <totvs-divider></totvs-divider>

        <br clear="all" />
        <fieldset class="gradeCurricularTCC" ng-if="controller.objTCCList.length > 0">
            <legend>
                <span class="glyphicon glyphicon-education"></span>&nbsp;{{::'l-tcc' | i18n : [] : 'js/aluno/grade-curricular' }}
            </legend>
            <totvs-list-item id="objTCC_{{objTCC.IDTCC}}"
                             class="tag-2"
                             ng-repeat="objTCC in controller.objTCCList">
                <totvs-list-item-header>
                    <totvs-list-item-title
                                           title="{{objTCC.TEMA}}"
                                           class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    </totvs-list-item-title>
                </totvs-list-item-header>
                <totvs-list-item-content>
                    <totvs-list-item-info
                                          title="{{'l-tipo' | i18n : [] : 'js/aluno/grade-curricular' }}"
                                        class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                        value="{{objTCC.NOMETIPOTCC}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info
                                          title="{{'l-linha-pesquisa' | i18n : [] : 'js/aluno/grade-curricular' }}"
                                        class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                        value="{{objTCC.NOMELINHAPESQUISA}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info
                                          title="{{'l-situacao-tcc' | i18n : [] : 'js/aluno/grade-curricular' }}"
                                          class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
                                          value="{{objTCC.NOMESTATUS}}">
                    </totvs-list-item-info>
                </totvs-list-item-content>
                <totvs-list-item-content-detail>
                    <totvs-grid grid-data="objTCC.objDiscTCCList" selectable="false">
                        <totvs-grid-column
                                           width="5%"
                                           class="text-center"
                                           template="controller.getImageStatus">
                            &nbsp;
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="PLETIVO"
                                           width="10%"
                                           class="">
                            {{::'l-periodo-letivo' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           template="controller.getColunaDisciplina"
                                           width="25%"
                                           class="textAlignLeft">
                            {{::'l-disciplina' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="STATUS"
                                           width="10%"
                                           class="">
                            {{::'l-situacao' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="NUMCREDITOS"
                                           width="10%"
                                           filter="number : {{controller.intNumCasasDecimaisCredAcad}}"
                                           class="text-center">
                            {{::'l-creditos' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="CH"
                                           width="10%"
                                           filter="number : {{controller.intNumCasasDecimaisCH}}"
                                           class="text-center">
                            {{::'l-carga-horaria' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="CONCEITO"
                                           width="10%"
                                           class="text-center">
                            {{::'l-conceito' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="FALTAS"
                                           width="10%"
                                           class="text-center">
                            {{::'l-frequencia' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>

                        <totvs-grid-column
                                           field="NOTA"
                                           width="10%"
                                           class="text-center">
                            {{::'l-nota-final' | i18n : [] : 'js/aluno/grade-curricular' }}
                        </totvs-grid-column>
                    </totvs-grid>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <ul class="list-group">
                                <li class="list-group-item disabled">{{::'l-orientador' | i18n : [] : 'js/aluno/grade-curricular' }}</li>
                                <li class="list-group-item" ng-repeat="objOrientador in objTCC.objOrientadorList">{{objOrientador.NOMEPROFESSOR}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <totvs-grid grid-data="objTCC.objBancaList" selectable="false">
                                <totvs-grid-column
                                                   field="DATAHORABANCA"
                                                   filter="date : shortDate"
                                                   width="30%"
                                                   class="text-center">
                                    {{::'l-data-banca' | i18n : [] : 'js/aluno/grade-curricular' }}
                                </totvs-grid-column>

                                <totvs-grid-column
                                                   field="LOCAL"
                                                   width="70%"
                                                   class="">
                                    {{::'l-local-banca' | i18n : [] : 'js/aluno/grade-curricular' }}
                                </totvs-grid-column>
                            </totvs-grid>
                        </div>
                    </div>

                </totvs-list-item-content-detail>
            </totvs-list-item>

        </fieldset>
        <totvs-divider></totvs-divider>
        <br clear="all" />

        <fieldset class="gradeCurricularTotais" ng-if="controller.exibirResumoNaAnalise()">
            <legend>
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;{{::'l-resumo' | i18n : [] : 'js/aluno/grade-curricular' }}
            </legend>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{::'l-disciplinas-obrigatorias' | i18n : [] : 'js/aluno/grade-curricular' }}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDTOTALDISCOBR}}</span>
                                {{::'l-numero' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDCONCDISCOBR}}</span>
                                {{::'l-concluidas' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDPENDDISCOBR}}</span>
                                {{::'l-pendentes' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{::'l-disciplinas-optativas-resumo' | i18n : [] : 'js/aluno/grade-curricular' }}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDTOTALDISCOPT | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCOPT}}</span>
                                {{controller.objHabilitacaoAluno.TIPOCONTDISCOPT}}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDCONCDISCOPT | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCOPT}}</span>
                                {{::'l-concluidas' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDPENDDISCOPT | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCOPT}}</span>
                                {{::'l-pendentes' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{::'l-disciplinas-eletivas' | i18n : [] : 'js/aluno/grade-curricular' }}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDTOTALDISCELE | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCELE}}</span>
                                {{controller.objHabilitacaoAluno.TIPOCONTDISCELE}}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDCONCDISCELE | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCELE}}</span>
                                {{::'l-concluidas' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDPENDDISCELE | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISDISCELE}}</span>
                                {{::'l-pendentes' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{::'l-atividades-curriculares' | i18n : [] : 'js/aluno/grade-curricular' }}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDTOTALATVCUR | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISATIVCURR}}</span>
                                {{controller.objHabilitacaoAluno.TIPOCONTATVCUR}}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDCONCATVCUR | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISATIVCURR}}</span>
                                {{::'l-concluidas' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{controller.objHabilitacaoAluno.QTDPENDATVCUR | number: controller.objHabilitacaoAluno.NUMCASASDECIMAISATIVCURR}}</span>
                                {{::'l-pendentes' | i18n : [] : 'js/aluno/grade-curricular' }}:
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
        <br clear="all" />
    </totvs-page-content>
</totvs-page>
