<totvs-page type="list">

    <div class="pageHeaderTab">
        <div class="headTab">
            <h2 class="title">
                {{ ::'l-arquivo-final' | i18n : [] : 'js/aluno/tcc/arquivofinal' }}
                <span ng-if="controller.objArquivosList.length > 0">({{controller.objArquivosList.length}})</span>
                <button ng-style="{'margin-top': '-6px'}" ng-if="controller.objArquivosList.length === 0 && controller.podeEnviarArquivoFinal === true" type="button" class="btn btn-default pull-right" aria-label="Enviar arquivo final" ng-click="controller.ModalUploadArquivo(controller.idTCC)">
                    <span class="glyphicon glyphicon-upload"></span>
                    {{'btn-upload-arquivo' | i18n : [] : 'js/aluno/tcc/arquivofinal'}}
                </button>
            </h2>
        </div>
    </div>
    <totvs-page-content ng-hide="(controller.objArquivosList.length == 0)">
        <totvs-list-item id="arquivoItem{{arquivoItem.id}}" class="tag-2" ng-repeat="arquivoItem in controller.objArquivosList">
            <totvs-list-item-header>
                <totvs-list-item-title class="col-xs-12 col-sm-6 col-md-9 col-lg-9" title="{{arquivoItem.NOMEARQUIVO }}">
                </totvs-list-item-title>
                <totvs-list-item-action limit-primary-action="0" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <action ng-click="controller.onclickDownloadArquivo(arquivoItem.IDARQUIVO,0)">
                        {{'btn-download-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                    </action>
                    <action ng-click="controller.onclickExcluiArquivo(arquivoItem.IDARQUIVO,0)">
                        {{'btn-excluir-arquivo' | i18n : [] : 'js/aluno/tcc/acompanhamento'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info title="{{'l-data-envio' | i18n : [] : 'js/aluno/tcc/arquivofinal' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-5" value="{{arquivoItem.RECCREATEDON | date: 'dd/MM/yyyy' }}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-nome-arquivo' | i18n : [] : 'js/aluno/tcc/arquivofinal' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-5" value="{{controller.retornaNomeArquivo(arquivoItem)}}">
                </totvs-list-item-info>
            </totvs-list-item-content>
        </totvs-list-item>
    </totvs-page-content>
    <totvs-page-alert ng-style="{'margin-top': '0'}" ng-if="(controller.objArquivosList.length == 0)" type="info" message="" class="alert-modal-nenhum-registro">
        <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/tcc'}}
    </totvs-page-alert>


</totvs-page>
