<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{controller.disciplina.DisciplinaInfo[0].NOME}}
</totvs-modal-header>
<totvs-modal-body class="modal-InfoMatriculaDisc">
        <section class="panel">
            <div class="panel-body">
                <totvs-list-item-info   title="{{::'l-codigo-disc' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].CODDISC}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="controller.tipoDisciplina(controller.disciplina.DisciplinaInfo[0])"
                                        title="{{::'l-modalidade' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.tipoDisciplina(controller.disciplina.DisciplinaInfo[0])}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="controller.disciplina.DisciplinaInfo[0].APRESENTACAO === 'EnsinoSuperior'"
                                        title="{{::'l-credito' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].NUMCREDITOS | number:2}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="controller.disciplina.DisciplinaInfo[0].CH"
                                        title="{{::'l-cargaHoraria' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].CH | number:2}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-turma' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].CODTURMA}}">
                </totvs-list-item-info>
                <totvs-list-item-info ng-show="controller.disciplina.DisciplinaInfo[0].CODSUBTURMA"
                                      title="{{::'l-subturma' | i18n : [] : 'js/aluno/matricula' }}"
                                      value="{{controller.disciplina.DisciplinaInfo[0].CODSUBTURMA}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-if="controller.apresentacao === 'EnsinoSuperior' && controller.disciplina.DisciplinaInfo[0].DESCPERIODO"
                                        title="{{::'l-periodo' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].DESCPERIODO}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-if="controller.apresentacao === 'EnsinoBasico' && controller.disciplina.DisciplinaInfo[0].DESCPERIODO"
                                        title="{{::'l-serie' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].NOMEHABILITACAO}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-if="controller.apresentacao === 'EnsinoSuperior' && controller.disciplina.DisciplinaInfo[0].NOMEFILIAL"
                                        title="{{::'l-filial' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].NOMEFILIAL}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-situacao' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.disciplina.DisciplinaInfo[0].DESCRICAO}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="controller.disciplina.ProfessorTurmaDiscInfo.length > 0"
                                        title="{{::'l-professor' | i18n : [] : 'js/aluno/matricula' }}"
                                        class="col-x-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="edu-icone-pessoa" ng-repeat="professor in controller.disciplina.ProfessorTurmaDiscInfo">{{  professor.NOME  }}</div>
                </totvs-list-item-info>
            </div>
        </section>
        <section ng-if="controller.exibirInfoHorario" class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{::'l-infoHorario' | i18n : [] : 'js/aluno/matricula' }}</span>
            </div>
            <div class="panel-body">
                <totvs-list-item-info title="{{::'l-horario' | i18n : [] : 'js/aluno/matricula' }}" value="{{controller.horario.HORAINICIAL}} - {{controller.horario.HORAFINAL}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-dataHorario' | i18n : [] : 'js/aluno/matricula' }}"
                                        ng-show="{{controller.periodoHorarioModular(controller.horario)}}"
                                        value="{{controller.periodoHorarioModular(controller.horario)}}">
                </totvs-list-item-info>
                <totvs-list-item-info   ng-show="{{controller.horario.CODSUBTURMA}}"
                                        title="{{::'l-subturma' | i18n : [] : 'js/aluno/matricula' }}"
                                        value="{{controller.horario.CODSUBTURMA}}"></totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-predio' | i18n : [] : 'js/aluno/matricula' }}"
                                        ng-show="{{controller.horario.PREDIO !== null}}"
                                        value="{{controller.horario.CODPREDIO}} - {{controller.horario.PREDIO}}"></totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-bloco' | i18n : [] : 'js/aluno/matricula' }}"
                                        ng-show="{{controller.horario.BLOCO !== null}}"
                                        value="{{controller.horario.CODBLOCO}} - {{controller.horario.BLOCO}}"></totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-sala' | i18n : [] : 'js/aluno/matricula' }}"
                                        ng-show="{{controller.horario.SALA !== null}}"
                                        value="{{controller.horario.CODSALA}} - {{controller.horario.SALA}}"></totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-professor' | i18n : [] : 'js/aluno/matricula' }}"
                                        ng-show="{{controller.horario.PROFESSOR.length > 0}}"
                                        class="col-x-12 col-sm-12 col-md-12 col-lg-12">
                <span class="edu-icone-pessoa" ng-repeat="professor in controller.horario.PROFESSOR">{{professor}}</span>
                </totvs-list-item-info>
            </div>
        </section>
        <div style="clear:both;"></div>
</totvs-modal-body>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-click="controller.onclickMaisInfoDisciplina()">{{::'l-maisInfomacoesTurmaDisc' | i18n : [] : 'js/aluno/matricula' }}</button>
</totvs-modal-footer>
