<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{::'l-titulo' | i18n : [] : 'js/aluno/atividades-extras' }}
</totvs-modal-header>
<totvs-modal-body >
        <section class="panel">
            <div class="panel-body">
                <totvs-list-item-info   title="{{::'l-descricao' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.DESCOFERTADA}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-carga-horaria' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.CARGAHORARIA}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-componente' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.DESCCOMPONENTE}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-modalidade' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.DESCMODALIDADE}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-data-inicial' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.DATAINICIO | date : shortDate}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-data-final' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.DATAFIM | date : shortDate}}">
                </totvs-list-item-info>
                <totvs-list-item-info   title="{{::'l-local' | i18n : [] : 'js/aluno/atividades-extras' }}"
                                        value="{{controller.atividade.LOCAL}}">
                </totvs-list-item-info>
            </div>
        </section>
</totvs-modal-body>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-click="controller.onclickMaisInformacoes()">{{::'btn-mais-informacoes' | i18n : [] : 'js/aluno/atividades-extras' }}</button>
</totvs-modal-footer>
