<totvs-page type="list">
    <totvs-page-navbar>

    </totvs-page-navbar>
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title ng-style="{'float': 'left'}">
            {{ ::'l-atividades-inscritas' | i18n : [] : 'js/aluno/atividades-extras' }}
            <span ng-if="(controller.objAtividadesExtrasList.length > 0)"> ({{controller.intAtividadesExtrasCount}})</span>
        </totvs-page-header-title>
        <totvs-page-header-operation>
            <field
                name="cmbComponentes"
                type="combo"
                class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                ng-model="controller.cmbComponenteSelected"
                ng-change="controller.filtraPorComponente()"
                ng-if="controller.listComponentes.length > 0"
                ng-options="componente.CODCOMPONENTE as controller.formataComboComponentes(componente)
                            for componente in controller.listComponentes">
            </field>
        </totvs-page-header-operation>
        <totvs-page-tags>
            <tag class="legenda-vermelho legenda-content-1">{{::'l-nao-iniciada' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
            <tag class="legenda-verde legenda-content-2">{{::'l-em-andamento' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
            <tag class="legenda-azul legenda-content-3">{{::'l-concluida' | i18n : [] : 'js/aluno/atividades-extras'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content class="atividadesCurriculares">
        <totvs-list-item id="objAtividadesExtra{{objAtividadesExtra.id}}"
                         class="tag-2"
                         ng-repeat="objAtividadesExtra in controller.objAtividadesExtrasList">
            <totvs-list-item-header>
                <totvs-list-item-title
                    title="{{objAtividadesExtra.DESCOFERTADA}}"
                    class="ocorrencias tag legend col-xs-12 col-sm-9 col-md-9 col-lg-9"
                    ng-class="controller.legendaClass(objAtividadesExtra)">
                </totvs-list-item-title>
                <totvs-list-item-action
                    limit-primary-action="1"
                    class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <action
                        ng-if="controller.permiteCancelar && objAtividadesExtra.INSC_ATIVA
                                && objAtividadesExtra.STATUS != controller.codStatusAtvConcluida"
                        icon="glyphicon glyphicon-remove"
                        ng-click="controller.cancelarAtividade(objAtividadesExtra)">
                        {{'l-cancelar' | i18n : [] : 'js/aluno/atividades-extras'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info
                    title="{{'l-componente' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DESCCOMPONENTE}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-modalidade' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DESCMODALIDADE}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-ativ-inicial' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DATAINICIO | date: shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-carga-horaria' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CARGAHOR}}"
                    ng-if="objAtividadesExtra.CARGAHOR">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-creditos' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CREDITO}}"
                    ng-if="objAtividadesExtra.CREDITO">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-ativ-final' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DATAFIM | date: shortDate : 'UTC'}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-carga-horaria-aproveitada' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CARGAHORGRADE}}">
                </totvs-list-item-info>

            </totvs-list-item-content>

            <totvs-list-item-content-detail>

                <totvs-list-item-info
                    title="{{'l-data-inicial-insc' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTINICIALINSC | date: shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-inicial' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTINICIAL | date: shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-final-insc' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTFINALINSC | date: shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-final' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DTFINAL | date: shortDate : 'UTC'}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-local-ativ' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.LOCAL}}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-data-conclusao' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.DATA | date: shortDate : 'UTC' }}">
                </totvs-list-item-info>

                <totvs-list-item-info
                    title="{{'l-conteudo' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.CONTEUDO}}">
                </totvs-list-item-info>

                 <totvs-list-item-info
                    title="{{'l-observacao' | i18n : [] : 'js/aluno/atividades-extras' }}"
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                    value="{{objAtividadesExtra.OBSERVACAO}}">
                </totvs-list-item-info>
            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-page-alert ng-if="(controller.objAtividadesExtrasList.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-nenhum-registro-encontrado' | i18n : [] : 'js/aluno/atividades-extras' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>
