<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/disciplinas-eb'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <totvs-page-header-title ng-style="{'float': 'left'}">
            {{ ::'l-titulo' | i18n : [] : 'js/aluno/disciplinas-eb' }}:&nbsp;
        </totvs-page-header-title>
        <totvs-page-header-operation>
            <edu-selecao-periodoletivo ng-model="controller.periodoLetivo"
                                       ng-change="controller.periodoLetivoAlterado">
            </edu-selecao-periodoletivo>
        </totvs-page-header-operation>
        <div class="checkbox" ng-style="{'float': 'right'}" ng-if="(controller.objGradeCurricularList.length != 0)">
            <label for="chkExpandirTodos" class="btn btn-info">
                <input id="chkExpandirTodos" name="chkExpandirTodos" ng-style="{'display': 'none'}" type="checkbox" ng-click="controller.expandirTodos();">
                <span id="lblExpandirTodos" class="glyphicon glyphicon-zoom-in"></span>&nbsp;
                <span id="txtExpandirTodos">{{::'l-expandir-todos' | i18n : [] : 'js/aluno/disciplinas-eb'}}</span>
            </label>
        </div>
    </totvs-page-header>
    <totvs-page-content id="gradeCurricular" class="dadosDisciplina dadosDisciplinaEB">
        <totvs-group-content
                             ng-repeat="objCicloAno in controller.objCicloAnoList track by objCicloAno.INDEX"
                             title="{{objCicloAno.TITULO}}"
                             class="detalhesGradeCurricular">

            <totvs-grid grid-data="objCicloAno.objDisciplinasList" selectable="false">

                <totvs-grid-column
                                   field="NOMESTATUSPL"
                                   width="15%"
                                   class="">
                    {{::'l-situacao' | i18n : [] : 'js/aluno/disciplinas-eb' }}
                </totvs-grid-column>

                <totvs-grid-column
                                   field="CODDISC"
                                   width="15%"
                                   class="">
                    {{::'l-codigo' | i18n : [] : 'js/aluno/disciplinas-eb' }}
                </totvs-grid-column>

                <totvs-grid-column
                                   template="controller.getColunaDisciplina"
                                   width="40%"
                                   totals="count"
                                   class="">
                    {{::'l-disciplina' | i18n : [] : 'js/aluno/disciplinas-eb' }}
                </totvs-grid-column>

                <totvs-grid-column
                                   field="CH"
                                   width="15%"
                                   totals="sum"
                                   filter="number : {{controller.intNumCasasDecimaisCH}}"
                                   class="text-center">
                    {{::'l-carga-horaria' | i18n : [] : 'js/aluno/disciplinas-eb' }}
                </totvs-grid-column>

                <totvs-grid-column
                                   field="DESCTIPODISC"
                                   width="15%"
                                   class="text-center">
                    {{::'l-tipo' | i18n : [] : 'js/aluno/disciplinas-eb' }}
                </totvs-grid-column>

            </totvs-grid>

        </totvs-group-content>
        <totvs-page-alert ng-if="(controller.objCicloAnoList.length === 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/disciplinas-eb' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>
