// out: ./eduPortalAluno.css, strictMath: true, compress: true
//-----------------------------------------------------------------------------
// FONT FACE
//-----------------------------------------------------------------------------
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/iJ4p9wO0GDKJ-D5teKuZqo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
//-----------------------------------------------------------------------------
// VARIAVEIS DO LESS PORTAL
//-----------------------------------------------------------------------------
@base-font-portal: 'Nunito Sans', Arial, Helvetica, sans-serif;
@base-color-font-portal: #666666;

/*Cinzas*/
@color-base-portal-01: #fff;
@color-base-portal-02: #e7e7e7;/*box janela contexto*/
@color-base-portal-03: #d5d5d5;/*linhas, separadores, ícones menu, */
@color-base-portal-04: #d6d6d6;/*aba*/
@color-base-portal-05: #a2b8c0; /*Separador topo*/
@color-base-portal-06: #6d7e82;/*Cabeçalho tabelas*/
@color-base-portal-07: #666666;/*fonte 1 (corpo)*/
@color-base-portal-08: #3a3a3a;/*fonte 2 (topo)*/
/*Cores Portal*/
@color-base-portal-09: #faa634;/*Amarelo Totvs*/
@color-base-portal-10: #49afc9;/*Azul 1 Totvs*/
@color-base-portal-11: #278495;/*Azul Portal*/
@color-base-portal-12: #528394;/*Botões, menu e atalhos*/
@color-base-portal-13: #4c7a8a;/*sombra botões*/
@color-base-portal-14: #0B4657;/*Azul Marinho Totvs*/
/*Outras Cores*/
@color-base-portal-15: #f3c9ca;
@color-base-portal-16: #f2f2f2;/*linha de tabela alternada*/
@color-base-portal-17: #a0bbc4;
@color-base-portal-18: #9ab5be;
@color-base-portal-19: #197799;
@color-base-portal-20: #4c4c4c;
@color-base-portal-21: #e4e4e4;/*Para divisões discretas*/
@color-base-portal-22: #e0e5eA;/*Para barra topo*/

@base-color-background: #fff;
@menu-bgcolor: #F5F7F7;
@base-line-color: #D0D0D0;
@base-line-color-complement: #f5f5f5;
@base-color-shadow: #e1e6eb;

@border-color-focus: #66AFE9;
@border-shadow-focus-transp: rgba(0, 0, 0, 0.075);
@border-shadow-focus-azul: rgba(102, 175, 233, 0.6);

@color-link: #066d8e;
@color-regular: #528394;
@color-hover: #4c7a8a;
@color-active: #82bfbf;

//-----------------------------------------------------------------------------
// MIXINS DO LESS
//-----------------------------------------------------------------------------
.border-padrao{
	border: 5px solid #555;
}
.border-radius (@radius: 1px) { /*Border radius padrão*/
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}
.border-radius-custom (@topleft: 3px, @topright: 3px, @bottomleft: 3px, @bottomright: 3px) { /*Border radius customizado*/
-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
-moz-border-radius: @topleft @topright @bottomright @bottomleft;
border-radius: @topleft @topright @bottomright @bottomleft;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) { /*Box Shadow padrão - para ser customizado*/
-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.btn-portal {
    color: @color-base-portal-01;
    background-color: @color-base-portal-11;
    border-color: @color-base-portal-11;
    .border-radius !important;
}
.btn-portal-hover {
    color: @color-base-portal-11;
    background-color: rgba(39,132, 149, 0.15);
    border-color: @color-base-portal-11;
    .border-radius !important;
}
//-----------------------------------------------------------------------------
// CONFIGURAÇÕES GERAIS DE ESTILO
//-----------------------------------------------------------------------------
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: baseline;
    font-family: @base-font-portal;
}
* {
    font-family: @base-font-portal;
    font-size: 100%;
}
a {
	color: @color-link;
}
#menu-header-items {
    font-family: @base-font-portal;
}
.page-content .item-container .link {
   color: @color-link;
   cursor: pointer;
}
//-----------------------------------------------------------------------------
// BOTÕES
//-----------------------------------------------------------------------------
.btn-group .btn,.btn,
.btn-default {
    .btn-portal;
}
.btn-info, .btn-primary {
    .btn-portal;
}
.k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    .border-radius;
}
.btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn:visited, .btn-group .btn:focus,
.btn-default:hover, .btn-default:active, .btn-default:visited, .btn-default:focus,
.btn-info:hover, .btn-info:active,  .btn-info:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    .btn-portal-hover;
}
.btn-toolbar .btn-group .btn {
    color: @base-color-font-portal !important;
}
.itemFinanceiro .btn {
    margin-right: 5px;
}
.modal-dialog > .modal-content > .modal-footer > .btn {
    .btn-portal;
}

.modal-dialog > .modal-content > .modal-footer > .btn:hover {
    .btn-portal-hover;
}
.modal-header {
    background-color: @color-base-portal-11;
    color: @color-base-portal-01;
}
//-----------------------------------------------------------------------------
// MODAIS
//-----------------------------------------------------------------------------
#modalArquivo > .modal-dialog > .modal-content > .modal-body > .panel > .panel-body > .row:nth-child(2) {
    & > div > .ng-isolate-scope > div {
        & > .input-group > .input-group-btn > .btn {
            background-color: @color-base-portal-11;
        }:hover{
            color: @color-base-portal-11;
            background-color: @color-base-portal-11;
            border-color: @color-base-portal-11;
            -webkit-border-radius:1px !important;            
            -moz-border-radius:1px !important;
            border-radius:1px !important;
            margin-left: 0 !important;
        }
    }
}
//-----------------------------------------------------------------------------
// BARRA DE INFORMAÇÕES (SUPERIOR)
//-----------------------------------------------------------------------------
/*Barra Status*/
#menu-header { /*Cor background barra de informações*/
    background: @menu-bgcolor;
    .header-title { /*Cor Nome da Unidade*/
        color: @color-link;
    }
}
.caret {
    border: none;
    content: "\e931";
    margin: -13px -13px 0;
    color: @color-base-portal-10;
}
.information-menu .btn-aluno {
    margin-right: 10px;
}
//-----------------------------------------------------------------------------
// GERAL
//-----------------------------------------------------------------------------
.btn-toolbar { /*Filtro - ng-scope*/
    & > .btn-group {
        & > .btn-default {
            border: 1px solid @color-active !important;
            background-color: rgba(130,191,191,0.46) !important;
        }
    }
}
.well {
    color: #468893;
    background-color: #e8e8e8 !important;
}
//------------------------------------------------------------------------------
// PANEL INFO
//------------------------------------------------------------------------------
.panel-info {
    & > .panel-heading {
        background-color: rgba(37,123,146,0.15);
    }
    & > .panel-body {
        background-color: rgba(228,228,228,0.5);
        & > .list-group {
            & > .list-group-item {
                background-color: @base-color-background;
            }
        }
    }
}
//-----------------------------------------------------------------------------
// GRID (Denominador Comum)
//-----------------------------------------------------------------------------
.k-grid-header {
    padding-right: 0 !important;
    & > .k-grid-header-wrap.k-auto-scrollable {
        & > table > thead > tr > th {
            background-color: @color-base-portal-06;
            border-left-color: rgba(88,111,111,0.46) !important;
            color: @color-base-portal-01;
            & > a, a.k-link {
                color: @color-base-portal-01;
            }
        }
    }
}
.k-scheduler-table .k-today, .k-today>.k-scheduler-datecolumn, .k-today>.k-scheduler-groupcolumn {
    background-color: #f4f6f7;
    color: @base-color-font-portal;
}
//-----------------------------------------------------------------------------
// Widget
//-----------------------------------------------------------------------------
#edu-widget .pull-right { /*mini botões dos widgets*/
    & > .settings > .btn, .btn-default {
        background-color: @color-base-portal-11;
        color: @color-base-portal-01;
    }
}
#edu-widget { /*mini botões dos widgets (filhos)*/
    & > span > .widgetPageContent > div > .dashboard-on-drag > .widget-panel > .dashboard-portlet-header-config > .row > div > span > .pull-right-widget {
        & > .btn, .btn-default {
            background-color: @color-base-portal-11;
            color: @color-base-portal-01;
        }
    }
}
/*widgets Seja Bem Vindo e bordas dos widgets*/
#edu-widget .widget-panel {
    & > .panel-heading {
        border-top: 1px solid  @color-base-portal-11 !important;
        border-left: 9px solid  @color-base-portal-11;
    }
}
#edu-widget .dashboard-painel-no-border {
    & > .dashboard-portlet-header-config .widget-panel .panel-heading {
        border-top: 1px solid  transparent !important;
        border-left: 9px solid  transparent;
    }
}
.dashboard-on-drag .dashboard-portlet-header-config .pull-left-widget select {
    border-top: 1px solid @color-base-portal-11 !important;
}
//-----------------------------------------------------------------------------
// Dados Pessoais
//-----------------------------------------------------------------------------
.dadosPessoais > .page-details > .row {
    & > .media {
        background-color: rgba(214, 214, 214, 0.42);
        & > .media-body > div > div  {
            & > span {
                color: @base-color-font-portal;
            }
            & > .ng-scope > .ng-scope > span {
                color: @base-color-font-portal;
            }
        }
    }
    & > section.ng-scope {
        color: @base-font-portal;
    }
}
.dadosPessoais > .page-details > .row > .media > .media-body > div > .field-label,
.page-details-infogroup h4, .dadosPessoais legend {
    color: @color-base-portal-11;
}
//-----------------------------------------------------------------------------
// QUADRO DE HORÁRIOS
//-----------------------------------------------------------------------------
.totvs-style-guide {
    & > .page-content {
        & > span.ng-scope {
            & > .k-grid {
                & > table {
                    & > .k-grid-header {
                        & > tr {
                            & > th.k-header {
                                background-color: @color-base-portal-06;
                                color: @color-base-portal-01;
                                border-left-color: rgba(88,111,111,0.46) !important;
                            }
                        }
                    }
                    & > tbody {
                        & > tr {
                            & > .gridRow.quadro-horario-hora, .gridRow.quadro-horario-celula {
                                color: @base-color-font-portal;
                                span:hover {
                                    color: @color-link;
                                }
                            }
                            & > td.quadro-horario-hora {
                                background-color: rgba(154, 181, 190, 0.7);
                            }
                            & > .quadro-horario-celula.selectedCol {
                                background-color: rgba(243,202,202,0.54) !important;
                            }
                        }
                        & > tr.k-alt  {
                            background-color: @base-line-color-complement;
                        }
                    }
                }
            }
        }
    }
}
//-----------------------------------------------------------------------------
// CALENDAR COMPONENT (Edu Scheduler)
//-----------------------------------------------------------------------------
.k-scheduler-toolbar {
    .k-scheduler-navigation, .k-scheduler-views {
        li.k-state-default {
            background: @color-base-portal-01;
            color: @base-color-font-portal;
        }
        li.k-state-default a {
            color: @color-base-portal-06;
        }
        li.k-state-selected {
            background: @color-base-portal-02;
            box-shadow: inset 0 3px 5px rgba(0,0,0,.07);
        }
        li.k-state-hover {
            background: @color-base-portal-03;
            background-image: linear-gradient(to bottom, @base-color-shadow, @color-base-portal-01);
        }
    }
}
.k-scheduler .k-scheduler-toolbar .k-state-selected, .k-state-selected { //Borda do mês selecionado
    border: 1px solid @color-active !important;
    background-color: rgba(130, 191, 191, 0.46) !important;
}
.k-state-selected a, .k-state-hover a {
    color: @base-color-font-portal !important;
}
.scheduler-class {
    .k-scheduler-weekview, .k-scheduler-dayview, .k-scheduler-monthview, .k-scheduler-agendaview { /*Dia, Semana, Mês e Agenda*/
        & > tbody > tr > td {
            & > .k-scheduler-header {
                /*background-color: @color-base-portal-06;*/
                & > .k-scheduler-header-wrap {
                    & > table > tbody > tr > th {
                        background-color: @color-base-portal-06;
                        & > .k-link {
                            color: @color-base-portal-01;
                        }
                    }
                }
            }
        }
    }
}
.k-scheduler-header-wrap > div > .k-event, .k-scheduler-content > div.k-event, .k-scheduler-mark, .k-scheduler-content > div.k-event > div > .k-event-template, .k-event-template > div {
    border-bottom: 1px solid @color-base-portal-01 !important;
    color: @base-color-font-portal !important;
}
.k-scheduler-header-all-day  td.k-today {
    background-color: @color-base-portal-15 !important;
}
.k-grid-header table {
    background-color: @color-base-portal-06 !important;
}
//-----------------------------------------------------------------------------
// Grade Curricular
//-----------------------------------------------------------------------------
.btnExpandGrid > label {
    color: @color-link  !important;
}
.page-content.gradeCurricul{
    & > .tabset {
        & > .nav-tabs {
            & > li {
                color: @base-color-font-portal;
                & > a:hover, a:focus, a:active  {
                    color: @base-color-font-portal;
                    background-color: none !important;
                }
            }
            & > li.active, li.hover, li.focus {
                color: @base-color-font-portal;
            }
        }
        & > .tab-content {
            & > .tab-pane {
                & > div > .btn-group {
                    color: @base-color-font-portal;
                    & > .btn-default {
                        color: @base-color-font-portal;
                        background-color: transparent;
                        border-top: 1px solid transparent;
                        border-left: 7px solid transparent;
                    }
                    & > .btn-default.active {
                        color: @color-base-portal-11;
                        background-color: transparent;
                        border-top: 1px solid @color-base-portal-11;
                        border-left: 7px solid @color-base-portal-11;
                    }
                    & > .btn-default:hover {
                        color: @base-color-font-portal;
                        background-color: transparent;
                        border-top: 1px solid @color-base-portal-04;
                        border-left: 7px solid @color-base-portal-04;
                    }
                }
                & > div > .detalhesGradeCurricular > div > h6.clickable {
                    background-color: rgba(37, 123, 146, 0.15);
                }
            }
        }
    }
}
.dadosDisciplinaEB {
    & > .detalhesGradeCurricular > div {
        & > h6.clickable {
            background-color: rgba(37, 123, 146, 0.15);
        }
    }
}

.gradeCurricularDestaqueEquivalencia, tr.gradeCurricularDestaqueEquivalencia:hover{
    background-color: #27a9c9 !important;
    color: white !important;
}

.gradeCurricularDestaqueEquivalencia td a {
    color: white !important;
}
//-----------------------------------------------------------------------------
// TABS COMPONENT (Abas)
//-----------------------------------------------------------------------------
.nav-tabs>li>a {
    color: @color-base-portal-10;
    border-bottom: 2px solid transparent !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    color: @color-base-portal-10;
    background-color: transparent !important;
    border-bottom: 2px solid @color-base-portal-10 !important;
}
//-----------------------------------------------------------------------------
// Tooltip
//-----------------------------------------------------------------------------
span.tooltip-top[data-tooltip]:hover:after {
    background-color: @base-color-font-portal !important;
    color: @color-base-portal-01 !important;
}
//-----------------------------------------------------------------------------
// Pagamento boleto (especifica)
//-----------------------------------------------------------------------------
.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    /*appearance: none;*/
    visibility: hidden;
}
.cc-selector-2 input {
    position: absolute;
    z-index: 999;
}
.pgto-cartao .visa:hover,
.pgto-cartao .cc-selector-2 input:active+.visa,
.pgto-cartao .cc-selector input:active+.visa,
.pgto-cartao .cc-selector-2 input:checked+.visa,
.pgto-cartao .cc-selector input:checked+.visa {
    background-image: url('../img/visa.png');
}
.pgto-cartao .mastercard:hover,
.pgto-cartao .cc-selector-2 input:active+.mastercard,
.pgto-cartao .cc-selector input:active+.mastercard,
.pgto-cartao .cc-selector-2 input:checked+.mastercard,
.pgto-cartao .cc-selector input:checked+.mastercard {
    background-image: url('../img/mastercard.png');
}
.pgto-cartao .visaelectron:hover,
.pgto-cartao .cc-selector-2 input:active+.visaelectron,
.pgto-cartao .cc-selector input:active+.visaelectron,
.pgto-cartao .cc-selector-2 input:checked+.visaelectron,
.pgto-cartao .cc-selector input:checked+.visaelectron {
    background-image: url('../img/visaElectron.png');
}
.pgto-cartao .visa {
    background-image: url('../img/visa-gray.png');
}
.pgto-cartao .mastercard {
    background-image: url('../img/mastercard-gray.png');
}
.pgto-cartao .visaelectron {
    background-image: url('../img/visaElectron-gray.png');
}
.pgto-cartao .drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 40px;
}
