<totvs-page type="list">
    <totvs-page-header class="pageHeader align-legend">
        <edu-selecao-grupo-atendimento ng-model="controller.grupoAtendimentoFiltro" label="{{::'l-requerimentos-solicitados' | i18n : [] : 'js/aluno/requerimentos' }}:"
            ng-change="controller.limparFiltroProtocolo"
            label-item-default="{{::'l-todos-grupos-atendimentos' | i18n : [] : 'js/aluno/requerimentos' }}">
        </edu-selecao-grupo-atendimento>
        <totvs-page-tags>
            <tag class="status-requerimento-em-andamento">{{::'l-status-em-andamento' | i18n : [] : 'js/aluno/requerimentos'}}</tag>
            <tag class="status-requerimento-concluido">{{::'l-status-concluido' | i18n : [] : 'js/aluno/requerimentos'}}</tag>
            <tag class="status-requerimento-cancelado">{{::'l-status-cancelado' | i18n : [] : 'js/aluno/requerimentos'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 pad-bottom-5px">
                <totvs-field
                    name="campoProtocoloFitlro"
                    totvs-input
                    maxlength="30"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    ng-model="controller.searchText"
                    label="{{ ::'l-fitlro-protocolo' | i18n : [] : 'js/aluno/requerimentos' }}"
                    >
                </totvs-field>
            </div>
        </div>
        <totvs-list-item class="tag-2" ng-repeat="item in controller.listaRequerimentos | orderBy:'-ABERTURA' | filter: controller.filtrarRequerimentos as requerimentosFiltrados">
            <totvs-list-item-header>
                <totvs-list-item-title title="{{item.ASSUNTOOC}}" class="requerimentos tag legend col-lg-9 col-md-9 col-sm-9 col-xs-12" ng-class="controller.getCssClassStatus(item.CODSTATUS)">
                </totvs-list-item-title>
                <totvs-list-item-action limit-primary-action="0" class="col-lg-3 col-md-12 col-sm-3 col-xs-12" ng-show="controller.exibeBtnOutrasOpcoes">
                    <action icon="glyphicon-thumbs-up" ng-click="controller.abrirModalUploadArquivos(item.CODLOCAL, item.CODATENDIMENTO)" ng-if="controller.verificaStatusPermiteAcao(item.CODSTATUS)">
                        {{'l-enviar-arquivos-requerimento' | i18n : [] : 'js/aluno/requerimentos'}}
                    </action>
                    <action icon="glyphicon-thumbs-up" ng-click="controller.abrirModalDiscussao(item.CODLOCAL, item.CODATENDIMENTO)" ng-if="controller.verificaStatusPermiteAcao(item.CODSTATUS)">
                        {{'l-inserir-discussoes-requerimento' | i18n : [] : 'js/aluno/requerimentos'}}
                    </action>
                    <action icon="glyphicon-thumbs-up" ng-click="controller.abrirModalCancelamento(item.CODLOCAL, item.CODATENDIMENTO)" ng-if="controller.verificaStatusPermiteAcao(item.CODSTATUS)" ng-show="controller.exibeBtnCancelarRequerimento">
                        {{'l-cancelar-requerimento' | i18n : [] : 'js/aluno/requerimentos'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-list-item-content>
                <totvs-list-item-info title="{{'l-protocolo' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    value="{{item.CODATENDIMENTO}}">
                </totvs-list-item-info>
                <totvs-list-item-info title="{{'l-abertura' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    value="{{item.ABERTURA | date: 'dd/MM/yyyy HH:mm:ss'}}">
                </totvs-list-item-info>
                <totvs-list-item-info title="{{'l-status' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    value="{{item.DESCSTATUS}}">
                </totvs-list-item-info>
                <totvs-list-item-info title="{{'l-etapa-atual' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    value="{{item.ETAPA_ATUAL}}">
                </totvs-list-item-info>
            </totvs-list-item-content>
            <totvs-list-item-content-detail ng-click="controller.preencherDetalhesAtendimento(item)">
                <totvs-list-item-info title="{{'l-solicitacao' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span ng-bind-html="controller.tratamentoQuebraLinhasCampoString(item.Detalhes.HAtendimento[0].TEXTOSOLICITACAO)"></span>
                </totvs-list-item-info>
                <br>
                <totvs-list-item-info title="{{'l-discussao' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span ng-bind-html="controller.tratamentoQuebraLinhasCampoString(item.Detalhes.HAtendimento[0].TEXTODISCUSSAOLINHA)"></span>
                </totvs-list-item-info>
                <br>
                <totvs-list-item-info title="{{'l-solucao' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span ng-bind-html="'<br>' + controller.tratamentoQuebraLinhasCampoString(item.Detalhes.HAtendimento[0].TEXTOSOLUCAO)"></span>
                </totvs-list-item-info>
                <totvs-divider></totvs-divider>
                <div class="requerimentos-sub-titulos-lista" ng-if="item.Detalhes.TipoAtendimento.LISTPARAMETROSOLICITACAO.length > 0">
                    {{ ::'l-informacoes-complementares' | i18n : [] : 'js/aluno/requerimentos' }}
                </div>
                <totvs-list-item ng-if="item.Detalhes.TipoAtendimento.LISTPARAMETROSOLICITACAO.length > 0">
                    <totvs-list-item-info ng-repeat="itemParametro in item.Detalhes.TipoAtendimento.LISTPARAMETROSOLICITACAO" title="{{ itemParametro.NomeDisplay }}"
                        class="col-lg-6 col-md-6 col-sm-12 col-xs-12" value="{{itemParametro.Valor}}">
                    </totvs-list-item-info>
                </totvs-list-item>
                <div class="requerimentos-sub-titulos-lista" ng-if="item.Detalhes.HHISTORICOETAPASATENDIMENTO.length > 0">
                    {{ ::'l-historico-etapas' | i18n : [] : 'js/aluno/requerimentos' }}
                </div>
                <totvs-list-item ng-repeat="itemEtapa in item.Detalhes.HHISTORICOETAPASATENDIMENTO">
                    <totvs-list-item-title title="{{itemEtapa.NOMEETAPAATUAL}}" class="requerimentos tag legend col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    </totvs-list-item-title>
                    <totvs-list-item-info title="{{'l-data-conclusao' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                        value="{{itemEtapa.MUDANCADEETAPA | date: 'dd/MM/yyyy HH:mm:s'}}">
                    </totvs-list-item-info>
                </totvs-list-item>
                <div class="requerimentos-sub-titulos-lista" ng-if="item.Detalhes.HAtendimentoArquivosAnexos.length > 0">
                    {{ ::'l-arquivos' | i18n : [] : 'js/aluno/requerimentos' }}
                </div>
                <totvs-list-item ng-repeat="itemArquivo in item.Detalhes.HAtendimentoArquivosAnexos">
                    <totvs-list-item-title title="{{itemArquivo.DETALHESARQUIVO}}" class="requerimentos tag legend col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    </totvs-list-item-title>
                    <totvs-list-item-action limit-primary-action="0" class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
                        <action icon="glyphicon-download-alt" ng-click="controller.onclickDownload(itemArquivo.NOMEARQUIVO, itemArquivo.ARQUIVO)">
                            {{'l-download' | i18n : [] : 'js/aluno/requerimentos'}}
                        </action>
                    </totvs-list-item-action>
                    <totvs-list-item-info title="{{'l-arquivo' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                        value="{{itemArquivo.NOMEARQUIVO}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{'l-tamanho' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                        value="{{itemArquivo.TAMANHOARQUIVO * 1024 | number : 2}} KB">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{'l-data-alteracao-arq' | i18n : [] : 'js/aluno/requerimentos' }}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                        value="{{itemArquivo.DATAULTIMAALTERACAO | date: 'dd/MM/yyyy HH:mm:s'}}">
                    </totvs-list-item-info>
                </totvs-list-item>
            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-list-pagination ng-click="controller.search(true)" ng-if="controller.intRequerimentosTotal > controller.listaRequerimentos.length && !controller.searchText">
        </totvs-list-pagination>
        <totvs-page-alert ng-if="requerimentosFiltrados.length === 0" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-requerimento-nao-encontrado'
            | i18n : [] : 'js/aluno/requerimentos' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>

<!-- Modal Discussao-->
<form name="controller.discussaoForm">
    <div class="modal fade" id="modalDiscussao" tabindex="-1" role="dialog" aria-labelledby="modalDiscussaoInfoLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDiscussaoInfoLabel">
                        {{'l-add-discussao' | i18n : [] : 'js/aluno/requerimentos' }}
                    </h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <field name="campoTextoDiscucao" type="textarea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="controller.Discussao.TextoDiscussao"
                                        required ng-required="true" label="{{ ::'l-texto-discussao' | i18n : [] : 'js/aluno/requerimentos' }}">
                                    </field>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="controller.registrarDiscussaoRequerimento()" data-backdrop="false">
                    {{::'l-btn-adicionar-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<span ng-include="'js/aluno/requerimentos/modal-arquivo-anexo.view.html'"></span>

<!-- Modal Cancelamento-->
<form name="controller.cancelamentoForm">
    <div class="modal fade" id="modalCancelamento" tabindex="-1" role="dialog" aria-labelledby="modalCancelamentoInfoLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalCancelamentoInfoLabel">
                        {{'l-cancelar-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}
                    </h4>
                </div>
                <div class="modal-body">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                    <field name="campoJustificativa" type="textarea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="controller.Cancelamento.Justificativa"
                                        required ng-required="true" label="{{ ::'l-justificativa' | i18n : [] : 'js/aluno/requerimentos' }}">
                                        <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/requerimentos' }}</validator>
                                    </field>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="controller.registrarCancelamentoRequerimento()" data-backdrop="false">
                    {{::'l-btn-efetuar-cancelamento' | i18n : [] : 'js/aluno/requerimentos' }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
