<totvs-modal-header role="heading">
    <button type="button" class="close" ng-show="controller.existeContextoCursoSelecionado()" ng-click="controller.fecharModalSelecaoContextoCurso()">
        <span aria-hidden="true">&times;</span>
    </button>
    <label ng-show="controller.nomeUsuarioLogado != null">
    {{ 'l-ola' | i18n : [] : ''}} {{' ' + controller.nomeUsuarioLogado}}</label>
</totvs-modal-header>
<totvs-modal-body class="contexto-curso-body" role="article">
    <div class="alert alert-danger" role="alert" ng-show="controller.carregouCursos && (controller.cursos == null || controller.cursos.length == 0)">
        <div class="row">
            <div class="col-sm-1 glyphicon ico-alert-triangle" style="font-size: 40px;"></div>
            <div class="col-sm-11">{{ 'l-nenhum-curso' | i18n : [] : ''}}</div>
        </div>
    </div>
    <totvs-page-form ng-show="controller.carregouCursos && controller.cursos.length > 0" class="selecionar-curso-page-form">
        <div class="media" ng-show="controller.exibeEntrarComo">
            <div class="media-body">
                <label for="optTipoUsuario">{{ 'l-entrar-como' | i18n : [] : '' }}:</label>
                <field id="optTipoUsuario" type="radio" ng-model="controller.entrarComo" ng-change="controller.alterarEntrarComo()" class="entrar-como"
                    ng-keydown="controller.configurarTabs($event)" ng-init="controller.configurarCSSEntrarComo()">
                    <totvs-options>
                        <totvs-option value="A">{{'l-entrar-como-aluno' | i18n : [] : ''}}</totvs-option>
                        <totvs-option value="R">{{ 'l-entrar-como-responsavel' | i18n : [] : '' }}</totvs-option>
                    </totvs-options>
                </field>
            </div>
        </div>
        <totvs-divider></totvs-divider>
        <br>
        <label class="label-selecione" ng-show="controller.exibeVisaoAluno" for="divListaCursos">{{ 'l-selecione-curso' | i18n : [] : ''}}:</label>
        <label class="label-selecione" ng-show="!controller.exibeVisaoAluno" for="divListaCursos">{{ 'l-selecione-aluno' | i18n : [] : ''}}:</label>
        <br>
        <div id="divListaCursos" class="panel-group" ng-class="{'div-lista-cursos': !controller.exibeEntrarComo, 'div-lista-cursos-entrar-como': controller.exibeEntrarComo }">

            <div class="panel panel-default div-item-curso" ng-repeat="curso in controller.cursos | filter: controller.filtrarPorUsuarioLogado(controller.entrarComo, controller.codUsuarioResponsavelLogado, null)"
                ng-click="controller.selecionar(curso)" ng-class="curso.cssFocus">
                <!-- Campo exibido quando usuário está logado como aluno -->
                <div class="panel-body container-fluid item-curso" ng-show="controller.exibeVisaoAluno">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <input type="radio" id="{{'item' + curso.ID}}" name="itemCursoAluno" value="{{curso.ID}}" ng-model="controller.idCursoSelecionado"
                                    ng-focus="controller.configurarCSSFocoItemCurso(curso,true)" ng-blur="controller.configurarCSSFocoItemCurso(curso,false)"
                                    ng-keydown="controller.configurarTabs($event)"><strong>{{" " + curso.NOMECURSO}} ({{curso.NOMETURNO}})</strong><br>
                            </div>
                            <div>
                                <label ng-show="curso.APRESENTACAO == controller.apresentacaoEB">{{ 'l-serie' | i18n : [] : ''}}: </label>
                                <small ng-show="curso.APRESENTACAO == controller.apresentacaoEB">{{" " + curso.NOMEHABILITACAO}}</small>
                                <label ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{ 'l-habilitacao' | i18n : [] : ''}}: </label>
                                <small ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{" " + curso.NOMEHABILITACAO}}</small>
                            </div>
                            <div>
                                <label ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{ 'l-grade-curricular' | i18n : [] : ''}}: </label>
                                <small ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{" " + curso.NOMEMATRIZ}}</small>
                            </div>
                            <div ng-show="curso.exibeFilial">
                                <label>{{ 'l-filial' | i18n : [] : ''}}: </label><small>{{" " + curso.NOMEFILIAL}}</small>
                            </div>
                            <div ng-hide="curso.CODTURMA == null">
                                <label>{{ 'l-turma' | i18n : [] : ''}}: </label><small>{{" " + curso.CODTURMA}}</small>
                            </div>
                            <div ng-hide="curso.APRESENTACAO == controller.apresentacaoEB || curso.PERIODO == null">
                                <label>{{ 'l-periodo' | i18n : [] : ''}}: </label><small>{{" " + curso.PERIODO}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Campo exibido quando usuário está logado como responsável -->
                <div class="panel-body container-fluid item-curso" ng-hide="controller.exibeVisaoAluno">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <input type="radio" id="{{'item' + curso.ID}}" name="itemCursoResp" value="{{curso.ID}}" ng-model="controller.idCursoSelecionado"
                                    ng-focus="controller.configurarCSSFocoItemCurso(curso,true)" ng-blur="controller.configurarCSSFocoItemCurso(curso,false)"
                                    ng-keydown="controller.configurarTabs($event)"><strong>{{" " + curso.RA + " - " + curso.NOMEALUNO}}</strong><br>
                            </div>
                            <div>
                                <label>{{ 'l-curso' | i18n : [] : ''}}: </label><small>{{" " + curso.NOMECURSO}} ({{curso.NOMETURNO}})</small>
                            </div>
                            <div>
                                <label ng-show="curso.APRESENTACAO == controller.apresentacaoEB">{{ 'l-serie' | i18n : [] : ''}}: </label>
                                <small ng-show="curso.APRESENTACAO == controller.apresentacaoEB">{{" " + curso.NOMEHABILITACAO}}</small>
                                <label ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{ 'l-habilitacao' | i18n : [] : ''}}: </label>
                                <small ng-show="curso.APRESENTACAO == controller.apresentacaoES">{{" " + curso.NOMEHABILITACAO}}</small>
                            </div>
                            <div ng-show="curso.exibeFilial">
                                <label>{{ 'l-filial' | i18n : [] : ''}}: </label><small>{{" " + curso.NOMEFILIAL}}</small>
                            </div>
                            <div ng-hide="curso.CODTURMA == null">
                                <label>{{ 'l-turma' | i18n : [] : ''}}: </label><small>{{" " + curso.CODTURMA}}</small>
                            </div>
                            <div ng-hide="curso.APRESENTACAO == controller.apresentacaoEB || curso.PERIODO == null">
                                <label>{{ 'l-periodo' | i18n : [] : ''}}: </label><small>{{" " + curso.PERIODO}}</small>
                            </div>
                        </div>
                        <div class="media-right media-middle">
                            <edu-img-foto src="curso.FOTOALUNO" css-class="media-object img-foto img-circle" default-src="assets/img/avatar-md.png" alt="curso.NOMEALUNO">
                            </edu-img-foto>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </totvs-page-form>
</totvs-modal-body>
<totvs-modal-footer id="footerSelecaoCurso" role="complementary">
    <button id="btnConfirmar" type="button" class="btn btn-primary" ng-click="controller.confirmar();"
        title="{{ ::'btn-confirmar' | i18n : [] : '' }} (ENTER)" ng-keydown="controller.configurarTabs($event)">{{ ::'btn-confirmar' | i18n : [] : '' }}</button>
</totvs-modal-footer>
