<totvs-list-item id="objTccBanca{{objTccBanca.id}}"
                 class="tag-2"
                 ng-repeat="objTccBanca in controller.objTccBancaList">
    <totvs-list-item-header>
        <totvs-list-item-title
                               title="{{objTccBanca.DATAHORABANCA | date: 'dd/MM/yyyy - HH:mm'}}"
                               class="col-xs-12 col-sm-12 col-md-12col-lg-12">
        </totvs-list-item-title>
    </totvs-list-item-header>
    <totvs-list-item-content>
        <totvs-list-item-info title="{{'l-TEMA' | i18n : [] : 'js/aluno/tcc' }}" class="col-xs-12 col-sm-12 col-md-12col-lg-12"
                              value="{{objTccBanca.TEMA}}"></totvs-list-item-info>
        <totvs-list-item-info title="{{'l-LOCAL' | i18n : [] : 'js/aluno/tcc' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                              value="{{objTccBanca.LOCAL}}"></totvs-list-item-info>
    </totvs-list-item-content>
    <totvs-grid grid-data="objTccBanca.objParticipantesList" selectable="false">
        <totvs-grid-column
                           field="NOMEPARTICIPANTE"
                           class="gridRow">
            {{::'l-NOMEPARTICIPANTE' | i18n : [] : 'js/aluno/tcc' }}
        </totvs-grid-column>

        <totvs-grid-column
                           field="TIPOPARTICIPANTE"
                           class="gridRow">
            {{::'l-TIPOPARTICIPANTE' | i18n : [] : 'js/aluno/tcc' }}
        </totvs-grid-column>
    </totvs-grid>
    <totvs-page-alert ng-if="(objTccBanca.objParticipantesList.length == 0)" type="info" message="">
        <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/tcc' }}
    </totvs-page-alert>
    <br />
</totvs-list-item>
<totvs-page-alert ng-if="(controller.objTccBancaList.length == 0)" type="info" message="">
    <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/tcc' }}
</totvs-page-alert>