<totvs-page type="edit">
    <totvs-page-header class="pageHeader">
        <totvs-page-header-title title="{{ ::'l-titulo-responsavel-temporario' | i18n : [] : 'js/aluno/dados-pessoais' }}">
        </totvs-page-header-title>
    </totvs-page-header>
     <totvs-page-content>
        <div class="page-form">
        <form name="controller.formulario" class="form-horizontal row">
            <fieldset>
                <totvs-field
                    name="campoNome"
                    totvs-input
                    canclean
                    class="col-lg-8 col-md-8 col-sm-12 col-xs-12"
                    ng-model="controller.model.NOME"
                    ng-required="controller.campos.nome.obrigatorio"
                    label="{{ ::'l-NOME' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    focus>
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </totvs-field>
                <totvs-field
                    name="campoDataNascimento"
                    totvs-datepicker
                    t-mask-date=''
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.DTNASCIMENTO"
                    ng-required="controller.campos.dataNascimento.obrigatorio"
                    label="{{ ::'l-data-nascimento' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    placeholder="{{ ::'l-dia-mes-ano' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </totvs-field>
                  <field
                    name="campoParentesco"
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.CODPARENTESCO"
                    ng-required="controller.campos.parentesco.obrigatorio"
                    label="{{ ::'l-PARENTESCO' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ng-options="parentesco.CODINTERNO as parentesco.DESCRICAO for parentesco in controller.listParentesco"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <totvs-field
                    name="campoCPF"
                    totvs-input
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.CPF"
                    ng-required="controller.campos.CPF.obrigatorio"
                    label="{{ ::'l-cpf' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ui-mask="{{controller.mask}}"
                    >
                </totvs-field>
                  <field
                    name="campoTipoResponsavel"
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.CODTIPORESP"
                    ng-required="controller.campos.tipoResponsavel.obrigatorio"
                    label="{{ ::'l-tipo-responsavel' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ng-options="tipo.CODTIPORESP as tipo.DESCRICAO for tipo in controller.listTipoResponsavel"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <field
                    name="campoPais"
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-show="!controller.parametros.GestaoPessoas.UnicidadePessoaPorCPF"
                    ng-model="controller.model.IDPAIS"
                    ng-required="controller.campos.pais.obrigatorio"
                    label="{{ ::'l-pais' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ng-options="pais.IDPAIS as pais.DESCRICAO for pais in controller.listPaises"
                    ng-change="controller.onChangePais()"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <field
                    name="campoEstadoUF"
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-show="!controller.parametros.GestaoPessoas.UnicidadePessoaPorCPF"
                    ng-model="controller.model.ESTADONATAL"
                    ng-required="controller.campos.estado.obrigatorio && !(controller.listEstados.length == 0)"
                    label="{{ ::'l-estado-natal' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ng-options="estado.CODETD as estado.NOME for estado in controller.listEstados"
                    ng-disabled="(controller.listEstados.length == 0)"
                    ng-change="controller.onChangeEstado()"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <field
                    name="campoMunicipio"
                    type="typeahead"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-show="!controller.parametros.GestaoPessoas.UnicidadePessoaPorCPF"
                    ng-model="controller.model.NATURALIDADE"
                    ng-required="controller.campos.municipio.obrigatorio"
                    label="{{ ::'l-cidade-natal' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    typeahead="municipio.NOMEMUNICIPIO for municipio in controller.listMunicipios | filter: $viewValue | limitTo: 15"
                    autocomplete="off"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <field
                    name="campoEmail"
                    type="email"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.EMAIL"
                    label="{{ ::'l-email-pessoal' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                </field>
                <field
                     totvs-phone
                     class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                     ng-model="controller.model.TELEFONE1"
                     canclean
                     mask="{{controller.mascaraTelefone}}"
                     label="{{ ::'l-TELEFONE' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    >
                </field>
                <field
                     totvs-phone
                     class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                     ng-model="controller.model.TELEFONE2"
                     canclean
                     mask="{{controller.mascaraTelefone}}"
                     label="{{ ::'l-telefone-celular' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    >
                </field>
                <field
                    name="campoObservacao"
                    type="textarea"
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    ng-model="controller.model.OBSERVACAO"
                    ng-required="controller.campos.observacao.obrigatorio"
                    label="{{ ::'l-observacao' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <field
                    name="campoStatusResponsavel"
                    type="combo"
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                    canclean
                    ng-model="controller.model.STATUS"
                    ng-required="controller.campos.status.obrigatorio"
                    label="{{ ::'l-status' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                    ng-options="status.CODIGO as status.DESCRICAO for status in controller.listStatus"
                    >
                    <validator key="required">{{ ::'l-msg-campo-obrigatorio' | i18n : [] : 'js/aluno/dados-pessoais' }}</validator>
                </field>
                <totvs-divider></totvs-divider>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                        <totvs-page-header-operation>
                            <totvs-page-header-operation-action>
                            </totvs-page-header-operation-action>
                        </totvs-page-header-operation>
                    </div>
                </div>
            </fieldset>
        </form>
        </div>
    </totvs-page-content>
</totvs-page>
