<span ng-if="controller.exibirRespAcadFin" class="col-*-12" ng-repeat="objResponsavel in controller.objResponsaveisList">
   <totvs-page-detail-info-group>{{ 'l-RESPONSAVEL' | i18n : [] : 'js/aluno/dados-pessoais' }} {{objResponsavel.RESPONSAVEL}}</totvs-page-detail-info-group>
   <totvs-list-item-header>
        <totvs-list-item-title title="">
        </totvs-list-item-title>
    </totvs-list-item-header>
    <div class="media">
        <div class="media-left">
          <edu-img-foto
              src="objResponsavel.IMAGEM"
              css-class="img-thumbnail img-foto-md-auto"
              default-src="assets/img/avatar-md.png"
              alt="objResponsavel.NOME">
          </edu-img-foto>
        </div>
        <div class="media-body">
            <totvs-page-detail-info title="{{ ::'l-NOME' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                    value="{{objResponsavel.NOME}}">
            </totvs-page-detail-info>
            <totvs-page-detail-info title="{{ ::'l-email-pessoal' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                <field
                    type="email"
                    class="col-*-12 rmPadding"
                    ng-model="objResponsavel.EMAIL"
                    canclean
                    ng-disabled="!controller.podeAlterarRespAcadFin">
                </field>
            </totvs-page-detail-info>
            <totvs-page-detail-info title="{{ ::'l-PARENTESCO' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                    value="{{objResponsavel.PARENTESCO}}">
            </totvs-page-detail-info>
            <totvs-page-detail-info title="{{ ::'l-TELEFONE' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                <field
                    class="col-*-12 rmPadding"
                    ng-model="objResponsavel.TELEFONE"
                    canclean
                    ng-disabled="!controller.podeAlterarRespAcadFin"
                    mask="{{controller.mascaraTelefone}}">
                </field>
            </totvs-page-detail-info>
            <totvs-page-detail-info title="{{ ::'l-RESPONSAVEL' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                    value="{{objResponsavel.RESPONSAVEL}}">
            </totvs-page-detail-info>
            <totvs-page-detail-info title="{{ ::'l-telefone-celular' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                <field
                    class="col-*-12 rmPadding"
                    ng-model="objResponsavel.CELULAR"
                    canclean
                    ng-disabled="!controller.podeAlterarRespAcadFin"
                    mask="{{controller.mascaraTelefone}}">
                </field>
            </totvs-page-detail-info>
        </div>
    </div>
    <br />
    <totvs-list-item-header>
        <totvs-list-item-title title="">
        </totvs-list-item-title>
        <totvs-list-item-action>
            <action ng-if="controller.podeAlterarRespAcadFin" ng-click="controller.atualizarResponsavel(objResponsavel)"
                    class="btn btn-default btn-group-dp"
                    icon="glyphicon glyphicon-floppy-save">{{ 'btn-salvar' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </action>
        </totvs-list-item-action>
    </totvs-list-item-header>
    <totvs-divider></totvs-divider>
</span>
<br clear="all" />
<span ng-if="controller.ensinoBasico() && controller.exibirRespTemp">
    <totvs-page-alert ng-if="(controller.objResponsaveisList.length == 0)" type="info" message="">
        <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais' }}
    </totvs-page-alert>

    <span>
        <totvs-page-detail-info-group>
            <div class="col-sm-12 col-md-6 col-lg-6" ng-style="{'padding': '0', 'line-height': '34px'}">
            {{ ::'l-responsaveis-temporarios' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </div>
            <div ng-if="controller.podeIncluirRespTemp" class="col-sm-12 col-md-6 col-lg-6 text-right" ng-style="{'margin-bottom': '10px', 'padding-right': '0'}">
                <a class="btn btn-primary" role="button" ng-href="#/responsavel/novo">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ ::'btn-add-responsavel-temporario' | i18n : [] : 'js/aluno/dados-pessoais' }}
                </a>
            </div>
        </totvs-page-detail-info-group>
        <totvs-divider></totvs-divider>
        <span class="col-*-12" ng-repeat="objResponsavelTemp in controller.objResponsaveisTempList">
            <totvs-list-item-header>
                <totvs-list-item-title title="">
                </totvs-list-item-title>
            </totvs-list-item-header>
        <div class="media">
                <div class="media-left">
                    <edu-img-foto
                    src="objResponsavelTemp.IMAGEM"
                    css-class="img-thumbnail img-foto-md-auto"
                    default-src="assets/img/avatar-md.png"
                    alt="objResponsavelTemp.NOME">
                </edu-img-foto>
                </div>
                <div class="media-body">
                    <totvs-page-detail-info title="{{ ::'l-NOME' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                            value="{{objResponsavelTemp.NOME}}">
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-email-pessoal' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <field
                            type="email"
                            class="col-*-12 rmPadding"
                            ng-model="objResponsavelTemp.EMAIL"
                            canclean
                            ng-disabled="!controller.podeAlterarRespTemp">
                        </field>
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-RESPONSAVEL' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                            value="{{objResponsavelTemp.DESCRICAOTIPORESP}}">
                    </totvs-page-detail-info>
                    <totvs-page-detail-info title="{{ ::'l-TELEFONE' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <field
                            totvs-phone
                            class="col-*-12 rmPadding"
                            ng-model="objResponsavelTemp.TELEFONE1"
                            canclean
                            ng-disabled="!controller.podeAlterarRespTemp"
                            mask="{{controller.mascaraTelefone}}">
                        </field>
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-PARENTESCO' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                            value="{{objResponsavelTemp.DESCRICAOPARENT}}">
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-telefone-celular' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <field
                            totvs-phone
                            class="col-*-12 rmPadding"
                            ng-model="objResponsavelTemp.TELEFONE2"
                            canclean
                            ng-disabled="!controller.podeAlterarRespTemp"
                            mask="{{controller.mascaraTelefone}}">
                        </field>
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-OBSERVACAO' | i18n : [] : 'js/aluno/dados-pessoais' }}"
                                            value="{{objResponsavelTemp.OBSERVACAO}}">
                    </totvs-page-detail-info>

                    <totvs-page-detail-info title="{{ ::'l-status' | i18n : [] : 'js/aluno/dados-pessoais' }}">
                        <field
                            name="campoStatusResponsavel"
                            type="combo"
                            class="col-*-12 rmPadding"
                            ng-model="objResponsavelTemp.STATUS"
                            ng-disabled="!controller.podeAlterarRespTemp"
                            ng-required="true"
                            ng-options="objStatus.CODIGO as objStatus.DESCRICAO for objStatus in controller.objStatusList"
                            >
                        </field>
                    </totvs-page-detail-info>
            </div>
            </div>
            <br />
            <totvs-list-item-header>
                <totvs-list-item-title title="">
                </totvs-list-item-title>
                <totvs-list-item-action>
                    <action ng-if="controller.podeAlterarRespTemp" ng-click="controller.atualizarResponsavelTemp(objResponsavelTemp)"
                            class="btn btn-default btn-group-dp"
                            icon="glyphicon glyphicon-floppy-save">{{ 'btn-salvar' | i18n : [] : 'js/aluno/dados-pessoais' }}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>
            <totvs-divider></totvs-divider>
        </span>
        <br clear="all" />
        <totvs-page-alert ng-if="(controller.objResponsaveisTempList.length == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais' }}
        </totvs-page-alert>
    </span>
</span>
