<totvs-page type="list">

	<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 0px;">
		<totvs-page-header-title ng-style="{'float': 'left'}" 
			title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/plano-aula' }}: ">
		</totvs-page-header-title>					
		<totvs-field
			name="campoDataAula"
			totvs-datepicker
			t-mask-date=""
			canclean
			ng-model="controller.DataAulas"
			style="width: 200px;margin-left: 30px;margin-top: -10px;"
			placeholder="{{ ::'l-dia-mes-ano' | i18n : [] : 'js/aluno/dados-pessoais' }}" />
			<button type="button" ng-click="controller.buscaAulas()" class="btn btn-primary" style="margin-left: 5px;">
					{{::"l-filtrar" | i18n : [] : "js/aluno/plano-aula" }}
			</button>		
	</div>	
    <totvs-page-content>
		<totvs-list-item id="objPlanoAula{{objPlanoAula.AULA}}"
						 class="tag-2"
						 ng-repeat="objPlanoAula in controller.planoAulas">
			<totvs-list-item-header>
				<totvs-list-item-title
				    title="{{'l-aula' | i18n : [] : 'js/aluno/plano-aula' }} {{objPlanoAula.AULA}}"
					class="tag legend col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<i class="glyphicon glyphicon-paperclip" style="margin-left: 7px;"
					ng-if="(controller.ArquivosPlanoAula | filter: { IDPLANOAULA: objPlanoAula.IDPLANOAULA }).length > 0"></i>
				</totvs-list-item-title>
			</totvs-list-item-header>
			<totvs-list-item-content>
				<totvs-list-item-info title="{{'l-disciplina' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
					value="{{objPlanoAula.NOMEDISC}}">
				</totvs-list-item-info>
                <totvs-list-item-info title="{{'l-turma' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
					value="{{objPlanoAula.CODTURMA}}"></totvs-list-item-info>
					<totvs-list-item-info ng-if="objPlanoAula.CODSUBTURMA.length > 0" title="{{'l-subturma' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
					value="{{objPlanoAula.CODSUBTURMA}}"></totvs-list-item-info>					
				<totvs-list-item-info title="{{'l-tipo' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"
					value="{{controller.tipoAula(objPlanoAula.TIPOAULA)}}"></totvs-list-item-info>
				<totvs-list-item-info title="{{'l-inicio' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
					value="{{objPlanoAula.HORAINICIAL}}"></totvs-list-item-info>
				<totvs-list-item-info title="{{'l-termino' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
					value="{{objPlanoAula.HORAFINAL}}"></totvs-list-item-info>
				<totvs-list-item-info ng-if="(objPlanoAula.LOCAL.length > 0)" title="{{'l-local' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
					value="{{objPlanoAula.LOCAL}}"></totvs-list-item-info>	
			</totvs-list-item-content>
			<totvs-list-item-content-detail 
			ng-if="	(objPlanoAula.CONTEUDO.length > 0) || 
					(objPlanoAula.CONTEUDOEFETIVO.length > 0) || 
					(objPlanoAula.LICAOCASA.length > 0) || 
					(controller.ArquivosPlanoAula | filter: { IDPLANOAULA: objPlanoAula.IDPLANOAULA }).length > 0">
				<br>
                <totvs-list-item-info style="margin-bottom: 15px;" ng-if="(objPlanoAula.CONTEUDO.length > 0)" title="{{'l-conteudoprevisto' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><span ng-bind-html="objPlanoAula.CONTEUDO"></span></totvs-list-item-info>
				<totvs-list-item-info style="margin-bottom: 15px;" ng-if="(objPlanoAula.CONTEUDOEFETIVO.length > 0)" title="{{'l-conteudoefetivo' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><span ng-bind-html="objPlanoAula.CONTEUDOEFETIVO"></span></totvs-list-item-info>
				<totvs-list-item-info style="margin-bottom: 15px;" ng-if="(objPlanoAula.LICAOCASA.length > 0)" title="{{'l-licaocasa' | i18n : [] : 'js/aluno/plano-aula' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><span ng-bind-html="objPlanoAula.LICAOCASA"></span></totvs-list-item-info>
				<label ng-if="(controller.ArquivosPlanoAula | filter: { IDPLANOAULA: objPlanoAula.IDPLANOAULA }).length > 0" ng-style="{'float': 'left', 'padding': '0px 0px 5px 0px'}" >{{'l-arquivos' | i18n : [] : 'js/aluno/plano-aula' }}:</label>
				<div ng-if="(controller.ArquivosPlanoAula | filter: { IDPLANOAULA: objPlanoAula.IDPLANOAULA }).length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
					ng-repeat="Arquivo in controller.ArquivosPlanoAula | filter: { IDPLANOAULA: objPlanoAula.IDPLANOAULA }">
				 <div style="margin-bottom: 5px;"> - <a role="button" class="clickable ng-binding" ng-click="controller.downloadMaterial(Arquivo.IDMATERIALSEC, Arquivo.PATHARQUIVO)">
						{{Arquivo.ARQUIVO}}</a> ({{Arquivo.TAMANHO|number:0}} Kb)</div>
				</div>
			</totvs-list-item-content-detail>
		</totvs-list-item>
		<br>
        <totvs-page-alert ng-if="controller.planoAulas.length == 0 || controller.planoAulas == null" type="info" message="" style="margin-top: 55px;">
            <span class="glyphicon ico-alert-triangle" ></span> {{ ::'l-nenhum-registro-encontrado' | i18n : [] : 'js/aluno/plano-aula' }}
        </totvs-page-alert>
	</totvs-page-content>
</totvs-page>
