<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/quadro-horario'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/quadro-horario' }}: ">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
                <button ng-style="{'position': 'absolute', 'right': '10px'}" class="btn btn-default" ng-show="controller.permiteImpressao" ng-click="controller.imprimir()">
                    <span class="glyphicon glyphicon-print"></span>
                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                </button>
            </div>
        </div>
        <totvs-page-tags ng-if="controller.temDisciplinaModular">
            <tag class="disciplina-modular">
                {{ ::'l-disciplina-modular' | i18n : [] : 'js/aluno/quadro-horario' }}
            </tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content>
        <fieldset>
            <div class="btn-group" data-toggle="buttons" ng-click="controller.preencherQuadroHorario()" ng-style="{'float': 'right','margin': '7px'}">
                <label for="chkMostarTodos" class="btn btn-info" ng-style="{'margin-top': '3px'}">
                    <span ng-if="controller.mostrarTodos == true" class="glyphicon glyphicon-check pull-left"></span>
                    <span ng-if="controller.mostrarTodos == false" class="glyphicon glyphicon-unchecked pull-left"></span>
                    <input type="checkbox" id="chkMostarTodos" name="chkMostarTodos" ng-style="{'float': 'left', 'margin-top': '-4px'}" ng-model="controller.mostrarTodos">
                    <span id="txtTodosAbertos" ng-style="{'float': 'left', 'margin-left': '10px', 'white-space': 'normal'}">{{::'l-mostrar-todos' | i18n : [] : 'js/aluno/quadro-horario'}}</span>
                </label>
            </div>
        </fieldset>
        <span id="grid" ng-if="controller.countHorarios > 0">
            <totvs-grid grid-options="{scrollable: false}" grid-data="controller.QuadroHorario.Horarios" selectable="false">

                <totvs-grid-column
                    width="5%"
                    class="gridRow quadro-horario-hora text-center"
                    template="controller.retornaInfoFaixaHorario">
                    &nbsp;
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 1) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasSegunda">

                    {{::'l-segunda' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                    class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 2) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasTerca">

                    {{::'l-terca' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 3) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasQuarta">

                    {{::'l-quarta' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 4) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasQuinta">

                    {{::'l-quinta' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula {{(controller.diaSemanaHoje === 5) ? 'selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasSexta">

                    {{::'l-sexta' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 6) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasSabado">

                    {{::'l-sabado' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

                <totvs-grid-column
                   width="13.5%"
                   class="gridRow text-center quadro-horario-celula{{(controller.diaSemanaHoje === 0) ? ' selectedCol' : ''}}"
                   template="controller.retornaInfoDisciplinasDomingo">

                    {{::'l-domingo' | i18n : [] : 'js/aluno/quadro-horario' }}
                </totvs-grid-column>

            </totvs-grid>
        </span>
        <totvs-page-alert ng-if="(controller.countHorarios == 0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/quadro-horario' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>
