<totvs-page type="list">
    <totvs-page-header class="pageHeader">
    </totvs-page-header>
    <totvs-page-content class="panelMural">
        <div class="row panelmural">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="dashboard-portlet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <totvs-widget>
                        <totvs-widget-body>
                            <totvs-carousel
                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                t-slides="controller.slides"
                                t-interval="5000">
                            </totvs-carousel>
                        </totvs-widget-body>
                    </totvs-widget>
               </div>
           </div>
        </div>
        <div class="row widgetsMural">
            <edu-widgets-container
                container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/mural'}}"
                id-funcionalidade="controller.idFuncionalidade" class="contentMural">
            </edu-widgets-container>
        </div>
    </totvs-page-content>
</totvs-page>


<!-- MODAL RECIBO INSCRICAO -->
<div class="modal fade" id="modalAlterarInfoUsuario" tabindex="-1" role="dialog" aria-labelledby="modalAlterarInfoUsuarioInfoLabel" style="display: none">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="controller.fecharModalInfoUsuario()">&times;</span></button>
                <h4 class="modal-title" id="modalAlterarInfoUsuarioInfoLabel">Atualize suas informações!</h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body text-center">
                        <button class="btn btn-primary" ng-click="controller.goToPerfil()">Clique aqui para atualizar suas informações cadastrais</button>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="controller.fecharModalInfoUsuario()">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL RECIBO INSCRICAO -->


<!-- MODAL FIES -->
<div class="modal fade" id="modalFies" tabindex="-1" role="dialog" aria-labelledby="modalFies" style="display: none">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="controller.closeModalFies()">&times;</span></button>
                <h4 class="modal-title" id="modalFiesInfoLabel">FIES</h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body text-center">
                        <img src="https://portalacademico.unis.edu.br:8443/web/app/edu/PortalEducacional/assets/img/comunicado-fies.png" style="max-width: 100%" />
                    </div>
                </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close" ng-click="controller.closeModalFies()">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL RECIBO INSCRICAO -->