<div ng-controller="eduWidgetsAconteceHojeController as controller" class="widgetAcontecehj">
    <totvs-widget>
        <totvs-widget-header title="{{ 'l-acontece-hoje' | i18n : [] : 'js/widgets' }}">
        </totvs-widget-header>
        
        <totvs-row>
            <a ng-click="controller.goCalendario()" class="link-widget" ng-if="$root.objPermissions.EDU_CALENDARIO">
                {{ ::'l-go-calendario' | i18n : [] : 'js/widgets' }}
            </a>

            <a ng-click="controller.goAulasDoDia()" ng-if="controller.permissaoPlanoAula" class="link-widget" style="margin: -30px 130px 0 0 !important;">
                {{ ::'l-go-aulas-do-dia' | i18n : [] : 'js/widgets' }}
            </a>        
        </totvs-row>
        
        <totvs-widget-body>
            <totvs-row>
                <span id="widgetAconteceHj">
                    <edu-scheduler
                        scheduler="controller.instance"
                        scheduler-data="controller.eventosCalendario"
                        views="controller.views"
                        currentTimeMarker="true"
                        editable="controller.editable"
                        schedulerOptions="controller.options">
                    </edu-scheduler>
                </span>
            </totvs-row>

            <br clear="all" />

            <totvs-row>
                <totvs-page-alert
                    ng-if="!controller.hasValue"
                    type="info"
                    message="">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {{ ::'l-nenhuma-info-disponivel' | i18n : [] : 'js/widgets' }}
                </totvs-page-alert>
            </totvs-row>
        </totvs-widget-body>
    </totvs-widget>
</div>


