<totvs-page type="list">
    <totvs-page-header class="pageHeader">
        <div class="row label-subtitulo col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label ng-style="{'float': 'left', 'margin-top': '-4px'}" for="comboSituacao">{{ ::'l-filtrarpor' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}:</label>
            <field ng-change="controller.atualizaListagem(false)" ng-style="{'width': 'auto'}" ng-disabled="controller.todosAbertos == true" type="combo" id="comboSituacao" ng-model="controller.situacaoSelecionada" ng-options="situacao.Codigo as situacao.Situacao for situacao in controller.listaSituacao"></field>

            <div class="btn-group" data-toggle="buttons" ng-click="controller.atualizaListagem(true)">
                <label for="chkTodosAbertos" class="btn btn-info" ng-style="{'margin-top': '3px'}">
                    <span ng-if="controller.todosAbertos == true" class="glyphicon glyphicon-check pull-left" ng-style="{'margin-top': '-7px'}"></span>
                    <span ng-if="controller.todosAbertos == false" class="glyphicon glyphicon-unchecked pull-left" ng-style="{'margin-top': '-7px'}"></span>
                    <input type="checkbox" id="chkTodosAbertos" name="chkTodosAbertos" ng-style="{'float': 'left', 'margin-top': '-4px'}" ng-model="controller.todosAbertos">
                    <span id="txtTodosAbertos" ng-style="{'float': 'left', 'margin-left': '10px', 'margin-top': '-10px', 'white-space': 'normal'}">{{::'l-listarAbertos' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</span>
                </label>
            </div>
        </div>
        <totvs-page-tags>
            <tag class="legenda legenda-verde legenda-content-1">{{::'l-pago' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</tag>
            <tag class="legenda legenda-laranja legenda-content-2">{{::'l-pago-parcialmente' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</tag>
            <tag class="legenda legenda-vermelho legenda-content-3">{{::'l-aberto' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</tag>
            <tag class="legenda legenda-cinza legenda-content-4" ng-if="!controller.NaoExibeLancamentosCancelados">{{::'l-cancelado' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</tag>
            <tag class="legenda legenda-azul legenda-content-5" ng-if="!controller.NaoExibeLancamentosCancelados">{{::'l-inativo' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>
    <totvs-page-content>
        <totvs-list-item id="objLancamentos{{objLancamentos.id}}" class="tag-2" ng-repeat="objLancamentos in controller.objLancamentosList[0] | filter: (controller.situacaoSelecionada != -1 ? {STATUSLAN: controller.situacaoSelecionada} : '')">
            <totvs-list-item-header>
                <totvs-list-item-title title="{{controller.getTituloBoleto(objLancamentos)}}" ng-class="controller.getSituacaoBoleto(objLancamentos)">
                </totvs-list-item-title>
                <totvs-list-item-action limit-primary-action="1" ng-if="controller.exibirOpcoesPagamento(objLancamentos)">
                    <action style="display: block!important;" icon="glyphicon glyphicon-barcode" ng-if="controller.exibeBtnBoleto(objLancamentos)" ng-click="controller.ImprimeBoleto(objLancamentos.IDBOLETO,objLancamentos.NOSSONUMERO, objLancamentos.DATAVENCIMENTO)">
                        {{'l-boleto' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}
                    </action> <br>
                    <action icon="glyphicon glyphicon-credit-card" ng-if="controller.exibeBtnCartao(objLancamentos)" ng-click="controller.exibirDadosPagCartao([objLancamentos.IDBOLETO,objLancamentos.DATAVENCIMENTO])">
                        {{'l-cartao' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}
                    </action>
                </totvs-list-item-action>
            </totvs-list-item-header>

            <totvs-list-item-content>
                <totvs-list-item-info title="{{'l-linha-digitavel' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" value="" ng-show="controller.exibirIPTE(objLancamentos)">
                    <ng-bind-html ng-bind-html="objLancamentos.IPTE">
                    </ng-bind-html>
                </totvs-list-item-info>
                <totvs-list-item-info title="{{'l-responsavel' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{objLancamentos.NOMEFANTASIA }}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-periodo-letivo' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{objLancamentos.CODPERLET}}"></totvs-list-item-info>
                <totvs-list-item-info title="{{'l-valordesconto' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" value="{{objLancamentos.VALORDESCONTO | currency }}" ng-if="controller.exibeInfoDesconto"></totvs-list-item-info>
            </totvs-list-item-content>
            <totvs-list-item-content-detail>
                <div class="detalhes-lancamento-financeiro">
                    <totvs-grid class="teste" grid-data="controller.listaLancamentosPorBoleto[objLancamentos.IDBOLETO]" grid-options="controller.listaConfigPorGrid[objLancamentos.IDBOLETO]">
                    </totvs-grid>
                </div>
            </totvs-list-item-content-detail>
        </totvs-list-item>
        <totvs-list-pagination ng-if="controller.intOcorrenciasTotal > controller.objOcorrenciasList.length" ng-click="controller.search(true);">
        </totvs-list-pagination>
        <br>
        <totvs-page-alert ng-if="((controller.objLancamentosList[0] | filter: (controller.situacaoSelecionada != -1 ? {STATUSLAN: controller.situacaoSelecionada} : '')).length === 0 || controller.objLancamentosList.length ===0)" type="info" message="">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-msg-not-found' | i18n : [] : '' }}
        </totvs-page-alert>
    </totvs-page-content>
</totvs-page>