<totvs-modal-header>
    <button type="button" class="close" ng-click="controller.modalInstance.dismiss()"><span aria-hidden="true">&times;</span></button>
    {{::'l-pagamento' | i18n : [] : 'js/aluno/financeiro/lancamentos'}}
</totvs-modal-header>
<totvs-modal-body ng-if="controller.pagamento.CartaoCreditoParams.ModeloECommerceCielo == 1 || controller.pagamento.CartaoCreditoParams.ModeloECommerceCielo == 2">
            <div class="panel-body">
                <totvs-list-item-header>
                    <totvs-list-item-title title="{{::'l-dadoscadastrais' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                    style="font-size: 18px">
                    </totvs-list-item-title>
                </totvs-list-item-header>
                <totvs-list-item-content>
                    <totvs-list-item-info   title="{{::'l-nome' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                            class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                            value="{{controller.pagamento.NomeComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info   title="{{::'l-cpf' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                            class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                            value="{{controller.pagamento.CpfComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info   title="{{::'l-email' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                            class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                            value="{{controller.pagamento.EmailComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info   title="{{::'l-endereco' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                            class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                            value="{{controller.pagamento.EnderecoComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info   title="{{::'l-bairro' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                            class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                            value="{{controller.pagamento.BairroComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{::'l-cidade' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                        class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        value="{{controller.pagamento.CidadeComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{::'l-uf' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                        class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        value="{{controller.pagamento.UfComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{::'l-cep' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                        class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        value="{{controller.pagamento.CepComprador}}">
                    </totvs-list-item-info>
                    <totvs-list-item-info title="{{::'l-telefone' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                        class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        value="{{controller.pagamento.TelefoneComprador}}">
                    </totvs-list-item-info>
                </totvs-list-item-content>
            </div>
            <div ng-show="controller.pagamento.CartaoCreditoParams.ModeloECommerceCielo == 1">
                <div class="panel-body">
                    <totvs-list-item-header>
                        <totvs-list-item-title title="{{::'l-dadospagamento' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        style="font-size: 18px">
                        </totvs-list-item-title>
                    </totvs-list-item-header>
                    <totvs-list-item-content>
                        <totvs-list-item-info   title="{{::'l-referentea' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DescProduto}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-valor' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                                class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                                value="{{controller.pagamento.PrecoProduto | currency}}">
                        </totvs-list-item-info>
                    <totvs-list-item-content>
                </div>
                <div class="panel-body">
                    <totvs-list-item-header>
                        <totvs-list-item-title title="{{::'l-formapagamento' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        style="font-size: 18px">
                        </totvs-list-item-title>
                    </totvs-list-item-header>
                    <totvs-list-item-content class="pgto-cartao">
                        <totvs-list-item-info   title="{{::'l-credito' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%"
                                                ng-show="controller.exibirOpcaoPagamentoCredito()"
                                                value="">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc-selector" style="margin-top: 5px">
                                <div class="pull-left" style="min-height: 60px;" ng-show="controller.pagamento.CartaoCreditoParams.AtivarBandeiraVisa == 1">
                                        <input type="radio" id="visa" name="opcaoBandeira" value="1"
                                            ng-model="controller.bandeira">
                                        <label ng-show="controller.pagCredito" class="drinkcard-cc visa" for="visa"></label>
                                </div>
                                <div class="pull-left" style="min-height: 60px;" ng-show="controller.pagamento.CartaoCreditoParams.AtivarBandeiraMaster == 1">
                                        <input type="radio" id="mastercard" name="opcaoBandeira" value="2"
                                            ng-show="controller.pagCredito"
                                            ng-model="controller.bandeira">
                                        <label ng-show="controller.pagCredito" class="drinkcard-cc mastercard" for="mastercard"></label>
                                </div>

                                <div class="pull-left" ng-show="controller.bandeira !== '3'">
                                    <div>
                                        <label>{{ ::'l-parcelamento' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}:  </label>
                                    </div>
                                    <div style="float: left;">
                                        <field type="combo" style="width: 100%; padding-left: 5px;"
                                            ng-model="controller.parcelaSelecionada"
                                            ng-options="k as controller.formataOpcaoParcela(k, v) for (k, v) in controller.opcoesParcelamento">
                                        </field>
                                    </div>
                                </div>
                            </div>
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-debito' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                                                class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 2%"
                                                ng-show="controller.exibirOpcaoPagamentoDebito()"
                                                value="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc-selector" style="margin-top: 5px">
                                <div style="float: left">
                                        <input type="radio" id="visaelectron" name="opcaoBandeira" value="3"
                                            ng-show="!controller.pagCredito"
                                            ng-model="controller.bandeira">
                                        <label ng-show="controller.pagCredito" class="drinkcard-cc visaelectron" for="visaelectron"></label>
                                </div>
                            </div>
                        </totvs-list-item-info>
                    </totvs-list-item-content>
                </div>
                <div class="panel-body">
                    <totvs-list-item-header>
                        <totvs-list-item-title
                            title="{{::'l-valortotal' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                            style="font-size: 18px"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{controller.retornaValorTotal()}}
                        </totvs-list-item-title>
                    </totvs-list-item-header>
                </div>
            </div>
        <div style="clear:both;"></div>
</totvs-modal-body>
<totvs-modal-body ng-if="controller.pagamento.CartaoCreditoParams.ModeloECommerceCielo == 5">    
        
    <form name="controller.formulario">                
        <fieldset ng-disabled="controller.BloquearEdicao">
            <div class="container-fluid">
                    <totvs-list-item-header>
                            <totvs-list-item-title title="{{::'l-dadoscadastrais' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                            style="font-size: 18px">
                            </totvs-list-item-title>
                        </totvs-list-item-header>
                <div class="row form-group">
                    <totvs-field
                        totvs-input
                        name="campoPrimeiroNome"
                        label="{{ ::'l-primeiro-nome' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                        ng-model="controller.pagamento.PrimeiroNome"
                        ng-required="true"
                        maxlength="60">
                    </totvs-field>
                    <totvs-field
                        totvs-input
                        name="campoSobrenome"
                        label="{{ ::'l-sobrenome' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                        ng-model="controller.pagamento.Sobrenome"
                        style="margin-left: 10px"
                        ng-required="true"
                        maxlength="60">
                    </totvs-field>
                </div>
                <div class="row form-group">
                    <totvs-field
                        name="campoCPF"
                        totvs-input
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
                        ng-model="controller.pagamento.CpfComprador"
                        ng-required="true"
                        style="margin-right: 5px"  
                        label="{{ ::'l-cpf' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        ui-mask="{{controller.mask}}">
                    </totvs-field>
                    <field
                        name="campoTelefone"
                        label="{{ ::'l-telefone' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        ng-model="controller.pagamento.TelefoneComprador"
                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
                        style="margin-right: 5px"  
                        ng-required="true"
                        mask="{{controller.MascarasSistema.mascaraTelefone}}">
                    </field>
                    <field
                        type="email"
                        name="campoEmail"
                        label="{{ ::'l-email' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        ng-model="controller.pagamento.EmailComprador"
                        class="col-4"
                        ng-required="true"
                        maxlength="60">
                    </field>  
                </div>
                <div class="row">      
                    <field
                        name="campoCEP"
                        label="{{ ::'l-cep' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
                        ng-model="controller.pagamento.CepComprador"
                        style="margin-right: 5px"
                        ng-required="true">
                    </field>  
                    <totvs-field
                        name="campoRua"
                        totvs-input
                        class="col-4"
                        ng-model="controller.pagamento.Logradouro"
                        ng-required="true"
                        style="margin-right: 5px"
                        label="{{ ::'l-Logradouro' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}">
                    </totvs-field>  
                    <totvs-field
                        name="campoNumero"
                        totvs-input
                        class="col-1"
                        style="margin-right: 5px"
                        ng-model="controller.pagamento.Numero"
                        ng-required="true"
                        label="{{ ::'l-numero' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}">
                    </totvs-field> 
                    <totvs-field
                        name="campoComplemento"
                        totvs-input
                        class="col-3"
                        ng-model="controller.pagamento.Complemento"
                        label="{{ ::'l-complemento' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}">
                    </totvs-field>                     
                </div>        
                <div class="row">    
                    <field
                        name="campoBairro"
                        label="{{ ::'l-bairro' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        class="col-lg-2 col-md-2 col-sm-6 col-xs-12"
                        ng-model="controller.pagamento.BairroComprador"
                        style="margin-right: 5px"
                        ng-required="true"
                    >
                    </field>          
                    <field
                        type="typeahead"
                        name="campoCidade"
                        ng-model="controller.pagamento.CidadeComprador"
                        label="{{ ::'l-cidade' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                        typeahead="municipio.NOMEMUNICIPIO for municipio in controller.listaMunicipios | filter: $viewValue | limitTo: 15"
                        autocomplete="off"
                        ng-focus="controller.carregarMunicipios()"
                        maxlength="32"
                        style="margin-right: 5px"
                        ng-required="true"
                        >
                    </field>
                </div>
                <div class="row">   
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <field
                            name="campoUF"
                            type="combo"
                            ng-model="controller.pagamento.UfComprador"
                            label="{{ ::'l-uf' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                            ng-options="estado.CODETD as estado.NOME for estado in controller.listEstados"
                            style="min-width:100%"
                            ng-required="true"
                            >
                        </field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <field
                            type="combo"
                            name="campoPais"
                            ng-model="controller.pagamento.PaisComprador"
                            label="{{ ::'l-pais' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}"
                            ng-options="pais as pais.DESCRICAO for pais in controller.listaPaises track by pais.DESCRICAO"
                            ng-change="controller.onChangePais()"
                            style="margin-left: 5px; min-width:100%"
                            ng-required="true"
                            >
                        </field>
                    </div>
                </div>
            </div>
        </fieldset>  
    </form>  
</totvs-modal-body>
<totvs-modal-footer>
    <button class="btn btn-primary" ng-if="controller.IsGetNet && !controller.BloquearEdicao" ng-disabled ="formDados.field.$error.required" ng-click="controller.proximaEtapa()">{{::'l-continuar' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}</button>
    <button class="btn btn-primary pay-button-checkout" ng-if="controller.exibeBotaoPagamento()" ng-click="controller.pagarBoleto()">{{::'l-pagar' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}</button>
</totvs-modal-footer>
<div id='iframePay'></div>