<!-- MENU -->
<div ng-init="botaoAtivo = 'centralcandidato'">
    <div ng-include="'js/templates/menu-eb.view.html'"></div>
</div>
<!-- FIM MENU -->
<br/>
<div class="container-fluid" style="margin-top: -14px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 10px;margin-bottom: 10px;" >
                        <h4 style="margin: 0px 0px 0px 0px;">Olá, <strong>{{controller.NomeUsuario}}</strong>.</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs" style="text-align: -webkit-right; text-align: right;">
						<button style="width: 190px;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.novaInscricaoCandidato()" ng-if="controller.CandidatosDependentes.length < 1">
							{{::"l-nova-inscricao" | i18n : [] : "js/centralcandidato" }}</button>
                        <button style="width: 190px;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.editarDadosResponsavel()">
                            {{::"l-editar" | i18n : [] : "js/dados-pessoais" }}</button>
                        <button style="width: 190px;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.abrirModalAlterarSenha()" ng-if="objParametros.UsaSenhaLogin">
                            {{::"l-alterar-senha" | i18n : [] : "js/centralcandidato" }}</button>
                        <button style="width: 190px;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.realizarLogout()">
                            {{::"l-sair" | i18n : [] : "js/centralcandidato" }}</button>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
						<button style="width: 100%;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.novaInscricaoCandidato()" ng-if="controller.CandidatosDependentes.length < 1">
								{{::"l-nova-inscricao" | i18n : [] : "js/centralcandidato" }}</button>
                        <button style="width: 100%;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.editarDadosResponsavel()">
                            {{::"l-editar" | i18n : [] : "js/dados-pessoais" }}</button>
                        <button style="width: 100%;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.abrirModalAlterarSenha()" ng-if="objParametros.UsaSenhaLogin">
                            {{::"l-alterar-senha" | i18n : [] : "js/centralcandidato" }}</button>
                        <button style="width: 100%;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.realizarLogout()">
                            {{::"l-sair" | i18n : [] : "js/centralcandidato" }}</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-if="controller.CandidatosDependentes.length > 1 || (controller.CandidatosDependentes.length === 1 && controller.CandidatosDependentes[0].DEPENDENTE === true)">
            <tr>
                <td style="padding: 0px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <form class="form-inline" role="form">
                            <div class="form-group" style="margin: 10px 0px 0px 10px;">
                              <label class="" for="cmbDependentes">
                                    {{ ::'l-dependente' | i18n : [] : 'js/centralcandidato' }}:
                              </label>
                              <select name="cmbDependentes" id="cmbDependentes" class="form-control" ng-options="dependentes.IDUSUARIO as dependentes.NOME for dependentes in controller.CandidatosDependentes" ng-model="controller.IdUsuario" ng-change="controller.alteraDependente()">
                              </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="text-align: -webkit-right; text-align: right;">
						<button ng-click="controller.novoDependente()" class="btn btn-md btn-info btn-central-candidato" style="float: right;margin: 10px 10px 0;width: 190px;">{{::"l-novoDependente" | i18n : [] : "js/centralcandidato" }}</button>
						<button ng-click="controller.novaInscricaoDependenteSelecionado()" class="btn btn-md btn-info btn-central-candidato" style="float: right;margin: 10px 0 0;width: 190px;">{{::"l-nova-inscricao" | i18n : [] : "js/centralcandidato" }}</button>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
						<button ng-click="controller.novoDependente()" class="btn btn-md btn-info btn-central-candidato" style="float: right;margin: 10px 10px 0;width: 100%;">{{::"l-novoDependente" | i18n : [] : "js/centralcandidato" }}</button>
						<button ng-click="controller.novaInscricaoDependenteSelecionado()" class="btn btn-md btn-info btn-central-candidato" style="float: right;margin: 10px 10px 0;width: 100%;">{{::"l-nova-inscricao" | i18n : [] : "js/centralcandidato" }}</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <totvs-page-alert ng-if="controller.Inscricoes.length === 0" type="info" message="">
        <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-seminscricao' | i18n : 'js/centralcandidato' }}
</totvs-page-alert>

<table class="table table-bordered" ng-if="controller.Inscricoes.length > 0">
    <thead>
        <tr class="active" style="height: 55px;">
            <th>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="cmbInscricoes" style="float:left;padding: 6px 5px 0px 10px;">
                            {{ ::'l-areainteresse' | i18n : [] : 'js/centralcandidato' }}:
                        </label>
                        <select name="cmbInscricoes" id="cmbInscricoes" class="form-control" ng-options="inscricoes.NUMEROINSCRICAO as inscricoes.AREAINTERESSE for inscricoes in controller.Inscricoes" ng-model="controller.NumeroInscricao" ng-change="controller.alteraInscricao()">
                        </select>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <!--Bloco de linhas de conteúdo-->
                <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    <div class="row form-group">
                        <totvs-list-item-info title="{{ ::'l-candidato' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.NOME}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>
                    <div class="row form-group" ng-if="controller.InfoInscricao.EMAIL != null">
                        <totvs-list-item-info title="{{ ::'l-email' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.EMAIL}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>
                    <div class="row form-group">
                        <totvs-list-item-info title="{{ ::'l-numeroinscricao' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.NUMEROINSCRICAO}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>
                    <div class="row form-group">
                        <totvs-list-item-info title="{{ ::'l-datainscricao' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.DATAINSCRICAO | date: 'dd/MM/yyyy'}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>
                    <div class="row form-group">
                        <totvs-list-item-info title="{{ ::'l-formainscricao' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.FORMAINSCRICAO}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>
                    <div class="row form-group">
                        <totvs-list-item-info title="{{ ::'l-localrealizacao' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.LOCALREALIZACAO}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>

                    <div class="row form-group" ng-if="controller.InfoInscricao.CAMPUS != null">
                        <totvs-list-item-info title="{{ ::'l-campus' | i18n : [] : 'js/centralcandidato' }}" value="{{controller.InfoInscricao.CAMPUS}}" class="col-md-12 col-xs-12">
                        </totvs-list-item-info>
                    </div>

                    <!--Area de interesse-->
                    <div class="panel panel-default" ng-hide="controller.OpcoesCurso.length == 0">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-education"></i> {{ ::'l-areasinteresseselecionada' | i18n : [] : 'js/centralcandidato' }}
                        </div>

                        <ul class="list-group" style="margin-bottom: 0px;">
                            <span ng-repeat="opcoesCurso in controller.OpcoesCurso">
                            <li class="list-group-item" style="border:0">
                                <span class="badge">
                                    {{opcoesCurso.NUMEROOPCAO}}{{ ::'l-opcao' | i18n : [] : 'js/centralcandidato' }}
                                </span> {{opcoesCurso.NOME}}
                            </li>
                            </span>
                        </ul>
                    </div>
                    <!--FIM DA Area de interesse-->

                    <!--Opções de Idioma-->
                    <div class="panel panel-default" ng-hide="controller.OpcoesIdioma.length == 0">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-globe"></i> {{ ::'l-opcoesidioma' | i18n : [] : 'js/centralcandidato' }}
                        </div>

                        <ul class="list-group" style="margin-bottom: 0px;">
                            <span ng-repeat="opcoesIdioma in controller.OpcoesIdioma">
                                <li class="list-group-item">
                                    {{opcoesIdioma.NOME}}
                                </li>
                            </span>
                        </ul>
                    </div>
                    <!--FIM DAS Opções de Idioma-->

                    <!--Documentos e arquivos solicitados-->
                    <div id="documentosSolicitados" class="panel panel-default" ng-hide="!controller.HasSolicitacaoDoc">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-file"></i> {{ ::'l-documentosexigidos' | i18n : [] : 'js/centralcandidato' }}
                        </div>

                        <div class="modal-body" style="margin:0px; padding: 0px;">
                                <div class="panel-body" id="InformacaoDocumentos">
                                </div>
                        </div>
                        <div class="modal-footer" ng-hide="!controller.HasPendenciaDoc">
                            <button style="width: 100%;" class="btn btn-md btn-info btn-central-candidato" ng-click="controller.saveSelectedFiles()">
                                {{::"l-btn-save-files" | i18n : [] : "js/centralcandidato" }}</button>
                        </div>
                    </div>
                    <!--FIM Documentos e arquivos solicitados-->

                    <!--Atividades agendadas-->
                    <div class="panel panel-default" ng-hide="controller.AtividadesAgendadas.length == 0">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-time"></i> {{ ::'l-atividades-agendadas' | i18n : [] : 'js/centralcandidato' }}
                        </div>

                        <ul class="list-group" style="margin-bottom: 0px;">
                            <span ng-repeat="atividade in controller.AtividadesAgendadas">
                                <li class="list-group-item" style="border:0">
                                    {{atividade.NOMEATIVIDADE}}<br/>{{atividade.DATACOMPLETA}}
                                </li>
                            </span>
                        </ul>
                    </div>
                    <!--FIM DA Atividade agendada-->

                    <!--Local de provas-->
                    <div class="panel panel-default" ng-hide="controller.LocalProvaEtapas.length == 0">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-map-marker"></i> {{ ::'l-local-prova' | i18n : [] : 'js/centralcandidato' }}
                        </div>
                        <ul class="list-group" style="margin-bottom: 0px;">
                            <span ng-repeat="local in controller.LocalProvaEtapas">
                                    <li class="list-group-item" style="border:0">
                                        <b>{{local.NOME_ETAPA}}</b>
                                        <br/>
                                        {{ ::'l-local-endereco' | i18n : [] : 'js/centralcandidato' }}<span ng-hide="local.NOME_PREDIO == ''">{{local.RUA}}</span><span ng-hide="local.NUMERO == ''">, {{local.NUMERO}}</span>
                            <span ng-hide="local.COMPLEMENTO == ''">, {{local.COMPLEMENTO}}</span><span ng-hide="local.IDENTIFICACAO == ''">, {{local.IDENTIFICACAO}}</span><span ng-hide="local.BAIRRO == ''">, {{local.BAIRRO}}</span><span ng-hide="local.NOMEMUNICIPIO == ''">, {{local.NOMEMUNICIPIO}}<span ng-hide="local.CODETDMUNICIPIO == ''"> - {{local.CODETDMUNICIPIO}}</span></span>
                            <br/> {{ ::'l-local-predio' | i18n : [] : 'js/centralcandidato' }}<span ng-hide="local.NOME_PREDIO == ''">{{local.NOME_PREDIO}}</span>
                            <br/> {{ ::'l-local-horario' | i18n : [] : 'js/centralcandidato' }}<span ng-repeat="horario in controller.HorariosEtapas | filter: { IDETAPA: local.IDETAPA }"><span ng-hide="$index == 0">, </span>{{horario.DATAHORAFORMATADO}}</span>
                            </li>
                            </span>
                        </ul>
                    </div>
                    <!--FIM DO Local de provas-->

                </div>
                <!--FIM do Bloco de linhas de conteúdo-->
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="controller.editarDadosCandidato()" class="btn btn-info btn-central-candidato btn-block" style="border-radius: 0px;height: 40px;">
                    {{::"l-editar" | i18n : [] : "js/dados-pessoais" }}
                </button>
            </td>
        </tr>
    </tbody>
</table>
</span>

<span class="col-lg-7 col-md-7 col-sm-12 col-xs-12" ng-if="controller.Inscricoes.length > 0">
    <table id="tbStatusInscricao" class="table table-striped table-bordered">
        <thead>
            <tr class="active" style="height: 55px;">
                <th style="text-align: center">
                    <h5>
                        <b>{{ ::'l-statusinscricao' | i18n : [] : 'js/centralcandidato' }}</b>
                    </h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 100px;">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                            <h4 style="margin-top: 4px">
                                <span class="label"
                                      ng-class="{'label-success': controller.StatusCadastro[0].STATUS !== 2,
                                      'label-danger': controller.StatusCadastro[0].STATUS === 2}">1</span> {{ ::'l-inscricao' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                            <span ng-if="controller.StatusCadastro[0].DTINIINSCRICAO != null && controller.StatusCadastro[0].DTFIMINSCRICAO != null">
                                {{controller.StatusCadastro[0].DTINIINSCRICAO | date: 'dd/MM/yyyy' }}
                                -
                                {{controller.StatusCadastro[0].DTFIMINSCRICAO | date: 'dd/MM/yyyy' }}
                            </span>
                            <span ng-if="controller.StatusCadastro[0].DTINIINSCRICAO == null && controller.StatusCadastro[0].DTFIMINSCRICAO == null">
                                                            {{ ::'l-naoprevisto' | i18n : [] : 'js/centralcandidato' }}
                                                        </span>
                            <br>
                            <span ng-if="controller.StatusCadastro[0].STATUS === 0"><!-- Inscrito(Pendente de pagamento) -->
                                <h6>
                                    {{ ::'l-inscrito' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </span>
                            <span ng-if="controller.StatusCadastro[0].STATUS === 1"><!-- Candidato(Pagamento realizado) -->
                                <h6>
                                    {{ ::'l-inscricaoconfirmada' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </span>
                            <span ng-if="controller.StatusCadastro[0].STATUS === 2"><!-- Excedente -->
                                <h6>
                                    <div class="alert alert-warning" role="alert" ng-style="{'margin': '0'}">
                                        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                        {{ ::'l-atencao-candidato-excedente' | i18n : [] : 'js/centralcandidato' }} {{controller.StatusCadastro[0].ORDEMEXCEDENTE}}º {{ ::'l-excedente' | i18n : [] : 'js/centralcandidato' }}
                                    </div>
                                </h6>
                            </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left: 0;padding-right: 0;">
                                    <button id="botao-comprovante" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.comprovante()" style="border-radius: 0px;height: 40px;">{{ ::'l-comprovante' | i18n : [] : 'js/centralcandidato' }}</button>
                                </div>
                            </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;" ng-show="!controller.dadosAluno.ofertaOnline && controller.QuantBoletos > 0 && controller.StatusPagamento[0].VALOR != 0">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h4 style="margin-top: 4px">
                                <span ng-show="controller.StatusPagamento[0].STATUS==1" class="label label-success">2</span>
                                <span ng-show="controller.StatusPagamento[0].STATUS==0" class="label label-danger">2</span> {{ ::'l-pagamento' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                            <span ng-if="controller.StatusPagamento[0].VENCIMENTO != null && controller.StatusPagamento[0].STATUS == 0">
                                {{ ::'l-vencimento' | i18n : [] : 'js/centralcandidato' }}:
                                {{controller.StatusPagamento[0].VENCIMENTO | date: 'dd/MM/yyyy' }}
                            </span>
                            <span ng-if="controller.StatusPagamento[0].DATABAIXA != null && controller.StatusPagamento[0].STATUS == 1">
                                {{ ::'l-datapagamento' | i18n : [] : 'js/centralcandidato' }}:
                                {{controller.StatusPagamento[0].DATABAIXA | date: 'dd/MM/yyyy' }}
                            </span>
                            <br>
                            <div ng-show="controller.StatusPagamento[0].STATUS == 0">
                                <h6>
                                    {{ ::'l-aguardandopagamento' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </div>
                            <div ng-show="controller.StatusPagamento[0].STATUS == 1">
                                <h6>
                                    {{ ::'l-confirmado' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left: 0;padding-right: 0;">
                                    <div ng-if="controller.StatusPagamento[0].STATUS == 0 && controller.StatusCadastro[0].STATUS !== 2 &&
                                        (controller.StatusPagamento[0].BOLETOREGISTRADO === 'T' || (controller.StatusPagamento[0].BOLETOREGISTRADO === 'F' && controller.StatusPagamento[0].SHOWBOLETONAOREGPORTAL === 'T')) ">
                                        <button id="botao-pagto-boleto" style="border-radius: 0px;height: 40px;" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.pagamentoBoleto()">
                                            {{ ::'l-boleto' | i18n : [] : 'js/centralcandidato' }}
                                        </button>
                                        <br>
                                    </div>
                                    <button id="botao-pagto-cartao" style="border-radius: 0px;height: 40px;" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.pagamentoCartaoCredito()" ng-if="objParametros.PagamentoCartao">
                                            {{ ::'l-cartaodecredito' | i18n : [] : 'js/centralcandidato' }}
                                    </button>
                                </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;" ng-show="controller.dadosAluno.showPagamento">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h4 style="margin-top: 4px">
                                <span ng-show="controller.dadosAluno.boletoPago" class="label label-success">2</span>
                                <span ng-show="!controller.dadosAluno.boletoPago" class="label label-danger">2</span> {{ ::'l-pagamento' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                            <span ng-if="!controller.dadosAluno.boletoPago">
                                                {{ ::'l-vencimento' | i18n : [] : 'js/centralcandidato' }}:
                                                {{controller.dadosAluno.Vencimento | date: 'dd/MM/yyyy' }}
                                            </span>
                            <span ng-if="controller.dadosAluno.boletoPago">
                                                {{ ::'l-datapagamento' | i18n : [] : 'js/centralcandidato' }}:
                                                {{controller.dadosAluno.DataBaixa | date: 'dd/MM/yyyy' }}
                                            </span>
                            <br>
                            <div ng-show="!controller.dadosAluno.boletoPago">
                                <h6>
                                    {{ ::'l-matric-pending' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </div>
                            <div ng-show="controller.dadosAluno.boletoPago">
                                <h6>
                                    {{ ::'l-confirmado' | i18n : [] : 'js/centralcandidato' }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left: 0;padding-right: 0;">
                                <div ng-if="!controller.dadosAluno.boletoPago">
                                    <button id="botao-pagto-boleto" style="border-radius: 0px;height: 40px;" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.pagamentoBoletoEdu()">
                                            <span class="glyphicon glyphicon-barcode"></span>
                                        {{ ::'l-boleto' | i18n : [] : 'js/centralcandidato' }}
                                    </button>
                                    <br>
                                </div>
                                <button ng-if="!controller.dadosAluno.boletoPago && controller.dadosAluno.showPagCartao" id="botao-pagto-cartao" style="border-radius: 0px;height: 40px;" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.pagamentoCartaoCreditoEdu()">
                                        <span class="glyphicon glyphicon-credit-card"></span>
                                        {{ ::'l-cartaodecredito' | i18n : [] : 'js/centralcandidato' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;" ng-show="!controller.dadosAluno.ofertaOnline">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h4 style="margin-top: 4px">
                                <span ng-if="controller.QuantBoletos > 0 && controller.StatusPagamento[0].VALOR != 0" ng-class="(controller.intervaloSelecaoValido()) ? 'label label-success' : 'label label-default'">3</span>
                                <span ng-if="controller.QuantBoletos == 0 || (controller.QuantBoletos > 0 && controller.StatusPagamento[0].VALOR == 0)" ng-class="(controller.intervaloSelecaoValido()) ? 'label label-success' : 'label label-default'">2</span> {{ ::'l-selecao' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                            <span ng-if="controller.StatusCadastro[0].DTINISELECAO != null && controller.StatusCadastro[0].DTFIMSELECAO != null">
                                {{controller.StatusCadastro[0].DTINISELECAO | date: 'dd/MM/yyyy' }}
                                -
                                {{controller.StatusCadastro[0].DTFIMSELECAO | date: 'dd/MM/yyyy' }}
                            </span>
                            <span ng-if="controller.StatusCadastro[0].DTINISELECAO == null && controller.StatusCadastro[0].DTFIMSELECAO == null">
                                {{ ::'l-naoprevisto' | i18n : [] : 'js/centralcandidato' }}
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">

                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;" ng-show="!controller.dadosAluno.ofertaOnline">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h4 style="margin-top: 4px">
                                <span ng-if="controller.QuantBoletos > 0 && controller.StatusPagamento[0].VALOR != 0" ng-class="(controller.intervaloResultadoValido()) ? 'label label-success' : 'label label-default'">4</span>
                                <span ng-if="controller.QuantBoletos == 0 || (controller.QuantBoletos > 0 && controller.StatusPagamento[0].VALOR == 0)" ng-class="(controller.intervaloResultadoValido()) ? 'label label-success' : 'label label-default'">3</span> {{ ::'l-resultado' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                            <span ng-if="controller.StatusCadastro[0].DTINIRESULTADO != null && controller.StatusCadastro[0].DTFIMRESULTADO != null">
                                {{controller.StatusCadastro[0].DTINIRESULTADO | date: 'dd/MM/yyyy' }}
                                -
                                {{controller.StatusCadastro[0].DTFIMRESULTADO | date: 'dd/MM/yyyy' }}
                            </span>
                            <span ng-if="controller.StatusCadastro[0].DTINIRESULTADO == null && controller.StatusCadastro[0].DTFIMRESULTADO == null">
                                {{ ::'l-naoprevisto' | i18n : [] : 'js/centralcandidato' }}
                            </span>
                            <div ng-if="objParametros.MostrarSituacao && controller.ResultadoAreaInteresse.length > 0">
                                <h6>
                                    {{controller.ResultadoAreaInteresse[0].STATUS_OPCAO_DESC}}
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" ng-if="(controller.intervaloResultadoValido())">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left: 0;padding-right: 0;">
                                <button id="botao-resultado" type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.abrirModalResultado()"
                                        style="border-radius: 0px;height: 40px;">{{ ::'l-resultado' | i18n : [] : 'js/centralcandidato' }}</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 100px;" ng-show="controller.dadosAluno.ofertaOnline && controller.StatusCadastro[0].STATUS !== 2">
                <td>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h4 style="margin-top: 4px">
                                <span ng-if="controller.dadosAluno.showPagamento && controller.dadosAluno.alunoMatriculado" class="label label-success">3</span>
                                <span ng-if="controller.dadosAluno.showPagamento && !controller.dadosAluno.alunoMatriculado" class="label label-danger">3</span>
                                <span ng-if="!controller.dadosAluno.showPagamento && controller.dadosAluno.alunoMatriculado" class="label label-success">2</span>
                                <span ng-if="!controller.dadosAluno.showPagamento && !controller.dadosAluno.alunoMatriculado" class="label label-danger">2</span> {{ ::'l-matricula' | i18n : [] : 'js/centralcandidato' }}
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                            <span>
                                {{ ::'l-situacao-matricula' | i18n : [] : 'js/centralcandidato' }}
                            </span>
                            <br>
                            <span >
                                <h6>
                                    {{ controller.dadosAluno.statusMatric }}
                                </h6>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
            
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>        
    </table>
    <div class="alert alert-warning text-center" role="alert">{{ ::'l-bloqueadorpopup' | i18n : [] : 'js/centralcandidato' }}</div>
</span>

<!-- Modal Inscrições -->
<div class="modal fade" id="modalPopUpInscricoes" tabindex="-1" role="dialog" aria-labelledby="modalPopUpInscricoesInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <span ng-if="controller.Inscricoes.length > 1">
                                <h6>
                                    <label ng-style="{'float': 'left'}"
                                        for="cmbInscricoesPopUp">{{ ::'l-areainteresse-popup' | i18n : [] : 'js/centralcandidato' }}
                                    </label>
                                </h6>
                                <select name="cmbInscricoesPopUp"
                                        id="cmbInscricoesPopUp"
                                        class="form-control"
                                        ng-options="inscricoes.NUMEROINSCRICAO as inscricoes.AREAINTERESSE for inscricoes in controller.Inscricoes"
                                        ng-model="controller.NumeroInscricao"
                                        ng-change="controller.alteraInscricaoPopUp()">
                                </select>
                            </span>
                    </div>
                </section>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Modal Alterar Senha -->
<div class="modal fade" id="modalAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenhaInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frmDadosSenha" name="frmDadosSenha">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAlterarSenhaInfoLabel">
                        {{'l-alterar-senha-titulo' | i18n : [] : 'js/centralcandidato' }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <totvs-field totvs-input label="{{ ::'l-senha-atual' | i18n : [] : 'js/centralcandidato' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-model="controller.InfoUsuario.SENHAATUAL" maxlength="15" ng-required="true" name="{{ ::'l-msg-senha-atual' | i18n : [] : 'js/centralcandidato' }}"
                            ng-show="controller.MostraSenha" canclean>
                        </totvs-field>
                        <field type="password" label="{{ ::'l-senha-atual' | i18n : [] : 'js/centralcandidato' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-model="controller.InfoUsuario.SENHAATUAL" ng-hide="controller.MostraSenha" maxlength="15" ng-required="true" canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="checkbox" ng-model="controller.MostraSenha" ng-checked="false">&nbsp;{{ ::'l-mostrar-senha' | i18n : [] : 'js/centralcandidato' }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <field type="password" label="{{ ::'l-senha-nova' | i18n : [] : 'js/centralcandidato' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-model="controller.InfoUsuario.NOVASENHA" name="{{ ::'l-msg-senha-nova' | i18n : [] : 'js/centralcandidato' }}" maxlength="15"
                            ng-required="true" canclean>
                        </field>
                        <field type="password" label="{{ ::'l-repetir-senha' | i18n : [] : 'js/centralcandidato' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-model="controller.InfoUsuario.CONFIRMANOVASENHA" name="{{ ::'l-msg-repetir-senha' | i18n : [] : 'js/centralcandidato' }}"
                            maxlength="15" ng-required="true" canclean>
                        </field>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-central-candidato btn-block" ng-click="controller.alterarSenha(controller.InfoUsuario, frmDadosSenha.$valid,  frmDadosSenha.$error)">
                        {{::'l-btn-salvar' | i18n : [] : 'js/centralcandidato' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Resultados -->
<div class="modal fade" id="modalPopUpResultado" tabindex="-1" role="dialog" aria-labelledby="modalPopUpResultadoInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalPopUpResultadoInfoLabel">
                    {{'l-resultado' | i18n : [] : 'js/centralcandidato' }}
                </h4>
            </div>
            <div class="modal-body">
                <!--Resultado área de interesse-->
                <span ng-repeat="resultado in controller.ResultadoAreaInteresse">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>{{ ::'l-inscrito-em' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NOME_AREA}}
                            </br></br>
                            <b>{{ ::'l-situacao-matricula' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.STATUS_PROCESSO_DESC}}
                        </div>

                        <ul class="list-group" style="margin-bottom: 0px;">                            
                            <li class="list-group-item" style="border:0">
                                <b>{{resultado.NUMEROOPCAO}}{{ ::'l-opcao-a' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NOME_AREA}}
                            </li>                                  
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostrarNumInsc">
                                <b>{{ ::'l-numeroinscricao' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NUMEROINSCRICAO}}
                            </li>                            
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraPontuacao || objParametros.MostraClassificacao">
                                <b>{{ ::'l-etapa-realizada' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NOME_ETAPA}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraPontuacao">
                                <b>{{ ::'l-pontuacao' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.PONTUACAO ? (resultado.PONTUACAO | number: 2) : "--"}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraClassificacao">
                                <b>{{ ::'l-classificacao' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.CLASSIFICACAO ? resultado.CLASSIFICACAO : "--"}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraNumVagas">
                                <b>{{ ::'l-numero-vagas' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NUMEROVAGAS}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostrarSituacao">
                                <b>{{ ::'l-situacao-matricula' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.STATUS_OPCAO_DESC}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostrarCampoClassGeral && resultado.CLASSIFICACAOGERAL">
                                <b>{{ ::'l-classificacao-geral' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.CLASSIFICACAOGERAL ? resultado.CLASSIFICACAOGERAL : "--"}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostrarPontuacaoGeral && resultado.PONTUACAOGERAL">
                                <b>{{ ::'l-pontuacao-geral' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.PONTUACAOGERAL ? (resultado.PONTUACAOGERAL | number: 2) : "--"}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="resultado.DATA_CANCELAMENTO">
                                    <b>{{ ::'l-data-cancelamento' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.DATA_CANCELAMENTO}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="resultado.DATA_CANCELAMENTO">
                                    <b>{{ ::'l-motivo-cancelamento' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.MOTIVO_CANCELAMENTO}}
                            </li>
                        </ul>
                    </div>
                </span>      
                
                <div class="panel panel-default" ng-hide="controller.ResultadoAreaOpcionais.length == 0">
                    <div class="panel-heading">
                        <b>{{ ::'l-areas-opcionais' | i18n : [] : 'js/centralcandidato' }}</b>
                    </div>

                    <ul class="list-group" style="margin-bottom: 0px;">
                        <span ng-repeat="resultado in controller.ResultadoAreaOpcionais">
                            <li class="list-group-item" style="border:0">
                                <b>{{resultado.NUMEROOPCAO}}{{ ::'l-opcao-a' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NOME_AREA}}
                            </li>                            
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostrarSituacao">
                                <b>{{ ::'l-situacao-matricula' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.STATUS_OPCAO_DESC}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraClassificacao">
                                <b>{{ ::'l-classificacao' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.CLASSIFICACAO ? resultado.CLASSIFICACAO : "--"}}
                            </li>
                            <li class="list-group-item" style="border:0" ng-if="objParametros.MostraNumVagas">
                                <b>{{ ::'l-numero-vagas' | i18n : [] : 'js/centralcandidato' }}:</b> {{resultado.NUMEROVAGAS}}
                            </li>
                            <br/>
                        </span>               
                    </ul>
                </div>
                    
                <!--FIM Resultado área de interesse-->
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{::'l-btn-fechar' | i18n : [] : 'js/centralcandidato' }}</button>
            </div>
        </div>
    </div>
</div>