<!-- FORMULARIO ALTERAÇÃO DOS DADOS DO CANDIDATO -->
<div id="formularioCompleto">
    <!-- DADOS DO CANDIDATO -->
    <form id="frmDadosCandidato" name="frmDadosCandidato">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cabecalho-grupo" data-toggle="collapse" data-target="#dadosCandidato">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <h4>
                            <span>
                                <i class="glyphicon glyphicon-alert" ng-show="frmDadosCandidato.$invalid" ng-class="{'cabecalho-invalido': frmDadosCandidato.$invalid}">&nbsp;&nbsp;</i>
                                <i class="glyphicon glyphicon-ok-sign" ng-show="frmDadosCandidato.$valid" ng-class="{'cabecalho-valido': frmDadosCandidato.$valid}">&nbsp;&nbsp;</i>
								<span class="titulo-cabecalho-grupo" ng-hide="controller.isResponsavel">{{ ::'l-dados-candidato' | i18n : [] : 'js/inscricoes' }}</span>
                            <span class="titulo-cabecalho-grupo" ng-show="controller.isResponsavel">{{ ::'l-dados-resp-inscricao' | i18n : [] : 'js/inscricoes' }}</span>
                            </span>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                        </h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                </div>
            </div>
        </div>
        <div id="dadosCandidato" class="collapse container-fluid container-grupo">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <!-- Dados básicos -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('DadosBasicos')">
                        <div class="panel-heading">{{ ::'l-dados-basicos' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <div class="row form-group" ng-if="controller.campoVisivel('Nome') || controller.campoVisivel('DataNascimento')">
                                <totvs-field totvs-input label="{{ ::'l-nome' | i18n : [] : 'js/inscricoes' }}" class="col-xs-12 col-lg-8 col-md-8 col-sm-8"
                                    ng-model="controller.dadosPessoais.NOME" ng-if="controller.campoVisivel('Nome')" ng-required="controller.campoObrigatorio('Nome')" name="{{ ::'l-msg-label-nome-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="120"
                                    ng-disabled="true">
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTNASCIMENTO" ng-if="controller.campoVisivel('DataNascimento')"
                                    ng-required="controller.campoObrigatorio('DataNascimento')" culture="pt" ng-disabled="!controller.objParametros.UsaSenhaLogin" canclean name="{{ ::'l-msg-label-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </totvs-field>
                            </div>
                            <edups-pais-uf-cidade
                                css-class="row form-group"
                                t-visible="controller.campoVisivel('EstadoNatal') || controller.campoVisivel('Naturalidade')"
                                lista-paises="controller.listaPaises"
                                label-pais="{{ ::'l-pais-natal' | i18n : [] : 'js/inscricoes' }}"
                                label-estado="{{ ::'l-estado-natal' | i18n : [] : 'js/inscricoes' }}"
                                label-cidade="{{ ::'l-naturalidade' | i18n : [] : 'js/inscricoes' }}"
                                campo-pais-visible="controller.campoVisivel('EstadoNatal')"
                                campo-estado-visible="controller.campoVisivel('EstadoNatal')"
                                campo-cidade-visible="controller.campoVisivel('Naturalidade')"
                                campo-pais-required="controller.campoObrigatorio('EstadoNatal')"
                                campo-estado-required="controller.campoObrigatorio('EstadoNatal')"
                                campo-cidade-required="controller.campoObrigatorio('Naturalidade')"
                                ng-model-pais="controller.paisNatal.PAISES"
                                ng-model-estado="controller.paisNatal.ESTADOS"
                                ng-model-cidade="controller.paisNatal.MUNICIPIOS"
                                ng-model-cidade-estrangeiro="controller.paisNatal.MUNICIPIOS.NATURALIDADE">
                            </edups-pais-uf-cidade>
                            <div class="row form-group" ng-if="controller.campoVisivel('NomeSocial') || controller.campoVisivel('Apelido')">
                                <totvs-field totvs-input label="{{ ::'l-nome-social' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-model="controller.dadosPessoais.NOMESOCIAL" ng-if="controller.campoVisivel('NomeSocial')" ng-required="controller.campoObrigatorio('NomeSocial')"
                                    canclean maxlength="120" name="{{ ::'l-msg-label-nome-social-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-apelido' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.APELIDO" ng-if="controller.campoVisivel('Apelido')" ng-required="controller.campoObrigatorio('Apelido')"
                                    canclean maxlength="40" name="{{ ::'l-msg-label-apelido-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </totvs-field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('EstadoCivil') || controller.campoVisivel('Nacionalidade') || controller.campoVisivel('Email')">
                                <field label="{{ ::'l-estado-civil' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" type="combo" ng-model="controller.dadosPessoais.ESTADOCIVIL" ng-options="estadocivil.CODCLIENTE as estadocivil.DESCRICAO for estadocivil in controller.listaEstadoCivil"
                                    ng-if="controller.campoVisivel('EstadoCivil')" ng-required="controller.campoObrigatorio('EstadoCivil')" canclean name="{{ ::'l-msg-label-estado-civil-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                                <field label="{{ ::'l-nacionalidade' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-model="controller.dadosPessoais.NACIONALIDADE" ng-options="nacionalidade.CODCLIENTE as nacionalidade.DESCRICAO for nacionalidade in controller.listaNacionalidade | orderBy:'DESCRICAO'"
                                    ng-if="controller.campoVisivel('Nacionalidade')" ng-required="controller.campoObrigatorio('Nacionalidade')" type="combo" canclean name="{{ ::'l-msg-label-nacionalidade-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                                <field type="email" label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-pattern="controller.validadorEmail" ng-model="controller.dadosPessoais.EMAIL" ng-if="controller.campoVisivel('Email')" ng-required="controller.campoObrigatorio('Email')"
                                    maxlength="60" ng-disabled="controller.objParametros.LoginEmail" canclean name="{{ ::'l-msg-label-email-candidato' | i18n : [] : 'js/inscricoes' }}">
                                    <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                                </field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('Sexo') || controller.campoVisivel('Canhoto') || controller.campoVisivel('Fumante')">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 field" ng-if="controller.campoVisivel('Sexo')" ng-required="controller.campoObrigatorio('Sexo')">
                                    <label class=" field field-label totvs-field">{{ ::'l-sexo' | i18n : [] : 'js/inscricoes' }}</label>
                                    <div ng-repeat="sexo in controller.listaSexo">
                                        <input type="radio" name="{{ ::'l-msg-label-sexo-candidato' | i18n : [] : 'js/inscricoes' }}" value="{{sexo.value}}" ng-model="controller.dadosPessoais.SEXO" />{{sexo.label}}
                                        </input>
                                    </div>
                                </div>
                                <field type="checkbox" label="{{ ::'l-canhoto' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.CANHOTO" ng-if="controller.campoVisivel('Canhoto')" name="{{ ::'l-msg-label-canhoto-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                                <field type="checkbox" label="{{ ::'l-fumante' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.FUMANTE" ng-if="controller.campoVisivel('Fumante')" name="{{ ::'l-msg-label-fumante-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                            </div>
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="DadosBasicos"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim dados básicos -->

                    <!-- Documentos -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('Documentos')">
                        <div class="panel-heading">{{ ::'l-documentos' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <legend ng-if="controller.campoVisivel('CPF')">
                                <h5>{{ ::'l-documentos-cpf' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - CPF -->
                            <div class="row form-group" ng-if="controller.campoVisivel('CPF')">
								<totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.CPF" maxlength="14" ui-mask="999.999.999-99" t-mask="999.999.999-99"
								ng-if="controller.campoVisivel('CPF')"
								ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF')"
								ng-required="controller.camposCPFPassRGObrigatorio['CPF']"
                                    name="{{ ::'l-msg-label-numero-cpf-candidato' | i18n : [] : 'js/inscricoes' }}" ng-disabled="controller.objParametros.LoginCpf" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Documentos - CPF -->
                            <legend ng-if="controller.campoVisivel('RGNumero') || controller.campoVisivel('RGDataEmissao') || controller.campoVisivel('RGOrgaoEmissor') || controller.campoVisivel('RGEstadoEmissor')">
                                <h5>{{ ::'l-documentos-rg' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - RG -->
                            <div class="row form-group" ng-if="controller.campoVisivel('RGNumero') || controller.campoVisivel('RGDataEmissao') || controller.campoVisivel('RGOrgaoEmissor')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.CARTIDENTIDADE" ng-if="controller.campoVisivel('RGNumero')" ng-required="controller.campoDocumentoObrigatorio('RGNumero')"
                                    name="{{ ::'l-msg-label-numero-rg-candidato' | i18n : [] : 'js/inscricoes' }}" ng-disabled="controller.objParametros.LoginRG" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTEMISSAOIDENT" ng-if="controller.campoVisivel('RGDataEmissao')"
                                    ng-required="controller.campoDocumentoObrigatorio('RGDataEmissao')" culture="pt" name="{{ ::'l-msg-label-data-emissao-rg-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.ORGEMISSORIDENT" ng-if="controller.campoVisivel('RGOrgaoEmissor')"
                                    ng-required="controller.campoDocumentoObrigatorio('RGOrgaoEmissor')" name="{{ ::'l-msg-label-orgao-emissor-rg-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <edups-pais-uf-cidade css-class="row form-group" lista-paises="controller.listaPaises" t-visible="controller.campoVisivel('RGEstadoEmissor')" label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                                campo-pais-visible="controller.campoVisivel('RGEstadoEmissor')" campo-estado-visible="controller.campoVisivel('RGEstadoEmissor')" campo-cidade-visible="false" campo-pais-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor')"
                                campo-estado-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor')" ng-model-pais="controller.estadoEmissorRG.PAISESCARTIDENT" ng-model-estado="controller.estadoEmissorRG.ESTADOSCARTIDENT">
                            </edups-pais-uf-cidade>
                            <!-- Fim Documentos - RG -->
                            <legend ng-if="controller.campoVisivel('RegistroProfissional')">
                                <h5>{{ ::'l-documentos-registro-profissional' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - Registro profissional -->
                            <div class="row form-group" ng-if="controller.campoVisivel('RegistroProfissional')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.REGPROFISSIONAL" ng-if="controller.campoVisivel('RegistroProfissional')" ng-required="controller.campoDocumentoObrigatorio('RegistroProfissional')"
                                    name="{{ ::'l-msg-label-numero-registro-profossional-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Documentos - Registro profissional -->
                            <legend ng-if="controller.campoVisivel('TituloEleitorNumero') || controller.campoVisivel('TituloEleitorZona') || controller.campoVisivel('TituloEleitorSecao') || controller.campoVisivel('TituloEleitorDataEmissao') || controller.campoVisivel('TituloEleitorUFEmissao')">
                                <h5>{{ ::'l-documentos-titulo-eleitor' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - Título eleitor -->
                            <div class="row form-group" ng-if="controller.campoVisivel('TituloEleitorNumero') || controller.campoVisivel('TituloEleitorZona') || controller.campoVisivel('TituloEleitorSecao') || controller.campoVisivel('TituloEleitorDataEmissao')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="14" ng-model="controller.dadosPessoais.TITULOELEITOR" ng-if="controller.campoVisivel('TituloEleitorNumero')" ng-required="controller.campoDocumentoObrigatorio('TituloEleitorNumero')"
                                    name="{{ ::'l-msg-label-numero-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-zona' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="6" ng-model="controller.dadosPessoais.ZONATITELEITOR" ng-if="controller.campoVisivel('TituloEleitorZona')" ng-required="controller.campoDocumentoObrigatorio('TituloEleitorZona')"
                                    name="{{ ::'l-msg-label-zona-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-secao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="6" ng-model="controller.dadosPessoais.SECAOTITELEITOR" ng-if="controller.campoVisivel('TituloEleitorSecao')" ng-required="controller.campoDocumentoObrigatorio('TituloEleitorSecao')"
                                    name="{{ ::'l-msg-label-secao-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTTITELEITOR" ng-if="controller.campoVisivel('TituloEleitorDataEmissao')"
                                    ng-required="controller.campoDocumentoObrigatorio('TituloEleitorDataEmissao')" culture="pt" name="{{ ::'l-msg-label-data-emissao-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <edups-pais-uf-cidade css-class="row form-group" lista-paises="controller.listaPaises" t-visible="controller.campoVisivel('TituloEleitorUFEmissao')" label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                                campo-pais-visible="controller.campoVisivel('TituloEleitorUFEmissao')" campo-estado-visible="controller.campoVisivel('TituloEleitorUFEmissao')" campo-cidade-visible="false" campo-pais-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao')"
                                campo-estado-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao')" ng-model-pais="controller.estadoEmissorTitEleitor.PAISTELEITOBJ" ng-model-estado="controller.estadoEmissorTitEleitor.ESTELEITOBJ">
                            </edups-pais-uf-cidade>
                            <!-- Fim Documentos - Título eleitor -->
                            <legend ng-if="controller.campoVisivel('CarteiraTrabalhoNumero') || controller.campoVisivel('CarteiraTrabalhoSerie') || controller.campoVisivel('CarteiraTrabalhoDataEmissao') || controller.campoVisivel('CarteiraTrabalhoUFEmissao') || controller.campoVisivel('CarteiraTrabalhoTipoNIT')">
                                <h5>{{ ::'l-documentos-carteira-trabalho' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - Carteira de trabalho -->
                            <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoNumero') || controller.campoVisivel('CarteiraTrabalhoSerie') || controller.campoVisivel('CarteiraTrabalhoDataEmissao')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.CARTEIRATRAB" ng-if="controller.campoVisivel('CarteiraTrabalhoNumero')" ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoNumero')"
                                    name="{{ ::'l-msg-label-numero-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-serie' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="5" ng-model="controller.dadosPessoais.SERIECARTTRAB" ng-if="controller.campoVisivel('CarteiraTrabalhoSerie')" ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoSerie')"
                                    name="{{ ::'l-msg-label-serie-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTCARTTRAB" ng-if="controller.campoVisivel('CarteiraTrabalhoDataEmissao')"
                                    ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoDataEmissao')" name="{{ ::'l-msg-label-data-emissao-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}" culture="pt" canclean>
                                </totvs-field>
                            </div>
                            <edups-pais-uf-cidade css-class="row form-group" lista-paises="controller.listaPaises" t-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao')" label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                                campo-pais-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao')" campo-estado-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao')" campo-cidade-visible="false" campo-pais-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao')"
                                campo-estado-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao')" ng-model-pais="controller.estadoEmissorCartTrab.PAISCARTTRABOBJ" ng-model-estado="controller.estadoEmissorCartTrab.UFCARTTRABOBJ">
                            </edups-pais-uf-cidade>
                            <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT')">
                                <field type="checkbox" label="{{ ::'l-tipo-nit' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.NIT" ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT')" name="{{ ::'l-msg-label-carteira-trabalho-tipo-nit-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                            </div>
                            <!-- Fim Documentos - Carteira de trabalho -->
                            <legend ng-if="controller.campoVisivel('CarteiraMotoristaNumero') || controller.campoVisivel('CarteiraMotoristaTipo') || controller.campoVisivel('CarteiraMotoristaDataVencimento')">
                                <h5>{{ ::'l-documentos-carteira-motorista' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - Carteira de motorista -->
                            <div class="row form-group" ng-if="controller.campoVisivel('CarteiraMotoristaNumero') || controller.campoVisivel('CarteiraMotoristaTipo') || controller.campoVisivel('CarteiraMotoristaDataVencimento')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.CARTMOTORISTA" ng-if="controller.campoVisivel('CarteiraMotoristaNumero')"
                                    ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaNumero')" name="{{ ::'l-msg-label-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-tipo' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="5" ng-model="controller.dadosPessoais.TIPOCARTHABILIT" ng-if="controller.campoVisivel('CarteiraMotoristaTipo')" ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaTipo')"
                                    name="{{ ::'l-msg-label-tipo-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-vencimento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTVENCHABILIT" ng-if="controller.campoVisivel('CarteiraMotoristaDataVencimento')"
                                    ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaDataVencimento')" culture="pt" name="{{ ::'l-msg-label-data-vencimento-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Documentos - Carteira de motorista -->
                            <legend ng-if="controller.campoVisivel('CertificadoReservistaNumero') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar') || controller.campoVisivel('CertificadoReservistaRegiaoMilitar') || controller.campoVisivel('CertificadoReservistaDataEmissao') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar')">
                                <h5>{{ ::'l-documentos-certificado-reservista' | i18n : [] : 'js/inscricoes' }}</h5>
                            </legend>
                            <!-- Documentos - Certificado de reservista -->
                            <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaNumero') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar')">
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="40" ng-model="controller.dadosPessoais.CERTIFRESERV" ng-if="controller.campoVisivel('CertificadoReservistaNumero')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaNumero')" name="{{ ::'l-msg-label-numero-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-categoria-militar' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.CATEGMILITAR" ng-if="controller.campoVisivel('CertificadoReservistaCategoriaMilitar')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCategoriaMilitar')" name="{{ ::'l-msg-label-cetegoria-militar-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-circunscricao-militar' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.CSM" ng-if="controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCircunscricaoMilitar')" name="{{ ::'l-msg-label-circunscricao-militar-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar') || controller.campoVisivel('CertificadoReservistaDataEmissao') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar')">
                                <totvs-field totvs-input label="{{ ::'l-regiao-militar' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.RM" ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaRegiaoMilitar')" name="{{ ::'l-msg-label-regiao-militar-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTEXPCML" ng-if="controller.campoVisivel('CertificadoReservistaDataEmissao')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaDataEmissao')" culture="pt" name="{{ ::'l-msg-label-data-emissao-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.EXPED" ng-if="controller.campoVisivel('CertificadoReservistaOrgaoEmissao')"
                                    ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaOrgaoEmissao')" name="{{ ::'l-msg-label-orgao-emissor-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <field label="{{ ::'l-situacao-militar' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-if="controller.campoVisivel('CertificadoReservistaSituacaoMilitar')" ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaSituacaoMilitar')"
                                    type="combo" ng-model="controller.dadosPessoais.SITMILITAR" ng-options="situacao.CODIGO as situacao.DESCRICAO for situacao in controller.listaSituacaoMilitar" name="{{ ::'l-msg-label-situacao-militar-candidato' | i18n : [] : 'js/inscricoes' }}"
                                    canclean>
                                </field>
                            </div>
                            <!-- Fim Documentos - Certificado de reservista -->
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="Documentos"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim documentos -->

                    <!-- Endereço -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('Endereco')">
                        <div class="panel-heading">{{ ::'l-endereco' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <div class="row form-group" ng-if="controller.campoVisivel('CEP')">
                                <!-- CEP -->
                                <totvs-field totvs-input label="{{ ::'l-cep' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ui-mask="{{controller.objParametros.MascaraCEP}}" t-mask="{{controller.objParametros.MascaraCEP}}" maxlength="10" ng-model="controller.dadosPessoais.CEP"
                                    ng-if="controller.campoVisivel('CEP')" ng-required="controller.campoObrigatorio('CEP')" name="{{ ::'l-msg-label-cep-candidato' | i18n : [] : 'js/inscricoes' }}" ng-blur="controller.buscarEnderecoPorCEP(controller.dadosPessoais.CEP, controller.dadosPessoais)"
                                    canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim CEP -->
                            <div class="row form-group" ng-if="controller.campoVisivel('TipoRua') || controller.campoVisivel('Rua') || controller.campoVisivel('Numero')">
                                <!-- Rua -->
                                <field label="{{ ::'l-tipo-rua' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.CODTIPORUA" ng-options="tiporua.CODIGO as tiporua.DESCRICAO for tiporua in controller.listaTipoRua" ng-if="controller.campoVisivel('TipoRua')"
                                    ng-required="controller.campoObrigatorio('TipoRua')" type="combo" name="{{ ::'l-msg-label-tipo-rua-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </field>
                                <totvs-field totvs-input label="{{ ::'l-rua' | i18n : [] : 'js/inscricoes' }}" class="col-lg-7 col-md-8 col-sm-8 col-xs-12" ng-model="controller.dadosPessoais.RUA" ng-if="controller.campoVisivel('Rua')" ng-required="controller.campoObrigatorio('Rua')"
                                    name="{{ ::'l-msg-label-rua-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="40" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-2 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.NUMERO" ng-if="controller.campoVisivel('Numero')" ng-required="controller.campoObrigatorio('Numero')"
                                    name="{{ ::'l-msg-label-numero-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="8" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Rua -->
                            <div class="row form-group" ng-if="controller.campoVisivel('Complemento')">
                                <!-- Complemento -->
                                <totvs-field totvs-input label="{{ ::'l-complemento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-5 col-md-6 col-sm-6 col-xs-12" ng-model="controller.dadosPessoais.COMPLEMENTO" ng-if="controller.campoVisivel('Complemento')" ng-required="controller.campoObrigatorio('Complemento')"
                                    name="{{ ::'l-msg-label-complemento-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="30" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Complemento -->
                            <div class="row form-group" ng-if="controller.campoVisivel('TipoBairro') || controller.campoVisivel('Bairro')">
                                <!-- Bairro -->
                                <field label="{{ ::'l-tipo-bairro' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3  col-xs-12" ng-model="controller.dadosPessoais.CODTIPOBAIRRO" ng-options="tipobairro.CODIGO as tipobairro.DESCRICAO for tipobairro in controller.listaTipoBairro"
                                    ng-if="controller.campoVisivel('TipoBairro')" ng-required="controller.campoObrigatorio('TipoBairro')" name="{{ ::'l-msg-label-tipo-bairro-candidato' | i18n : [] : 'js/inscricoes' }}" type="combo" canclean>
                                </field>
                                <totvs-field totvs-input label="{{ ::'l-bairro' | i18n : [] : 'js/inscricoes' }}" class="col-lg-7 col-md-8 col-sm-8 col-xs-12" ng-model="controller.dadosPessoais.BAIRRO" ng-if="controller.campoVisivel('Bairro')" ng-required="controller.campoObrigatorio('Bairro')"
                                    name="{{ ::'l-msg-label-bairro-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="80" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Bairro -->
                            <edups-pais-uf-cidade css-class="row form-group" t-visible="controller.campoVisivel('Pais') || controller.campoVisivel('Estado') || controller.campoVisivel('Cidade')" lista-paises="controller.listaPaises" label-pais="{{ ::'l-pais' | i18n : [] : 'js/inscricoes' }}"
                                label-estado="{{ ::'l-estado' | i18n : [] : 'js/inscricoes' }}" label-cidade="{{ ::'l-cidade' | i18n : [] : 'js/inscricoes' }}" campo-pais-visible="controller.campoVisivel('Pais')" campo-estado-visible="controller.campoVisivel('Estado')"
                                campo-cidade-visible="controller.campoVisivel('Cidade')" campo-pais-required="controller.campoObrigatorio('Pais')" campo-estado-required="controller.campoObrigatorio('Estado')" campo-cidade-required="controller.campoObrigatorio('Cidade')"
                                ng-model-pais="controller.endereco.PAISESENDERECO" ng-model-estado="controller.endereco.ESTADOSENDERECO" ng-model-cidade="controller.endereco.MUNICIPIOSENDERECO" ng-model-cidade-estrangeiro="controller.endereco.MUNICIPIOSENDERECO.CIDADE">
                            </edups-pais-uf-cidade>
                            <!-- Fim País/Estado/Município -->
                            <div class="row form-group" ng-if="controller.campoVisivel('TelefoneResidencial') || controller.campoVisivel('TelefoneCelular')">
                                <!-- Telefones -->
                                <totvs-field totvs-phone label="{{controller.objParametros.TextoTelefone1}}" t-mask="{{controller.objParametros.MascaraTelefone}}" ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    ng-model="controller.dadosPessoais.TELEFONE1" ng-if="controller.campoVisivel('TelefoneResidencial')" ng-required="controller.campoObrigatorio('TelefoneResidencial')" name="{{controller.concatenaName(controller.objParametros.TextoTelefone1, 'l-candidato')}}"
                                    canclean>
                                </totvs-field>
                                <totvs-field totvs-phone label="{{controller.objParametros.TextoTelefone2}}" t-mask="{{controller.objParametros.MascaraTelefone}}" ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    ng-model="controller.dadosPessoais.TELEFONE2" ng-if="controller.campoVisivel('TelefoneCelular')" ng-required="controller.campoObrigatorio('TelefoneCelular')" name="{{controller.concatenaName(controller.objParametros.TextoTelefone2, 'l-candidato')}}"
                                    canclean>
                                </totvs-field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('TelefoneComercial') || controller.campoVisivel('Fax')">
                                <totvs-field totvs-phone label="{{controller.objParametros.TextoTelefone3}}" t-mask="{{controller.objParametros.MascaraTelefone}}" ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    ng-model="controller.dadosPessoais.TELEFONE3" ng-if="controller.campoVisivel('TelefoneComercial')" ng-required="controller.campoObrigatorio('TelefoneComercial')" name="{{controller.concatenaName(controller.objParametros.TextoTelefone3, 'l-candidato')}}"
                                    canclean>
                                </totvs-field>
                                <totvs-field totvs-phone label="{{ ::'l-fax' | i18n : [] : 'js/inscricoes' }}" t-mask="{{controller.objParametros.MascaraTelefone}}" ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-model="controller.dadosPessoais.FAX"
                                    ng-if="controller.campoVisivel('Fax')" ng-required="controller.campoObrigatorio('Fax')" name="{{ ::'l-msg-label-fax-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <!-- Fim Telefones -->
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="Endereco"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim endereço -->

                    <!-- Informações adicionais -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('InformacoesAdicionais')">
                        <div class="panel-heading">{{ ::'l-informacoes-adicionais' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <div class="row form-group" ng-if="controller.campoVisivel('CorRaca') || controller.campoVisivel('GrauIstrucao')">
                                <field label="{{ ::'l-cor-raca' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.CORRACA" ng-options="corraca.CODCLIENTE as corraca.DESCRICAO for corraca in controller.listaCorRaca" ng-if="controller.campoVisivel('CorRaca')"
                                    ng-required="controller.campoObrigatorio('CorRaca')" name="{{ ::'l-msg-label-cor-raca-candidato' | i18n : [] : 'js/inscricoes' }}" type="combo" canclean>
                                </field>
                                <field label="{{ ::'l-grau-instrucao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-model="controller.dadosPessoais.GRAUINSTRUCAO" ng-options="grauinstrucao.CODCLIENTE as grauinstrucao.DESCRICAO for grauinstrucao in controller.listaGrauInstrucao"
                                    ng-if="controller.campoVisivel('GrauIstrucao')" ng-required="controller.campoObrigatorio('GrauIstrucao')" name="{{ ::'l-msg-label-cor-raca-candidato' | i18n : [] : 'js/inscricoes' }}" type="combo" canclean>
                                </field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('Profissao') || controller.campoVisivel('TipoSanguineo')">
                                <field label="{{ ::'l-profissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-model="controller.dadosPessoais.CODPROFISSAO" ng-options="profissao.CODCLIENTE as profissao.DESCRICAO for profissao in controller.listaProfissao"
                                    ng-if="controller.campoVisivel('Profissao')" ng-required="controller.campoObrigatorio('Profissao')" name="{{ ::'l-msg-label-pofissao-candidato' | i18n : [] : 'js/inscricoes' }}" type="combo" canclean>
                                </field>
                                <field label="{{ ::'l-tipo-sanguineo' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.TIPOSANG" ng-options="tiposanguineo.CODIGO as tiposanguineo.DESCRICAO for tiposanguineo in controller.listaTipoSanguineo"
                                    ng-if="controller.campoVisivel('TipoSanguineo')" ng-required="controller.campoObrigatorio('TipoSanguineo')" type="combo" name="{{ ::'l-msg-label-tipo-sanguineo-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </field>
                            </div>
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="InformacoesAdicionais"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim Informações adicionais -->
									<!-- ng-required="controller.campoObrigatorio('PassaporteNumero')" -->
                    <!-- Passaporte -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('Passaporte')">
                        <div class="panel-heading">{{ ::'l-documentos-passaporte' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <div class="row form-group" ng-if="controller.campoVisivel('PassaporteNumero') || controller.campoVisivel('PassaporteDataEmissao') || controller.campoVisivel('PassaporteDataValidade') || controller.campoVisivel('PassaportePaisOrigem')">
								<totvs-field totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.NPASSAPORTE"
									ng-if="controller.campoVisivel('PassaporteNumero')"
									ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero')"
									ng-required="controller.camposCPFPassRGObrigatorio['PassaporteNumero']"
									name="{{ ::'l-msg-label-numero-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}"
                                    canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTEMISSPASSAPORTE" ng-if="controller.campoVisivel('PassaporteDataEmissao')"
                                    ng-required="controller.campoObrigatorio('PassaporteDataEmissao')" culture="pt" name="{{ ::'l-msg-label-data-emissao-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-validade' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTVALPASSAPORTE" ng-if="controller.campoVisivel('PassaporteDataValidade')"
                                    ng-required="controller.campoObrigatorio('PassaporteDataValidade')" culture="pt" name="{{ ::'l-msg-label-data-validade-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-pais-origem' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="20" ng-model="controller.dadosPessoais.PAISORIGEM" ng-if="controller.campoVisivel('PassaportePaisOrigem')" ng-required="controller.campoObrigatorio('PassaportePaisOrigem')"
                                    name="{{ ::'l-msg-label-pais-origem-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="Passaporte"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim Passaporte -->
                    <!-- Dados gerais de estrangeiros -->
                    <div class="panel panel-default campos-grupo" ng-show="controller.exibeGrupoCampos('DadosEstrangeiros')">
                        <div class="panel-heading">{{ ::'l-dados-gerais-estrangeiros' | i18n : [] : 'js/inscricoes' }}</div>
                        <div class="container-fluid">
                            <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil') || controller.campoVisivel('EstrangeirosTipoVisto') || controller.campoVisivel('EstrangeirosCartaModelo19')">
                                <totvs-field totvs-datepicker label="{{ ::'l-data-chegada-brasil' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DATACHEGADA" ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosDataChegadaBrasil')" name="{{ ::'l-msg-label-data-chegada-brasil-candidato' | i18n : [] : 'js/inscricoes' }}" culture="pt" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-tipo-visto' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="10" ng-model="controller.dadosPessoais.TIPOVISTO" ng-if="controller.campoVisivel('EstrangeirosTipoVisto')" ng-required="controller.campoObrigatorio('EstrangeirosTipoVisto')"
                                    name="{{ ::'l-msg-label-tipo-visto-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-carteira-modelo-19' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.CARTMODELO19" ng-if="controller.campoVisivel('EstrangeirosCartaModelo19')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosCartaModelo19')" name="{{ ::'l-msg-label-carteira-modelo-19-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros') || controller.campoVisivel('EstrangeirosNaturalizado') || controller.campoVisivel('EstrangeirosConjugeBrasil')">
                                <totvs-field totvs-number label="{{ ::'l-numero-filhos-brasileiros' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.FILHOSBRASIL" ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosNroFilhosBrasileiros')" name="{{ ::'l-msg-label-numero-filhos-brasileiros-candidato' | i18n : [] : 'js/inscricoes' }}" min="0" max="32767" canclean>
                                </totvs-field>
                                <field type="checkbox" label="{{ ::'l-estrangeiro-naturalizado' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.NATURALIZADO" ng-if="controller.campoVisivel('EstrangeirosNaturalizado')"
                                    name="{{ ::'l-msg-label-estrangeiro-naturalizado-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                                <field type="checkbox" label="{{ ::'l-conjuge-brasil' | i18n : [] : 'js/inscricoes' }}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-model="controller.dadosPessoais.CONJUGEBRASIL" ng-if="controller.campoVisivel('EstrangeirosConjugeBrasil')" name="{{ ::'l-msg-label-conjuge-brasil-candidato' | i18n : [] : 'js/inscricoes' }}">
                                </field>
                            </div>
                            <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosRegistroGeral') || controller.campoVisivel('EstrangeirosDecretoImigracao') || controller.campoVisivel('EstrangeirosCTPSDataVencimento') || controller.campoVisivel('EstrangeirosRGDataVencimento')">
                                <totvs-field totvs-input label="{{ ::'l-registro-geral' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.NROREGGERAL" ng-if="controller.campoVisivel('EstrangeirosRegistroGeral')"
									ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral')"
									ng-required="controller.camposCPFPassRGObrigatorio['EstrangeirosRegistroGeral']"
                                    name="{{ ::'l-msg-label-registro-geral-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-input label="{{ ::'l-decreto-imigracao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" maxlength="15" ng-model="controller.dadosPessoais.NRODECRETO" ng-if="controller.campoVisivel('EstrangeirosDecretoImigracao')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosDecretoImigracao')" name="{{ ::'l-msg-label-decreto-imigracao-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-vencimento-ctps' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTVENCCARTTRAB" ng-if="controller.campoVisivel('EstrangeirosCTPSDataVencimento')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosCTPSDataVencimento')" name="{{ ::'l-msg-label-data-vencimento-ctps-candidato' | i18n : [] : 'js/inscricoes' }}" culture="pt" canclean>
                                </totvs-field>
                                <totvs-field totvs-datepicker label="{{ ::'l-data-vencimento-rg' | i18n : [] : 'js/inscricoes' }}" class="col-lg-3 col-md-3 col-sm-3 col-xs-12" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.dadosPessoais.DTVENCIDENT" ng-if="controller.campoVisivel('EstrangeirosRGDataVencimento')"
                                    ng-required="controller.campoObrigatorio('EstrangeirosRGDataVencimento')" culture="pt" name="{{ ::'l-msg-label-data-vencimento-rg-candidato' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </totvs-field>
                            </div>
                        </div>
                        <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                        <div class="container-fluid">
                            <span id="DadosEstrangeiros"></span>
                        </div>
                        <!-- FIM - Adiciona os campos complementares dinâmicamente-->
                    </div>
                    <!-- Fim dados gerais de estrangeiros -->
                </div>
            </div>
        </div>
    </form>
    <!-- FIM DADOS DO CANDIDATO -->

    <div class="container-fluid">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <button id="botao-cancelar" class="btn btn-lg btn-default" ng-click="controller.cancelar()">
                    {{::"l-cancelar" | i18n : [] : "js/dados-pessoais" }}</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <button id="botao-finalizar" type="button" class="btn btn-info btn-lg" ng-click="controller.salvarDadosPessoais()">
                {{ ::'l-salvar' | i18n : [] : 'js/dados-pessoais' }}
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            &nbsp;
        </div>
    </div>

</div>
<!-- FIM FORMULARIO ALTERAÇÃO DOS DADOS DO CANDIDATO -->
