<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'></div>
<div class='col-lg-8 col-md-8 col-sm-8 col-xs-8'>
    <totvs-modal-header>
        {{::'l-pagamento' | i18n : [] : 'js/financeiro/pagamento-cartao'}}
    </totvs-modal-header>
    <totvs-modal-body>
                <div class="panel-body">
                    <totvs-list-item-header>
                        <totvs-list-item-title title="{{::'l-dadoscadastrais' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                        style="font-size: 18px">
                        </totvs-list-item-title>
                    </totvs-list-item-header>
                    <totvs-list-item-content>
                        <totvs-list-item-info   title="{{::'l-nome' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DadosComprador.NomeComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-cpf' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DadosComprador.CpfComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-email' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DadosComprador.EmailComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-endereco' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DadosComprador.EnderecoComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info   title="{{::'l-bairro' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                                value="{{controller.pagamento.DadosComprador.BairroComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-cidade' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                            value="{{controller.pagamento.DadosComprador.CidadeComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-uf' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                            value="{{controller.pagamento.DadosComprador.UfComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-cep' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                            value="{{controller.pagamento.DadosComprador.CepComprador}}">
                        </totvs-list-item-info>
                        <totvs-list-item-info title="{{::'l-telefone' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                            class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                            value="{{controller.pagamento.DadosComprador.TelefoneComprador}}">
                        </totvs-list-item-info>
                    </totvs-list-item-content>
                </div>
                <div ng-show="controller.pagamento.CartaoCreditoParams.ModeloECommerceCielo == 1">
                    <div class="panel-body">
                        <totvs-list-item-header>
                            <totvs-list-item-title title="{{::'l-dadospagamento' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                            style="font-size: 18px">
                            </totvs-list-item-title>
                        </totvs-list-item-header>
                        <totvs-list-item-content>
                            <totvs-list-item-info   title="{{::'l-referentea' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                    value="{{controller.pagamento.DescProduto}}">
                            </totvs-list-item-info>
                            <totvs-list-item-info   title="{{::'l-valor' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                    value="{{controller.pagamento.PrecoProduto | currency}}">
                            </totvs-list-item-info>
                        <totvs-list-item-content>
                    </div>
                    <div class="panel-body">
                        <totvs-list-item-header>
                            <totvs-list-item-title title="{{::'l-formapagamento' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                            style="font-size: 18px">
                            </totvs-list-item-title>
                        </totvs-list-item-header>
                        <totvs-list-item-content>
                            <totvs-list-item-info   title="{{::'l-credito' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%"
                                                    ng-show="(controller.pagamento.CartaoCreditoParams.AtivarBandeiraVisa == 1 ||
                                                    controller.pagamento.CartaoCreditoParams.AtivarBandeiraMaster == 1)"
                                                    value="">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc-selector" style="margin-top: 5px">
                                    <div style="float: left" ng-show="controller.pagamento.CartaoCreditoParams.AtivarBandeiraVisa == 1">
                                            <input type="radio" id="visa" name="opcaoBandeira" value="1"
                                                ng-model="controller.bandeira">
                                            <label ng-show="controller.pagCredito" class="drinkcard-cc visa" for="visa"></label>
                                    </div>
                                    <div style="float: left" ng-show="controller.pagamento.CartaoCreditoParams.AtivarBandeiraMaster == 1">
                                            <input type="radio" id="mastercard" name="opcaoBandeira" value="2"
                                                ng-show="controller.pagCredito"
                                                ng-model="controller.bandeira">
                                            <label ng-show="controller.pagCredito" class="drinkcard-cc mastercard"for="mastercard"></label>
                                    </div>
                                    <div ng-show="controller.bandeira !== '3'">
                                        <div style="float: left;height: 40px; padding-top: 2%;">
                                            <label>{{ ::'l-parcelamento' | i18n : [] : 'js/financeiro/pagamento-cartao' }}:  </label>
                                        </div>
                                        <div style="float: left;">
                                            <field type="combo" style="width: 100%; padding-left: 5px;"
                                                ng-model="controller.parcelaSelecionada"
                                                ng-options="k as controller.formataOpcaoParcela(k, v) for (k, v) in controller.opcoesParcelamento">
                                            </field>
                                        </div>
                                    </div>
                                </div>
                            </totvs-list-item-info>
                            <totvs-list-item-info   title="{{::'l-debito' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                                    class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 2%"
                                                    ng-show="controller.pagamento.CartaoCreditoParams.AtivarDebitoVisa == 1"
                                                    value="">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc-selector" style="margin-top: 5px">
                                    <div style="float: left">
                                            <input type="radio" id="visaelectron" name="opcaoBandeira" value="3" ng-model="controller.bandeira">
                                            <label class="drinkcard-cc visaelectron"for="visaelectron"></label>
                                    </div>
                                </div>
                            </totvs-list-item-info>
                        <totvs-list-item-content>
                    </div>
                    <div class="panel-body">
                        <totvs-list-item-header>
                            <totvs-list-item-title
                                title="{{::'l-valortotal' | i18n : [] : 'js/financeiro/pagamento-cartao' }}"
                                style="font-size: 18px"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {{controller.retornaValorTotal()}}
                            </totvs-list-item-title>
                        </totvs-list-item-header>
                    </div>
                </div>
            <div style="clear:both;"></div>
    </totvs-modal-body>
    <totvs-modal-footer>
        <button class="btn btn-primary" data-dismiss="modal" onclick="this.disabled=true;" ng-click="controller.pagarCartao()">{{::'l-pagar' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</button>
    </totvs-modal-footer>
</div>
<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'></div>