<div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'></div>
<div class='col-lg-10 col-md-10 col-sm-10 col-xs-10' style='border: 1px solid;
    border-radius: 20px; padding-top: 5px; padding-bottom: 5px;'>
<div id='erro' ng-show="controller.status.Status === -1">

    <h3>{{::'l-erro' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</h3>

    <p><span class="label label-danger">{{::'l-codigo' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Codigo}}
    </p>
    <p><span class="label label-danger">{{::'l-mensagem' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Mensagem}}
    </p>

    <p>&nbsp;</p>
    <span ng-bind-html="controller.closeBtn()"></span>
</div>

<div id='statusNaoAutenticada' ng-show="controller.status.Status === 3">

    <h3>{{::'l-pagnaoautenticado' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</h3>

    <p><span class="label label-warning">{{::'l-codigo' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Codigo}}
    </p>
    <p><span class="label label-warning">{{::'l-mensagem' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Mensagem}}
    </p>

    <p>&nbsp;</p>
    <span ng-bind-html="controller.closeBtn()"></span>
</div>

<div id='statusNaoAutorizada' ng-show="controller.status.Status === 5">

    <h3>{{::'l-pagnaoautorizado' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</h3>

    <p><span class="label label-warning">{{::'l-codigo' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.LR}}
    </p>
    <p><span class="label label-warning">{{::'l-mensagem' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Mensagem}}
    </p>

    <p>&nbsp;</p>
    <span ng-bind-html="controller.closeBtn()"></span>
</div>

<div id='statusCapturada' ng-show="controller.status.Status === 6">

    <h3>{{::'l-pagcapturado' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</h3>
    <h4 style='color: red'>{{controller.status.Mensagem}}</h4>

    <p><span class="label label-success">{{::'l-produto' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.DescricaoProduto}}
    </p>
    <p><span class="label label-success">{{::'l-valortotal' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.PrecoProduto | currency}}
    </p>
    <p><span class="label label-success">{{::'l-respfinanceiro' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.NomeComprador}}
    </p>
    <p><span class="label label-success">{{::'l-email' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.EmailComprador}}
    </p>
    <p><span class="label label-success">{{::'l-datahora' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.DataHora | date: 'shortDate' : 'UTC'}}
    </p>
    <p><span class="label label-success">{{::'l-tid' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.TID}}
    </p>
    <p><span class="label label-success">{{::'l-numpedido' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.NumPedido}}
    </p>
    <p><span class="label label-success">{{::'l-numautor' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Codigo}}
    </p>
    <p><span class="label label-success">{{::'l-nsu' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.NSU}}
    </p>

    <p>&nbsp;</p>
    <span ng-bind-html="controller.closeBtn()"></span>
</div>

<div id='statusEmAutenticacao' ng-show="controller.status.Status === 10">

    <h3>{{::'l-pagemautenticacao' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</h3>

    <p><span class="label label-info">{{::'l-codigo' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Codigo}}
    </p>
    <p><span class="label label-info">{{::'l-mensagem' | i18n : [] : 'js/financeiro/pagamento-cartao' }}</span>
        {{controller.status.Mensagem}}
    </p>

    <p>&nbsp;</p>
    <span ng-bind-html="controller.closeBtn()"></span>
</div>
</div>
<div class='col-lg-1 col-md-1 col-sm-1 col-xs-1'></div>