<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">{{ :: 'l-mensagem-aguarde-geracao-boleto' | i18n : [] : 'js/inscricoes' }}</div>
</div>
<div ng-if="controller.exibirObjChrome">
    <object ng-bind="controller.pdfcontent" data="{{controller.pdfcontent}}" type="application/pdf" 
            width="100%" height="900px" style="position: absolute; top: 0;">
    </object>
</div>







































