<!-- MENU -->
<div ng-init="botaoAtivo = 'informacoes'">
    <div ng-include="'js/templates/menu-eb.view.html'"></div>
</div>
<!-- FIM MENU -->
<br/>
<div class="container-fluid">
    <div id="textoAreaPublicaPS" ng-bind-html="objParametros.TextoAreaPublica" class="col-md-8 col-xs-12">
    </div>
    <div id="arquivos" class="col-md-4 col-xs-12">
        <div class="jumbotron" ng-repeat="grupo in controller.listaArquivosProcessoSeletivo">
            <div id="titulo-arquivos">
                {{grupo.NomeGrupoArquivo}}
            </div>
            <div id="informacoes-secundarias" ng-style="{'text-align':'center'}">
               {{'l-Download-Arquivos' | i18n : [] : 'js/informacoes' }}
            </div>
            <div class="row">
                <div id="lista-arquivos" class="col-md-12 col-xs-12" ng-repeat="arquivo in grupo.ListaArquivos">
                    <img class="icones-arquivos" src="assets/img/icon-file-b-md.png" alt="Arquivo">
                    <button type="button" class="btn btn-default" aria-label="Baixar arquivo" ng-click="controller.baixarArquivo(arquivo.IdArquivo, objParametros.TipoArquivo, objParametros.DiretorioArquivo + arquivo.NomeArquivo, arquivo.NomeArquivo)">
                        {{arquivo.NomeArquivo}}
                    </button>
                    <br><span>{{arquivo.RecCreatedOn | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RODAPÉ - Rodapé das páginas -->
<nav id="rodape" class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
    </div><!-- /.container-fluid -->
</nav>

