<!-- MENU -->
<div ng-init="botaoAtivo = 'inscricoes'">
    <div ng-include="'js/templates/menu-es.view.html'"></div>
</div>
<!-- FIM MENU -->
<br/>
<!-- MINI FORMULARIO DE INSCRICAO -->
<div id="formularioBasico" class="container-fluid" ng-if="!controller.MostraFormularioCompleto && PeriodoInscricao">
    <div id="textoAreaInscricaoPS" ng-bind-html="controller.objParametros.TextoAreaInscricoes" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        &nbsp;
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div id="miniFormularioInscricao" class="jumbotron">
            <div class="row form-group">
                <totvs-field
                    totvs-input
                    label="{{ ::'l-nome' | i18n : [] : 'js/inscricoes' }}"
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    ng-model="controller.objInscricao.dadosUsuario.NOME"
                    maxlength="120"
                    ng-required="true"
                    canclean>
                </totvs-field>
            </div>
            <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa1">
                <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    depth="month" format="dd/MM/yyyy" t-mask-date='' ng-model="controller.objInscricao.dadosUsuario.DTNASCIMENTO"
                    culture="pt" canclean name="{{ ::'l-msg-label-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}"
                    ng-required="true">
                </totvs-field>
            </div>

            <edups-pais-uf-cidade css-class="row form-group" t-visible="controller.objParametros.GrupoPesquisa1" lista-paises="controller.objInscricao.listas.listaPaises"
                label-pais="{{ ::'l-pais-natal' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-estado-natal' | i18n : [] : 'js/inscricoes' }}"
                label-cidade="{{ ::'l-naturalidade' | i18n : [] : 'js/inscricoes' }}" ng-model-pais="controller.objInscricao.dadosUsuario.PAISESMINI"
                ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISNATALDESC" css-class-pais="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'"
                ng-model-estado="controller.objInscricao.dadosUsuario.ESTADOSMINI" ng-model-estado-desc="controller.objInscricao.dadosUsuario.ESTADONATALDESC"
                css-class-estado="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'" ng-model-cidade="controller.objInscricao.dadosUsuario.MUNICIPIOSMINI"
                ng-model-cidade-desc="controller.objInscricao.dadosUsuario.CODNATURALIDADEDESC" ng-model-cidade-estrangeiro="controller.objInscricao.dadosUsuario.NATURALIDADE"
				css-class-cidade="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'"
                ng-required="true">
            </edups-pais-uf-cidade>

            <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa2">
                <field label="{{::'l-tipodocumento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao"
                    type="combo" ng-model="controller.tipoDocumentoBuscaCandidato" ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in controller.listaTipoDocumento"
                    name="{{::'l-tipodocumento' | i18n : [] : 'js/inscricoes' }}"
                    ng-required="true">
                </field>
                <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.CPF"
                    name="{{ ::'l-msg-label-numero-cpf-candidato' | i18n : [] : 'js/inscricoes' }}"
                    ui-mask="999.999.999-99" t-mask="999.999.999-99"
                    ng-maxlength="14" ng-if="controller.tipoDocumentoBuscaCandidato == 1" ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF', 'C')"
                    canclean>
                </totvs-field>
                <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.NPASSAPORTE"
                    name="{{ ::'l-msg-label-numero-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 2"
                    ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero', 'C')" canclean
                    ng-required="true">
                </totvs-field>
                <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.NROREGGERAL"
                    name="{{ ::'l-msg-label-registro-geral-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 3"
                    ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral', 'C')" canclean
                    ng-required="true">
                </totvs-field>
            </div>
            <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa3">
                <field type="email" label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    ng-model="controller.objInscricao.dadosUsuario.EMAIL" ng-pattern="controller.validadorEmail"
                    maxlength="60" canclean
                    ng-required="true">
                    <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                </field>
            </div>
            <div class="row form-group" ng-if="!controller.objParametros.GrupoPesquisa3">
                <field type="email" label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    ng-model="controller.objInscricao.dadosUsuario.EMAIL" ng-pattern="controller.validadorEmail"
                    maxlength="60" ng-required="true" canclean>  
                    <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                 </field>
            </div>
            <div class="row form-group" ng-if="UsaGrupoAreaInteressePS">
                <field label="{{TextoGrupoAreaInteressePS}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" type="combo"
                    ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ"
                    ng-options="gruposareainteresse as gruposareainteresse.GRUPO for gruposareainteresse in controller.objInscricao.listas.listaGruposAreaInteresse"
                    ng-change="controller.carregaAreasOfertadas(CodColigada, IdPS, controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                    ng-required="true"
                    canclean>
                </field>
            </div>
            <div class="row form-group">
                <field label="{{ ::'l-area-ofertada-1-opcao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    type="combo" ng-model="controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                    ng-options="areaofertada as areaofertada.NOME for areaofertada in controller.objInscricao.listas.listaAreaOfertada"
                    ng-change="controller.getInformacoesInscricao(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ); controller.getInformacoesPolo(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ)"
                    ng-disabled="UsaGrupoAreaInteressePS && (!controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                    ng-required="true"
                    canclean>
                </field>
            </div>

            <div class="row form-group">
                <totvs-field
                    totvs-phone
                    label="{{ ::'l-telefone-celular' | i18n : [] : 'js/inscricoes' }}"
                    t-mask="{{controller.objParametros.MascaraTelefone}}"
                    ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    ng-model="controller.objInscricao.dadosUsuario.TELEFONE2"
                    ng-if="controller.campoVisivel('TelefoneCelular', 'C')"
                    ng-required="controller.campoObrigatorio('TelefoneCelular','C')"
                    name="{{ ::'l-msg-label-telefone-calular-candidato' | i18n : [] : 'js/inscricoes' }}"
                    ng-required="true"
                    canclean>
                </totvs-field>
            </div>
            <div class="row form-group">
                <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                    depth="month" format="dd/MM/yyyy" t-mask-date='' ng-model="controller.objInscricao.dadosUsuario.DTNASCIMENTO"
                    culture="pt" canclean name="{{ ::'l-msg-label-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}" 
                    ng-required="true">
                </totvs-field>
            </div>

            <div class="row form-group" style="padding-top: 10px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button id="botao-continuar" type="button" class="btn btn-info btn-md" ng-click="controller.continuarInscricao()">{{ ::'l-continuar' | i18n : [] : 'js/inscricoes' }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM MINI FORMULARIO DE INSCRICAO -->

<!-- FORMULARIO COMPLETO DE INSCRICAO -->
<div id="formularioCompleto" ng-show="controller.MostraFormularioCompleto && PeriodoInscricao">

    <form id="frmDadosCandidato" name="frmDadosCandidato">
        <div ng-include="'js/templates/forms/frmDadosCandidato.html'"></div>
    </form>

    <form id="frmDadosPai" name="frmDadosPai">
        <div ng-include="'js/templates/forms/frmDadosPai.html'"></div>
    </form>

    <form id="frmDadosMae" name="frmDadosMae">
        <div ng-include="'js/templates/forms/frmDadosMae.html'"></div>
    </form>

    <form id="frmDadosResponsavelFinanceiro" name="frmDadosResponsavelFinanceiro">
        <div ng-include="'js/templates/forms/frmDadosResponsavelFinanceiro.html'"></div>
    </form>

    <form id="frmDadosResponsavelAcademico" name="frmDadosResponsavelAcademico">
        <div ng-include="'js/templates/forms/frmDadosResponsavelAcademico.html'"></div>
    </form>

    <form id="frmDadosAreaInteresse" name="frmDadosAreaInteresse">
        <div ng-include="'js/templates/forms/frmDadosAreaInteresse.html'"></div>
    </form>

    <form id="frmAtividadesAgendadas" name="frmAtividadesAgendadas">
        <div ng-include="'js/templates/forms/frmAtividadesAgendadas.html'"></div>
    </form>

    <form id="frmDocumentos" name="frmDocumentos"> 
        <div ng-include="'js/templates/forms/frmDocumentos.html'"></div>
    </form>

    <form id="frmOfertaOnline" name="frmOfertaOnline"> 
        <div ng-include="'js/templates/forms/frmOfertaOnline.html'"></div>
    </form>

    <form id="frmDadosSenha" name="frmDadosSenha">
        <div ng-include="'js/templates/forms/frmDadosSenha.html'"></div>
    </form>

    <div class="row-fluid">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <button id="botao-finalizar" type="button" class="btn btn-info btn-lg" ng-click="controller.confirmarInscricao()">{{ ::'l-finalizar' | i18n : [] : 'js/inscricoes' }}</button>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            &nbsp;
        </div>
    </div>
</div>
<!-- FIM FORMULARIO COMPLETO DE INSCRICAO -->

<!-- BARRA DE SERVIÇOS -->
<div  id="barraServico" class="container-fluid" ng-if="!controller.MostraFormularioCompleto && PeriodoInscricao && ExibeBarraServico">
    <div class="row barraservico">
        {{ ::'l-acesso-rapido-voce-candidato' | i18n : [] : 'js/inscricoes' }}
    </div>
    <div class="row barraservico">&nbsp;</div>
    <div class="row barraservico">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoInformacoesPessoais">
            <img class="icones-arquivos" src="assets/img/icon-submit-b-md.png" alt="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('dadospessoais.start')">
                {{ ::'l-editar-inscricao' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoSenha">
            <img class="icones-arquivos" src="assets/img/icon-password-b-md.png" alt="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('alterar.senha')">
                {{ ::'l-alterar-senha' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoBoletoPagtoInscricao">
            <img class="icones-arquivos" src="assets/img/icon-pay-b-md.png" alt="{{ ::'l-servico-boleto-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-boleto-inscricao' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('financeiro.boleto')">
                {{ ::'l-pagamento-boleto' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoCartaoPagtoInscricao">
            <img class="icones-arquivos" src="assets/img/icon-card-b-md.png" alt="{{ ::'l-servico-cartao-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-cartao-inscricao' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('financeiro.cartao')">
                {{ ::'l-pagamento-cartao' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoSegundaViaComprovante">
            <img class="icones-arquivos" src="assets/img/icon-confirmacao-b-md.png" alt="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('inscricoes.comprovante')">
                {{ ::'l-2a-via' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoConsultaSituacaoCandidato">
            <img class="icones-arquivos" src="assets/img/icon-status-b-md.png" alt="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('')">
                {{ ::'l-checar-status' | i18n : [] : 'js/inscricoes' }}
            </a>
        </div>
    </div>
    <div class="row barraservico">&nbsp;</div>
</div>
<!-- FIM BARRA DE SERVIÇOS -->

<!-- MODAL RECIBO INSCRICAO -->
<div class="modal fade" id="modalRecibo" tabindex="-1" role="dialog" aria-labelledby="modalReciboInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalReciboInfoLabel">
                    {{'l-recibo-inscricao' | i18n : [] : 'js/inscricoes' }}
                    <span ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS === 2">{{'l-como-excedente' | i18n : [] : 'js/inscricoes' }}</span>
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <p class="text-center">
                                    <img src="assets/img/recibo_ok.png">
                                    <br/>
                                    Sua inscrição <strong>{{controller.model.SPSINSCRICAOAREAOFERTADA[0].NUMEROINSCRICAO}}</strong> foi cadastrada com sucesso!
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align:center;" ng-if="controller.model._DOCEXIGIDO_ && !controller.showPayment">
                                <div class="alert alert-warning" role="alert" style="margin: 0px; text-align:center">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                {{ ::'l-warning-matricula-pendente' | i18n : [] : 'js/inscricoes' }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.showMsgMatric">
                                    <p class="text-center">
                                        <br/>
                                        {{controeller.msgMatriculaSuccess}} <br/><strong>Registro Acadêmico: {{controller.RA}}</strong>
                                    </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.model.SPSUSUARIO[0].EMAIL && controller.objParametros.enviarEmailConfirmacaoInscricao === 'S'">
                                <p class="text-center">
                                        Mais detalhes foram enviados para o e-mail: <strong>{{controller.model.SPSUSUARIO[0].EMAIL}}</strong>
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="!controller.isOfertaOnline && controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2  && controller.model.STATUSPAGAMENTO[0].VALOR != 0">
                                <p class="text-center" >
                                    Utilize as opções abaixo para realizar o pagamento da inscrição.
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.model._TBMATRIC_ && controller.model._TBMATRIC_[0].IDLAN !== null && controller.model._TBMATRIC_[0].IDLAN > 0">
                                <h6>
                                    <div class="alert alert-warning" role="alert" style="margin: 0px; text-align:center;">
                                    <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                    {{ ::'l-matric-pending' | i18n : [] : 'js/inscricoes' }}
                                    </div>
                                </h6>
                                <p class="text-center">
                                    Utilize as opções abaixo para realizar o pagamento da matrícula.
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS === 2">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="alert alert-warning" role="alert">
                                    {{ ::'l-msg-confirmacao-vaga-excedente-inscreveu' | i18n : [] : 'js/inscricoes' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2
                && (controller.model.STATUSPAGAMENTO[0].BOLETOREGISTRADO === 'T' || (controller.model.STATUSPAGAMENTO[0].BOLETOREGISTRADO === 'F' && controller.model.STATUSPAGAMENTO[0].SHOWBOLETONAOREGPORTAL === 'T'))
                && controller.model.STATUSPAGAMENTO[0].VALOR != 0"
                ng-click="controller.tratarAction('financeiro.boleto', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-boleto' | i18n : [] : 'js/inscricoes' }}</a>

                <a class="btn btn-primary" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.PagamentoCartao && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2
                && controller.model.STATUSPAGAMENTO[0].VALOR != 0"
                ng-click="controller.tratarAction('financeiro.cartao', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-cartao' | i18n : [] : 'js/inscricoes' }}</a>

                <!-- PAGAMENTO OFERTA ONLINE -->
                <a class="btn btn-primary" ng-if="controller.showPayment"
                ng-click="controller.tratarAction('financeiro.eduboleto', controller.model.SPSUSUARIO[0].TOKEN);"><span class="glyphicon glyphicon-barcode"></span>
                {{::'l-btn-boleto' | i18n : [] : 'js/inscricoes' }}</a>

                <a class="btn btn-primary" ng-if="controller.showPagCartao"
                ng-click="controller.tratarAction('financeiro.educartao', controller.model.SPSUSUARIO[0].TOKEN);"><span class="glyphicon glyphicon-credit-card"></span>
                {{::'l-btn-cartao' | i18n : [] : 'js/inscricoes' }}</a>
                <!-- FIM PAGAMENTO OFERTA ONLINE -->

                <a class="btn btn-primary" ng-click="controller.tratarAction('inscricoes.comprovante', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-comprovante' | i18n : [] : 'js/inscricoes' }}</a>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL RECIBO INSCRICAO -->

<!-- MODAL CONFIRMACAO INSCRICAO -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacaoInfoLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConfirmacaoInfoLabel">
                    {{'l-titulo-confirmacao-inscricao' | i18n : [] : 'js/inscricoes' }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    <span>
                        <p>{{ :: 'l-mensagem-confirmacao-1' | i18n : [] : 'js/inscricoes' }}</p>
                        <p>{{ :: 'l-mensagem-confirmacao-2' | i18n : [] : 'js/inscricoes' }}</p>
                    </span>
                </div>

                <div ng-include="'js/templates/inscricoes-es-confirmacao-list.view.html'"></div>

                <!-- Termo de Aceite -->
                <div class="panel panel-default campos-grupo">
                    <div class="panel-heading"><h4 class="panel-title">{{ ::'l-termo-aceite' | i18n : [] : 'js/inscricoes' }}</h4></div>
                    <div class="container-fluid">
                        <div id="textoConfirmacaoINscricaoPS" ng-bind-html="controller.TERMOACEITEPS" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
                        </div>
                    </div>
                </div>
                <!-- Fim Termo de Aceite -->
            </div>
            <div class="modal-footer">
                <span id="botao-retornar"><a class="btn btn-primary" data-dismiss="modal">{{ ::'l-voltar' | i18n : [] : 'js/inscricoes' }}</a></span>
                
                <!-- FATEPS - Três Pontas -->
                <span ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FATEPS - Três Pontas' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Administração - Três Pontas - Bacharelado - Unis +'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FATEPS - ADM');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>
                
                <!-- FATEPS Contábeis: -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FATEPS - Três Pontas' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Ciências Contábeis - Três Pontas - Bacharelado - Unis +'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FATEPS - Contábeis');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- FIC adm:  -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FIC - Cataguases' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Administração - Cataguases - Noturno - Bacharelado '" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FIC - ADM', 0);">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>
                
                <!-- FIC arquitetura:  -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FIC - Cataguases' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Arquitetura e Urbanismo - Cataguases - Noturno - Bacharelado'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FIC - Arquiterura');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- FIC engenharia E: -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FIC - Cataguases' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Engenharia Elétrica - Cataguases - Bacharelado - Unis +'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FIC - Engenharia Elétrica');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- FIC engenharia P: -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'FIC - Cataguases' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Engenharia de Produção - Cataguases - Noturno - Bacharelado'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'FIC - Engenharia de Produção');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- Victor Hugo - Educação Física -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'São Lourenço' && (controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Educação Física - São Lourenço - Bacharelado - Unis +' || controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Educação Física - São Lourenço - Licenciatura - Unis +')" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'VICTOR HUGO - Educação Física');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- Victor Hugo - Estética -->
                <span ng-else-if="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ.GRUPO == 'São Lourenço' && controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ.NOME == 'Estética e Cosmética - São Lourenço - Tecnólogo Unis +'" id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()" onClick="ga('send', 'event', 'vestibular', 'Inscrição', 'Victor Hugo - Estética');">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>

                <!-- Nenhum curso da campanha -->
                <span ng-else id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL CONFIRMACAO INSCRICAO -->

<!-- MODAL USUÁRIO EXISTENTE -->
<div class="modal fade" id="modalUsuarioExistente" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioExistenteInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalUsuarioExistenteInfoLabel">
                    {{'l-Confirmacao' | i18n : [] : 'js/inscricoes' }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    <span>
                        <p>{{ :: 'l-msg-confirmacao-utilizar-informacoes-candidato' | i18n : [] : 'js/inscricoes' }}</p>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <span id="botao-fechar"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.chamarLogin()">{{ ::'l-continuar' | i18n : [] : 'js/inscricoes' }}</a></span>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL USUÁRIO EXISTENTE -->
