<!-- MENU -->
<div ng-init="botaoAtivo = 'inscricoes'">
    <div ng-include="'js/templates/menu-eb.view.html'"></div>
</div>
<!-- FIM MENU -->
<!-- FIM MENU -->
<br/>
<!-- MINI FORMULARIO DE INSCRICAO -->
<div id="formularioBasico" class="container-fluid" ng-show="!controller.MostraFormularioCompleto && PeriodoInscricao">
    <div id="textoAreaInscricaoPS" ng-bind-html="controller.objParametros.TextoAreaInscricoes" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        &nbsp;
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div id="miniFormularioInscricao" class="jumbotron">
            <form id="frmDadosBasicos" name="frmDadosBasicos">
                <div class="row form-group" ng-show='controller.ResponsavelCandidato'>
                    <field
                        label="{{ ::'l-sou-candidato' | i18n : [] : 'js/inscricoes' }}"
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                        type="combo"
                        ng-model="controller.objInscricao.souCandidato"
                        ng-options="opcoes.value as opcoes.label for opcoes in controller.listaSouCandidato"
                        ng-required="true">
                    </field>
                </div>
                <!-- DADOS DO CANDIDATO -->
                <div ng-show="controller.objInscricao.souCandidato">
                    <div class="row form-group">
                        <totvs-field
                            id="nome_usuario"
                            totvs-input
                            label="{{controller.getLabelCampoNome()}}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            ng-model="controller.objInscricao.dadosUsuario.NOME"
                            maxlength="120"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa1">
                        <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao"
                            depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.objInscricao.dadosUsuario.DTNASCIMENTO"
                            culture="pt" canclean name="{{ ::'l-msg-label-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>

                    <edups-pais-uf-cidade css-class="row form-group" t-visible="controller.objParametros.GrupoPesquisa1" lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais-natal-candidato' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-estado-natal-candidato' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-naturalidade-candidato' | i18n : [] : 'js/inscricoes' }}" ng-model-pais="controller.objInscricao.dadosUsuario.PAISESMINI"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISNATALDESC" css-class-pais="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'"
                        ng-model-estado="controller.objInscricao.dadosUsuario.ESTADOSMINI" ng-model-estado-desc="controller.objInscricao.dadosUsuario.ESTADONATALDESC"
                        css-class-estado="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'" ng-model-cidade="controller.objInscricao.dadosUsuario.MUNICIPIOSMINI"
                        ng-model-cidade-desc="controller.objInscricao.dadosUsuario.CODNATURALIDADEDESC" ng-model-cidade-estrangeiro="controller.objInscricao.dadosUsuario.NATURALIDADE"
                        css-class-cidade="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'">
                    </edups-pais-uf-cidade>

                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa2">
                        <field label="{{::'l-tipodocumento-candidato' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao"
                            type="combo" ng-model="controller.tipoDocumentoBuscaCandidato" ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in controller.listaTipoDocumento"
                            name="{{::'l-tipodocumento' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.CPF"
                            name="{{ ::'l-msg-label-numero-cpf-candidato' | i18n : [] : 'js/inscricoes' }}"
                            ui-mask="999.999.999-99" t-mask="999.999.999-99"
                            ng-maxlength="14" ng-if="controller.tipoDocumentoBuscaCandidato == 1" ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF', 'C')"
                            canclean>
                        </totvs-field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.NPASSAPORTE"
                            name="{{ ::'l-msg-label-numero-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 2"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero', 'C')" canclean>
                        </totvs-field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosUsuario.NROREGGERAL"
                            name="{{ ::'l-msg-label-registro-geral-candidato' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 3"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral', 'C')" canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa3">
                        <field type="email" label="{{ ::'l-email-candidato' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            ng-model="controller.objInscricao.dadosUsuario.EMAIL" ng-pattern="controller.validadorEmail"
                            maxlength="60" canclean>
                            <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="UsaGrupoAreaInteressePS">
                        <field label="{{TextoGrupoAreaInteressePS}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" type="combo"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ"
                            ng-options="gruposareainteresse as gruposareainteresse.GRUPO for gruposareainteresse in controller.objInscricao.listas.listaGruposAreaInteresse"
                            ng-change="controller.carregaAreasOfertadas(CodColigada, IdPS, controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <field label="{{ ::'l-area-ofertada-1-opcao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            type="combo" ng-model="controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="areaofertada as areaofertada.NOME for areaofertada in controller.objInscricao.listas.listaAreaOfertada"
                            ng-change="controller.getInformacoesInscricao(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ)"
                            ng-disabled="UsaGrupoAreaInteressePS && (!controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            canclean>
                        </field>
                    </div>
                </div>
                <!-- FIM DADOS CANDIDATO -->
                <!-- DADOS RESPONSÁVEL -->
                <div ng-show="!controller.objInscricao.souCandidato">
                    <div class="row form-group">
                        <totvs-field
                            id="nome_usuario_responsavel"
                            totvs-input
                            label="{{controller.getLabelCampoNome()}}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NOME"
                            maxlength="45"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa1">
                        <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento-responsavel' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao"
                            depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.objInscricao.dadosResponsavelInscricao.DTNASCIMENTO"
                            culture="pt" canclean name="{{ ::'l-msg-label-data-nascimento-responsavel' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>

                    <edups-pais-uf-cidade css-class="row form-group" t-visible="controller.objParametros.GrupoPesquisa1" lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais-natal-responsavel' | i18n : [] : 'js/inscricoes' }}" label-estado="{{ ::'l-estado-natal-responsavel' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-naturalidade-responsavel' | i18n : [] : 'js/inscricoes' }}" ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISESMINI"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.PAISNATALDESC" css-class-pais="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.ESTADOSMINI" ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.ESTADONATALDESC"
                        css-class-estado="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'" ng-model-cidade="controller.objInscricao.dadosResponsavelInscricao.MUNICIPIOSMINI"
                        ng-model-cidade-desc="controller.objInscricao.dadosResponsavelInscricao.CODNATURALIDADEDESC" css-class-cidade="'col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao'">
                    </edups-pais-uf-cidade>

                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa2">
                        <field label="{{::'l-tipodocumento-responsavel' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao"
                            type="combo" ng-model="controller.tipoDocumentoBuscaCandidato" ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in controller.listaTipoDocumento"
                            name="{{::'l-tipodocumento' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosResponsavelInscricao.CPF"
                            name="{{ ::'l-msg-label-numero-cpf-responsavel' | i18n : [] : 'js/inscricoes' }}"
                            ui-mask="999.999.999-99" t-mask="999.999.999-99"
                            ng-maxlength="14" ng-if="controller.tipoDocumentoBuscaCandidato == 1" ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF', 'C')"
                            canclean>
                        </totvs-field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosResponsavelInscricao.NPASSAPORTE"
                            name="{{ ::'l-msg-label-numero-passaporte-responsavel' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 2"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero', 'C')" canclean>
                        </totvs-field>
                        <totvs-field totvs-input label="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 label-mini-formulario-inscricao" ng-model="controller.objInscricao.dadosResponsavelInscricao.NROREGGERAL"
                            name="{{ ::'l-msg-label-registro-geral-responsavel' | i18n : [] : 'js/inscricoes' }}" maxlength="15" ng-if="controller.tipoDocumentoBuscaCandidato == 3"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral', 'C')" canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.objParametros.GrupoPesquisa3">
                        <field type="email" label="{{ ::'l-email-responsavel' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.EMAIL" ng-pattern="controller.validadorEmail"
                            maxlength="60" canclean>
                            <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="UsaGrupoAreaInteressePS">
                        <field label="{{TextoGrupoAreaInteressePS}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" type="combo"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ"
                            ng-options="gruposareainteresse as gruposareainteresse.GRUPO for gruposareainteresse in controller.objInscricao.listas.listaGruposAreaInteresse"
                            ng-change="controller.carregaAreasOfertadas(CodColigada, IdPS, controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <field label="{{ ::'l-area-ofertada-1-opcao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao"
                            type="combo" ng-model="controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="areaofertada as areaofertada.NOME for areaofertada in controller.objInscricao.listas.listaAreaOfertada"
                            ng-change="controller.getInformacoesInscricao(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ)"
                            ng-disabled="UsaGrupoAreaInteressePS && (!controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            canclean>
                        </field>
                    </div>
                </div>
                <!-- FIM DADOS RESPONSÁVEL -->
                <div class="row form-group" style="padding-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button id="botao-continuar" type="button" class="btn btn-info btn-md" ng-click="controller.continuarInscricao()">{{ ::'l-continuar' | i18n : [] : 'js/inscricoes' }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIM MINI FORMULARIO DE INSCRICAO -->

<!-- FORMULARIO COMPLETO DE INSCRICAO -->
<div id="formularioCompleto" ng-show="controller.MostraFormularioCompleto && PeriodoInscricao" style="height: 100%; margin-top: -20px;">
    <totvs-page type="list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid wizard-title non-printable">
                    <div class="container wizard">
                        <div class="steps">
                            <div class="step"
                                    ng-class="{ 'done' : etapa.realizado, 'active' : controller.retornarEtapaAtual().nome === etapa.nome, 'blocked' : controller.processoFinalizado }"
                                    ng-repeat="etapa in controller.etapas"
                                    ng-click="controller.redirecionar(etapa.nome)">
                                <div class="circle">
                                    <span ng-show="etapa.realizado" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <span ng-show="!etapa.realizado">{{etapa.ordem}}</span>
                                </div>
                                <p>{{etapa.descricao}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <totvs-page-content class="printable box-wizard">
            <ng-bind-html>         
            </ng-bind-html>
            <div class="edu-wizard-views non-printable" ui-view></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mobile-btn">
                <div ng-style="{'float': 'right'}">
                    <button class="btn btn-wzd nav-previous" role="tab" data-toggle="tab" aria-expanded="true"
                        ng-hide="controller.retornarEtapaAtual().nome === 'inscricoesWizard.dados-basicos'" 
                        ng-click="controller.retrocederEtapa()">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        <span class="hidden-sm hidden-xs" ng-style="{'padding-right': '5px'}">{{ ::'l-anterior' | i18n : [] : 'js/inscricoes' }}</span>
                    </button>
                    <button class="btn btn-wzd nav-next" role="tab" data-toggle="tab" aria-expanded="true"
                        ng-hide="controller.retornarEtapaAtual().nome === 'inscricoesWizard.dados-curso'" 
                        ng-click="controller.avancarEtapa()" >
                        <span class="hidden-sm hidden-xs" ng-style="{'padding-left': '5px'}">{{ ::'l-proximo' | i18n : [] : 'js/inscricoes' }}</span>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                    <button class="btn btn-wzd nav-next" role="tab" data-toggle="tab" aria-expanded="true"
                        ng-click="controller.avancarEtapa()" 
                        ng-hide="controller.retornarEtapaAtual().nome === 'inscricoesWizard.dados-basicos' || controller.retornarEtapaAtual().nome === 'inscricoesWizard.responsaveis'">
                        <span ng-style="{'padding-left': '5px'}">{{ ::'l-finalizar' | i18n : [] : 'js/inscricoes' }}</span>
                        <i class="glyphicon glyphicon glyphicon-ok"></i>
                    </button>
                </div>
            </div>
        </totvs-page-content>
    </totvs-page>
</div>
<!-- FIM FORMULARIO COMPLETO DE INSCRICAO -->

<!-- BARRA DE SERVIÇOS -->
<div  id="barraServico" class="container-fluid" ng-if="!controller.MostraFormularioCompleto && PeriodoInscricao && ExibeBarraServico">
        <div class="row barraservico">
            {{ ::'l-acesso-rapido-voce-candidato' | i18n : [] : 'js/inscricoes' }}
        </div>
        <div class="row barraservico">&nbsp;</div>
        <div class="row barraservico">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoInformacoesPessoais">
                <img class="icones-arquivos" src="assets/img/icon-submit-b-md.png" alt="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('dadospessoais.start')">
                    {{ ::'l-editar-inscricao' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoSenha">
                <img class="icones-arquivos" src="assets/img/icon-password-b-md.png" alt="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('alterar.senha')">
                    {{ ::'l-alterar-senha' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoBoletoPagtoInscricao">
                <img class="icones-arquivos" src="assets/img/icon-pay-b-md.png" alt="{{ ::'l-servico-boleto-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-boleto-inscricao' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('financeiro.boleto')">
                    {{ ::'l-pagamento-boleto' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoCartaoPagtoInscricao">
                <img class="icones-arquivos" src="assets/img/icon-card-b-md.png" alt="{{ ::'l-servico-cartao-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-cartao-inscricao' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('financeiro.cartao')">
                    {{ ::'l-pagamento-cartao' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoSegundaViaComprovante">
                <img class="icones-arquivos" src="assets/img/icon-confirmacao-b-md.png" alt="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('inscricoes.comprovante')">
                    {{ ::'l-2a-via' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoConsultaSituacaoCandidato">
                <img class="icones-arquivos" src="assets/img/icon-status-b-md.png" alt="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}" title="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}">
                <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('')">
                    {{ ::'l-checar-status' | i18n : [] : 'js/inscricoes' }}
                </a>
            </div>
        </div>
        <div class="row barraservico">&nbsp;</div>
</div>
<!-- FIM BARRA DE SERVIÇOS -->

<!-- MODAL RECIBO INSCRICAO -->
<div class="modal fade" id="modalRecibo" tabindex="-1" role="dialog" aria-labelledby="modalReciboInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalReciboInfoLabel">
                    {{'l-recibo-inscricao' | i18n : [] : 'js/inscricoes' }}
                    <span ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS === 2">{{'l-como-excedente' | i18n : [] : 'js/inscricoes' }}</span>
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <p class="text-center">
                                    <img src="assets/img/recibo_ok.png">
                                    <br/>
                                    Sua inscrição <strong>{{controller.model.SPSINSCRICAOAREAOFERTADA[0].NUMEROINSCRICAO}}</strong> foi cadastrada com sucesso!
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align:center;" ng-if="controller.model._DOCEXIGIDO_ && !controller.showPayment">
                                <div class="alert alert-warning" role="alert" style="margin: 0px; text-align:center">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                {{ ::'l-warning-matricula-pendente' | i18n : [] : 'js/inscricoes' }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.showMsgMatric">
                                    <p class="text-center">
                                        <br/>
                                        {{controeller.msgMatriculaSuccess}} <br/><strong>Registro Acadêmico: {{controller.RA}}</strong>
                                    </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.model.SPSUSUARIO[0].EMAIL && controller.objParametros.enviarEmailConfirmacaoInscricao === 'S'">
                                <p class="text-center">
                                        Mais detalhes foram enviados para o e-mail: <strong>{{controller.model.SPSUSUARIO[0].EMAIL}}</strong>
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="!controller.isOfertaOnline && controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2  && controller.model.STATUSPAGAMENTO[0].VALOR != 0">
                                <p class="text-center" >
                                    Utilize as opções abaixo para realizar o pagamento da inscrição.
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="controller.model._TBMATRIC_ && controller.model._TBMATRIC_[0].IDLAN !== null && controller.model._TBMATRIC_[0].IDLAN > 0">
                                <h6>
                                    <div class="alert alert-warning" role="alert" style="margin: 0px; text-align:center;">
                                    <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                                    {{ ::'l-matric-pending' | i18n : [] : 'js/inscricoes' }}
                                    </div>
                                </h6>
                                <p class="text-center">
                                    Utilize as opções abaixo para realizar o pagamento da matrícula.
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS === 2">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="alert alert-warning" role="alert">
                                    {{ ::'l-msg-confirmacao-vaga-excedente-inscreveu' | i18n : [] : 'js/inscricoes' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2
                && (controller.model.STATUSPAGAMENTO[0].BOLETOREGISTRADO === 'T' || (controller.model.STATUSPAGAMENTO[0].BOLETOREGISTRADO === 'F' && controller.model.STATUSPAGAMENTO[0].SHOWBOLETONAOREGPORTAL === 'T'))
                && controller.model.STATUSPAGAMENTO[0].VALOR != 0"
                ng-click="controller.tratarAction('financeiro.boleto', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-boleto' | i18n : [] : 'js/inscricoes' }}</a>

                <a class="btn btn-primary" ng-if="controller.model.SPSINSCRICAOAREAOFERTADA[0].VALORINSCRICAO && controller.model.PagamentoCartao && controller.model.SPSINSCRICAOAREAOFERTADA[0].STATUS !== 2
                && controller.model.STATUSPAGAMENTO[0].VALOR != 0"
                ng-click="controller.tratarAction('financeiro.cartao', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-cartao' | i18n : [] : 'js/inscricoes' }}</a>

                <!-- PAGAMENTO OFERTA ONLINE -->
                <a class="btn btn-primary" ng-if="controller.showPayment"
                ng-click="controller.tratarAction('financeiro.eduboleto', controller.model.SPSUSUARIO[0].TOKEN);"><span class="glyphicon glyphicon-barcode"></span>
                {{::'l-btn-boleto' | i18n : [] : 'js/inscricoes' }}</a>

                <a class="btn btn-primary" ng-if="controller.showPagCartao"
                ng-click="controller.tratarAction('financeiro.educartao', controller.model.SPSUSUARIO[0].TOKEN);"><span class="glyphicon glyphicon-credit-card"></span>
                {{::'l-btn-cartao' | i18n : [] : 'js/inscricoes' }}</a>
                <!-- FIM PAGAMENTO OFERTA ONLINE -->

                <a class="btn btn-primary" ng-click="controller.tratarAction('inscricoes.comprovante', controller.model.SPSUSUARIO[0].TOKEN);">
                {{::'l-btn-comprovante' | i18n : [] : 'js/inscricoes' }}</a>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL RECIBO INSCRICAO -->

<!-- MODAL CONFIRMACAO INSCRICAO -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacaoInfoLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConfirmacaoInfoLabel">
                    {{'l-titulo-confirmacao-inscricao' | i18n : [] : 'js/inscricoes' }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    <span>
                        <p>{{ :: 'l-mensagem-confirmacao-1' | i18n : [] : 'js/inscricoes' }}</p>
                        <p>{{ :: 'l-mensagem-confirmacao-2' | i18n : [] : 'js/inscricoes' }}</p>
                    </span>
                </div>

                <div ng-include="'js/templates/inscricoes-es-confirmacao-list.view.html'"></div>

                <!-- Termo de Aceite -->
                <div class="panel panel-default campos-grupo">
                    <div class="panel-heading"><h4 class="panel-title">{{ ::'l-termo-aceite' | i18n : [] : 'js/inscricoes' }}</h4></div>
                    <div class="container-fluid">
                        <div id="textoConfirmacaoINscricaoPS" ng-bind-html="controller.TERMOACEITEPS" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
                        </div>
                    </div>
                </div>
                <!-- Fim Termo de Aceite -->
            </div>
            <div class="modal-footer">
                <span id="botao-retornar"><a class="btn btn-primary" data-dismiss="modal">{{ ::'l-voltar' | i18n : [] : 'js/inscricoes' }}</a></span>
                <span id="botao-li-aceito"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.salvar()">{{ ::'l-li-aceito' | i18n : [] : 'js/inscricoes' }}</a></span>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL CONFIRMACAO INSCRICAO -->

<!-- MODAL USUÁRIO EXISTENTE -->
<div class="modal fade" id="modalUsuarioExistente" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioExistenteInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalUsuarioExistenteInfoLabel">
                    {{'l-Confirmacao' | i18n : [] : 'js/inscricoes' }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    <span>
                        <p>{{ :: 'l-msg-confirmacao-utilizar-informacoes-candidato' | i18n : [] : 'js/inscricoes' }}</p>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <span id="botao-fechar"><a class="btn btn-primary" data-dismiss="modal" ng-click="controller.chamarLogin()">{{ ::'l-fechar' | i18n : [] : 'js/inscricoes' }}</a></span>
            </div>
        </div>
    </div>
</div>
<!-- FIM MODAL USUÁRIO EXISTENTE -->
