<div ng-if="controller.exibirLayout">
    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10" style="border: 1px solid; border-radius: 20px; padding-top: 5px;" data-ng-bind-html="controller.comprovante">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
</div>
<div ng-if="controller.exibirObjChrome">
    <object ng-bind="controller.pdfcontent" data="{{controller.pdfcontent}}" type="application/pdf" 
            width="100%" height="900px" style="position: absolute; top: 0;">
    </object>
</div>