<!-- MENU Ensino Superior-->
<div ng-init="botaoAtivo = 'centralcandidato'" ng-if="controller.getNivelEnsino() == 'es'">
    <div ng-include="'js/templates/menu-es.view.html'"></div>
</div>

<!-- MENU Ensino Superior-->
<div ng-init="botaoAtivo = 'centralcandidato'" ng-if="controller.getNivelEnsino() == 'eb'">
    <div ng-include="'js/templates/menu-eb.view.html'"></div>
</div>

<!-- FIM MENU -->
<br/>
<!-- LOGIN -->
<div class="container-fluid" id="formLogin">
    <!--div id="textoLogin" ng-bind-html="controller.objParametros.TextoLogin" ng-if="!controller.recuperarSenha" class="col-lg-5 col-md-5 col-sm-5 col-xs-12"></div-->
    <div id="textoRecuperarSenha" ng-bind-html="controller.objParametros.TextoRecuperarSenha" ng-if="controller.recuperarSenha" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 textoEsqueciSenha">
    </div>
    <!--div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        &nbsp;
    </div-->
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <!-- LOGIN -->
        <form id="frmLogin" name="frmLogin">
            <div id="dadosLogin" class="jumbotron" ng-if="!controller.recuperarSenha">
                <div class="row form-group">
                    <field label="{{ ::'l-tipo-identificacao' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" type="combo" ng-model="controller.model.TIPOIDENTIFICACAO" ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in listaTipoIdentificacaoLogin">
                    </field>
                </div>
                <div class="row form-group">         
                   <label class="field-label label-identificacao" for="controller_model_login" tooltip="{{controller.labelIdentificacao}}" tooltip-placement="top" style="color: #FFF">{{controller.labelIdentificacao}}</label>
                   <totvs-field totvs-input label="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" ng-model="controller.model.LOGIN" maxlength="60">
                   </totvs-field>
                </div>
                <div class="row form-group">
                    <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.model.SENHA"
                        ng-if="!objParametros.UsaSenhaLogin" culture="pt" name="{{ ::'l-data-nascimento' | i18n : [] : 'js/login' }}">
                    </totvs-field>
                    <totvs-field totvs-input label="{{ ::'l-senha' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" ng-model="controller.model.SENHA" ng-show="controller.model.MOSTRASENHA">
                    </totvs-field>
                    <field label="{{ ::'l-senha' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" ng-model="controller.model.SENHA" ng-if="objParametros.UsaSenhaLogin" type="password" ng-hide="controller.model.MOSTRASENHA"></field>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chk-mostar-tudo" ng-if="objParametros.UsaSenhaLogin">
                        <input type="checkbox" ng-model="controller.model.MOSTRASENHA" class="label-mini-formulario-inscricao" ng-checked="false">&nbsp;{{ ::'l-mostrar-senha' | i18n : [] : 'js/login' }}
                    </div>
                </div>
                <div class="row form-group" ng-if="objParametros.UsaSenhaLogin">
                    <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 link-login " ng-click="controller.redirectRecuperarSenha()" id="login-recuperar-senha">
                            {{ ::'l-esqueci-senha' | i18n : [] : 'js/login' }}
                        </a>
                </div>
                <div class="row form-group" style="padding-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button ng-click="controller.login(controller.model.LOGIN, controller.model.SENHA, controller.model.TIPOIDENTIFICACAO, objParametros.UsaSenhaLogin)" id="login-entrar" class="btn btn-info btn-md botao-login">{{::"l-entrar" | i18n : [] : "js/login" }}</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- RECUPERAR SENHA -->
        <form id="frmRecuperarSenha" name="frmRecuperarSenha">
            <div id="recuperarSenha" class="jumbotron" ng-if="controller.recuperarSenha">
                <div class="row form-group">
                    <field label="{{ ::'l-tipo-identificacao' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" type="combo" ng-model="controller.model.TIPOIDENTIFICACAO" ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in listaTipoIdentificacaoLogin">
                    </field>
                </div>
                <div class="row form-group">
                    <totvs-field totvs-input label="{{ ::'l-login' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" ng-model="controller.model.LOGIN" maxlength="60">
                    </totvs-field>
                </div>
                <div class="row form-group">
                    <totvs-field totvs-datepicker label="{{ ::'l-data-nascimento' | i18n : [] : 'js/login' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label-mini-formulario-inscricao" depth="month" format="dd/MM/yyyy" t-mask-date="" ng-model="controller.model.DATANASCIMENTO"
                        culture="pt" name="{{ ::'l-data-nascimento-esqueci-senha' | i18n : [] : 'js/login' }}">
                    </totvs-field>
                </div>
                <div class="row form-group" ng-if="objParametros.UsaSenhaLogin">
                    <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 link-login " ng-click="controller.redirectLogin()">
                                    {{ ::'l-voltar-login' | i18n : [] : 'js/login' }}
                                </a>
                </div>
                <div class="row form-group" style="padding-top: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button ng-click="controller.recuperarSenhaClick(controller.model.LOGIN, controller.model.TIPOIDENTIFICACAO, controller.model.DATANASCIMENTO)" id="receber-senha" class="btn btn-info btn-md botao-login" type="submit">{{::"l-enviar-senha" | i18n : [] : "js/login" }}</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
