<div id="dadosLogin" class="container-fluid container-grupo" style="width: 100%; height: 100%; background-color: #0C9ABE">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#0C9ABE; text-align: center">
                <img src="assets/img/logo-unis.png" alt="logo">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <h3 style="color: white">Aguarde validação.</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <br/>
                <img src="assets/img/loading.gif" alt="loading" style="width:50px; height: 50px">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>        

