<ul class="nav nav-pills nav-justified">
    <li class="item-menu divider-left">
        <a ui-sref="informacoes.start({'nivelEnsino': 'es'})" class="botao-menu" ng-class="{'botao-menu-ativo': botaoAtivo === 'informacoes'}">
            <span>{{ ::'l-Menu-Informacoes' | i18n }}</span>
        </a>
    </li>
    <li class="item-menu divider-left" ng-show="PeriodoInscricao">
        <a ui-sref="inscricoesWizard.dados-basicos({'nivelEnsino': 'es'})" class="botao-menu" ng-class="{'botao-menu-ativo': botaoAtivo === 'inscricoes'}">
            <span>{{ ::'l-Menu-Inscricoes' | i18n }}</span>
        </a>
    </li>
    <li class="item-menu divider-left" ng-show="PeriodoResultado">
        <a ui-sref="resultados.start({'nivelEnsino': 'es'})" class="botao-menu" ng-class="{'botao-menu-ativo': botaoAtivo === 'resultados'}">
            <span>{{ ::'l-Menu-Resultados' | i18n }}</span>
        </a>
    </li>
    <li class="item-menu divider-left">
        <a ui-sref="centralcandidato.start({'nivelEnsino': 'es'})" class="botao-menu" ng-class="{'botao-menu-ativo': botaoAtivo === 'centralcandidato'}">
            <span>{{ ::'l-Menu-CentralCandidato' | i18n }}</span>
        </a>
    </li>
</ul>