<!-- MENU -->
<div ng-init="botaoAtivo = 'resultados'">
    <div ng-include="'js/templates/menu-es.view.html'"></div>
</div>
<!-- FIM MENU -->
<br/>
<div class="container-fluid">
    <div id="textoAreaResultadosPS" ng-bind-html="objParametros.TextoAreaResultados" class="col-md-8 col-xs-12">
    </div>
    <div id="arquivos" class="col-md-4 col-xs-12">
        <div class="jumbotron" ng-repeat="grupo in controller.listaArquivosProcessoSeletivo">
            <div id="titulo-arquivos">
                {{grupo.NomeGrupoArquivo}}
            </div>
            <div id="informacoes-secundarias" ng-style="{'text-align':'center'}">
               {{'l-Download-Arquivos' | i18n : [] : 'js/informacoes' }}
            </div>
            <div class="row">
                <div id="lista-arquivos" class="col-md-12 col-xs-12" ng-repeat="arquivo in grupo.ListaArquivos">
                    <img class="icones-arquivos" src="assets/img/icon-file-b-md.png" alt="Arquivo">
                    <button type="button" class="btn btn-default" aria-label="Baixar arquivo" ng-click="controller.baixarArquivo(arquivo.IdArquivo, objParametros.TipoArquivo, objParametros.DiretorioArquivo + arquivo.NomeArquivo, arquivo.NomeArquivo)">
                        {{arquivo.NomeArquivo}}
                    </button>
                    <br><span>{{arquivo.RecCreatedOn | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BARRA DE SERVIÇOS -->
<div  id="barraServico" class="container-fluid" ng-if="ExibeBarraServico">
    <div class="row barraservico">
        {{ ::'l-acesso-rapido-voce-candidato' | i18n : [] : 'js/resultados' }}
    </div>
    <div class="row barraservico">&nbsp;</div>
    <div class="row barraservico">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoInformacoesPessoais">
            <img class="icones-arquivos" src="assets/img/icon-submit-b-md.png" alt="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}"
            title="{{ ::'l-servico-altera-dados' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('dadospessoais.start')">
                {{ ::'l-editar-inscricao' | i18n : [] : 'js/resultados' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoAlteracaoSenha">
            <img class="icones-arquivos" src="assets/img/icon-password-b-md.png" alt="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}"
            title="{{ ::'l-servico-altera-senha' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('alterar.senha')">
                {{ ::'l-alterar-senha' | i18n : [] : 'js/resultados' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoSegundaViaComprovante">
            <img class="icones-arquivos" src="assets/img/icon-confirmacao-b-md.png" alt="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}"
            title="{{ ::'l-servico-comprovante-inscricao' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('inscricoes.comprovante')">
                {{ ::'l-2a-via' | i18n : [] : 'js/resultados' }}
            </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="ExibeServicoConsultaSituacaoCandidato">
            <img class="icones-arquivos" src="assets/img/icon-status-b-md.png" alt="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}"
            title="{{ ::'l-servico-status' | i18n : [] : 'js/inscricoes' }}">
            <a class="btn btn-default btn-xs" role="button" ng-click="controller.efetuarLogin('')">
                {{ ::'l-checar-status' | i18n : [] : 'js/resultados' }}
            </a>
        </div>
    </div>
    <div class="row barraservico">&nbsp;</div>
</div>
<!-- FIM BARRA DE SERVIÇOS -->
