
<totvs-page-header class="pageHeader">
        <div class="row form-group label-subtitulo">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="cmbSelecaoTurmaDisciplina"
                    class="col-xs-12 col-sm-12 col-md-2 col-lg-1">{{ ::'l-disciplinas' | i18n : [] : 'js/aluno' }}:</label>
                <edu-selecao-turmadisciplina ng-model="controller.disciplina"
                    ng-change="controller.buscafaltas"
                    data-refresh="controller.refresh" 
                    label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
                </edu-selecao-turmadisciplina>
            </div>
        </div>

        <totvs-page-tags ng-hide="controller.faltas.length == 0 || controller.escondeColSituacao">
            <tag class="dentro-limite">{{::'l-dentroLimite' | i18n : [] : 'js/aluno/faltas'}}</tag>
            <tag class="acima-limite">{{::'l-acimaLimite' | i18n : [] : 'js/aluno/faltas'}}</tag>
            <tag class="proximo-limite">{{::'l-proximoLimite' | i18n : [] : 'js/aluno/faltas'}}</tag>
        </totvs-page-tags>

    </totvs-page-header>

    <totvs-page-content>
        <div id="faltasGrid" ng-hide="controller.faltas.length == 0">
        </div>
        <br>
        <totvs-page-alert ng-show="controller.faltas.length == 0" type="info" message="">
            <span class="glyphicon glyphicon-info-sign" ></span> {{ ::'l-msg-nenhum-registro' | i18n : [] : 'js/aluno/faltas' }}
        </totvs-page-alert>
    </totvs-page-content>

