<totvs-page type="list">
    <div class="row">
        <edu-widgets-container
                               container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/faltas'}}"
                               id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>
    <totvs-page-header class="pageHeader">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/faltas' }}: ">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
                <button class="btn btn-default" ng-style="{'position': 'absolute'}" ng-show="controller.permiteImprimir" ng-click="controller.imprimir()">
                    <span class="glyphicon glyphicon-print"></span>
                    {{ ::'btn-imprimir' | i18n : [] : '' }}
                </button>
            </div>
        </div>
    </totvs-page-header>

    <totvs-page-content class="faltasDesempenho">
        <totvs-page-detail>

            <totvs-tabset>

                <totvs-tab active="controller.activeTabFaltasPorEtapa" heading="{{ ::'l-faltas-etapa' | i18n : [] : 'js/aluno/faltas' }}" ng-if="controller.exibeTab('faltas-etapas')">
                    <div ui-view="etapas" class="alignLegend"></div>
                </totvs-tab>

                <totvs-tab active="controller.activeTabFaltasPorAula" heading="{{ ::'l-faltas-aula' | i18n : [] : 'js/aluno/faltas' }}" ng-if="controller.exibeTab('faltas-aulas')">
                    <div ui-view="aula" class="alignLegend"></div>
                </totvs-tab>

            </totvs-tabset>

        </totvs-page-detail>
    </totvs-page-content>
</totvs-page>
