<totvs-page type="list">

    <totvs-page-header class="pageHeader">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-documentos' | i18n : [] : 'js/aluno/dados-pessoais' }}: ">
                </totvs-page-header-title>
                <edu-selecao-periodoletivo ng-if="!controller.origemMatricula" ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado">
                </edu-selecao-periodoletivo>
            </div>
        </div>
        <totvs-page-tags>
            <tag class="doc-entregue">{{::'l-entregue' | i18n : [] : 'js/aluno/dados-pessoais'}}</tag>
            <tag class="doc-pendente">{{::'l-pendente' | i18n : [] : 'js/aluno/dados-pessoais'}}</tag>
        </totvs-page-tags>
    </totvs-page-header>

    <totvs-page-content ng-hide="(controller.objDocumentosList.length == 0)">
        <totvs-grid grid-data="controller.objDocumentosList"
                    grid-options="controller.gridOptions"
                    auto-resize-column=true>
            <totvs-grid-column class="gridRow textAlignCenter" field="ENTREGUE" width="80px" template="controller.formatarColunaSituacao">
                {{::'l-situacao' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column field="DESCRICAO" class="gridRow textAlignLeft" width="300px">
                {{::'l-descricao' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column field="QUANTIDADEENTREGUE" class="gridRow textAlignLeft" width="155px">
                {{::'l-quantidade-entregue' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column field="QUANTIDADEEXIGIDA" class="gridRow textAlignLeft" width="150px">
                {{::'l-quantidade-prevista' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column field="DATAENTREGA" template="controller.formatarColunaDtEntrega" width="120px" class="gridRow textAlignLeft">
                {{::'l-data-entrega' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <totvs-grid-column field="DATAPREVISTA" template="controller.formatarColunaDtPrevista" width="120px" class="gridRow textAlignLeft">
                {{::'l-data-prazo' | i18n : [] : 'js/aluno/dados-pessoais' }}
            </totvs-grid-column>
            <!-- &#13 = Enter: necessário para não gerar erro no processo de minificação-->
            &#13;
             <totvs-grid-detail>

                <totvs-page-detail-info class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <totvs-list-item-info title="{{ ::'l-observacao' | i18n : [] : 'js/aluno/dados-pessoais' }}" value="{{dataItem.OBSERVACAO}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&#13;
                    </totvs-list-item-info>
                </totvs-page-detail-info>

            </totvs-grid-detail>
            <!-- &#13 = Enter: necessário para não gerar erro no processo de minificação-->
            &#13;
        </totvs-grid>
    </totvs-page-content>
    <totvs-page-alert ng-if="(controller.objDocumentosList.length == 0)" type="info" message="" class="alert-modal-nenhum-registro">
        <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-Nenhum-Registro-Encontrado' | i18n : [] : 'js/aluno/dados-pessoais'}}
    </totvs-page-alert>

</totvs-page>
