<totvs-page type="list">
    <totvs-page-header class="pageHeader">
            <edu-selecao-grupo-atendimento
                ng-model="controller.grupoAtendimento"
                ng-change="controller.grupoAtendimentoAlterado"
                label="{{::'l-requerimentos-disponiveis' | i18n : [] : 'js/aluno/requerimentos' }}:"
                label-item-default="{{::'l-todos-grupos-atendimentos' | i18n : [] : 'js/aluno/requerimentos' }}">
            </edu-selecao-grupo-atendimento>
    </totvs-page-header>
    <totvs-page-content>
        <div class="pageContent pageListagemAulas">
        <br>
        <totvs-grid grid-data="controller.model" selectable="false" ng-hide="(controller.model.length == 0)">
            <totvs-grid-column class="gridRow" width="250" template="controller.getTemplateTipoRequerimento">
                {{::'l-tipo' | i18n : [] : 'js/aluno/requerimentos' }}
            </totvs-grid-column>
            <totvs-grid-column class="gridRow" field="NOMEGRUPO">
                {{::'l-grupo-atendimento' | i18n : [] : 'js/aluno/requerimentos' }}
            </totvs-grid-column>
            <totvs-grid-column class="gridRow text-center" field="VALOR" filter="currency">
                {{::'l-valor' | i18n : [] : 'js/aluno/requerimentos' }}
            </totvs-grid-column>
            <totvs-grid-column class="gridRow text-center" template="controller.getTemplateDetalheRequerimento">&nbsp
            </totvs-grid-column>
        </totvs-grid>
        <br>
        <totvs-page-alert ng-if="(controller.model.length == 0)" type="info">
            <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-nenhum-requerimentos-disponivel' | i18n : [] : 'js/aluno/requerimentos'
            }}
        </totvs-page-alert>
        </div>
    </totvs-page-content>
</totvs-page>

<!-- Modal -->
<div class="modal fade" id="mReqInfo" tabindex="-1" role="dialog" aria-labelledby="mReqInfoLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mReqInfoLabel">
                    {{controller.requerimento.NOMETIPO}}
                </h4>
            </div>
            <div class="modal-body">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <totvs-list-item-info
                                    title="{{::'l-descricao-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                      <span ng-bind-html="controller.requerimento.DESCRICAO"></span>
                                </totvs-list-item-info>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <totvs-list-item-info
                                    title="{{::'l-procedimentos-requerimento' | i18n : [] : 'js/aluno/requerimentos' }}"
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                      <span ng-bind-html="controller.requerimento.PROCEDIMENTOS"></span>
                                </totvs-list-item-info>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="controller.closeModalAndRedirect(controller.requerimento.CODGRUPOATENDIMENTO, controller.requerimento.CODTIPOATENDIMENTO)"
                        data-dismiss="modal"
                        data-backdrop="false">
                    {{::'l-btn-solicitar' | i18n : [] : 'js/aluno/requerimentos' }}</button>
            </div>
        </div>
    </div>
</div>