<!-- ATIVIDADES AGENDADAS -->
<span ng-if="!controller.blnUtilizaVagaExcedente && controller.objInscricao.listas.listaAtividadesAgendadas.length > 0">
    <div class="container-fluid cabecalho-grupo grupo-title">
        <div class="row-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#atividadesAgendadas">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <h4>
                        <span>
                            <i class="glyphicon glyphicon-alert" ng-show="controller.frmAtividadesAgendadas.$invalid" ng-class="{'cabecalho-invalido': controller.frmAtividadesAgendadas.$invalid}">&nbsp;&nbsp;</i>
                            <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmAtividadesAgendadas.$valid" ng-class="{'cabecalho-valido': controller.frmAtividadesAgendadas.$valid}">&nbsp;&nbsp;</i>
                            <span class="titulo-cabecalho-grupo" id="spanAtividadesAgendadas">{{ ::'l-atividades-agendadas-capslock' | i18n : [] : 'js/inscricoes' }}</span>
                        </span>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div id="atividadesAgendadas" class="collapse container-fluid container-grupo">
        <div class="row-fluid">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="panel panel-default campos-grupo">
                    <div class="panel-heading">{{ ::'l-informe-atividades' | i18n : [] : 'js/inscricoes' }}</div>
                    <div class="container-fluid">
                        <div class="row form-group">
                            <div ng-repeat="atividade in controller.objInscricao.listas.listaAtividadesAgendadas">
                                <field label="{{ atividade.NomeAtividade }}"
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    type="combo"
                                    ng-options="horario as horario.DataCompleta for horario in atividade.Horarios"
                                    ng-model="atividade.HorarioSelecionado"
                                    ng-required="true"
                                    canclean>
                                </field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>
<!-- FIM ATIVIDADES AGENDADAS -->
