<!-- DADOS DO RESPONSAVEL -->
<div class="container-fluid cabecalho-grupo grupo-title" ng-if="!controller.objInscricao.souCandidato">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#dadosResponsavelInscricao">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmDadosResponsavelInscricao.$invalid" ng-class="{'cabecalho-invalido': controller.frmDadosResponsavelInscricao.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmDadosResponsavelInscricao.$valid" ng-class="{'cabecalho-valido': controller.frmDadosResponsavelInscricao.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanDadosResponsavelInscricao">{{ ::'l-dados-resp-inscricao' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="dadosResponsavelInscricao" class="container-fluid container-grupo" ng-if="!controller.objInscricao.souCandidato">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <!-- Dados básicos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosBasicos', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-dados-basicos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('Nome', 'R') || controller.campoVisivel('DataNascimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NOME"
                            ng-if="controller.campoVisivel('Nome', 'R')"
                            ng-required="controller.campoObrigatorio('Nome','RI')"
                            name="{{ ::'l-msg-label-nome-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="120"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy" t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTNASCIMENTO"
                            ng-if="controller.campoVisivel('DataNascimento', 'R')"
                            ng-required="controller.campoObrigatorio('DataNascimento','RI')"
                            culture="pt"
                            canclean
                            name="{{ ::'l-msg-label-data-nascimento-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('EstadoNatal', 'R') || controller.campoVisivel('Naturalidade', 'R')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-naturalidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('EstadoNatal', 'R')"
                        campo-estado-visible="controller.campoVisivel('EstadoNatal', 'R')"
                        campo-cidade-visible="controller.campoVisivel('Naturalidade', 'R')"
                        campo-pais-required="controller.campoObrigatorio('EstadoNatal','RI')"
                        campo-estado-required="controller.campoObrigatorio('EstadoNatal','RI')"
                        campo-cidade-required="controller.campoObrigatorio('Naturalidade','RI')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISES"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.PAISNATALDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.ESTADOS"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.ESTADONATALDESC"
                        ng-model-cidade="controller.objInscricao.dadosResponsavelInscricao.MUNICIPIOS"
                        ng-model-cidade-desc="controller.objInscricao.dadosResponsavelInscricao.CODNATURALIDADEDESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosResponsavelInscricao.NATURALIDADE"
                        pais-change="controller.setCamposCPFPassRGObrigatorioAlteracaoPais('RI')">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('NomeSocial', 'R') || controller.campoVisivel('Apelido', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome-social' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NOMESOCIAL"
                            ng-if="controller.campoVisivel('NomeSocial', 'R')"
                            ng-required="controller.campoObrigatorio('NomeSocial','RI')"
                            canclean
                            maxlength="120"
                            name="{{ ::'l-msg-label-nome-social-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-apelido' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.APELIDO"
                            ng-if="controller.campoVisivel('Apelido', 'R')"
                            ng-required="controller.campoObrigatorio('Apelido','RI')"
                            canclean
                            maxlength="40"
                            name="{{ ::'l-msg-label-apelido-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstadoCivil', 'R') || controller.campoVisivel('Nacionalidade', 'R') || controller.campoVisivel('Email', 'R')">
                        <field
                            label="{{ ::'l-estado-civil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            type="combo"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.ESTADOCIVILOBJ"
                            ng-options="estadocivil as estadocivil.DESCRICAO for estadocivil in controller.objInscricao.listas.listaEstadoCivil"
                            ng-if="controller.campoVisivel('EstadoCivil', 'R')"
                            ng-required="controller.campoObrigatorio('EstadoCivil','RI')"
                            canclean name="{{ ::'l-msg-label-estado-civil-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            label="{{ ::'l-nacionalidade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NACIONALIDADEOBJ"
                            ng-options="nacionalidade as nacionalidade.DESCRICAO for nacionalidade in controller.objInscricao.listas.listaNacionalidade | orderBy:'DESCRICAO'"
                            ng-if="controller.campoVisivel('Nacionalidade', 'R')"
                            ng-required="controller.campoObrigatorio('Nacionalidade','RI')"
                            type="combo"
                            canclean
                            name="{{ ::'l-msg-label-nacionalidade-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="email"
                            label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-pattern="controller.validadorEmail"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.EMAIL"
                            ng-if="controller.campoVisivel('Email', 'R')"
                            ng-required="controller.campoObrigatorio('Email','RI')"
                            maxlength="60"
                            canclean name="{{ ::'l-msg-label-email-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                            <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Sexo', 'R') || controller.campoVisivel('Canhoto', 'R') || controller.campoVisivel('Fumante', 'R')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 field" ng-if="controller.campoVisivel('Sexo', 'R')" ng-required="controller.campoObrigatorio('Sexo','RI')">
                            <label class=" field field-label totvs-field">{{ ::'l-sexo' | i18n : [] : 'js/inscricoes' }}</label>
                            <div ng-repeat="sexo in controller.listaSexo">
                                <input
                                    type="radio"
                                    ng-required="controller.campoObrigatorio('Sexo','RI') && !controller.objInscricao.dadosResponsavelInscricao.SEXO && $index == 0"
                                    name="{{ ::'l-msg-label-sexo-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                                    value="{{sexo.value}}"
                                    ng-model="controller.objInscricao.dadosResponsavelInscricao.SEXO">{{sexo.label}}
                                </input>
                            </div>
                        </div>
                        <field
                            type="checkbox"
                            label="{{ ::'l-canhoto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CANHOTO"
                            ng-if="controller.campoVisivel('Canhoto', 'R')"
                            name="{{ ::'l-msg-label-canhoto-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-fumante' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.FUMANTE"
                            ng-if="controller.campoVisivel('Fumante', 'R')"
                            name="{{ ::'l-msg-label-fumante-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim dados básicos -->

            <!-- Documentos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Documentos', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-documentos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <legend ng-if="controller.campoVisivel('CPF', 'R')">
                        <h5>{{ ::'l-documentos-cpf' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - CPF -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CPF', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CPF"
                            maxlength="14"
                            ui-mask="999.999.999-99" t-mask="999.999.999-99"
                            ng-if="controller.campoVisivel('CPF', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('CPF','RI')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF','RI')"
                            name="{{ ::'l-msg-label-numero-cpf-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - CPF -->
                    <legend ng-if="controller.campoVisivel('RGNumero', 'R') || controller.campoVisivel('RGDataEmissao', 'R') || controller.campoVisivel('RGOrgaoEmissor', 'R') || controller.campoVisivel('RGEstadoEmissor', 'R')">
                        <h5>{{ ::'l-documentos-rg' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - RG -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RGNumero', 'R') || controller.campoVisivel('RGDataEmissao', 'R') || controller.campoVisivel('RGOrgaoEmissor', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CARTIDENTIDADE"
                            ng-if="controller.campoVisivel('RGNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGNumero','RI')"
                            name="{{ ::'l-msg-label-numero-rg-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTEMISSAOIDENT"
                            ng-if="controller.campoVisivel('RGDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGDataEmissao','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-rg-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.ORGEMISSORIDENT"
                            ng-if="controller.campoVisivel('RGOrgaoEmissor', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGOrgaoEmissor','RI')"
                            name="{{ ::'l-msg-label-orgao-emissor-rg-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        campo-estado-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','RI')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','RI')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISESCARTIDENT"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.PAISCARTIDENTDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.ESTADOSCARTIDENT"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.UFCARTIDENTDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - RG -->
                    <legend ng-if="controller.campoVisivel('RegistroProfissional', 'R')">
                        <h5>{{ ::'l-documentos-registro-profissional' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Registro profissional -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RegistroProfissional', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="15" ng-model="controller.objInscricao.dadosResponsavelInscricao.REGPROFISSIONAL"
                            ng-if="controller.campoVisivel('RegistroProfissional', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RegistroProfissional','RI')"
                            name="{{ ::'l-msg-label-numero-registro-profossional-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Registro profissional -->
                    <legend ng-if="controller.campoVisivel('TituloEleitorNumero', 'R') || controller.campoVisivel('TituloEleitorZona', 'R') || controller.campoVisivel('TituloEleitorSecao', 'R') || controller.campoVisivel('TituloEleitorDataEmissao', 'R') || controller.campoVisivel('TituloEleitorUFEmissao', 'R')">
                        <h5>{{ ::'l-documentos-titulo-eleitor' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Título eleitor -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TituloEleitorNumero', 'R') || controller.campoVisivel('TituloEleitorZona', 'R') || controller.campoVisivel('TituloEleitorSecao', 'R') || controller.campoVisivel('TituloEleitorDataEmissao', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="14" ng-model="controller.objInscricao.dadosResponsavelInscricao.TITULOELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorNumero','RI')"
                            name="{{ ::'l-msg-label-numero-titulo-eleitor-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-zona' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.ZONATITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorZona', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorZona','RI')"
                            name="{{ ::'l-msg-label-zona-titulo-eleitor-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-secao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.SECAOTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorSecao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorSecao','RI')"
                            name="{{ ::'l-msg-label-secao-titulo-eleitor-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorDataEmissao','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-titulo-eleitor-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        campo-estado-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','RI')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','RI')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISTELEITOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.PAISTELEITDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.ESTELEITOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.ESTELEITDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - Título eleitor -->
                    <legend ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R') || controller.campoVisivel('CarteiraTrabalhoSerie', 'R') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R') || controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R') || controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')">
                        <h5>{{ ::'l-documentos-carteira-trabalho' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de trabalho -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R') || controller.campoVisivel('CarteiraTrabalhoSerie', 'R') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CARTEIRATRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoNumero','RI')"
                            name="{{ ::'l-msg-label-numero-carteira-trabalho-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-serie' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.SERIECARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoSerie', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoSerie','RI')"
                            name="{{ ::'l-msg-label-serie-carteira-trabalho-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTCARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoDataEmissao','RI')"
                            name="{{ ::'l-msg-label-data-emissao-carteira-trabalho-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        campo-estado-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','RI')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','RI')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISCARTTRABOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.PAISCARTTRABDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.UFCARTTRABOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.UFCARTTRABDESC">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')">
                        <field
                            type="checkbox"
                            label="{{ ::'l-tipo-nit' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NIT"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')"
                            name="{{ ::'l-msg-label-carteira-trabalho-tipo-nit-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <!-- Fim Documentos - Carteira de trabalho -->
                    <legend ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R') || controller.campoVisivel('CarteiraMotoristaTipo', 'R') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')">
                        <h5>{{ ::'l-documentos-carteira-motorista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de motorista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R') || controller.campoVisivel('CarteiraMotoristaTipo', 'R') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CARTMOTORISTA"
                            ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaNumero','RI')"
                            name="{{ ::'l-msg-label-carteira-motorista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TIPOCARTHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaTipo', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaTipo','RI')"
                            name="{{ ::'l-msg-label-tipo-carteira-motorista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTVENCHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaDataVencimento','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-carteira-motorista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Carteira de motorista -->
                    <legend ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'R') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')">
                        <h5>{{ ::'l-documentos-certificado-reservista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Certificado de reservista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="40"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CERTIFRESERV"
                            ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaNumero','RI')"
                            name="{{ ::'l-msg-label-numero-cert-reservista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-categoria-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CATEGMILITAR"
                            ng-if="controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCategoriaMilitar','RI')"
                            name="{{ ::'l-msg-label-cetegoria-militar-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-circunscricao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CSM"
                            ng-if="controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCircunscricaoMilitar','RI')"
                            name="{{ ::'l-msg-label-circunscricao-militar-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'R') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-regiao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.RM"
                            ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaRegiaoMilitar','RI')"
                            name="{{ ::'l-msg-label-regiao-militar-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTEXPCML"
                            ng-if="controller.campoVisivel('CertificadoReservistaDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaDataEmissao','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-cert-reservista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.EXPED"
                            ng-if="controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaOrgaoEmissao','RI')"
                            name="{{ ::'l-msg-label-orgao-emissor-cert-reservista-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <field
                            label="{{ ::'l-situacao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-if="controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaSituacaoMilitar','RI')"
                            type="combo"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.SITMILITAROBJ"
                            ng-options="situacao as situacao.DESCRICAO for situacao in controller.objInscricao.listas.listaSituacaoMilitar"
                            name="{{ ::'l-msg-label-situacao-militar-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                    <!-- Fim Documentos - Certificado de reservista -->
                </div>
            </div>
            <!-- Fim documentos -->

            <!-- Endereço -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Endereco', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-endereco' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('CEP', 'R')">
                        <!-- CEP -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-cep' | i18n : [] : 'js/inscricoes' }}"
                            ui-mask="{{controller.objParametros.MascaraCEP}}"
                            t-mask="{{controller.objParametros.MascaraCEP}}"
                            maxlength="10"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CEP"
                            ng-if="controller.campoVisivel('CEP', 'R')"
                            ng-required="controller.campoObrigatorio('CEP','RI')"
                            name="{{ ::'l-msg-label-cep-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            ng-blur="controller.buscarEnderecoPorCEP(controller.objInscricao.dadosResponsavelInscricao.CEP, controller.objInscricao.dadosResponsavelInscricao)"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim CEP -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoRua', 'R') || controller.campoVisivel('Rua', 'R') || controller.campoVisivel('Numero', 'R')">
                        <!-- Rua -->
                        <field
                            label="{{ ::'l-tipo-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TIPORUAOBJ"
                            ng-options="tiporua as tiporua.DESCRICAO for tiporua in controller.objInscricao.listas.listaTipoRua"
                            ng-if="controller.campoVisivel('TipoRua', 'R')"
                            ng-required="controller.campoObrigatorio('TipoRua','RI')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-rua-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input label="{{ ::'l-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-7 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.RUA"
                            ng-if="controller.campoVisivel('Rua', 'R')"
                            ng-required="controller.campoObrigatorio('Rua','RI')"
                            name="{{ ::'l-msg-label-rua-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="40"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-2 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NUMERO"
                            ng-if="controller.campoVisivel('Numero', 'R')"
                            ng-required="controller.campoObrigatorio('Numero','RI')"
                            name="{{ ::'l-msg-label-numero-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="8"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Rua -->
                    <div class="row form-group" ng-if="controller.campoVisivel('Complemento', 'R')">
                        <!-- Complemento -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-complemento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.COMPLEMENTO"
                            ng-if="controller.campoVisivel('Complemento', 'R')"
                            ng-required="controller.campoObrigatorio('Complemento','RI')"
                            name="{{ ::'l-msg-label-complemento-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="30"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Complemento -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoBairro', 'R') || controller.campoVisivel('Bairro', 'R')">
                        <!-- Bairro -->
                        <field
                            label="{{ ::'l-tipo-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3  col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TIPOBAIRROOBJ"
                            ng-options="tipobairro as tipobairro.DESCRICAO for tipobairro in controller.objInscricao.listas.listaTipoBairro"
                            ng-if="controller.campoVisivel('TipoBairro', 'R')"
                            ng-required="controller.campoObrigatorio('TipoBairro','RI')"
                            name="{{ ::'l-msg-label-tipo-bairro-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-9 col-md-9 col-sm-9 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.BAIRRO"
                            ng-if="controller.campoVisivel('Bairro', 'R')"
                            ng-required="controller.campoObrigatorio('Bairro','RI')"
                            name="{{ ::'l-msg-label-bairro-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="80"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Bairro -->
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('Pais', 'R') || controller.campoVisivel('Estado', 'R') || controller.campoVisivel('Cidade', 'R')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-cidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('Pais', 'R')"
                        campo-estado-visible="controller.campoVisivel('Estado', 'R')"
                        campo-cidade-visible="controller.campoVisivel('Cidade', 'R')"
                        campo-pais-required="controller.campoObrigatorio('Pais','RI')"
                        campo-estado-required="controller.campoObrigatorio('Estado','RI')"
                        campo-cidade-required="controller.campoObrigatorio('Cidade','RI')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelInscricao.PAISESENDERECO"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelInscricao.IDPAISDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelInscricao.ESTADOSENDERECO"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelInscricao.ESTADODESC"
                        ng-model-cidade="controller.objInscricao.dadosResponsavelInscricao.MUNICIPIOSENDERECO"
                        ng-model-cidade-desc="controller.objInscricao.dadosResponsavelInscricao.CODMUNICIPIODESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosResponsavelInscricao.CIDADE">
                    </edups-pais-uf-cidade>
                    <!-- Fim País/Estado/Município -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneResidencial', 'R') || controller.campoVisivel('TelefoneCelular', 'R')">
                        <!-- Telefones -->
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone1}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TELEFONE1"
                            ng-if="controller.campoVisivel('TelefoneResidencial', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneResidencial','RI')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone1, 'l-resp-insc')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone2}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TELEFONE2"
                            ng-if="controller.campoVisivel('TelefoneCelular', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneCelular','RI')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone2, 'l-resp-insc')}}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneComercial', 'R') || controller.campoVisivel('Fax', 'R')">
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone3}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TELEFONE3"
                            ng-if="controller.campoVisivel('TelefoneComercial', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneComercial','RI')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone3, 'l-resp-insc')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{ ::'l-fax' | i18n : [] : 'js/inscricoes' }}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.FAX"
                            ng-if="controller.campoVisivel('Fax', 'R')"
                            ng-required="controller.campoObrigatorio('Fax','RI')"
                            name="{{ ::'l-msg-label-fax-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Telefones -->
                </div>
            </div>
            <!-- Fim endereço -->

            <!-- Informações adicionais -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('InformacoesAdicionais', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-informacoes-adicionais' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('CorRaca', 'R') || controller.campoVisivel('GrauIstrucao', 'R')">
                        <field
                            label="{{ ::'l-cor-raca' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CORRACAOBJ"
                            ng-options="corraca as corraca.DESCRICAO for corraca in controller.objInscricao.listas.listaCorRaca"
                            ng-if="controller.campoVisivel('CorRaca', 'R')"
                            ng-required="controller.campoObrigatorio('CorRaca','RI')"
                            name="{{ ::'l-msg-label-cor-raca-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-grau-instrucao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.GRAUINSTRUCAOOBJ"
                            ng-options="grauinstrucao as grauinstrucao.DESCRICAO for grauinstrucao in controller.objInscricao.listas.listaGrauInstrucao"
                            ng-if="controller.campoVisivel('GrauIstrucao', 'R')"
                            ng-required="controller.campoObrigatorio('GrauIstrucao','RI')"
                            name="{{ ::'l-msg-label-cor-raca-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Profissao', 'R') || controller.campoVisivel('TipoSanguineo', 'R')">
                        <field
                            label="{{ ::'l-profissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.PROFISSAOOBJ"
                            ng-options="profissao as profissao.DESCRICAO for profissao in controller.objInscricao.listaProfissao"
                            ng-if="controller.campoVisivel('Profissao', 'R')"
                            ng-required="controller.campoObrigatorio('Profissao','RI')"
                            name="{{ ::'l-msg-label-pofissao-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-tipo-sanguineo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TIPOSANGOBJ"
                            ng-options="tiposanguineo as tiposanguineo.DESCRICAO for tiposanguineo in controller.objInscricao.listas.listaTipoSanguineo"
                            ng-if="controller.campoVisivel('TipoSanguineo', 'R')"
                            ng-required="controller.campoObrigatorio('TipoSanguineo','RI')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-sanguineo-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim Informações adicionais -->

            <!-- Passaporte -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Passaporte', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-documentos-passaporte' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('PassaporteNumero', 'R') || controller.campoVisivel('PassaporteDataEmissao', 'R') || controller.campoVisivel('PassaporteDataValidade', 'R') || controller.campoVisivel('PassaportePaisOrigem', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteNumero', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('PassaporteNumero','RI')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero','RI')"
                            name="{{ ::'l-msg-label-numero-passaporte-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTEMISSPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataEmissao', 'R')"
                            ng-required="controller.campoObrigatorio('PassaporteDataEmissao','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-passaporte-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker label="{{ ::'l-data-validade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month" format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTVALPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataValidade', 'R')"
                            ng-required="controller.campoObrigatorio('PassaporteDataValidade','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-validade-passaporte-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-pais-origem' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="20"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.PAISORIGEM"
                            ng-if="controller.campoVisivel('PassaportePaisOrigem', 'R')"
                            ng-required="controller.campoObrigatorio('PassaportePaisOrigem','RI')"
                            name="{{ ::'l-msg-label-pais-origem-passaporte-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim Passaporte -->

            <!-- Dados gerais de estrangeiros -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosEstrangeiros', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelInscricao))">
                <div class="panel-heading">{{ ::'l-dados-gerais-estrangeiros' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'R') || controller.campoVisivel('EstrangeirosTipoVisto', 'R') || controller.campoVisivel('EstrangeirosCartaModelo19', 'R')">
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-chegada-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DATACHEGADA"
                            ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDataChegadaBrasil','RI')"
                            name="{{ ::'l-msg-label-data-chegada-brasil-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo-visto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.TIPOVISTO"
                            ng-if="controller.campoVisivel('EstrangeirosTipoVisto', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosTipoVisto','RI')"
                            name="{{ ::'l-msg-label-tipo-visto-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-carteira-modelo-19' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CARTMODELO19"
                            ng-if="controller.campoVisivel('EstrangeirosCartaModelo19', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCartaModelo19','RI')"
                            name="{{ ::'l-msg-label-carteira-modelo-19-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'R') || controller.campoVisivel('EstrangeirosNaturalizado', 'R') || controller.campoVisivel('EstrangeirosConjugeBrasil', 'R')">
                        <totvs-field
                            totvs-number label="{{ ::'l-numero-filhos-brasileiros' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.FILHOSBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosNroFilhosBrasileiros','RI')"
                            name="{{ ::'l-msg-label-numero-filhos-brasileiros-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            min="0"
                            max="32767"
                            canclean>
                        </totvs-field>
                        </input>
                        <field
                            type="checkbox"
                            label="{{ ::'l-estrangeiro-naturalizado' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NATURALIZADO"
                            ng-if="controller.campoVisivel('EstrangeirosNaturalizado', 'R')"
                            name="{{ ::'l-msg-label-estrangeiro-naturalizado-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-conjuge-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.CONJUGEBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosConjugeBrasil', 'R')"
                            name="{{ ::'l-msg-label-conjuge-brasil-resp-insc' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'R') || controller.campoVisivel('EstrangeirosDecretoImigracao', 'R') || controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'R') || controller.campoVisivel('EstrangeirosRGDataVencimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-registro-geral' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NROREGGERAL"
                            ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('EstrangeirosRegistroGeral','RI')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral','RI')"
                            name="{{ ::'l-msg-label-registro-geral-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-decreto-imigracao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.NRODECRETO"
                            ng-if="controller.campoVisivel('EstrangeirosDecretoImigracao', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDecretoImigracao','RI')"
                            name="{{ ::'l-msg-label-decreto-imigracao-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-ctps' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTVENCCARTTRAB"
                            ng-if="controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCTPSDataVencimento','RI')"
                            name="{{ ::'l-msg-label-data-vencimento-ctps-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-rg' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelInscricao.DTVENCIDENT"
                            ng-if="controller.campoVisivel('EstrangeirosRGDataVencimento', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosRGDataVencimento','RI')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-rg-resp-insc' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim dados gerais de estrangeiros -->
        </div>
    </div>
</div>
<!-- FIM DADOS DO RESPONSAVEL  -->
