<!-- DADOS DO CANDIDATO -->
<div class="container-fluid cabecalho-grupo grupo-title">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#dadosCandidato">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmDadosCandidato.$invalid" ng-class="{'cabecalho-invalido': controller.frmDadosCandidato.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmDadosCandidato.$valid" ng-class="{'cabecalho-valido': controller.frmDadosCandidato.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanDadosCandidato">{{ ::'l-dados-candidato' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="dadosCandidato" class="collapse container-fluid container-grupo">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <!-- Dados básicos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosBasicos', 'C')">
                <div class="panel-heading">{{ ::'l-dados-basicos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('Nome', 'C') || controller.campoVisivel('DataNascimento', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-xs-12 col-lg-8 col-md-8 col-sm-8"
                            ng-model="controller.objInscricao.dadosUsuario.NOME"
                            ng-if="controller.campoVisivel('Nome', 'C')"
                            ng-required="controller.campoObrigatorio('Nome','C')"
                            name="{{ ::'l-msg-label-nome-candidato' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="120"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy" t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTNASCIMENTO"
                            ng-if="controller.campoVisivel('DataNascimento', 'C')"
                            ng-required="controller.campoObrigatorio('DataNascimento','C')"
                            culture="pt"
                            canclean
                            name="{{ ::'l-msg-label-data-nascimento-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('EstadoNatal', 'C') || controller.campoVisivel('Naturalidade', 'C')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-naturalidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('EstadoNatal', 'C')"
                        campo-estado-visible="controller.campoVisivel('EstadoNatal', 'C')"
                        campo-cidade-visible="controller.campoVisivel('Naturalidade', 'C')"
                        campo-pais-required="controller.campoObrigatorio('EstadoNatal','C')"
                        campo-estado-required="controller.campoObrigatorio('EstadoNatal','C')"
                        campo-cidade-required="controller.campoObrigatorio('Naturalidade','C')"
                        ng-model-pais="controller.objInscricao.dadosUsuario.PAISES"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISNATALDESC"
                        ng-model-estado="controller.objInscricao.dadosUsuario.ESTADOS"
                        ng-model-estado-desc="controller.objInscricao.dadosUsuario.ESTADONATALDESC"
                        ng-model-cidade="controller.objInscricao.dadosUsuario.MUNICIPIOS"
                        ng-model-cidade-desc="controller.objInscricao.dadosUsuario.CODNATURALIDADEDESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosUsuario.NATURALIDADE"
                        pais-change="controller.setCamposCPFPassRGObrigatorioAlteracaoPais('C')">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('NomeSocial', 'C') || controller.campoVisivel('Apelido', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome-social' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.NOMESOCIAL"
                            ng-if="controller.campoVisivel('NomeSocial', 'C')"
                            ng-required="controller.campoObrigatorio('NomeSocial','C')"
                            canclean
                            maxlength="120"
                            name="{{ ::'l-msg-label-nome-social-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-apelido' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.APELIDO"
                            ng-if="controller.campoVisivel('Apelido', 'C')"
                            ng-required="controller.campoObrigatorio('Apelido','C')"
                            canclean
                            maxlength="40"
                            name="{{ ::'l-msg-label-apelido-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstadoCivil', 'C') || controller.campoVisivel('Nacionalidade', 'C') || controller.campoVisivel('Email', 'C')">
                        <field
                            label="{{ ::'l-estado-civil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            type="combo"
                            ng-model="controller.objInscricao.dadosUsuario.ESTADOCIVILOBJ"
                            ng-options="estadocivil as estadocivil.DESCRICAO for estadocivil in controller.objInscricao.listas.listaEstadoCivil"
                            ng-if="controller.campoVisivel('EstadoCivil', 'C')"
                            ng-required="controller.campoObrigatorio('EstadoCivil','C')"
                            canclean name="{{ ::'l-msg-label-estado-civil-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            label="{{ ::'l-nacionalidade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.NACIONALIDADEOBJ"
                            ng-options="nacionalidade as nacionalidade.DESCRICAO for nacionalidade in controller.objInscricao.listas.listaNacionalidade | orderBy:'DESCRICAO'"
                            ng-if="controller.campoVisivel('Nacionalidade', 'C')"
                            ng-required="controller.campoObrigatorio('Nacionalidade','C')"
                            type="combo"
                            canclean
                            name="{{ ::'l-msg-label-nacionalidade-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="email"
                            label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-pattern="controller.validadorEmail"
                            ng-model="controller.objInscricao.dadosUsuario.EMAIL"
                            ng-if="controller.campoVisivel('Email', 'C')"
                            ng-required="controller.campoObrigatorio('Email','C')"
                            maxlength="60"
                            canclean name="{{ ::'l-msg-label-email-candidato' | i18n : [] : 'js/inscricoes' }}">
                            <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Sexo', 'C') || controller.campoVisivel('Canhoto', 'C') || controller.campoVisivel('Fumante', 'C')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 field" ng-if="controller.campoVisivel('Sexo', 'C')" ng-required="controller.campoObrigatorio('Sexo','C')">
                            <label class=" field field-label totvs-field">{{ ::'l-sexo' | i18n : [] : 'js/inscricoes' }}</label>
                            <div ng-repeat="sexo in controller.listaSexo">
                                <input
                                    type="radio"
                                    ng-required="controller.campoObrigatorio('Sexo','C') && !controller.objInscricao.dadosUsuario.SEXO && $index == 0"
                                    name="{{ ::'l-msg-label-sexo-candidato' | i18n : [] : 'js/inscricoes' }}"
                                    value="{{sexo.value}}"
                                    ng-model="controller.objInscricao.dadosUsuario.SEXO">{{sexo.label}}
                                </input>
                            </div>
                        </div>
                        <field
                            type="checkbox"
                            label="{{ ::'l-canhoto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.CANHOTO"
                            ng-if="controller.campoVisivel('Canhoto', 'C')"
                            name="{{ ::'l-msg-label-canhoto-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-fumante' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.FUMANTE"
                            ng-if="controller.campoVisivel('Fumante', 'C')"
                            name="{{ ::'l-msg-label-fumante-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="DadosBasicos" ng-init="controller.criarCamposComplementares('DadosBasicos')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim dados básicos -->

            <!-- Documentos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Documentos', 'C')">
                <div class="panel-heading">{{ ::'l-documentos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <legend ng-if="controller.campoVisivel('CPF', 'C')">
                        <h5>{{ ::'l-documentos-cpf' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - CPF -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CPF', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.CPF"
                            maxlength="14"
                            ui-mask="999.999.999-99" t-mask="999.999.999-99"
                            ng-if="controller.campoVisivel('CPF', 'C')"
                            ng-required="controller.campoCPFPassRGObrigatorio('CPF','C')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF','C')"
                            name="{{ ::'l-msg-label-numero-cpf-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - CPF -->
                    <legend ng-if="controller.campoVisivel('RGNumero', 'C') || controller.campoVisivel('RGDataEmissao', 'C') || controller.campoVisivel('RGOrgaoEmissor', 'C') || controller.campoVisivel('RGEstadoEmissor', 'C')">
                        <h5>{{ ::'l-documentos-rg' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - RG -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RGNumero', 'C') || controller.campoVisivel('RGDataEmissao', 'C') || controller.campoVisivel('RGOrgaoEmissor', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.CARTIDENTIDADE"
                            ng-if="controller.campoVisivel('RGNumero', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('RGNumero','C')"
                            name="{{ ::'l-msg-label-numero-rg-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTEMISSAOIDENT"
                            ng-if="controller.campoVisivel('RGDataEmissao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('RGDataEmissao','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-rg-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.ORGEMISSORIDENT"
                            ng-if="controller.campoVisivel('RGOrgaoEmissor', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('RGOrgaoEmissor','C')"
                            name="{{ ::'l-msg-label-orgao-emissor-rg-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('RGEstadoEmissor', 'C')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('RGEstadoEmissor', 'C')"
                        campo-estado-visible="controller.campoVisivel('RGEstadoEmissor', 'C')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','C')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','C')"
                        ng-model-pais="controller.objInscricao.dadosUsuario.PAISESCARTIDENT"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISCARTIDENTDESC"
                        ng-model-estado="controller.objInscricao.dadosUsuario.ESTADOSCARTIDENT"
                        ng-model-estado-desc="controller.objInscricao.dadosUsuario.UFCARTIDENTDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - RG -->
                    <legend ng-if="controller.campoVisivel('RegistroProfissional', 'C')">
                        <h5>{{ ::'l-documentos-registro-profissional' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Registro profissional -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RegistroProfissional', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="15" ng-model="controller.objInscricao.dadosUsuario.REGPROFISSIONAL"
                            ng-if="controller.campoVisivel('RegistroProfissional', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('RegistroProfissional','C')"
                            name="{{ ::'l-msg-label-numero-registro-profossional-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Registro profissional -->
                    <legend ng-if="controller.campoVisivel('TituloEleitorNumero', 'C') || controller.campoVisivel('TituloEleitorZona', 'C') || controller.campoVisivel('TituloEleitorSecao', 'C') || controller.campoVisivel('TituloEleitorDataEmissao', 'C') || controller.campoVisivel('TituloEleitorUFEmissao', 'C')">
                        <h5>{{ ::'l-documentos-titulo-eleitor' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Título eleitor -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TituloEleitorNumero', 'C') || controller.campoVisivel('TituloEleitorZona', 'C') || controller.campoVisivel('TituloEleitorSecao', 'C') || controller.campoVisivel('TituloEleitorDataEmissao', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="14" ng-model="controller.objInscricao.dadosUsuario.TITULOELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorNumero', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorNumero','C')"
                            name="{{ ::'l-msg-label-numero-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-zona' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosUsuario.ZONATITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorZona', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorZona','C')"
                            name="{{ ::'l-msg-label-zona-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-secao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosUsuario.SECAOTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorSecao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorSecao','C')"
                            name="{{ ::'l-msg-label-secao-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorDataEmissao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorDataEmissao','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-titulo-eleitor-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'C')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'C')"
                        campo-estado-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'C')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','C')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','C')"
                        ng-model-pais="controller.objInscricao.dadosUsuario.PAISTELEITOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISTELEITDESC"
                        ng-model-estado="controller.objInscricao.dadosUsuario.ESTELEITOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosUsuario.ESTELEITDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - Título eleitor -->
                    <legend ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'C') || controller.campoVisivel('CarteiraTrabalhoSerie', 'C') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'C') || controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'C') || controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'C')">
                        <h5>{{ ::'l-documentos-carteira-trabalho' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de trabalho -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'C') || controller.campoVisivel('CarteiraTrabalhoSerie', 'C') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.CARTEIRATRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoNumero','C')"
                            name="{{ ::'l-msg-label-numero-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-serie' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosUsuario.SERIECARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoSerie', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoSerie','C')"
                            name="{{ ::'l-msg-label-serie-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTCARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoDataEmissao','C')"
                            name="{{ ::'l-msg-label-data-emissao-carteira-trabalho-candidato' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'C')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'C')"
                        campo-estado-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'C')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','C')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','C')"
                        ng-model-pais="controller.objInscricao.dadosUsuario.PAISCARTTRABOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.PAISCARTTRABDESC"
                        ng-model-estado="controller.objInscricao.dadosUsuario.UFCARTTRABOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosUsuario.UFCARTTRABDESC">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'C')">
                        <field
                            type="checkbox"
                            label="{{ ::'l-tipo-nit' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.NIT"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'C')"
                            name="{{ ::'l-msg-label-carteira-trabalho-tipo-nit-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <!-- Fim Documentos - Carteira de trabalho -->
                    <legend ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'C') || controller.campoVisivel('CarteiraMotoristaTipo', 'C') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'C')">
                        <h5>{{ ::'l-documentos-carteira-motorista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de motorista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'C') || controller.campoVisivel('CarteiraMotoristaTipo', 'C') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.CARTMOTORISTA"
                            ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaNumero','C')"
                            name="{{ ::'l-msg-label-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosUsuario.TIPOCARTHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaTipo', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaTipo','C')"
                            name="{{ ::'l-msg-label-tipo-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTVENCHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaDataVencimento', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaDataVencimento','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-carteira-motorista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Carteira de motorista -->
                    <legend ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'C') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'C') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'C') || controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'C') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'C') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'C') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'C')">
                        <h5>{{ ::'l-documentos-certificado-reservista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Certificado de reservista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'C') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'C') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="40"
                            ng-model="controller.objInscricao.dadosUsuario.CERTIFRESERV"
                            ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaNumero','C')"
                            name="{{ ::'l-msg-label-numero-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-categoria-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.CATEGMILITAR"
                            ng-if="controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCategoriaMilitar','C')"
                            name="{{ ::'l-msg-label-cetegoria-militar-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-circunscricao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.CSM"
                            ng-if="controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCircunscricaoMilitar','C')"
                            name="{{ ::'l-msg-label-circunscricao-militar-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'C') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'C') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'C') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-regiao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.RM"
                            ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaRegiaoMilitar','C')"
                            name="{{ ::'l-msg-label-regiao-militar-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTEXPCML"
                            ng-if="controller.campoVisivel('CertificadoReservistaDataEmissao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaDataEmissao','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.EXPED"
                            ng-if="controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaOrgaoEmissao','C')"
                            name="{{ ::'l-msg-label-orgao-emissor-cert-reservista-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <field
                            label="{{ ::'l-situacao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-if="controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'C')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaSituacaoMilitar','C')"
                            type="combo"
                            ng-model="controller.objInscricao.dadosUsuario.SITMILITAROBJ"
                            ng-options="situacao as situacao.DESCRICAO for situacao in controller.objInscricao.listas.listaSituacaoMilitar"
                            name="{{ ::'l-msg-label-situacao-militar-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                    <!-- Fim Documentos - Certificado de reservista -->
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="Documentos" ng-init="controller.criarCamposComplementares('Documentos')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim documentos -->

            <!-- Endereço -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Endereco', 'C')">
                <div class="panel-heading">{{ ::'l-endereco' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('CEP', 'C')">
                        <!-- CEP -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-cep' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ui-mask="{{controller.objParametros.MascaraCEP}}"
                            t-mask="{{controller.objParametros.MascaraCEP}}"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.CEP"
                            ng-if="controller.campoVisivel('CEP', 'C')"
                            ng-required="controller.campoObrigatorio('CEP','C')"
                            name="{{ ::'l-msg-label-cep-candidato' | i18n : [] : 'js/inscricoes' }}"
                            ng-blur="controller.buscarEnderecoPorCEP(controller.objInscricao.dadosUsuario.CEP, controller.objInscricao.dadosUsuario)"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim CEP -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoRua', 'C') || controller.campoVisivel('Rua', 'C') || controller.campoVisivel('Numero', 'C')">
                        <!-- Rua -->
                        <field
                            label="{{ ::'l-tipo-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TIPORUAOBJ"
                            ng-options="tiporua as tiporua.DESCRICAO for tiporua in controller.objInscricao.listas.listaTipoRua"
                            ng-if="controller.campoVisivel('TipoRua', 'C')"
                            ng-required="controller.campoObrigatorio('TipoRua','C')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-rua-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input label="{{ ::'l-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-7 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.RUA"
                            ng-if="controller.campoVisivel('Rua', 'C')"
                            ng-required="controller.campoObrigatorio('Rua','C')"
                            name="{{ ::'l-msg-label-rua-candidato' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="40"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-2 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.NUMERO"
                            ng-if="controller.campoVisivel('Numero', 'C')"
                            ng-required="controller.campoObrigatorio('Numero','C')"
                            name="{{ ::'l-msg-label-numero-candidato' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="8"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Rua -->
                    <div class="row form-group" ng-if="controller.campoVisivel('Complemento', 'C')">
                        <!-- Complemento -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-complemento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.COMPLEMENTO"
                            ng-if="controller.campoVisivel('Complemento', 'C')"
                            ng-required="controller.campoObrigatorio('Complemento','C')"
                            name="{{ ::'l-msg-label-complemento-candidato' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="30"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Complemento -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoBairro', 'C') || controller.campoVisivel('Bairro', 'C')">
                        <!-- Bairro -->
                        <field
                            label="{{ ::'l-tipo-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3  col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TIPOBAIRROOBJ"
                            ng-options="tipobairro as tipobairro.DESCRICAO for tipobairro in controller.objInscricao.listas.listaTipoBairro"
                            ng-if="controller.campoVisivel('TipoBairro', 'C')"
                            ng-required="controller.campoObrigatorio('TipoBairro','C')"
                            name="{{ ::'l-msg-label-tipo-bairro-candidato' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-7 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.BAIRRO"
                            ng-if="controller.campoVisivel('Bairro', 'C')"
                            ng-required="controller.campoObrigatorio('Bairro','C')"
                            name="{{ ::'l-msg-label-bairro-candidato' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="80"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Bairro -->
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('Pais', 'C') || controller.campoVisivel('Estado', 'C') || controller.campoVisivel('Cidade', 'C')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-cidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('Pais', 'C')"
                        campo-estado-visible="controller.campoVisivel('Estado', 'C')"
                        campo-cidade-visible="controller.campoVisivel('Cidade', 'C')"
                        campo-pais-required="controller.campoObrigatorio('Pais','C')"
                        campo-estado-required="controller.campoObrigatorio('Estado','C')"
                        campo-cidade-required="controller.campoObrigatorio('Cidade','C')"
                        ng-model-pais="controller.objInscricao.dadosUsuario.PAISESENDERECO"
                        ng-model-pais-desc="controller.objInscricao.dadosUsuario.IDPAISDESC"
                        ng-model-estado="controller.objInscricao.dadosUsuario.ESTADOSENDERECO"
                        ng-model-estado-desc="controller.objInscricao.dadosUsuario.ESTADODESC"
                        ng-model-cidade="controller.objInscricao.dadosUsuario.MUNICIPIOSENDERECO"
                        ng-model-cidade-desc="controller.objInscricao.dadosUsuario.CODMUNICIPIODESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosUsuario.CIDADE"
                        pais-change="controller.setCamposCPFPassRGObrigatorioAlteracaoPais('C')">
                    </edups-pais-uf-cidade>
                    <!-- Fim País/Estado/Município -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneResidencial', 'C') || controller.campoVisivel('TelefoneCelular', 'C')">
                        <!-- Telefones -->
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone1}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TELEFONE1"
                            ng-if="controller.campoVisivel('TelefoneResidencial', 'C')"
                            ng-required="controller.campoObrigatorio('TelefoneResidencial','C')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone1, 'l-candidato')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone2}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TELEFONE2"
                            ng-if="controller.campoVisivel('TelefoneCelular', 'C')"
                            ng-required="controller.campoObrigatorio('TelefoneCelular','C')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone2, 'l-candidato')}}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneComercial', 'C') || controller.campoVisivel('Fax', 'C')">
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone3}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TELEFONE3"
                            ng-if="controller.campoVisivel('TelefoneComercial', 'C')"
                            ng-required="controller.campoObrigatorio('TelefoneComercial','C')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone3, 'l-candidato')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{ ::'l-fax' | i18n : [] : 'js/inscricoes' }}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.FAX"
                            ng-if="controller.campoVisivel('Fax', 'C')"
                            ng-required="controller.campoObrigatorio('Fax','C')"
                            name="{{ ::'l-msg-label-fax-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Telefones -->
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="Endereco" ng-init="controller.criarCamposComplementares('Endereco')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim endereço -->

            <!-- Informações adicionais -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('InformacoesAdicionais', 'C')">
                <div class="panel-heading">{{ ::'l-informacoes-adicionais' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('CorRaca', 'C') || controller.campoVisivel('GrauIstrucao', 'C')">
                        <field
                            label="{{ ::'l-cor-raca' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.CORRACAOBJ"
                            ng-options="corraca as corraca.DESCRICAO for corraca in controller.objInscricao.listas.listaCorRaca"
                            ng-if="controller.campoVisivel('CorRaca', 'C')"
                            ng-required="controller.campoObrigatorio('CorRaca','C')"
                            name="{{ ::'l-msg-label-cor-raca-candidato' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-grau-instrucao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.GRAUINSTRUCAOOBJ"
                            ng-options="grauinstrucao as grauinstrucao.DESCRICAO for grauinstrucao in controller.objInscricao.listas.listaGrauInstrucao"
                            ng-if="controller.campoVisivel('GrauIstrucao', 'C')"
                            ng-required="controller.campoObrigatorio('GrauIstrucao','C')"
                            name="{{ ::'l-msg-label-cor-raca-candidato' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Profissao', 'C') || controller.campoVisivel('TipoSanguineo', 'C')">
                        <field
                            label="{{ ::'l-profissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.PROFISSAOOBJ"
                            ng-options="profissao as profissao.DESCRICAO for profissao in controller.objInscricao.listaProfissao"
                            ng-if="controller.campoVisivel('Profissao', 'C')"
                            ng-required="controller.campoObrigatorio('Profissao','C')"
                            name="{{ ::'l-msg-label-pofissao-candidato' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-tipo-sanguineo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.TIPOSANGOBJ"
                            ng-options="tiposanguineo as tiposanguineo.DESCRICAO for tiposanguineo in controller.objInscricao.listas.listaTipoSanguineo"
                            ng-if="controller.campoVisivel('TipoSanguineo', 'C')"
                            ng-required="controller.campoObrigatorio('TipoSanguineo','C')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-sanguineo-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="InformacoesAdicionais" ng-init="controller.criarCamposComplementares('InformacoesAdicionais')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim Informações adicionais -->

            <!-- Passaporte -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Passaporte', 'C')">
                <div class="panel-heading">{{ ::'l-documentos-passaporte' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('PassaporteNumero', 'C') || controller.campoVisivel('PassaporteDataEmissao', 'C') || controller.campoVisivel('PassaporteDataValidade', 'C') || controller.campoVisivel('PassaportePaisOrigem', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.NPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteNumero', 'C')"
                            ng-required="controller.campoCPFPassRGObrigatorio('PassaporteNumero','C')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero','C')"
                            name="{{ ::'l-msg-label-numero-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTEMISSPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataEmissao', 'C')"
                            ng-required="controller.campoObrigatorio('PassaporteDataEmissao','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker label="{{ ::'l-data-validade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month" format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTVALPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataValidade', 'C')"
                            ng-required="controller.campoObrigatorio('PassaporteDataValidade','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-validade-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-pais-origem' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="20"
                            ng-model="controller.objInscricao.dadosUsuario.PAISORIGEM"
                            ng-if="controller.campoVisivel('PassaportePaisOrigem', 'C')"
                            ng-required="controller.campoObrigatorio('PassaportePaisOrigem','C')"
                            name="{{ ::'l-msg-label-pais-origem-passaporte-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="Passaporte" ng-init="controller.criarCamposComplementares('Passaporte')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim Passaporte -->

            <!-- Dados gerais de estrangeiros -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosEstrangeiros', 'C')">
                <div class="panel-heading">{{ ::'l-dados-gerais-estrangeiros' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'C') || controller.campoVisivel('EstrangeirosTipoVisto', 'C') || controller.campoVisivel('EstrangeirosCartaModelo19', 'C')">
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-chegada-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DATACHEGADA"
                            ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDataChegadaBrasil','C')"
                            name="{{ ::'l-msg-label-data-chegada-brasil-candidato' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo-visto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosUsuario.TIPOVISTO"
                            ng-if="controller.campoVisivel('EstrangeirosTipoVisto', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosTipoVisto','C')"
                            name="{{ ::'l-msg-label-tipo-visto-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-carteira-modelo-19' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.CARTMODELO19"
                            ng-if="controller.campoVisivel('EstrangeirosCartaModelo19', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCartaModelo19','C')"
                            name="{{ ::'l-msg-label-carteira-modelo-19-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'C') || controller.campoVisivel('EstrangeirosNaturalizado', 'C') || controller.campoVisivel('EstrangeirosConjugeBrasil', 'C')">
                        <totvs-field
                            totvs-number label="{{ ::'l-numero-filhos-brasileiros' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.FILHOSBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosNroFilhosBrasileiros','C')"
                            name="{{ ::'l-msg-label-numero-filhos-brasileiros-candidato' | i18n : [] : 'js/inscricoes' }}"
                            min="0"
                            max="32767"
                            canclean>
                        </totvs-field>
                        </input>
                        <field
                            type="checkbox"
                            label="{{ ::'l-estrangeiro-naturalizado' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.NATURALIZADO"
                            ng-if="controller.campoVisivel('EstrangeirosNaturalizado', 'C')"
                            name="{{ ::'l-msg-label-estrangeiro-naturalizado-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-conjuge-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.CONJUGEBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosConjugeBrasil', 'C')"
                            name="{{ ::'l-msg-label-conjuge-brasil-candidato' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'C') || controller.campoVisivel('EstrangeirosDecretoImigracao', 'C') || controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'C') || controller.campoVisivel('EstrangeirosRGDataVencimento', 'C')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-registro-geral' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.NROREGGERAL"
                            ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'C')"
                            ng-required="controller.campoCPFPassRGObrigatorio('EstrangeirosRegistroGeral','C')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral','C')"
                            name="{{ ::'l-msg-label-registro-geral-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-decreto-imigracao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosUsuario.NRODECRETO"
                            ng-if="controller.campoVisivel('EstrangeirosDecretoImigracao', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDecretoImigracao','C')"
                            name="{{ ::'l-msg-label-decreto-imigracao-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-ctps' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTVENCCARTTRAB"
                            ng-if="controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCTPSDataVencimento','C')"
                            name="{{ ::'l-msg-label-data-vencimento-ctps-candidato' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-rg' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosUsuario.DTVENCIDENT"
                            ng-if="controller.campoVisivel('EstrangeirosRGDataVencimento', 'C')"
                            ng-required="controller.campoObrigatorio('EstrangeirosRGDataVencimento','C')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-rg-candidato' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
                <!-- INICIO - Adiciona os campos complementares dinâmicamente-->
                <div class="container-fluid">
                    <span id="DadosEstrangeiros" ng-init="controller.criarCamposComplementares('DadosEstrangeiros')"></span>
                </div>
                <!-- FIM - Adiciona os campos complementares dinâmicamente-->
            </div>
            <!-- Fim dados gerais de estrangeiros -->
        </div>
    </div>
</div>
<!-- FIM DADOS DO CANDIDATO -->
