<!-- RESPONSÁVEL INSCRIÇÃO -->
<form id="frmDadosResponsavelInscricao" name="controller.frmDadosResponsavelInscricao">
    <div ng-include="'js/templates/forms/frmDadosResponsavelInscricao.html'"></div>
</form>
<!-- FIM RESPONSÁVEL INSCRIÇÃO -->   
<!-- DADOS CANDIDATO -->
<form id="frmDadosCandidato" name="controller.frmDadosCandidato">
    <div ng-include="'js/templates/forms/frmDadosCandidato.html'"></div>
</form>
<!-- FIM DADOS CANDIDATO -->
  