<!-- SENHA -->
<div class="container-fluid cabecalho-grupo grupo-title" ng-if="controller.objParametros.UsaSenhaLogin && !controller.inscricaoAposLogin && !controller.novoDependente">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#senhaCandidato">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmDadosSenha.$invalid" ng-class="{'cabecalho-invalido': controller.frmDadosSenha.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmDadosSenha.$valid" ng-class="{'cabecalho-valido': controller.frmDadosSenha.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanDadosSenha">{{ ::'l-senha' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="senhaCandidato" class="collapse container-fluid container-grupo" ng-if="controller.objParametros.UsaSenhaLogin && !controller.inscricaoAposLogin && !controller.novoDependente">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="panel panel-default campos-grupo">
                <div class="panel-heading">{{ ::'l-informe-senha' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <field
                            type="password"
                            label="{{ ::'l-senha-1' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.SENHA"
                            name="{{ ::'l-msg-senha' | i18n : [] : 'js/inscricoes' }}"
                            ng-required="true"
                            maxlength="15"
                            ng-minlength="6"
                            canclean>
                        </field>
                        <field
                            type="password"
                            label="{{ ::'l-senha-2' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosUsuario.REPETESENHA"
                            name="{{ ::'l-msg-repete-senha' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="15"
                            ng-required="true"
                            ng-minlength="6"
                            canclean>
                        </field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM SENHA -->
