<!-- AREA INTERESSE -->
<form id="frmDadosAreaInteresse" name="controller.frmDadosAreaInteresse">
    <div ng-include="'js/templates/forms/frmDadosAreaInteresse.html'"></div>
</form>
<!-- FIM AREA INTERESSE -->
<!-- ATIVIDADES AGENDADAS -->
<form id="frmAtividadesAgendadas" name="controller.frmAtividadesAgendadas">
    <div ng-include="'js/templates/forms/frmAtividadesAgendadas.html'"></div>
</form>
<!-- FIM ATIVIDADES AGENDADAS -->
<!-- DOCUMENTOS -->
<form id="frmDocumentos" name="controller.frmDocumentos">
    <div ng-include="'js/templates/forms/frmDocumentos.html'"></div>
</form>
<!-- FIM DOCUMENTOS -->
<!-- OFERTA ONLINE -->
<form id="frmOfertaOnline" name="controller.frmOfertaOnline">
    <div ng-include="'js/templates/forms/frmOfertaOnline.html'"></div>
</form>
<!-- FIM OFERTA ONLINE -->
<!-- DADOS SENHA -->
<form id="frmDadosSenha" name="controller.frmDadosSenha">
    <div ng-include="'js/templates/forms/frmDadosSenha.html'"></div>
</form>
<!-- FIM DADOS SENHA -->