<div id="dadosResponsaveisId">
<!-- DADOS PAI -->
<form id="frmDadosPai" ng-if="controller.objParametros.UsaDadosPai" name="controller.frmDadosPai">
    <div ng-include="'js/templates/forms/frmDadosPai.html'"></div>
</form>
<!-- FIM DADOS PAI -->
<!-- DADOS MÃE -->
<form id="frmDadosMae" ng-if="controller.objParametros.UsaDadosMae" name="controller.frmDadosMae">
    <div ng-include="'js/templates/forms/frmDadosMae.html'"></div>
</form>
<!-- FIM DADOS MÃE -->
<!-- RESPONSÁVEL FINANCEIRO -->
<form id="frmDadosResponsavelFinanceiro" ng-if="controller.objParametros.UsaDadosRespFin" name="controller.frmDadosResponsavelFinanceiro">
    <div ng-include="'js/templates/forms/frmDadosResponsavelFinanceiro.html'"></div>
</form>
<!-- FIM RESPONSÁVEL FINANCEIRO -->
<!-- RESPONSÁVEL ACADÊMICOS -->
<form id="frmDadosResponsavelAcademico" ng-if="controller.objParametros.UsaDadosRespAcad" name="controller.frmDadosResponsavelAcademico">
    <div ng-include="'js/templates/forms/frmDadosResponsavelAcademico.html'"></div>
</form>
<!-- FIM RESPONSÁVEL ACADÊMICOS -->
</div>