<!-- OPÇÃO DE INTERESSE -->
<div class="container-fluid cabecalho-grupo grupo-title">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#opcaoInteresse">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmDadosAreaInteresse.$invalid" ng-class="{'cabecalho-invalido': controller.frmDadosAreaInteresse.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmDadosAreaInteresse.$valid" ng-class="{'cabecalho-valido': controller.frmDadosAreaInteresse.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanDadosAreaInteresse">{{ ::'l-opcao-interesse' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="opcaoInteresse" class="collapse container-fluid container-grupo">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <!-- Área Pretendida -->
            <div class="panel panel-default campos-grupo">
                <div class="panel-heading">{{ ::'l-processo-seletivo-area-ofertada' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <totvs-field
                            totvs-input label="{{ ::'l-processo-seletivo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.NOMEPROCESSOSELETIVO"
                            ng-disabled="true"
                            maxlength="60"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="UsaGrupoAreaInteressePS">
                        <field
                            label="{{TextoGrupoAreaInteressePS}}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            type="combo"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ"
                            ng-options="gruposareainteresse as gruposareainteresse.GRUPO for gruposareainteresse in controller.objInscricao.listas.listaGruposAreaInteresse"
                            ng-change="controller.carregaAreasOfertadas(CodColigada, IdPS, controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <field label="{{ ::'l-area-ofertada-1-opcao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            type="combo" ng-model="controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="areaofertada as areaofertada.NOME for areaofertada in controller.objInscricao.listas.listaAreaOfertada"
                            ng-change="controller.getInformacoesInscricao(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ); controller.getInformacoesPolo(CodColigada, IdPS, controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ)"
                            ng-required="true"
                            ng-disabled="UsaGrupoAreaInteressePS && (!controller.objInscricao.dadosInscricaoAreaOfertada.GRUPOPSOBJ)"
                            name="{{ ::'l-area-ofertada-1-opcao' | i18n : [] : 'js/inscricoes' }}" canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-repeat="areasofertadasopcionais in controller.objInscricao.listas.listaDropDownAreaOfertadaOpcional">
                        <field label="{{ ::'l-area-ofertada' | i18n : [] : 'js/inscricoes' }} {{$index + 2}} {{ ::'l-opcao-curso' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="combo"
                            ng-model="controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOPCIONALOBJ[$index]"
                            ng-options="areaofertada as areaofertada.NOME for areaofertada in controller.objInscricao.listas.listaAreaOfertadaOpcional[$index]"
                            ng-change="controller.criarListaAreaOfertadaOpcional()"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.validaVisibilidadeIdiomas()">
                        <field
                            label="{{ ::'l-idioma-1-opcao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="combo"
                            ng-model="controller.objInscricao.dadosIdiomaInscrito.IDIOMAOBJ"
                            ng-disabled="!controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="idioma as idioma.NOME for idioma in controller.objInscricao.listas.listaIdioma"
                            ng-required="controller.validaObrigatoriedadeIdiomas(-1)"
                            name="{{ ::'l-idioma-1-opcao' | i18n : [] : 'js/inscricoes' }}" canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.validaVisibilidadeIdiomas()"
                        ng-repeat="idiomasopcionais in controller.objInscricao.listas.listaIdiomasOpcionais">
                        <field label="{{ ::'l-idioma' | i18n : [] : 'js/inscricoes' }} {{$index + 2}} {{ ::'l-opcao-idioma' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="combo"
                            ng-model="controller.objInscricao.dadosIdiomaInscrito.IDIOMAOPCIONALOBJ[$index]"
                            ng-disabled="!controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="idioma as idioma.NOME for idioma in controller.objInscricao.listas.listaIdioma"
                            ng-required="controller.validaObrigatoriedadeIdiomas($index)"
                            name="{{ ::'l-idioma' | i18n : [] : 'js/inscricoes' }}" canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <field label="{{ ::'l-forma-inscricao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            type="combo"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.FORMAINSCRICAOOBJ"
                            ng-disabled="!controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                            ng-options="formainscricao as formainscricao.NOME for formainscricao in controller.objInscricao.listas.listaFormaInscricao"
                            ng-change="controller.carregaInfoFormaInscricao()"
                            ng-required="true" name="{{ ::'l-forma-inscricao' | i18n : [] : 'js/inscricoes' }}" canclean>
                        </field>
                    </div>
                    <div class="row form-group">
                        <field label="{{ ::'l-local-realizacao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" type="combo"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.LocalProvaSelecionado"
                            nng-options="lps.NOMEMUNICIPIO for lps in controller.objInscricao.listas.listaLocalRealizacaoProva | orderBy:'NOMEMUNICIPIO'"
                            ng-disabled="!controller.objInscricao.dadosInscricaoAreaOfertada.FORMAINSCRICAOOBJ"
                            ng-required="true"
                            ng-change="controller.getListaCampusLocalRealizacaoProva(CodColigada, IdPS, controller.objInscricao.dadosInscricaoAreaOfertada.LocalProvaSelecionado.CODMUNICIPIO)"
                            name="{{ ::'l-local-realizacao' | i18n : [] : 'js/inscricoes' }}" canclean>
                        </field>
                        <field label="{{ ::'l-campus-local-realizacao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            type="combo" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CAMPUSOBJ"
                            ng-options="campuslocalrealizacao as campuslocalrealizacao.NOME for campuslocalrealizacao in controller.objInscricao.listas.listaCampusLocalRealizacaoProva"
                            ng-disabled="!controller.objInscricao.dadosInscricaoAreaOfertada.LocalProvaSelecionado.CODMUNICIPIO"
                            ng-required="controller.objInscricao.listas.listaCampusLocalRealizacaoProva.length > 0"
                            name="{{ ::'l-campus-local-realizacao' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>


                            <!-- campo polo - para cursos EAD -->
                            <div class="row form-group" ng-if="criarCampoPolo">
                                <field
                                    label="{{ ::'l-selecione-polo' | i18n : [] : 'js/inscricoes' }}"
                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12" type="combo"
                                    ng-model="controller.objInscricao.dadoscamposcomplementaresinscricao.POLO_EAD"
                                    ng-disabled="!controller.objInscricao.dadosOpcaoInscrito.AREAINTERESSEOBJ"
                                    ng-options="polo as polo.NOME for polo in listaPolo"
                                    ng-required="true"
                                    name="{{ ::'l-selecione-polo' | i18n : [] : 'js/inscricoes' }}" canclean>
                                </field>
                            </div>
                            <!-- Fim campo polo - para cursos EAD -->

                </div>
            </div>
            <!-- Fim área pretendida -->

            <!-- Informações adicionais -->
            <div class="panel panel-default campos-grupo">
                <div class="panel-heading">{{ ::'l-informacoes-adicionais' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <totvs-field totvs-datepicker label="{{ ::'l-data-inscricao' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            depth="month" format="dd/MM/yyyy" ui-mask-date="99/99/9999" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DATAINSCRICAO"
                            culture="pt" ng-disabled="true">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-valor-inscricao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="ValorInscricaoFormatCurrency" ng-disabled="true"
                            ng-if="!controller.isOfertaOnline">
                        </totvs-field>
                        <field
                                type="checkbox"
                                ng-if="controller.objParametros.AceitaTreineiro"
                                label="{{((controller.objParametros.TextoTreineiro) ? controller.objParametros.TextoTreineiro : ('l-candidato-treineiro' | i18n : [] : 'js/inscricoes')) }}"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.TREINEIRO">
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim informações adicionais -->

            <!-- Deficiência -->
            <div class="panel panel-default campos-grupo" ng-if="controller.objParametros.NecessidadesEspeciais">
                <div class="panel-heading">{{ ::'l-deficiencia' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <field type="checkbox" label="{{ ::'l-deficiencia-fisica' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFFISICA">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefFisica"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFFISICA && controller.objInscricao.listas.listaDefFisica.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefFisica">
                        </totvs-field>
                    </div>
                    <div class="row form-group">
                        <field type="checkbox" label="{{ ::'l-deficiencia-auditiva' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFAUDITIVA">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefAuditiva"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFAUDITIVA && controller.objInscricao.listas.listaDefAuditiva.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefAuditiva">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.adequacaoDeficienciasDisponivel">
                        <field type="checkbox" label="{{ ::'l-deficiencia-fala' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFFALA">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefFala"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFFALA && controller.objInscricao.listas.listaDefFala.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefFala">
                        </totvs-field>
                    </div>
                    <div class="row form-group">
                        <field type="checkbox" label="{{ ::'l-deficiencia-visual' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFVISUAL">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefVisual"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFVISUAL && controller.objInscricao.listas.listaDefVisual.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefVisual">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.adequacaoDeficienciasDisponivel">
                        <field type="checkbox" label="{{ ::'l-deficiencia-mental' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFMENTAL">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefMental"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFMENTAL && controller.objInscricao.listas.listaDefMental.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefMental">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.adequacaoDeficienciasDisponivel">
                        <field type="checkbox" label="{{ ::'l-deficiencia-intelectual' | i18n : [] : 'js/inscricoes' }}" class="col-lg-1 col-md-1 col-sm-1 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFINTELECTUAL">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefIntelectual"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.DEFINTELECTUAL && controller.objInscricao.listas.listaDefIntelectual.length"
                            class="col-lg-11 col-md-11 col-sm-11 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefIntelectual">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.adequacaoDeficienciasDisponivel">
                        <field type="checkbox" label="{{ ::'l-deficiencia-reabilitado' | i18n : [] : 'js/inscricoes' }}" class="col-lg-2 col-md-2 col-sm-2 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.BRPDH">
                        </field>
                        <totvs-field totvs-multi-select label="{{ ::'l-descricao' | i18n : [] : 'js/inscricoes' }}"
                            ng-model="controller.objInscricao.listas.listaSelectedDefReabilitado"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.BRPDH && controller.objInscricao.listas.listaDefReabilitado.length"
                            class="col-lg-10 col-md-10 col-sm-10 col-xs-12"
                            t-auto-close="true"
                            t-no-data="{{ ::'l-no-data' | i18n : [] : 'js/inscricoes' }}"
                            t-multi-id="CODDEFICIENCIA" t-multi-description="DESCRICAO" t-data="controller.objInscricao.listas.listaDefReabilitado">
                        </totvs-field>
                    </div>
                    <div class="row form-group">
                        <field type="checkbox" label="{{ ::'l-deficiencia-multipla' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFMULTIPLA">
                        </field>
                    </div>
                    <div class="row form-group">
                        <field type="textarea" label="{{ ::'l-motivo-outras-necessidades' | i18n : [] : 'js/inscricoes' }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.DEFMOTIVOOUTRAS">
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim Deficiência -->

            <!-- Dados do ENEM (Exame Nacional do Ensino Médio) -->
            <div class="panel panel-default campos-grupo" ng-if="controller.objInscricao.exibeGrupoDadosEnem">
                <div class="panel-heading">{{ ::'l-dados-enem' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <totvs-field totvs-input label="{{ ::'l-numero-inscricao-enem' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="15" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.ENEMNUMINSCRICAO"
                            ng-if="controller.objInscricao.exibeGrupoDadosEnem" ng-required="controller.objInscricao.campoEnemObrigatorio" canclean
                            name="{{ ::'l-numero-inscricao-enem' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                        <totvs-field totvs-input label="{{ ::'l-ano-referencia-enem' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ui-mask="9999" ng-maxlength="4" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.ENEMANOREFERENCIA"
                            ng-if="controller.objInscricao.exibeGrupoDadosEnem" ng-required="controller.objInscricao.campoEnemObrigatorio" canclean
                            name="{{ ::'l-ano-referencia-enem' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim Dados do ENEM (Exame Nacional do Ensino Médio) -->

            <!-- Dados Indicação -->
            <div class="panel panel-default campos-grupo" ng-if="controller.objInscricao.exibeIndicacaoAluno || controller.objInscricao.exibeIndicacaoFornecedor || controller.objInscricao.exibeIndicacaoFuncProfessor">
                <div class="panel-heading">{{ ::'l-dados-indicacao' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <totvs-field totvs-input label="{{ ::'l-indicacao-aluno' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="20" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.RA" ng-if="controller.objInscricao.exibeIndicacaoAluno"
                            ng-blur="controller.buscarIndicacaoPorCodigo('A', CodColigada, controller.objInscricao.dadosInscricaoAreaOfertada.RA, controller.objInscricao.dadosInscricaoAreaOfertada)"
                            ng-disabled="controller.objInscricao.dadosInscricaoAreaOfertada.CODCFO != null || controller.objInscricao.dadosInscricaoAreaOfertada.CHAPA != null">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-indicacao-aluno-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.RANOME"
                            ng-if="controller.objInscricao.exibeIndicacaoAluno"
                            ng-disabled="true">
                        </totvs-field>
                    </div>
                    <div class="row form-group">
                        <totvs-field totvs-input label="{{ ::'l-indicacao-fornecedor' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="25" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CODCFO" ng-if="controller.objInscricao.exibeIndicacaoFornecedor"
                            ng-blur="controller.buscarIndicacaoPorCodigo('C', CodColigada, controller.objInscricao.dadosInscricaoAreaOfertada.CODCFO, controller.objInscricao.dadosInscricaoAreaOfertada)"
                            ng-disabled="controller.objInscricao.dadosInscricaoAreaOfertada.RA != null || controller.objInscricao.dadosInscricaoAreaOfertada.CHAPA != null">
                        </totvs-field>
                        <totvs-field totvs-input
                            label="{{ ::'l-indicacao-fornecedor-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CODCFONOME"
                            ng-if="controller.objInscricao.exibeIndicacaoFornecedor"
                            ng-disabled="true">
                        </totvs-field>
                    </div>
                    <div class="row form-group">
                        <totvs-field totvs-input label="{{ ::'l-indicacao-funcionario-professor' | i18n : [] : 'js/inscricoes' }}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="16" ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CHAPA" ng-if="controller.objInscricao.exibeIndicacaoFuncProfessor"
                            ng-blur="controller.buscarIndicacaoPorCodigo('F', CodColigada, controller.objInscricao.dadosInscricaoAreaOfertada.CHAPA, controller.objInscricao.dadosInscricaoAreaOfertada)"
                            ng-disabled="controller.objInscricao.dadosInscricaoAreaOfertada.RA != null || controller.objInscricao.dadosInscricaoAreaOfertada.CODCFO != null">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-indicacao-funcionario-professor-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CHAPANOME"
                            ng-if="controller.objInscricao.exibeIndicacaoFuncProfessor"
                            ng-disabled="true">
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim Dados Indicação -->

            <!-- Vagas Reservadas -->
            <div class="panel panel-default campos-grupo" ng-if="controller.objParametros.ParamsCotaInstituicaoFederal.CotaFederal">
                <div class="panel-heading">{{ ::'l-vagas-reservadas' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group">
                        <totvs-field
                            totvs-radio
                            name="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaAceite}}"
                            label="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaAceite}}"
                            t-options="controller.radioSimNao"
                            ng-required="true"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhCotaFederal">
                        </totvs-field>
                    </div>
                    <div class="row form-group"
                            ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhCotaFederal === 'true'">
                        <totvs-field
                            totvs-radio
                            name="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaEnsinoPublico}}"
                            label="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaEnsinoPublico}}"
                            t-options="controller.radioSimNao"
                            ng-required="true"
                            ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhEnsinoPublico">
                        </totvs-field>
                    </div>
                    <div ng-if="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhEnsinoPublico === 'true' && controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhCotaFederal === 'true'">
                        <div class="row form-group">
                            <totvs-field
                                totvs-radio
                                name="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaRenda}}"
                                label="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaRenda}}"
                                t-options="controller.radioSimNao"
                                ng-required="true"
                                ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.PossuiRendaBaixa">
                            </totvs-field>
                        </div>
                        <div class="row form-group">
                            <totvs-field
                                totvs-radio
                                name="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaCorRaca}}"
                                label="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaCorRaca}}"
                                t-options="controller.radioSimNao"
                                ng-required="true"
                                ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhCorRacaCota">
                            </totvs-field>
                        </div>
                        <div class="row form-group">
                            <totvs-field
                                totvs-radio
                                name="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaPcd}}"
                                label="{{controller.objParametros.ParamsCotaInstituicaoFederal.PerguntaPcd}}"
                                t-options="controller.radioSimNao"
                                ng-required="true"
                                ng-model="controller.objInscricao.dadosInscricaoAreaOfertada.CotaInstituicaoFederal.EhDeficienciaCota">
                            </totvs-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Vagas Reservadas -->

        </div>
    </div>
</div>
<!-- FIM OPÇÃO INTERESSE -->
