<!-- DADOS DO RESPONSAVEL FINANCEIRO -->
<div class="container-fluid cabecalho-grupo grupo-title">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#dadosResponsavelFinanceiro">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmDadosResponsavelFinanceiro.$invalid" ng-class="{'cabecalho-invalido': controller.frmDadosResponsavelFinanceiro.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmDadosResponsavelFinanceiro.$valid" ng-class="{'cabecalho-valido': controller.frmDadosResponsavelFinanceiro.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanDadosResponsavelFinanceiro">{{ ::'l-dados-resp-fin' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="dadosResponsavelFinanceiro" class="collapse container-fluid container-grupo" ng-if="controller.objParametros.UsaDadosRespFin">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="panel panel-default campos-grupo">
                <div class="container-fluid">
                    <div class="row form-group">
                        <field label="{{ ::'l-utilizar-outro-usuario-como-respFin' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            type="combo" ng-model="controller.objInscricao.dadosResponsavelFinanceiro.UsaDadosTipoRelac"
                            ng-options="tipos.CODIGO as tipos.DESCRICAO for tipos in controller.listaPapeisRelacResponsavelFin"
                            canclean>
                        </field>
                    </div>
                </div>
            </div>
            <!-- Dados básicos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosBasicos', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-dados-basicos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('Nome', 'R') || controller.campoVisivel('DataNascimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NOME"
                            ng-if="controller.campoVisivel('Nome', 'R')"
                            ng-required="controller.campoObrigatorio('Nome','RF')"
                            name="{{ ::'l-msg-label-nome-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="120"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-nascimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy" t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTNASCIMENTO"
                            ng-if="controller.campoVisivel('DataNascimento', 'R')"
                            ng-required="controller.campoObrigatorio('DataNascimento','RF')"
                            culture="pt"
                            canclean
                            name="{{ ::'l-msg-label-data-nascimento-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('EstadoNatal', 'R') || controller.campoVisivel('Naturalidade', 'R')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado-natal' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-naturalidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('EstadoNatal', 'R')"
                        campo-estado-visible="controller.campoVisivel('EstadoNatal', 'R')"
                        campo-cidade-visible="controller.campoVisivel('Naturalidade', 'R')"
                        campo-pais-required="controller.campoObrigatorio('EstadoNatal','RF')"
                        campo-estado-required="controller.campoObrigatorio('EstadoNatal','RF')"
                        campo-cidade-required="controller.campoObrigatorio('Naturalidade','RF')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelFinanceiro.PAISES"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelFinanceiro.PAISNATALDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelFinanceiro.ESTADOS"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelFinanceiro.ESTADONATALDESC"
                        ng-model-cidade="controller.objInscricao.dadosResponsavelFinanceiro.MUNICIPIOS"
                        ng-model-cidade-desc="controller.objInscricao.dadosResponsavelFinanceiro.CODNATURALIDADEDESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosResponsavelFinanceiro.NATURALIDADE"
                        pais-change="controller.setCamposCPFPassRGObrigatorioAlteracaoPais('RF')">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('NomeSocial', 'R') || controller.campoVisivel('Apelido', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-nome-social' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NOMESOCIAL"
                            ng-if="controller.campoVisivel('NomeSocial', 'R')"
                            ng-required="controller.campoObrigatorio('NomeSocial','RF')"
                            canclean

                            name="{{ ::'l-msg-label-nome-social-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-apelido' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.APELIDO"
                            ng-if="controller.campoVisivel('Apelido', 'R')"
                            ng-required="controller.campoObrigatorio('Apelido','RF')"
                            canclean
                            maxlength="120"
                            name="{{ ::'l-msg-label-apelido-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstadoCivil', 'R') || controller.campoVisivel('Nacionalidade', 'R') || controller.campoVisivel('Email', 'R')">
                        <field
                            label="{{ ::'l-estado-civil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            type="combo"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.ESTADOCIVILOBJ"
                            ng-options="estadocivil as estadocivil.DESCRICAO for estadocivil in controller.objInscricao.listas.listaEstadoCivil"
                            ng-if="controller.campoVisivel('EstadoCivil', 'R')"
                            ng-required="controller.campoObrigatorio('EstadoCivil','RF')"
                            canclean name="{{ ::'l-msg-label-estado-civil-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            label="{{ ::'l-nacionalidade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NACIONALIDADEOBJ"
                            ng-options="nacionalidade as nacionalidade.DESCRICAO for nacionalidade in controller.objInscricao.listas.listaNacionalidade | orderBy:'DESCRICAO'"
                            ng-if="controller.campoVisivel('Nacionalidade', 'R')"
                            ng-required="controller.campoObrigatorio('Nacionalidade','RF')"
                            type="combo"
                            canclean
                            name="{{ ::'l-msg-label-nacionalidade-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="email"
                            label="{{ ::'l-email' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-pattern="controller.validadorEmail"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.EMAIL"
                            ng-if="controller.campoVisivel('Email', 'R')"
                            ng-required="controller.campoObrigatorio('Email','RF')"
                            maxlength="60"
                            canclean name="{{ ::'l-msg-label-email-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                            <validator key="pattern">{{ ::'l-msg-email-invalido' | i18n : [] : 'js/inscricoes' }}</validator>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Sexo', 'R') || controller.campoVisivel('Canhoto', 'R') || controller.campoVisivel('Fumante', 'R')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 field" ng-if="controller.campoVisivel('Sexo', 'R')" ng-required="controller.campoObrigatorio('Sexo','RF')">
                            <label class=" field field-label totvs-field">{{ ::'l-sexo' | i18n : [] : 'js/inscricoes' }}</label>
                            <div ng-repeat="sexo in controller.listaSexo">
                                <input
                                    ng-required="controller.campoObrigatorio('Sexo','RF') && !controller.objInscricao.dadosResponsavelFinanceiro.SEXO && $index == 0"
                                    type="radio"
                                    name="{{ ::'l-msg-label-sexo-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                                    value="{{sexo.value}}"
                                    ng-model="controller.objInscricao.dadosResponsavelFinanceiro.SEXO">{{sexo.label}}
                                </input>
                            </div>
                        </div>
                        <field
                            type="checkbox"
                            label="{{ ::'l-canhoto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CANHOTO"
                            ng-if="controller.campoVisivel('Canhoto', 'R')"
                            name="{{ ::'l-msg-label-canhoto-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-fumante' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.FUMANTE"
                            ng-if="controller.campoVisivel('Fumante', 'R')"
                            name="{{ ::'l-msg-label-fumante-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim dados básicos -->

            <!-- Documentos -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Documentos', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-documentos' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <legend ng-if="controller.campoVisivel('CPF', 'R')">
                        <h5>{{ ::'l-documentos-cpf' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - CPF -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CPF', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CPF"
                            maxlength="14"
                            ui-mask="999.999.999-99" t-mask="999.999.999-99"
                            ng-if="controller.campoVisivel('CPF', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('CPF','RF')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('CPF','RF')"
                            name="{{ ::'l-msg-label-numero-cpf-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - CPF -->
                    <legend ng-if="controller.campoVisivel('RGNumero', 'R') || controller.campoVisivel('RGDataEmissao', 'R') || controller.campoVisivel('RGOrgaoEmissor', 'R') || controller.campoVisivel('RGEstadoEmissor', 'R')">
                        <h5>{{ ::'l-documentos-rg' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - RG -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RGNumero', 'R') || controller.campoVisivel('RGDataEmissao', 'R') || controller.campoVisivel('RGOrgaoEmissor', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CARTIDENTIDADE"
                            ng-if="controller.campoVisivel('RGNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGNumero','RF')"
                            name="{{ ::'l-msg-label-numero-rg-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTEMISSAOIDENT"
                            ng-if="controller.campoVisivel('RGDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGDataEmissao','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-rg-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.ORGEMISSORIDENT"
                            ng-if="controller.campoVisivel('RGOrgaoEmissor', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RGOrgaoEmissor','RF')"
                            name="{{ ::'l-msg-label-orgao-emissor-rg-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        campo-estado-visible="controller.campoVisivel('RGEstadoEmissor', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','RF')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('RGEstadoEmissor','RF')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelFinanceiro.PAISESCARTIDENT"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelFinanceiro.PAISCARTIDENTDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelFinanceiro.ESTADOSCARTIDENT"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelFinanceiro.UFCARTIDENTDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - RG -->
                    <legend ng-if="controller.campoVisivel('RegistroProfissional', 'R')">
                        <h5>{{ ::'l-documentos-registro-profissional' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Registro profissional -->
                    <div class="row form-group" ng-if="controller.campoVisivel('RegistroProfissional', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.REGPROFISSIONAL"
                            ng-if="controller.campoVisivel('RegistroProfissional', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('RegistroProfissional','RF')"
                            name="{{ ::'l-msg-label-numero-registro-profossional-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Registro profissional -->
                    <legend ng-if="controller.campoVisivel('TituloEleitorNumero', 'R') || controller.campoVisivel('TituloEleitorZona', 'R') || controller.campoVisivel('TituloEleitorSecao', 'R') || controller.campoVisivel('TituloEleitorDataEmissao', 'R') || controller.campoVisivel('TituloEleitorUFEmissao', 'R')">
                        <h5>{{ ::'l-documentos-titulo-eleitor' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Título eleitor -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TituloEleitorNumero', 'R') || controller.campoVisivel('TituloEleitorZona', 'R') || controller.campoVisivel('TituloEleitorSecao', 'R') || controller.campoVisivel('TituloEleitorDataEmissao', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="14" ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TITULOELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorNumero','RF')"
                            name="{{ ::'l-msg-label-numero-titulo-eleitor-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-zona' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.ZONATITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorZona', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorZona','RF')"
                            name="{{ ::'l-msg-label-zona-titulo-eleitor-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-secao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="6"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.SECAOTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorSecao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorSecao','RF')"
                            name="{{ ::'l-msg-label-secao-titulo-eleitor-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTTITELEITOR"
                            ng-if="controller.campoVisivel('TituloEleitorDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('TituloEleitorDataEmissao','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-titulo-eleitor-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        campo-estado-visible="controller.campoVisivel('TituloEleitorUFEmissao', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','RF')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('TituloEleitorUFEmissao','RF')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelFinanceiro.PAISTELEITOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelFinanceiro.PAISTELEITDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelFinanceiro.ESTELEITOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelFinanceiro.ESTELEITDESC">
                    </edups-pais-uf-cidade>
                    <!-- Fim Documentos - Título eleitor -->
                    <legend ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R') || controller.campoVisivel('CarteiraTrabalhoSerie', 'R') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R') || controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R') || controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')">
                        <h5>{{ ::'l-documentos-carteira-trabalho' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de trabalho -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R') || controller.campoVisivel('CarteiraTrabalhoSerie', 'R') || controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CARTEIRATRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoNumero','RF')"
                            name="{{ ::'l-msg-label-numero-carteira-trabalho-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-serie' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.SERIECARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoSerie', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoSerie','RF')"
                            name="{{ ::'l-msg-label-serie-carteira-trabalho-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTCARTTRAB"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoDataEmissao','RF')"
                            name="{{ ::'l-msg-label-data-emissao-carteira-trabalho-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                    </div>
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        t-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        label-pais="{{ ::'l-pais-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-uf-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        campo-estado-visible="controller.campoVisivel('CarteiraTrabalhoUFEmissao', 'R')"
                        campo-cidade-visible="false"
                        campo-pais-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','RF')"
                        campo-estado-required="controller.campoDocumentoObrigatorio('CarteiraTrabalhoUFEmissao','RF')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelFinanceiro.PAISCARTTRABOBJ"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelFinanceiro.PAISCARTTRABDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelFinanceiro.UFCARTTRABOBJ"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelFinanceiro.UFCARTTRABDESC">
                    </edups-pais-uf-cidade>
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')">
                        <field
                            type="checkbox"
                            label="{{ ::'l-tipo-nit' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NIT"
                            ng-if="controller.campoVisivel('CarteiraTrabalhoTipoNIT', 'R')"
                            name="{{ ::'l-msg-label-carteira-trabalho-tipo-nit-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <!-- Fim Documentos - Carteira de trabalho -->
                    <legend ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R') || controller.campoVisivel('CarteiraMotoristaTipo', 'R') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')">
                        <h5>{{ ::'l-documentos-carteira-motorista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Carteira de motorista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R') || controller.campoVisivel('CarteiraMotoristaTipo', 'R') || controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CARTMOTORISTA"
                            ng-if="controller.campoVisivel('CarteiraMotoristaNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaNumero','RF')"
                            name="{{ ::'l-msg-label-carteira-motorista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="5"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TIPOCARTHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaTipo', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaTipo','RF')"
                            name="{{ ::'l-msg-label-tipo-carteira-motorista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTVENCHABILIT"
                            ng-if="controller.campoVisivel('CarteiraMotoristaDataVencimento', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CarteiraMotoristaDataVencimento','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-carteira-motorista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Documentos - Carteira de motorista -->
                    <legend ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'R') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')">
                        <h5>{{ ::'l-documentos-certificado-reservista' | i18n : [] : 'js/inscricoes' }}</h5>
                    </legend>
                    <!-- Documentos - Certificado de reservista -->
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R') || controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R') || controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="40"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CERTIFRESERV"
                            ng-if="controller.campoVisivel('CertificadoReservistaNumero', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaNumero','RF')"
                            name="{{ ::'l-msg-label-numero-cert-reservista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-categoria-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CATEGMILITAR"
                            ng-if="controller.campoVisivel('CertificadoReservistaCategoriaMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCategoriaMilitar','RF')"
                            name="{{ ::'l-msg-label-cetegoria-militar-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-circunscricao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CSM"
                            ng-if="controller.campoVisivel('CertificadoReservistaCircunscricaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaCircunscricaoMilitar','RF')"
                            name="{{ ::'l-msg-label-circunscricao-militar-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R') || controller.campoVisivel('CertificadoReservistaDataEmissao', 'R') || controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R') || controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-regiao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.RM"
                            ng-if="controller.campoVisivel('CertificadoReservistaRegiaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaRegiaoMilitar','RF')"
                            name="{{ ::'l-msg-label-regiao-militar-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTEXPCML"
                            ng-if="controller.campoVisivel('CertificadoReservistaDataEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaDataEmissao','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-cert-reservista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-orgao-emissor' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.EXPED"
                            ng-if="controller.campoVisivel('CertificadoReservistaOrgaoEmissao', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaOrgaoEmissao','RF')"
                            name="{{ ::'l-msg-label-orgao-emissor-cert-reservista-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <field
                            label="{{ ::'l-situacao-militar' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            ng-if="controller.campoVisivel('CertificadoReservistaSituacaoMilitar', 'R')"
                            ng-required="controller.campoDocumentoObrigatorio('CertificadoReservistaSituacaoMilitar','RF')"
                            type="combo"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.SITMILITAROBJ"
                            ng-options="situacao as situacao.DESCRICAO for situacao in controller.objInscricao.listas.listaSituacaoMilitar"
                            name="{{ ::'l-msg-label-situacao-militar-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                    <!-- Fim Documentos - Certificado de reservista -->
                </div>
            </div>
            <!-- Fim documentos -->

            <!-- Endereço -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Endereco', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-endereco' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="container-fluid" style="text-align: right;">
                        <div class="row form-group" style="padding-top: 10px;">
                            <button type="button" class="btn btn-primary" aria-label="Rigth Align" ng-click="controller.copiarEnderecoCandidato(controller.objInscricao.dadosResponsavelFinanceiro)">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>{{ ::'l-mesmo-endereco-candidato' | i18n : [] : 'js/inscricoes' }}
                            </button>
                        </div>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('CEP', 'R')">
                        <!-- CEP -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-cep' | i18n : [] : 'js/inscricoes' }}"
                            ui-mask="{{controller.objParametros.MascaraCEP}}"
                            t-mask="{{controller.objParametros.MascaraCEP}}"
                            maxlength="10"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CEP"
                            ng-if="controller.campoVisivel('CEP', 'R')"
                            ng-required="controller.campoObrigatorio('CEP','RF')"
                            name="{{ ::'l-msg-label-cep-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            ng-blur="controller.buscarEnderecoPorCEP(controller.objInscricao.dadosResponsavelFinanceiro.CEP, controller.objInscricao.dadosResponsavelFinanceiro)"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim CEP -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoRua', 'R') || controller.campoVisivel('Rua', 'R') || controller.campoVisivel('Numero', 'R')">
                        <!-- Rua -->
                        <field
                            label="{{ ::'l-tipo-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TIPORUAOBJ"
                            ng-options="tiporua as tiporua.DESCRICAO for tiporua in controller.objInscricao.listas.listaTipoRua"
                            ng-if="controller.campoVisivel('TipoRua', 'R')"
                            ng-required="controller.campoObrigatorio('TipoRua','RF')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-rua-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input label="{{ ::'l-rua' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-7 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.RUA"
                            ng-if="controller.campoVisivel('Rua', 'R')"
                            ng-required="controller.campoObrigatorio('Rua','RF')"
                            maxlength="40"
                            name="{{ ::'l-msg-label-rua-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-2 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NUMERO"
                            ng-if="controller.campoVisivel('Numero', 'R')"
                            ng-required="controller.campoObrigatorio('Numero','RF')"
                            name="{{ ::'l-msg-label-numero-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="8"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Rua -->
                    <div class="row form-group" ng-if="controller.campoVisivel('Complemento', 'R')">
                        <!-- Complemento -->
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-complemento' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.COMPLEMENTO"
                            ng-if="controller.campoVisivel('Complemento', 'R')"
                            ng-required="controller.campoObrigatorio('Complemento','RF')"
                            name="{{ ::'l-msg-label-complemento-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="30"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Complemento -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TipoBairro', 'R') || controller.campoVisivel('Bairro', 'R')">
                        <!-- Bairro -->
                        <field
                            label="{{ ::'l-tipo-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3  col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TIPOBAIRROOBJ"
                            ng-options="tipobairro as tipobairro.DESCRICAO for tipobairro in controller.objInscricao.listas.listaTipoBairro"
                            ng-if="controller.campoVisivel('TipoBairro', 'R')"
                            ng-required="controller.campoObrigatorio('TipoBairro','RF')"
                            name="{{ ::'l-msg-label-tipo-bairro-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-bairro' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-9 col-md-9 col-sm-9 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.BAIRRO"
                            ng-if="controller.campoVisivel('Bairro', 'R')"
                            ng-required="controller.campoObrigatorio('Bairro','RF')"
                            name="{{ ::'l-msg-label-bairro-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            maxlength="80"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Bairro -->
                    <edups-pais-uf-cidade
                        css-class="row form-group"
                        t-visible="controller.campoVisivel('Pais', 'R') || controller.campoVisivel('Estado', 'R') || controller.campoVisivel('Cidade', 'R')"
                        lista-paises="controller.objInscricao.listas.listaPaises"
                        label-pais="{{ ::'l-pais' | i18n : [] : 'js/inscricoes' }}"
                        label-estado="{{ ::'l-estado' | i18n : [] : 'js/inscricoes' }}"
                        label-cidade="{{ ::'l-cidade' | i18n : [] : 'js/inscricoes' }}"
                        campo-pais-visible="controller.campoVisivel('Pais', 'R')"
                        campo-estado-visible="controller.campoVisivel('Estado', 'R')"
                        campo-cidade-visible="controller.campoVisivel('Cidade', 'R')"
                        campo-pais-required="controller.campoObrigatorio('Pais','RF')"
                        campo-estado-required="controller.campoObrigatorio('Estado','RF')"
                        campo-cidade-required="controller.campoObrigatorio('Cidade','RF')"
                        ng-model-pais="controller.objInscricao.dadosResponsavelFinanceiro.PAISESENDERECO"
                        ng-model-pais-desc="controller.objInscricao.dadosResponsavelFinanceiro.IDPAISDESC"
                        ng-model-estado="controller.objInscricao.dadosResponsavelFinanceiro.ESTADOSENDERECO"
                        ng-model-estado-desc="controller.objInscricao.dadosResponsavelFinanceiro.ESTADODESC"
                        ng-model-cidade="controller.objInscricao.dadosResponsavelFinanceiro.MUNICIPIOSENDERECO"
                        ng-model-cidade-desc="controller.objInscricao.dadosResponsavelFinanceiro.CODMUNICIPIODESC"
                        ng-model-cidade-estrangeiro="controller.objInscricao.dadosResponsavelFinanceiro.CIDADE">
                    </edups-pais-uf-cidade>
                    <!-- Fim País/Estado/Município -->
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneResidencial', 'R') || controller.campoVisivel('TelefoneCelular', 'R')">
                        <!-- Telefones -->
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone1}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TELEFONE1"
                            ng-if="controller.campoVisivel('TelefoneResidencial', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneResidencial','RF')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone1, 'l-resp-fin')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone2}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TELEFONE2"
                            ng-if="controller.campoVisivel('TelefoneCelular', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneCelular','RF')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone2, 'l-resp-fin')}}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('TelefoneComercial', 'R') || controller.campoVisivel('Fax', 'R')">
                        <totvs-field
                            totvs-phone
                            label="{{controller.objParametros.TextoTelefone3}}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TELEFONE3"
                            ng-if="controller.campoVisivel('TelefoneComercial', 'R')"
                            ng-required="controller.campoObrigatorio('TelefoneComercial','RF')"
                            name="{{controller.concatenaName(controller.objParametros.TextoTelefone3, 'l-resp-fin')}}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-phone
                            label="{{ ::'l-fax' | i18n : [] : 'js/inscricoes' }}"
                            t-mask="{{controller.objParametros.MascaraTelefone}}"
                            ui-mask-placeholder="{{controller.objParametros.MascaraTelefone}}"
                            class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.FAX"
                            ng-if="controller.campoVisivel('Fax', 'R')"
                            ng-required="controller.campoObrigatorio('Fax','RF')"
                            name="{{ ::'l-msg-label-fax-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <!-- Fim Telefones -->
                </div>
            </div>
            <!-- Fim endereço -->

            <!-- Informações adicionais -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('InformacoesAdicionais', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-informacoes-adicionais' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('CorRaca', 'R') || controller.campoVisivel('GrauIstrucao', 'R')">
                        <field
                            label="{{ ::'l-cor-raca' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CORRACAOBJ"
                            ng-options="corraca as corraca.DESCRICAO for corraca in controller.objInscricao.listas.listaCorRaca"
                            ng-if="controller.campoVisivel('CorRaca', 'R')"
                            ng-required="controller.campoObrigatorio('CorRaca','RF')"
                            name="{{ ::'l-msg-label-cor-raca-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-grau-instrucao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.GRAUINSTRUCAOOBJ"
                            ng-options="grauinstrucao as grauinstrucao.DESCRICAO for grauinstrucao in controller.objInscricao.listas.listaGrauInstrucao"
                            ng-if="controller.campoVisivel('GrauIstrucao', 'R')"
                            ng-required="controller.campoObrigatorio('GrauIstrucao','RF')"
                            name="{{ ::'l-msg-label-cor-raca-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('Profissao', 'R') || controller.campoVisivel('TipoSanguineo', 'R')">
                        <field
                            label="{{ ::'l-profissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.PROFISSAOOBJ"
                            ng-options="profissao as profissao.DESCRICAO for profissao in controller.objInscricao.listaProfissao"
                            ng-if="controller.campoVisivel('Profissao', 'R')"
                            ng-required="controller.campoObrigatorio('Profissao','RF')"
                            name="{{ ::'l-msg-label-pofissao-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            type="combo"
                            canclean>
                        </field>
                        <field
                            label="{{ ::'l-tipo-sanguineo' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TIPOSANGOBJ"
                            ng-options="tiposanguineo as tiposanguineo.DESCRICAO for tiposanguineo in controller.objInscricao.listas.listaTipoSanguineo"
                            ng-if="controller.campoVisivel('TipoSanguineo', 'R')"
                            ng-required="controller.campoObrigatorio('TipoSanguineo','RF')"
                            type="combo"
                            name="{{ ::'l-msg-label-tipo-sanguineo-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </field>
                    </div>
                </div>
            </div>
            <!-- Fim Informações adicionais -->

            <!-- Passaporte -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('Passaporte', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-documentos-passaporte' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('PassaporteNumero', 'R') || controller.campoVisivel('PassaporteDataEmissao', 'R') || controller.campoVisivel('PassaporteDataValidade', 'R') || controller.campoVisivel('PassaportePaisOrigem', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-numero' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteNumero', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('PassaporteNumero','RF')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('PassaporteNumero','RF')"
                            name="{{ ::'l-msg-label-numero-passaporte-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-emissao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTEMISSPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataEmissao', 'R')"
                            ng-required="controller.campoObrigatorio('PassaporteDataEmissao','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-emissao-passaporte-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker label="{{ ::'l-data-validade' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month" format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTVALPASSAPORTE"
                            ng-if="controller.campoVisivel('PassaporteDataValidade', 'R')"
                            ng-required="controller.campoObrigatorio('PassaporteDataValidade','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-validade-passaporte-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-pais-origem' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="20"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.PAISORIGEM"
                            ng-if="controller.campoVisivel('PassaportePaisOrigem', 'R')"
                            ng-required="controller.campoObrigatorio('PassaportePaisOrigem','RF')"
                            name="{{ ::'l-msg-label-pais-origem-passaporte-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim Passaporte -->

            <!-- Dados gerais de estrangeiros -->
            <div class="panel panel-default campos-grupo" ng-if="controller.exibeGrupoCampos('DadosEstrangeiros', 'R') && (controller.carregarCamposFormulario(controller.objInscricao.dadosResponsavelFinanceiro))">
                <div class="panel-heading">{{ ::'l-dados-gerais-estrangeiros' | i18n : [] : 'js/inscricoes' }}</div>
                <div class="container-fluid">
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'R') || controller.campoVisivel('EstrangeirosTipoVisto', 'R') || controller.campoVisivel('EstrangeirosCartaModelo19', 'R')">
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-chegada-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DATACHEGADA"
                            ng-if="controller.campoVisivel('EstrangeirosDataChegadaBrasil', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDataChegadaBrasil','RF')"
                            name="{{ ::'l-msg-label-data-chegada-brasil-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-tipo-visto' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="10"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.TIPOVISTO"
                            ng-if="controller.campoVisivel('EstrangeirosTipoVisto', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosTipoVisto','RF')"
                            name="{{ ::'l-msg-label-tipo-visto-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-carteira-modelo-19' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CARTMODELO19"
                            ng-if="controller.campoVisivel('EstrangeirosCartaModelo19', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCartaModelo19','RF')"
                            name="{{ ::'l-msg-label-carteira-modelo-19-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'R') || controller.campoVisivel('EstrangeirosNaturalizado', 'R') || controller.campoVisivel('EstrangeirosConjugeBrasil', 'R')">
                        <totvs-field
                            totvs-number label="{{ ::'l-numero-filhos-brasileiros' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.FILHOSBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosNroFilhosBrasileiros', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosNroFilhosBrasileiros','RF')"
                            name="{{ ::'l-msg-label-numero-filhos-brasileiros-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            min="0"
                            max="32767"
                            canclean>
                        </totvs-field>
                        </input>
                        <field
                            type="checkbox"
                            label="{{ ::'l-estrangeiro-naturalizado' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NATURALIZADO"
                            ng-if="controller.campoVisivel('EstrangeirosNaturalizado', 'R')"
                            name="{{ ::'l-msg-label-estrangeiro-naturalizado-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                        <field
                            type="checkbox"
                            label="{{ ::'l-conjuge-brasil' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.CONJUGEBRASIL"
                            ng-if="controller.campoVisivel('EstrangeirosConjugeBrasil', 'R')"
                            name="{{ ::'l-msg-label-conjuge-brasil-resp-fin' | i18n : [] : 'js/inscricoes' }}">
                        </field>
                    </div>
                    <div class="row form-group" ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'R') || controller.campoVisivel('EstrangeirosDecretoImigracao', 'R') || controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'R') || controller.campoVisivel('EstrangeirosRGDataVencimento', 'R')">
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-registro-geral' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NROREGGERAL"
                            ng-if="controller.campoVisivel('EstrangeirosRegistroGeral', 'R')"
                            ng-required="controller.campoCPFPassRGObrigatorio('EstrangeirosRegistroGeral','RF')"
                            ng-keyup="controller.setCamposCPFPassRGObrigatorio('EstrangeirosRegistroGeral','RF')"
                            name="{{ ::'l-msg-label-registro-geral-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-input
                            label="{{ ::'l-decreto-imigracao' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            maxlength="15"
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.NRODECRETO"
                            ng-if="controller.campoVisivel('EstrangeirosDecretoImigracao', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosDecretoImigracao','RF')"
                            name="{{ ::'l-msg-label-decreto-imigracao-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-ctps' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTVENCCARTTRAB"
                            ng-if="controller.campoVisivel('EstrangeirosCTPSDataVencimento', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosCTPSDataVencimento','RF')"
                            name="{{ ::'l-msg-label-data-vencimento-ctps-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            culture="pt"
                            canclean>
                        </totvs-field>
                        <totvs-field
                            totvs-datepicker
                            label="{{ ::'l-data-vencimento-rg' | i18n : [] : 'js/inscricoes' }}"
                            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                            depth="month"
                            format="dd/MM/yyyy"
                            t-mask-date=""
                            ng-model="controller.objInscricao.dadosResponsavelFinanceiro.DTVENCIDENT"
                            ng-if="controller.campoVisivel('EstrangeirosRGDataVencimento', 'R')"
                            ng-required="controller.campoObrigatorio('EstrangeirosRGDataVencimento','RF')"
                            culture="pt"
                            name="{{ ::'l-msg-label-data-vencimento-rg-resp-fin' | i18n : [] : 'js/inscricoes' }}"
                            canclean>
                        </totvs-field>
                    </div>
                </div>
            </div>
            <!-- Fim dados gerais de estrangeiros -->
        </div>
    </div>
</div>
<!-- FIM DADOS DO RESPONSAVEL FINANCEIRO -->
