<!-- DADOS DA OFERTA ONLINE -->
<div class="container-fluid cabecalho-grupo grupo-title" ng-if="controller.showPayment">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#dadosOfertaOnline">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h4>
                    <span>
                        <i class="glyphicon glyphicon-alert" ng-show="controller.frmOfertaOnline.$invalid" ng-class="{'cabecalho-invalido': controller.frmOfertaOnline.$invalid}">&nbsp;&nbsp;</i>
                        <i class="glyphicon glyphicon-ok-sign" ng-show="controller.frmOfertaOnline.$valid" ng-class="{'cabecalho-valido': controller.frmOfertaOnline.$valid}">&nbsp;&nbsp;</i>
                        <span class="titulo-cabecalho-grupo" id="spanOfertaOnline">{{ ::'l-dados-oferta-online' | i18n : [] : 'js/inscricoes' }}</span>
                    </span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="dadosOfertaOnline" class="collapse container-fluid container-grupo" ng-if="controller.showPayment">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="panel panel-default campos-grupo">
                <div class="container-fluid">
                    <div class="row form-group">
                        <field label="{{ ::'l-forma_pagamento' | i18n : [] : 'js/inscricoes' }}" class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                            type="combo" ng-model="controller.objInscricao.dadosPagamento"
                            ng-options="tipos.Codigo as tipos.Nome for tipos in controller.objInscricao.dadosOfertaOnline[0].Planos"
                            ng-required="true"
                            canclean>
                        </field>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 field" style="padding-top: 35px;">
                            <button id="btn-detail-pag" style="border-radius: 0px;height: 35px;" type="button" class="btn btn-info btn-sm" 
                                    ng-click="controller.showPaymentDetail(controller.objInscricao.dadosPagamento)">
                                {{ ::'l-detail-pag' | i18n : [] : 'js/inscricoes' }}
                            </button>                                   
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM DADOS DA OFERTA ONLINE -->
