<totvs-page type="detail">
    <div class="row">
        <edu-widgets-container
            container-title="{{::'l-widget-title' | i18n : [] : 'js/aluno/calendario'}}"
            id-funcionalidade="controller.idFuncionalidade">
        </edu-widgets-container>
    </div>

  <totvs-page-header class="pageHeader">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <totvs-page-header-title ng-style="{'float': 'left'}" title="{{ ::'l-titulo' | i18n : [] : 'js/aluno/calendario' }}:">
        </totvs-page-header-title>
        <edu-selecao-periodoletivo ng-model="controller.periodoLetivo" ng-change="controller.periodoLetivoAlterado"></edu-selecao-periodoletivo>
        <button ng-style="{'float': 'right'}" class="btn btn-default" ng-show="controller.permiteImpressao" ng-click="controller.imprimir()">
          <span class="glyphicon glyphicon-print"></span>
          {{ ::'btn-imprimir' | i18n : [] : '' }}
        </button>
      </div>
    </div>
  </totvs-page-header>
  <totvs-page-content>
    <totvs-page-content-header>
      <div class="row form-group label-subtitulo">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="cmbSelecaoTurmaDisciplina" class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
            {{ ::'l-disciplinas' | i18n : [] : 'js/aluno' }}:
          </label>
          <edu-selecao-turmadisciplina ng-model="controller.disciplina" data-refresh="controller.refresh" ng-change="controller.onChangeDisciplina"
                                       label-item-default="{{::'l-todas-disciplinas' | i18n : [] : ''}}">
          </edu-selecao-turmadisciplina>
        </div>
      </div>
      <div id="divLegenda" class="align-legend"></div>
    </totvs-page-content-header>
    <totvs-page-detail>
      <edu-scheduler scheduler="controller.instance" scheduler-data="controller.eventosCalendario" views="controller.views" edit="controller.onEventEdit"
                     resources="controller.resources" filter="controller.filter" editable="controller.editable" mobile="controller.mobile">
      </edu-scheduler>
    </totvs-page-detail>
  </totvs-page-content>
</totvs-page>
